[2016-04-27 02:35] tushargupta51 commented on #265
@krushnachandra We do not have any final dates yet for when we will have the stable version of adal B2C, will post once we have an update.

[2016-04-27 02:50] tushargupta51 commented on #269
Thanks @rohitpagariya for reporting this issue. If I understand correctly, your recommendation is to use this pattern:

    (function()
     {
        //existing adal code
        use strict;
        ....
        ....
     }();

[2016-04-27 02:59] tushargupta51 commented on #267
@istrau3

The "User account identifier is not provided" error is send by AAD when ADAL requests a token. Adal itself does not create any cookies but AAD saves cookies after authenticating user. These cookies must be present in the request that ADAL sends to renew tokens.

Which browser are you seeing this issue for? Can you provider a fiddler trace or logs to help investigate into this further?

[2016-04-27 06:12] sandor11 commented on #272
I am currently implementing a connected account feature within our web application. I was excited to see it is possible to use the Azure AD and Microsoft Graph API to let a user allow access to our web app, but it is highly disappointing that a user will have to re authenticate everytime they use our app which will lead to a very poor user experience.

Basically, this is not the common approach, m

[2016-04-27 12:24] oscarbremer commented on #264
We are also experiencing this issue since we updated to 1.0.9

[2016-04-27 14:24] forforeach commented on #194
+1

[2016-04-27 16:40] sandor11 commented on #202
I am also seeing a recursive creation of `adalIdTokenFrame` for `RENEW_TOKEN` requests. I am able to see where `_oauthData.isAuthenticated = true;` is being called, however, a new instance of the application has been raised after assigning `$window.location`, the SPA simply loads with its first page being the `redirectUrl`.

This means every time the iframe loads the new window, directly after the

[2016-04-27 17:55] Tadimsky commented on #194
:+1:

[2016-04-27 18:19] laksh-parab commented on #151
any update on why app is reloading twice?

[2016-04-27 19:16] tushargupta51 commented on #264
@jpstone @thibnes @yaron-jet @oscarbremer Can you guys share a repro that works on 1.0.8 but does not on 1.0.9 version? If not a repro, console logs will also help. I am working on pushing out a fix for this soon.

Add this to your app to turn on logging:

Logging = {
level: 3,
log: function (message) {
console.log(message);
}
};

[2016-04-27 20:12] tushargupta51 commented on #271
@jthoni Closing this issue. Please follow #130 for status on this. Thanks.

[2016-04-27 20:12] #271 closed

[2016-04-27 22:41] tushargupta51 commented on #272
@PavelPikat @sandor11 Are you guys using SessionStorage? I just ran a sample app on my local machine with `cacheStorage = localStorage`. Reopening the browser window does not log out the user.

[2016-04-28 00:49] sandor11 commented on #272
@tushargupta51 I continued with testing and yes, I was mistaken. It appears as though (when using `localStorage`) the user is logged in again. However, this only works when the browser window is re opened within the token expiry interval. Once the token is expired the problems with the refresh token code, on the surface looks like the user needs to log in again. I will not repeat the whole issue h

[2016-04-28 05:12] sandor11 commented on #267
@tushargupta51 I have this error for the `RENEW_TOKEN` request on `Chrome 49.0.2623.112 m`

[adal-log.txt](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/239841/adal-log.txt)

[2016-04-28 06:37] nataliavalgepea commented on #272
@tushargupta51 Make sure that you don't have KMSI enabled in some other Microsoft portal, for example Azure or Sharepoint.
As I said before, if you login to SharePoint or Azure with KMSI checked in, you will be logged in in your Angular app after reopening the browser as well. But if you uncheck KMSI, login to SharePoint, the open Angular app, reopen the browser, open Angular app again - you will

[2016-04-28 07:35] gustavarcticmill commented on #194
+1

[2016-04-28 07:35] PavelPikat commented on #272
@tushargupta51 Make sure that you don't have KMSI enabled in some other Microsoft portal, for example Azure or Sharepoint.
As I said before, if you login to SharePoint or Azure with KMSI checked in, you will be logged in in your Angular app after reopening the browser as well. But if you uncheck KMSI, login to SharePoint, then open Angular app, reopen the browser, open Angular app again - you will

[2016-04-28 07:43] PavelPikat commented on #272
@tushargupta51
I tested it with cacheLocation: 'localStorage' and it magically works with this setup.
I guess this solves the issue.

[2016-04-28 07:43] #272 closed

[2016-04-28 14:23] sandor11 commented on #267
@tushargupta51 I have discovered this error was occurring because I was somehow logged out of my Azure AD Account, once I logged back in with the KMSI option selected I was able to retrieve a refresh token.

[2016-04-28 14:29] jonfreberg commented on #42
Any news on this one?

[2016-04-28 14:34] dylandechant opened #273 "requireADLogin: true not redirecting with ui-router"
in my app.js i have something like this:
[code]

when you hit /login there is no redirect to login.  I can still check to see if a user is logged in and then force them with `adalAuthenticationService.login();`, that all works, but this is less than desirable as this is a large app with many different states/routes.

I see other people have the auto redirect working, any tips?

Thanks!

[2016-04-28 14:55] gabbsmo commented on #267
@sandor11 What do you mean by KMSI? Did you manage to login again from your app or somewhere else?

[2016-04-28 15:41] dylandechant commented on #273
Error was in my code, had this
[code]
needed this:
[code]

[2016-04-28 17:02] tushargupta51 commented on #42
@jonfreberg Can you please a share a repro or console logs? You can turn on logging by adding this to app.js:

Logging = {
    level: 3,
    log: function (message) {
        console.log(message);
    }
};

[2016-04-28 17:03] tushargupta51 commented on #273
@dylandechant Can we close this issue now?

[2016-04-28 17:47] dylandechant commented on #273
@tushargupta51 yes, thank you!

[2016-04-28 17:50] #273 closed

[2016-04-28 18:21] tushargupta51 commented on #127
@sandor11 Be default, all the requests to app's backend are secure, which means interceptor will try to attach a token to the outgoing requests. We are thinking of providing an extensibility point where users can add list of app's backend url (relative or full urls) to be skipped by interceptor.

[2016-04-28 19:29] istrau3 commented on #267
@tushargupta51 I am seeing this issue in chrome.

I went to https://login.microsoftonline.com and checked my resources tab. There are cookies saved there. I guess my browser should be sending these cookies along with the request.

The problem with this issue is that it is not easy to reproduce. I need to wait for my token to expire because it only happens on token renewal not on initial login.

Th

[2016-04-28 19:36] tushargupta51 commented on #267
@istrau3 logs will help

[2016-04-28 19:40] istrau3 commented on #267
@tushargupta51 Yes, but what do mean by that? How do I produce those? I have fiddler on my machine, how do I get a 'fiddler trace'? By log do you mean the browser's stack trace in the console?

[2016-04-28 20:03] tushargupta51 commented on #267
@istrau3 You can add this to your app.js. This will generate console logs in the browser:
Logging = {
    level: 3,
    log: function (message) {
        console.log(message);
    }
};

Have fiddler running on your machine when you interact with your web app to reproduce. Once you are done, save the captured output in fiddler.

[2016-04-29 00:02] sandor11 commented on #267
@gabbsmo Keep Me Signed In (KMSI) check box option when logging in to your Azure Management Console, or other Microsft related sites. This option is not present on the App Login screen however.

The issue here was that I was trying to retrieve an access token for a user in my app who was not logged in to their Microsoft Account, and I believe this behavior is correct.

@tushargupta51 In relation t

[2016-04-29 00:21] sandor11 commented on #127
@tushargupta51 That would help some situations. In our app, we only utilize the Graph API for very limited percentage of functionality. Being requwired to list every backend url, api related or otherwise would not be maintainable as every time we created a new API route, our process would have to include adding that to the excluded routes table for `adal`. I would rather see a boolean flag which s

[2016-04-29 07:20] jonfreberg commented on #42
I added logging. Will revert with more info when the endless loop kicks back in.

[2016-04-29 08:16] jonfreberg commented on #42
![endless-loop-with-logging](https://cloud.githubusercontent.com/assets/631627/14911100/5d894e96-0df3-11e6-87be-084e44e59636.PNG)

[2016-04-29 08:17] jonfreberg commented on #42
![endless-session-storage](https://cloud.githubusercontent.com/assets/631627/14911118/8604029e-0df3-11e6-9762-557f82181f7b.PNG)

[2016-04-29 08:17] jonfreberg commented on #42
I cant see anything about the wrong nonce in the logging.

[2016-04-29 15:36] elferone commented on #201
This line of code:
`$window.location = $window.location.origin + $window.location.pathname;`
was causing a refresh in my Angular application, which most of the time screwed up my angular ui router because of the refresh.

Changing to this:
`$location.url($window.location.origin + $window.location.pathname + $window.location.search);`
totally solve my problem.

[2016-04-29 17:27] tushargupta51 commented on #42
@jonfreberg Can you also provide value of user.profile.nonce (you will need to debug to get to this value) along with the values in the storage (pic posted above)? Are you setting an .otherwise route in your config? I have seen these loops because of that too. Sharing your config will help debug further. Thanks!

[2016-04-29 21:00] tushargupta51 commented on #127
@sandor11 You do not have to specify all of the backend urls. The matching logic sees if the configured anonymous endpoint/relative url is part of the an app's backend url. For example, if you add "app/views" to anonymous endpoints lists, it skips all these urls - "app/views", "app/views/abc". So, if only urls that you want interceptor to act on are the ones configured in the endpoints list then y

[2016-04-29 21:38] gpit2286 commented on #266
Currently, there is the option to `requireADLogin: false` in the state config that does not seem to work either.  I see that fixes you made in #275 but I wonder if the anonymous endpoint solution is the way to go.  Does that mean that we will no longer be able to specify the `requireADLogin` option as it would be obsolete?

[2016-04-30 00:06] sandor11 commented on #127
@tushargupta51 ok, got it. That would be sufficient for our purposes.

[2016-05-01 21:17] nigel-dewar opened #276 "How does one implement Single Sign On with adal.js being used"
Hi there,

This is not an issue, but a query that has us stumped.

Does adal.js work with SSO?   We are using ADFS in our enterprise and we know we can get SSO working with Office 365, but how does it work when using ADAL.js?

I have found it really hard to find any doco on this.

Please help if anyone has any experience or knowledge on this.

cheers

[2016-05-02 06:19] jonfreberg commented on #42
Values from before the endless loop starts:

userInfo.profile.nonce: 2cce876e-fc24-4afc-9acf-0b5fa2cda89b
adal.nonce.idtoken:     2cce876e-fc24-4afc-9acf-0b5fa2cda89b

I will provide those two after the loop starts as well. So thats the two nonce's adal checks that are equal?  And if not, the adal.login.error gets set in the session storage?

No, I'm not using an .otherwise route for now, just to

[2016-05-02 07:24] jonfreberg commented on #42
Because of the endless loop, the developer tools refreshes so I cant get too the userinfo object to see the nonce value.

[2016-05-02 14:04] Blackbaud-ScottVossen commented on #266
@JoshDavisMP, so the functionality that allows someone to have a homepage that doesn't require you to be logged in is being removed? I see #275 addresses anonymous endpoints, but this doesn't seem to allow me to have a user visit one of my pages without being authenticated.

If there's a new way to accomplish this, please fill me in or point me to the correct documentation!

Please don't remove my

[2016-05-02 14:09] gabbsmo commented on #42
@jonfreberg You can check "preserve log" in the Chrome console and console.log(userinfo) from your code.

[2016-05-02 14:31] istrau3 commented on #267
@tushargupta51

Update: I came into work this morning and I am seeing the same behavior. There is no network call that goes out (in fiddler or in the chrome network tab).

I stepped through the code.

Here is where it fails:

[code]

[2016-05-02 14:35] JoshDavisMP commented on #266
@Blackbaud-ScottVossen, I'm not part of developing the project, just a user. I can't help you because I'm struggling with solving the same problem. Presumably you can have a homepage that doesn't require a login as long as it doesn't make any API calls (anonymous or otherwise), but I haven't specifically tested it. All I know is that it refuses to load even mock data being called locally. I refuse

[2016-05-02 14:46] Blackbaud-ScottVossen commented on #266
Ahh, I'm sorry for the confusion there. Well, hopefully we can find a resolution!

[2016-05-02 21:09] tushargupta51 commented on #266
@gpit2286 @Blackbaud-ScottVossen @JoshDavisMP  `requireAdLogin` is used to protect routes and make sure that a user is authenticated before accessing a specific route. `requireAdLogin` is still there and the changes in #275 does not override its functionality.

Currently, all requests made to app's backend are secured and require an access token. Interceptor will try to attach a token to the outgo

[2016-05-02 21:38] Blackbaud-ScottVossen commented on #266
@tushargupta51 Thanks for your reply. I believe what you're describing solves the issue @JoshDavisMP is talking about. However, the issue I created this bug for a little different.

Basically, I have a page in my application which does NOT have the requireADLogin flag on it, but the AdalJs library is forcing me to log in before viewing the page.

[2016-05-02 21:56] tushargupta51 commented on #266
@Blackbaud-ScottVossen

I am assuming you are seeing "User login is required" message in your console. Or are you getting redirected to login page? If its former, its happening because of what I described above. For example, in your example code, you configured "home" route to not require authentication. I am guessing loading "app/home/home.html" is throwing the message "User login is required". A

[2016-05-02 22:28] gpit2286 commented on #266
I'm looking at the code and I'm trying to wrap my head around a couple of things.
- Previously, the `requireADLogin` was being handled, correctly, in the state change handler. (https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/f7b78cc481e5c02731dab13d4a29400e38c58812/lib/adal-angular.js#L198)
- What happened is that the default behavior of the location handler was changed, as no

[2016-05-03 10:23] darrenparkinson opened #277 "Using adal.js with other front end frameworks (i.e. React)?"
Is it possible to use adal.js with other front end frameworks outside of Angular?

[2016-05-03 12:50] JoshDavisMP commented on #266
That means that if the only thing other than requireADLogin routes that I want to force authentication for is external APIs then I need to add pretty much everything on my local site to anonymousEndpoints. It seems to me that if it's this aggressive that instead of having `config.anonymousEndpoints` that you should just make `config.endpoints` required again and force the definition of which endpo

[2016-05-03 16:04] talismax commented on #42
I have the same issue. I have basically the simplest possible Angular/ADAL app with no routing:

[code]
As soon as I login I get the errors:
![image](https://cloud.githubusercontent.com/assets/2261681/14989692/ab900534-111e-11e6-9ba0-e3e50894638f.png)

[2016-05-03 23:06] Neil665 commented on #259
We had the same issue where the app was being completely reloaded inside the iframe, causing significant performance impacts. I have implemented a solution which redirects back to a simple html file (the approach also taken by @sondreb), but I have done this by introducing a new config setting called 'frameRedirectUri' so that the frame can be given a different redirect uri to the login page (the

[2016-05-04 07:17] martinoss commented on #265
Is development on v2 currently on hold?

[2016-05-04 07:58] ischrei opened #278 "LOGIN_REQUEST URL isn't used when login() is called explicitly"
We are using the Angular service to explicitly invoke login(). We have noticed that the LOGIN_REQUEST value which is saved before redirection to AAD, isn't used in this flow.
It is use in the pure JS version (in handleWindowCallback), and the Angular code only supports the START_PAGE value which is set during automated login which is triggered by a state change.

A suggested fix:
https://github.co

[2016-05-04 16:20] adamauckland commented on #42
Jumping in because I've managed to solve the "Nonce is not the same as" problem with a workaround:

Looking in the DOM inspector, I can see that there are multiple ADAL renew token iframes nested. I believe what is happening is that the iFrame is renewing the token and ending up back at `index.html` therefore starting a new version of the app.

This new app then periodically tries to renew the tok

[2016-05-04 16:25] alaincroisetiere commented on #265
@krushnachandra, I also override _createUser method to get userName from emails claims

[code]

[2016-05-04 20:47] rohitpagariya commented on #269
Hi @tushargupta51, yes that's correct. This will ensure the "use strict" scope is restricted to the adal's code.

[2016-05-07 00:00] tushargupta51 commented on #266
@gpit2286 As you said, location change handler checks if the hash has token or error, if not then it checks if user is authenticated or not (https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/f7b78cc481e5c02731dab13d4a29400e38c58812/lib/adal-angular.js#L150), if not then it tries to renew token. state/route change handler looks into the `requireAdLogin` attribute.

@JoshDavisMP I

[2016-05-09 05:34] nigel-dewar commented on #276
Hi, I recieved no answer on this. Can adal.js be used with ADFS on Windows 2016?

[2016-05-09 08:33] katagaStyle commented on #276
Technically you could do SSO with Azure AD pretty well. The usage of SSO APPS in Azure is a great thing.
In fact the hole thing in v.1.0.9 is really buggy. I suggest to not use this in production.

[2016-05-09 08:56] PavelPikat commented on #224
I managed to catch the event by routing manager inside of app.run

[code]

[2016-05-09 11:41] jonfreberg commented on #42
Thanks for the reply @adamauckland !

Could you give a little more details on how you only start up angular-adal if the app is inside an iFrame in the bootstrap process?

[2016-05-09 14:51] adamauckland commented on #42
Yep, @jonfreberg. It's really not anything clever. Conceptually, we just create the primary module differently depending on if we're the top frame or not like this:

[code]

Obviously the actual implementation has a bit more checking around it, but that's the principle.

[2016-05-10 01:09] tushargupta51 commented on #261
1.0.10 fixes this.

[2016-05-10 01:09] #261 closed

[2016-05-10 01:10] tushargupta51 commented on #127
1.0.10 fixes this. Please let me know, if you still see issues. Use `config.AnonymousEndpoints` for uri you want interceptor to skip.

[2016-05-10 01:10] #127 closed

[2016-05-10 01:12] tushargupta51 commented on #266
1.0.10 fixes this. You should be able to navigate to routes that do not require authentication without seeing the "User login is required" error. Please let me know, if you still see issues, I will reopen the issue.

[2016-05-10 01:12] #266 closed

[2016-05-10 01:12] tushargupta51 commented on #260
1.0.10 fixes this. Please let me know, if you still see issues.

[2016-05-10 01:12] #260 closed

[2016-05-10 01:22] tushargupta51 commented on #264
1.0.10 fixes this. Please let me know if you still have this issue, I will reopen the issue.

[2016-05-10 01:22] #264 closed

[2016-05-10 01:23] tushargupta51 commented on #216
@estene @gabbsmo can you try 1.0.10 and see if you still encounter this issue? Thanks!

[2016-05-10 04:06] morales9312 opened #280 "The CDN is not found"
I am getting a 404 on the 1.0.10 CDNs.

[2016-05-10 07:08] PavelPikat commented on #280
It takes some time before CDNs are updated

[2016-05-10 07:22] tushargupta51 commented on #280
I hope to get the links updated by tomorrow. Will post on this thread once its updated.

[2016-05-10 07:40] estene commented on #216
@tushargupta51 Is the anonymousEndpoints now required in the adalOptions? By not doing any changes but updating the library I am getting an Cannot read property 'push' of undefined here:
`if (toState.templateUrl && !isAnonymousEndpoint(toState.templateUrl)) {
                                _adal.config.anonymousEndpoints.push(toState.templateUrl);
                            }`

[2016-05-10 07:43] PavelPikat commented on #216
I run into the same issue. Fixed it by having  anonymousEndpoints: [] in my  adalAuthenticationServiceProvider.init

[2016-05-10 08:13] thibnes commented on #216
Hello,
after declaring anonymousEndPoints: [] in my adalAuthenticationServiceProvider.init I got this:

[code]

Works fine with 1.0.8.

Here is my config:

[code]

[2016-05-10 08:16] sjaanus opened #281 "Release 1.0.10 asks for authentication"
I changed to 1.0.10 and now it keeps popping up this window. In previous version there was no such thing, when it needed to login, it redirected to Azure.

Anything I enter into this box, it does not disappear and keeps popping up.

![authreq](https://cloud.githubusercontent.com/assets/964450/15139778/a98eb83e-16a0-11e6-847d-13f3272f780e.png)

[2016-05-10 08:21] tushargupta51 opened #282 "1.0.10 initialize adal.config.anonymousEndpoints to []"
Currently, users are forced to add `anonymousEndpoints: [],` to the init configuration. This array should have a default initial value. Add this to adal.js init method

    if (!this.config.anonymousEndpoints) {
        this.config.anonymousEndpoints = [];
    }

[2016-05-10 08:24] tushargupta51 commented on #216
@estene @PavelPikat No, anonymousEndpoints need not to be initialized. This is a bug. Opened #282 to track this. Adding anonymousEndpoints: [] should remove that error.

@thibnes can you share your routeProvider config?

[2016-05-10 08:25] tushargupta51 commented on #281
@sjaanus Can you share console logs and the adal init code?

[2016-05-10 08:34] thibnes commented on #216
@tushargupta51 here we go:

[code]

[2016-05-10 08:41] tushargupta51 commented on #216
@thibnes By default, adal ignores url (templateUrl) for states/routes that do not require authentication, e.g. `templateUrl: helper.basepath('SingleView/Index')` in your example. For all other relative urls (App's backend urls), it requires an authenticated user unless that uri (or a superset of that uri) is listed in `config.anonynousEndpoints`. For example, if you have files under /Content/i18n

[2016-05-10 08:51] tushargupta51 commented on #277
Currently, we only provide out-of-the-box support for angular. At the moment, we do not plan to release any integrations with React or other front end framework. Though, I guess you might be able to utilize adal.js since its plain JS.

[2016-05-10 09:01] thibnes commented on #216
@tushargupta51 I understand, however it seems that adding `anonymousEndpoints=[ "/Content" ]` for instance has no effect.

I still got the login required warning upon my /Content/ url.

[code]

Besides, I missed to show you one line at the end in the log that is weird:
[code]

Thank you for your help.

[2016-05-10 09:13] estene commented on #216
I can confirm that adding anonymousEndpoints removed the error.

As @thibnes I seem to experience some issues, I have a protected route to 'parent.dashboard', but this gets loaded even though I am not logged in/authed.
If I add say 'app/shell.html' to anonymousEndpoints or simply have `template: '<div ui-view></div>',` I get these errors:

[code]

Sample of my simple setup:
[code]

[2016-05-10 09:20] jonfreberg commented on #42
Thanks @adamauckland . I'll give it a go.
What version of angular, adal and adal-angular are you using?

[2016-05-10 09:46] adamauckland commented on #42
@jonfreberg

Angular 1.4.7
AdalJS v1.0.10
adal-angular v1.0.10

[2016-05-10 10:26] jonaseriksson84 commented on #270
What about simply checking your url and conditionally enable ADAL conditionally?

[2016-05-10 10:29] jonaseriksson84 commented on #276
Our site is protected by Microsoft SSO. When redirecting to the ADAL OAuth page, there is no need to sign in as the user is already authenticated. The user will just be redirected back.

[2016-05-10 12:53] thibnes commented on #216
@estene I've seen you had the same issue as me, did you solved it?

[2016-05-10 12:57] estene commented on #216
I thought initially I had the same issue, but I had some errors in my config which resolved the issue.
In my case we had html5 mode enabled and azure iis rewrites, and I had the urls defined in the wrong section.
Things seem to be working okay now. Need to do some more testing though.

[2016-05-10 13:33] NickAb commented on #276
Is there any way to setup AzureAD on-premise?

[2016-05-10 15:11] thibnes commented on #216
I managed to make it work. I added all the missing anonymousEndpoints going step by step in debug mode. The thing is that I have a bunch of inline templates with random names that I had to add too.

In my case, I have only one backend endpoint which is secured :
[code]

So all calls other than "api/v1/..." should be concidered as anonymous.

Did I miss something here?

[2016-05-10 16:11] tushargupta51 commented on #216
@thibnes Try using `anonymousEndpoints = [ "Content/" ]`. You can add a high level/root level uri to anonymous endpoints that will ignore all the children urls. If you do so, you don't need to add "api/v1" in `endpoints` unless you have something in `anonymousEndpoints` that will make adal to consider "api/v1" as anonymous also, e.g. "api" or "v1".

[2016-05-10 18:11] tushargupta51 commented on #202
@wakurth @gabbsmo can you try 1.0.10? It should fix the infinite redirect. You might need to add `anonymousEndpoints = []` to your init config.

[2016-05-10 22:03] tushargupta51 commented on #254
@PavelPikat Earlier, when there is an error from AAD, adal-angular was not calling the callback. I added this in 1.0.10: https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/master/lib/adal-angular.js#L110. I think your scenario falls into this code path, and it will call the registered callback with the error. Does this solve your issue?

[2016-05-10 23:58] tushargupta51 commented on #188
This is an issue with how AAD interprets this paramter when resetting password. We have given feedback to them. We need to send this parameter for reporting purposes. Closing this issue as it wont be fixed in ADAL but in AAD.

[2016-05-10 23:58] #188 closed

[2016-05-11 00:01] tushargupta51 commented on #178
Please try the latest version and let us know if you still run into this issue, I will re-open it.

[2016-05-11 00:01] #178 closed

[2016-05-11 00:04] tushargupta51 commented on #183
The indefinite load has been fixed in 1.0.10. When adal gets this error as a result of renewing the token, the registered callback is called with the error description. App needs to trigger a login to fix this issue since the password has been changed. Closing this, please let us know if you still run into issue, will reopen it.

[2016-05-11 00:04] #183 closed

[2016-05-11 00:06] tushargupta51 commented on #135
@mickael83 @Supratentorial can you guys share a repro or console logs (instructions on home page)? I do not see the behavior when I run app that uses ui-router locally. It redirects to the private state correctly after login.

[2016-05-11 02:17] tushargupta51 commented on #246
@gregjhogan This endpoint is provided by azure websites and is not an AAD endpoint. We dont plan to add any support for this in adal js.

cc: @vibronet

[2016-05-11 02:19] tushargupta51 commented on #91
Closing this issue as a low value fix.

[2016-05-11 02:19] #91 closed

[2016-05-11 02:25] tushargupta51 commented on #94
@andreesteve @vood Do you still have this issue? Is the iFrame in the same domain as the app? Can you share logs at verbose level? You can add this to your app.js:

Logging = {
    level: 3,
    log: function (message) {
        console.log(message);
    }
};

[2016-05-11 03:04] tushargupta51 commented on #197
If the cookie is expired (which happens when browsing session ends), user will be interrupted to log back in again. There is an issue, where adal is not able to redirect user back to the original page where the login started: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/130.

Closing this issue as cookie is good enough for the duration of browsing session and adal will be

[2016-05-11 03:04] #197 closed

[2016-05-11 03:08] gregjhogan commented on #246
I see your point.  A better title would have been "Simplify configuration to not require clientId for Azure Web Apps".  I thought it was a lot more convenient to not have to modify a UI configuration file as I promote a deployment package through environments (since /.auth/login/... is constant across all environments).  But, there is still the problem of running on localhost.  This could be addre

[2016-05-11 03:08] #246 closed

[2016-05-11 03:18] #277 closed

[2016-05-11 07:22] PavelPikat commented on #267
I encountered the same problem as @istrau3 this morning when I came back to work and had stored tokens in the localStorage from yesterday's session.
Adal tried to send a request to login.microsoftonline.com with response_type=id_token. It sent my client_id, state, login_hint and nonce as params, but got 302 Redirect to
`Location: http://localhost:3000/launcher.html#error=login_required&error_descr

[2016-05-11 17:29] tushargupta51 commented on #267
@PavelPikat Did you re-open the browser? If AAD cookie is expired, it will show this error.

[2016-05-11 18:47] tushargupta51 commented on #280
The files are available on CDN now.

[2016-05-11 18:47] #280 closed

[2016-05-11 19:24] nataliavalgepea commented on #267
@tushargupta51 Yes, my computer was off :) Should we manually handle this error and redirect the user to the login screen?

[2016-05-11 19:25] PavelPikat commented on #267
@tushargupta51 Yes, my computer was off :) Should we manually handle this error and redirect the user to the login screen?

[2016-05-11 20:04] tushargupta51 commented on #267
@PavelPikat If the browser was closed, and you re-open the browser after the tokens saved in localStorage are expired (> 1 hr), then user would need to login back again. Maybe its worth to revive #272 , I am working with an internal team to get this sorted out. It seems that web apps that are using adalJs and are not hosted inside a web view on a mobile device, should see the KMSI checkbox by defa

[2016-05-12 07:11] gpit2286 commented on #266
I like what you did to handle this.  However, in my case it doesn't fix the problem.  Myself, as well as @Blackbaud-ScottVossen, using ui-router.  In this case, your catch on templateURL does not work as the template URL lives inside of a "views" object. https://github.com/AzureAD/azure-activedirectory-library-for-js/commit/b03dd624a1d2d07b363a2717e5058cfcf164c6c3#diff-b665dc52059979b6da33bbc0e25e

[2016-05-12 07:58] wizjack commented on #224
@PavelPikat  seems interesting: will check.

[2016-05-12 10:57] PavelPikat commented on #267
**How to reproduce:** (I am using Chrome and adal-angular 1.0.10, storage set to localStorage)

1. Login to Angular app in one tab
2. Open https://login.microsoftonline.com/ in another tab
3. Clear cookies for https://login.microsoftonline.com/
4. Clear localStorage for angular app
5. Trigger route change/refresh angular app

[2016-05-12 12:28] Mansyn commented on #216
@atkinchris I think I'm having the same problem with my webpack setup and using adal. I haven't been able to figure out how to expose the Authenticationconext like you mentioned. Do you do that in your webpack.config or where exactly? Does is work with the 1.0.10 version?

[2016-05-12 18:36] murtazajafferji commented on #266
+1. 1.0.10 does not fix the issue for me. I am not using ui.router.

[2016-05-12 18:40] tushargupta51 commented on #266
@gpit2286 Thanks for reporting this. That fix wont work with the config that you have. I will open another issue to track that specifically. You can use `anonymousEndpoints` to fix this. Maybe add "partials/login.html" or just "partials" if other partial pages also do not require authentication

[2016-05-12 18:40] tushargupta51 commented on #266
@murtazajafferji What is the error that you are seeing? Can you share logs and your config?

[2016-05-12 20:01] murtazajafferji commented on #266
@tushargupta51 I had a bug because the path to my templates was different in another environment, so I added both paths and that resolved the issue. Would it make sense to add another config option to ignore all templates (urls containing ".html")?

[2016-05-12 20:18] tushargupta51 commented on #267
@sandor11 There are 2 flavors of acquireToken - interactive and silent. Adal js only implements silent flow ATM which means if renew token operation fails, it does not prompt user to enter credentials, it will send an error and then developer can decide what to do with it. Developers need to call _adal.login for prompting the users to login. We plan to add the interactive version too, I think it i

[2016-05-12 20:21] tushargupta51 commented on #267
I don't think this issue is a bug in ADAL, "User account not identifier" is an expected error when adal tries to renew the token and there is no valid aad authentication cookie sent along with the request. This error is sent from AAD. To recover from this error, users need to log back in again.

Also, we are in process of fixing the missing KMSI checkbox, that will keep the aad cookie for longer t

[2016-05-13 00:49] tushargupta51 commented on #256
@bhatnagar-anuj To make sure I understand the issue correctly, user navigates to a state/url e.g. /Report/ReportId which requires authentication. User is redirected to login. After login, the user is not redirected back to original url/state from where the login started: /Report/ReportId. Is that correct? Or are you talking about the parameters that you included in the return uri when sending requ

[2016-05-13 07:17] gabbsmo commented on #267
@tushargupta51 are you refering to the adal:loginFailure event in adal-angular? Handling that event is clearly marked as optional in the README.

[2016-05-13 07:49] PavelPikat commented on #267
@tushargupta51 I get your point. I actually fixed it for us by handling adal:loginFailure event and forcing the user to login again. And I agree that this issue is not really a bug, but a lot of users seem to be confused about it.

[2016-05-13 08:06] PavelPikat commented on #256
I think it's also important to know which router people use.

For example, we use ui.router and we had a similar issue with Adal - it didn't redirect back to the correct state after login, so we customized adal-angular source and added an extra parameter to store in the storage:

`_adal._saveItem('adal.start.page.state', toState.name)`

And then we use this value in locationChangeHandler.
I could

[2016-05-13 18:00] tushargupta51 commented on #267
@gabbsmo Well, its optional if you dont want to deal with errors and recover from an error scenario. Its not required unless you want to handle an error.

[2016-05-13 18:04] tushargupta51 commented on #256
@PavelPikat Sure, please share the custom changes you made. I was able to reproduce all of the routing parameters related issues locally using ui-router and stateProvider. We need some modifications to what we save and how we rebuild state, stateParams and url from that.

[2016-05-13 18:21] tushargupta51 commented on #270
@polysg You can override the default event handlers by adding this

                $rootScope.$on('$routeChangeStart', function() {});

                $rootScope.$on('$stateChangeStart', function{});

                $rootScope.$on('$locationChangeStart', function{});

Also, do not pass httpProvider in the init so that adal does not plugin its interrceptor. Overriding the event handlers will not

[2016-05-13 18:21] #267 closed

[2016-05-13 18:28] tushargupta51 commented on #216
@Mansyn Can you expand on why and where you want to expose AuthenticationContext? Are you using angular? Are you running into an infinite loop?

[2016-05-14 11:41] atkinchris commented on #216
@tushargupta51 When importing this library as a module, Webpack (and similar tools) protect the global scope from exports, to prevent collisions and leaks. This library requires `AuthenticationContext` to be exported to allow iframe callbacks to access it - so we need to tell Webpack explicitly to allow it to be exported.

@Mansyn I modified the library to use `require` instead of using `Authentic

[2016-05-14 14:46] Mansyn commented on #216
Thank you for getting back to me, this is the only issue holding up our
portal from going live and I'm still learning how to configure webpack.
When I tried to use a version of the module with your require statement in
it, I get an error about it not recognizing the require. Is there something
I need to change to add support for require in the module?

On Sat, May 14, 2016 at 7:41 AM, Chris Atkin

[2016-05-16 03:46] bhatnagar-anuj commented on #256
**@tushargupta51** user navigate to a  state/Url (e.g. http://localhost:4050/Report.html#/5) which required authentication. User redirect to login and after login user redirect to http://localohost:4050/Report.html#/.
Hence chopped everything after #.

[2016-05-16 03:50] bhatnagar-anuj commented on #256
**@tushargupta51** : Do you have any tentative timeline for the fix ?

[2016-05-16 04:58] tushargupta51 commented on #256
@bhatnagar-anuj we plan to ship out fix for this in next release, which is tentatively mid June.

[2016-05-16 05:07] tushargupta51 commented on #216
Closing this issue, please let me know if anyone still hits the refresh token infinite loop.

@Mansyn @atkinchris Can you guys take a look at #262 and #223 , you might be hitting the same issue. If not, please open a new issue on this.

[2016-05-16 05:07] #216 closed

[2016-05-16 07:22] nagavitalp commented on #194
+1

[2016-05-16 18:15] polita commented on #259
Closing as dup of #151

[2016-05-16 18:15] #259 closed

[2016-05-16 18:22] polita commented on #200
Duplicate root cause of #130

[2016-05-16 18:22] #200 closed

[2016-05-16 18:22] polita commented on #244
Duplicate root cause of #130

[2016-05-16 18:22] #244 closed

[2016-05-16 18:22] polita commented on #256
Duplicate root cause of #130

[2016-05-16 18:22] #256 closed

[2016-05-16 18:38] polita commented on #193
Please let us know if you can help us repro this on a recent release.

[2016-05-16 18:38] #193 closed

[2016-05-16 18:52] polita commented on #137
The interceptor will broadcast a NotAuthorized event if authService.userInfo.isAuthenticated is false. You can plug in your listener to that event for custom logic. Let us know if this doesn't resolve the issue for you.

[2016-05-16 18:52] #137 closed

[2016-05-16 18:53] polita commented on #135
We can't repro this issue. Please let us know if you can help us repro, and we will look at it again.

[2016-05-16 18:53] #135 closed

[2016-05-16 19:06] polita commented on #102
IE and Edge don't share cookies across different security zones, so cookies acquired in one zone are not accessible in another. You can eliminate the boundaries by putting them in the same zone so they share the cookie jar. Unfortunately, we don't have a better solution at the moment for IE and Edge.

[2016-05-16 19:06] #102 closed

[2016-05-16 19:12] polita commented on #101
If you haven't configured your outlook.com account as a guest in your tenant, ADAL.js doesn't support using your Microsoft Account for login. If you have configured your outlook.com account as a guest, this should work as long as you use the intended tenant endpoint rather than the common endpoint. Please give us a little more information if this doesn't answer your question.

[2016-05-16 19:12] #101 closed

[2016-05-16 19:16] polita commented on #202
Please add a comment if you can still repro this in 1.0.10 and we'll look again.

[2016-05-16 19:16] #202 closed

[2016-05-16 21:44] tushargupta51 commented on #107
Apologies for the delay.

@andreesteve This issue is fixed now in 1.0.10, earlier angular was not calling the registered callback if AAD returns an error in the response. Please give it a shot.

@RobARichardson  If you sign out from second tab, then adal will clear all the browser storage and the aad cookie will be removed. So, when you do anything in first tab, it does not find a token in the sto

[2016-05-16 21:44] #107 closed

[2016-05-17 02:14] tushargupta51 commented on #278
@ischrei Thanks for reporting this. I fixed it by calling `loginHandler()` instead of `_adal.login()` inside the angular login method. This saves the current url in START_PAGE value and rebuild the url when user is redirected back to adal after logging in.

[2016-05-17 07:33] mderaeve opened #283 "Using the service in combination with the component router"
I use the new component router for angular 1. But I cannot get the adalAuthenticationServiceProvider to work. It works with the default route provider.
Is it possible to add an example? I just get this error:
angular.min.js:117 Error: [$compile:tpload] http://errors.angularjs.org/1.5.5/$compile/tpload?p0=%2Fapp%2Fcomponents%2Fazure%2FazureList.html&p1=undefined&p2=undefined

[2016-05-17 07:48] mderaeve commented on #104
Is there somebody with experience using the adalAuthenticationServiceProvider togehter with the new component router?

[2016-05-17 07:50] mderaeve commented on #194
IS there a

[2016-05-17 17:28] tushargupta51 commented on #283
@mderaeve What is the adal version that you are using? Can you provide console logs? Instructions to add logging are in README.md.

[2016-05-18 06:35] mderaeve commented on #283
version is 1.0.10
Wed, 18 May 2016 06:33:59 GMT:de99873b-e443-4093-b2a6-7ccc598323a8-1.0.10-VERBOSE: Url: /app/components/azure/azureList.html maps to resource: 8fc04254-cdad-46ca-ba17-a5d3cb11dfa7
app.js:28 Wed, 18 May 2016 06:33:59 GMT:de99873b-e443-4093-b2a6-7ccc598323a8-1.0.10-WARNING: User login is required
app.js:28 Wed, 18 May 2016 06:33:59 GMT:de99873b-e443-4093-b2a6-7ccc598323a8-1.0.10-ER

[2016-05-18 07:01] tushargupta51 commented on #283
@mderaeve Does the page `/app/components/azure/azureList.html` require authentication? It seems you are loading this page before user is authenticated. Can you share the code where you initialize adal? Also, try addding `/app/components/azure/azureList.html` to config.anonymousEndpoints like below:

    adalProvider.init(
        {
            instance: 'https://login.microsoftonline.com/',

[2016-05-18 08:33] mderaeve commented on #283
Hi, I still get the same behaviour:
Wed, 18 May 2016 08:31:27 GMT:d8075b7e-619e-4bb3-b659-55b666407fe6-1.0.10-VERBOSE: Url: /app/components/azure/azureList.html maps to resource: null
app.js:28 Wed, 18 May 2016 08:31:30 GMT:d8075b7e-619e-4bb3-b659-55b666407fe6-1.0.10-VERBOSE: Url: /app/components/azure/azureList.html maps to resource: null
app.js:28 Wed, 18 May 2016 08:31:31 GMT:d8075b7e-619e-4bb3

[2016-05-18 13:10] MarkDordoy-JustEat opened #285 "Does this Library support being used against ADFS"
This is a question rather than an issue. I just want clarification on if this library can be used against an ADFS authority rather than an Azure AD authority.

Thanks

[2016-05-18 17:58] Dismissile opened #286 "User login is required"
I am initializing ADAL for Angular like so:

[code]

I am not setting up any routing rules that require a user to be logged in. I just have a button that will call the login() method.

I am using OWIN self hosting for a web api on the same path that the angular application is on.

root url for angular: www.example.com/fabrikam/
root url for api: www.example.com/fabrikam/api/values

I am trying to

[2016-05-18 18:01] tushargupta51 commented on #283
@mderaeve I don't see `requireADLogin` attribute in the config. To give you some background on how adal works: by default, adal secures all calls to app's backend which includes html and js files. You can add exceptions in `config.anonymousEndpoints` which will let you access the specified urls and the child pages without authentication. The error you are getting is because user is not authenticat

[2016-05-18 18:06] tushargupta51 commented on #286
@Dismissile By default, adal secures all calls to backend and external apis. If for some reason, you do not want adal to do that, you can specify `config.anonymousEndpoints` property. In your case, if you want to bypass all the requests, you can add this to init: `anonymousEndpoints = [ "\" ],`

Out of curiosity, why do you not want to secure the call to api? Interceptor attaches a token that will

[2016-05-18 18:09] Dismissile commented on #286
This particular api does not require authentication. Actually the app itself is just a demo of a few things and I added the authentication as a small part of it. I noticed after adding ADAL that this piece of the app was now broken unless I was logged in.

[2016-05-18 18:12] tushargupta51 commented on #286
@Dismissile Does adding the anonymousEndpoints property on config fixed your issue?

[2016-05-18 18:15] Dismissile commented on #286
@tushargupta51 yes that seems to have fixed the issue. Although i had to switch it from:
anonymousEndpoints: [ "\" ] to anonymousEndpoints: ["/"] since \ is an escape character

[2016-05-18 18:23] abettadapur opened #287 "Failed renewal against the common endpoint"
I am developing a multi-tenant application with ADAL.js, which means I am trying to authenticate against the 'common' endpoint.

This works fine for most cases, including initial login and token renewal.

However, in the edge case where I try to renew a token with an expired or missing AAD browser session, I do not receive a silent error in a callback url. Instead, the hidden iframe loads the AAD

[2016-05-18 18:27] tushargupta51 commented on #286
Yeah, that was a typo. It should be "/". I will go ahead and close this issue then.

[2016-05-18 18:27] #286 closed

[2016-05-18 18:31] tushargupta51 commented on #287
@abettadapur Which version of ADAL are you using? Can you share logs (instructions are in readme)?

I assume aad is returning an error in the url as a fragment, adal should save that error in configured storage. Are you using adal-angular module or plain JS?

[2016-05-18 18:38] abettadapur commented on #287
AAD is not returning an error in the url as a fragment when the common endpoint is specified, that is the issue.
If I replace common with my tenant-id, I get back an error in the url fragment. Sorry I didn't make that clearer.

I'm using the plain library and am on version 1.0.10

[2016-05-18 22:11] tushargupta51 commented on #199
Closing this as dup of #151. Both issues root caused to the same bug: app loading in iframe after token is renewed.

[2016-05-18 22:11] #199 closed

[2016-05-19 07:50] mderaeve commented on #283
Hi,

If I run the TodoSPA example, I only see requireADLogin on the link where login is required. The other links are not in the anonymousendpoints. I also expect when the user is not authenticated that the azurelogin page is shown, but I do not see it. If I run the todo example provided in this github, it works. But this is using the default Angular 1.5 router.
Where should I add the requireADLog

[2016-05-19 08:44] tushargupta51 commented on #283
@mderaeve I took a quick glance at the component router and it seems very different than the old angular router in terms of structure. Can you debug at this line: https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/master/lib/adal-angular.js#L189 and share what the route object look like? Adal is expecting `requireAdLogin` property on that object.

[2016-05-19 09:40] mderaeve commented on #283
He is not entering in this breakpoint. I debugged the init of the adalAuthenticationService in adal.agnular.js, this breakpoint works. But this function is never hit:
 function isADLoginRequired(route, global) {
                    return global.requireADLogin ? route.requireADLogin !== false : !!route.requireADLogin;
                }

[2016-05-19 16:59] hentry opened #288 "On Adal intialization in config funtion error is thrown"
Hi,
I am using adal in office addin to get the file attachment content. But, during my angular app config function execution, Adal is throwing javascript error like this.
`fs.js:2110TypeError: Cannot create property 'resource' on string 'User login is required'
    at q.then.p.$resolved (angular-resource.js:613)
    at angular.js:13189
    at l.$eval (angular.js:14401)
    at l.$digest (angular.js

[2016-05-19 18:33] tushargupta51 commented on #283
@mderaeve I looked more into component router docs and it has an entirely different lifecycle than the old routeProvider. It uses `CanActivate`, `OnActivate`, `CanDeactive` instead of `routeChangeStart`, `routeChangeSuccess` events. Adal currently only supports the old router. Support for this new router will show up when and if we move to angular 2: #194 . ATM, you cannot use component router wit

[2016-05-19 18:41] tushargupta51 commented on #288
@hentry Can you share how you configure adal and routes/states? Also, if you can provide console logs, that will help investigate this further, instructions are in the readme. From the error, it seems you might have, `message.resource` in your code as it complains about `resource` property on the string "User login is required" cannot be created.

[2016-05-19 19:06] hentry commented on #288
Hi @tushargupta51,
That problem is solved, now when i initiate a http call to graph api(https://graph.microsoft.com/v1.0/me), am always getting invalid access token error. I know what the problem is, In my application we are adding Authorization token to all the $http calls to contact with our api. so, for graph api also instead of adal token my application token is set in Authorization header. Ho

[2016-05-19 19:08] hentry commented on #288
Even I tried to read the adal token in sessionStorage(adal.idtoken) and set in graph api call like this,
`$.ajax({
                type: "GET",
                url: "https://graph.microsoft.com/v1.0/me",
                dataType : 'json',
                headers : {
                    "accept": "application/json",
                    'Authorization' : 'Bearer ' + sessionStorage.getItem('adal.idto

[2016-05-19 19:09] hentry commented on #288
My Adal Intialization in config is below,
`adalAuthenticationServiceProvider.init(
                          {
                              tenant: 'XXXXXXX.onmicrosoft.com',
                              clientId: '4504c396-65da-49af-ab58-XXXXXXXXX',
                              endpoints : {
                                "https://graph.microsoft.com/v1.0/me": 'https://graph.microsoft.com'

[2016-05-19 19:40] hentry commented on #288
My problem is similar to this problem https://github.com/Azure-Samples/active-directory-angularjs-singlepageapp-dotnet-webapi/issues/12

[2016-05-19 21:07] hentry commented on #288
@tushargupta51  "Cannot create property 'resource' on string 'User login is required'" error occurs inconsistenly. Some times it happens and some time its not. I got the following traces,
<img width="1669" alt="screen shot 2016-05-20 at 2 33 31 am" src="https://cloud.githubusercontent.com/assets/16078396/15409674/813a8454-1e33-11e6-93d5-0a86f1ac75d3.png">

Following are the states in my module,
`f

[2016-05-19 21:33] tushargupta51 commented on #288
@hentry
1. Regarding, "Cannot create property 'resource' on string 'User login is required'" , it seems this error is originating from the code in your app. "User login is required" is a warning message that adal throws. Some piece of code is trying to create a property on that.
2. Regarding, the other error where it says "push" is not defined, add `anonymousEndpoints= []` to your adal initializat

[2016-05-19 23:56] #283 closed

[2016-05-23 16:45] nmiddendorff opened #289 "Auto Renew Tokens for 2.0 Branch"
I noticed there has been quite a few bug fixes for 1.x.x concerning the auto-renew tokens. 2.0 has not been updated since October. Does 2.0 currently support auto-renew tokens? If not, is there a workaround?

[2016-05-23 18:45] tushargupta51 commented on #289
@nmiddendorff 2.0 is currently experimental. And it does support auto renewal of tokens.

[2016-05-24 11:25] ruisilva450 commented on #215
Can you explain how can the library renew the token? I'm getting 401 errors after some time.
And how can I renew the token programmatically?

[2016-05-24 15:30] nmiddendorff commented on #289
Once I initialized our endpoints object, the token renewal process gets stuck in an infinite loop.

Console:

LoadFrame: adalIdTokenFrame
State: 4645961e-8ba5-45b4-xxxx-1840f774268b|81ebbf05-904a-45eb-xxxx-228fb61e94c5
State status:true
Request typeRENEW_TOKEN
State is right
renewing idtoken
renewIdToken is called
Add adal frame to document:adalIdTokenFrame
Renew token Expected state: 7c6c900c-c3f

[2016-05-24 22:49] tushargupta51 commented on #215
@ruisilva450 When user logs in, AAD sets a cookie. As long as that cookie is valid, ADAL can renew token silently whenever its needed. Programmatically, you can call `aquireToken` api to renew the token.

[2016-05-24 23:39] sanderej commented on #261
Hi, I'm still seeing errors with the $templateCache and I've narrowed the issue down to adal angular 1.0.10. The error only occurs when I have the global config requireADLogin to false (for local development). When I am running my site on Azure with requireADLogin true, my template loads fine. My initialization code looks like this:

[code]

The error I see is:

[code]

I can work around this issu

[2016-05-24 23:55] tushargupta51 commented on #261
@sanderej You mentioned that the error occurs when you have `requireAdLogin` set to false globally which means your app is not using authentication. In that case, you can specify "/" in anonymousEndpoints, that should skip interceptor for all of the app's backend urls.

[2016-05-25 11:04] ruisilva450 commented on #215
@tushargupta51 I'm getting another error when I try to execute `acquireToken` I get the following promise response, maybe by another reason but here it goes:
```AADSTS70005: response_type 'token' is not enabled for the application```

[2016-05-25 14:04] arunkumaresan commented on #254
I am facing the same issue. I am using adal / adal-angular version 1.0.10

I have configured: adalAuthenticationService.config.redirectUri
Upon Accept / Cancel, the locationChangeHandler is called multiple times. This loads the app twice due to the following code, once with the has part that has admin_consent=true / error=access_denied&error_description=AADSTS65004:
if ($location.$$html5) {

[2016-05-25 17:27] tushargupta51 commented on #215
@ruisilva450 That sounds like a configuration issue. Do you have `oauth2AllowImplicitFlow` set to true in manifest. This might help: http://stackoverflow.com/questions/29326918/adal-js-response-type-token-is-not-supported

[2016-05-25 19:50] ruisilva450 commented on #215
@tushargupta51 you're right. It fixed my problem. Thanks!
Maybe this is what was causing the library to not renew the token automatically?

[2016-05-25 20:45] tushargupta51 commented on #215
@ruisilva450 Glad it worked for you! Maybe token renewal was not working because of this as AAD was rejecting the request with `response_type = token`.

[2016-05-25 20:54] tushargupta51 commented on #268
@vtan31 What are the repro steps for this? What is it that comments out the ngInclude line? I am not sure I understand the issue completely.

[2016-05-25 22:40] yaegerbomb commented on #192
I had to put requireADLogin: true in my otherwise function for the app to stop its digest cycle.

[2016-05-27 01:07] tushargupta51 commented on #254
@arunkumaresan We are aware of locationChangeHandler called twice when a location changes. #151 is the tracking issue.

[2016-05-27 06:09] sjaanus opened #290 "Forcing token renewal"
I have an issue that user leaves the web app open for too long and comes back and starts pushing buttons, which send out AJAX request that has the expired bearer token, thus getting bunch of error messages on screen.

The token is renewed only on route change or page refresh. Is it possible to force renewal of token in this case? Maybe using LoggingHttpInterceptor or similar?

[2016-05-27 06:34] arunkumaresan commented on #254
thanks @tushargupta51  Are there any expected time to see this isse resolved in upcoming versions?

[2016-05-27 09:43] katagaStyle commented on #215
We have some token expire issues. When local storage is empty then everything works fine. After some time we get in trouble when we reuse the application. We can reproduce this behaviour when setting expire token in local storage to expired (e.g. 0). This causes that broken interceptor is thrown and we end up in an endloss refresh loop. Same behavior in release1.0.11 branch. :(

[2016-05-27 11:01] katagaStyle opened #291 "Token expire causes broken interceptor"
We have some token expire issues. When local storage is empty then everything works fine. After some time we get in trouble when we reuse the application.

We can reproduce this behaviour when setting expire token in local storage to expired (e.g. 0). This causes that broken interceptor is thrown and we end up in an endloss refresh loop.

Same behavior in release1.0.11 branch. :(

[2016-05-29 20:23] ischrei commented on #290
Hi,
Your question may describe 2 scenarios, depending on the AAD cookie state.
When the AAD cookie is valid (even when the user comes back after a long time), the ADAL JS's $http interceptor will refresh the access token if the URL should be protected.
The other scenario, when the AAD cookie is expired, requires a whole page refresh, to re-initiate login and renew the cookie. Without the login, AA

[2016-05-31 02:32] tushargupta51 commented on #290
@sjaanus You can call `acquireToken` method to initiate the token renewal process. As @ischrei said, it will work only if aad cookie is valid. If the cookie is expired, then user will have to login again. Since adal token renewal process is silent, it does not redirect user to login page when it identifies a token renewal failure. It broadcasts events that app can capture and then redirect user to

[2016-05-31 02:37] tushargupta51 commented on #291
@katagaStyle Can you please share console logs for the refresh loop?
Logging = {
    level: 3,
    log: function (message) {
        console.log(message);
    }
};

You might need to turn on debug mode to capture logs otherwise browser might hang because of endless loop. Which browser have you tried this on?

[2016-05-31 02:38] tushargupta51 commented on #289
@nmiddendorff Can you please share complete logs for the loop?

[2016-05-31 17:11] nmiddendorff commented on #289
I believe I am setting up the endpoints correctly for B2C.
Console logs:

renewing idtoken
renewIdToken is called
Add adal frame to document:adalIdTokenFrame
Renew token Expected state: 894c01a9-29cb-4c95-xxxx-11b5e272dd68|81ebbf05-904a-45eb-xxxx-228fb61e94c5
Navigate url:https://login.microsoftonline.com/xxxx.onmicrosoft.com/oauth2/
Navigate to:https://login.microsoftonline.com/xxxx.onmicrosoft.c

[2016-06-02 10:22] darrenparkinson commented on #277
That is a terrible response.  Why is it that only Angular is supported?  How am I supposed to authenticate users with my react app?

[2016-06-02 10:24] darrenparkinson commented on #276
Yes, I agree, documentation for this is, at best, sketchy.  There doesn't seem to be anything on using adal.js on it's own (i.e. without Angular).

[2016-06-03 03:26] mmort75 commented on #194
:+1:

[2016-06-03 04:21] ramon26cruz commented on #194
+1

[2016-06-03 09:15] mderaeve commented on #194
Thanks and indeed, it seems th

[2016-06-06 14:17] fairmutex commented on #42
Can someone put an example together that works? Since I am having big trouble with this issue

[2016-06-06 14:50] ischrei opened #293 "login_hint and domain_hint parameters need to be removed from the tokens renewal methods"
Hi,

Following internal incident we had, we found that the usage of the login_hint and domain_hint in the iFrame calls is faulty and should be removed (sometimes the user may login with a certain email address that will map to the wrong tenant in AAD. This leads to "_AADSTS50058: User account identifier is not provided_." error returned from AAD in the iFrame.)

Those hints parameters can improve

[2016-06-06 20:18] jwooley commented on #98
+1

Also voting for this request. I'm trying to retrofit a site that leverages jQuery ajax requests and returns the resulting promise to callers that can then extend the success/error pipeline externally to the data request. Trying to chain this strategy within the constraints of the current adal.js implementation (1.0.9) is challenging.

[2016-06-07 07:23] ischrei opened #296 "ADAL JS invokes http calls with expired access token"
Some of our users get 401 error while calling a protected resource with the message: _"The access token expiry UTC time '5/25/2016 5:34:34 PM' is earlier than current UTC time '5/25/2016 5:39:30 PM'."_

I'm suspecting this bug may occur when the clock on the client machine isn't synced with the server's clock.
In this such cases the framework clears the resource's token from storage, and it's the

[2016-06-07 12:12] shubheksha opened #297 "Link to samples & docs in the readme is broken"
https://github.com/AzureADSamples is broken & leads to a 404.

[2016-06-07 18:15] tushargupta51 commented on #297
Thanks @shubheksha for reporting this. It's fixed now.

[2016-06-07 18:15] #297 closed

[2016-06-07 18:33] #269 closed

[2016-06-07 19:58] fgrmt opened #298 "Infinite loop and iframe creation when renewing token (RENEW_TOKEN) with Adal.js 1.0.10"
I'm currently facing an authentication issue when coming back to my Angular.js w/ Adal.js web app after a while (~ a few hours).
I open a web browser, enter the web app URL and it triggers a `RENEW_TOKEN` infinite loop.

**See attached console logs using VERBOSE mode:**
[Adal.js.1.0.10.renew-token.issue.txt](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/303430/Adal.js.1.0.1

[2016-06-07 21:38] tushargupta51 commented on #298
@fgrmt Can you try using the files here: https://github.com/AzureAD/azure-activedirectory-library-for-js/tree/release1.0.11/lib and see if you still run into the loop issue? Note that these are not release files, they will be official released with 1.0.11

[2016-06-08 00:13] tushargupta51 commented on #296
@ischrei Adal relies on the client clock when checking if the token is expired or not. It cannot know about the server clock before attaching the token to the outgoing request. It saves the expiration time based on current time and the "expiresin" value sent in the token. I don't think adal can ensure that server and client clocks are in sync.

[2016-06-08 00:39] tushargupta51 commented on #254
@arunkumaresan We plan to release the next version in couple of weeks.

@PavelPikat I am closing this issue. Let me know if you still run into the same problem, I will re-open this for discussion.

[2016-06-08 00:39] #254 closed

[2016-06-08 00:39] tushargupta51 commented on #270
I am closing this issue for now. If you still have this problem, let me know, I will re-open this.

[2016-06-08 00:39] #270 closed

[2016-06-08 00:40] tushargupta51 commented on #281
@sjaanus I am closing this issue for now. If you still experience this issue, let me know, I will re-open it.

[2016-06-08 00:44] tushargupta51 commented on #287
@abettadapur Based on an internal discussion, AAD returns an error page instead of the error in url for "common" endpoint. Since its not in the url, adal cannot retrieve that error and save it in local storage or send it to callback. This is a question for AAD team, we already have an email thread on this though there is no response yet on this.

I am closing this for now as it seems to be an AAD

[2016-06-08 00:44] #287 closed

[2016-06-08 00:48] tushargupta51 commented on #288
@hentry Closing this issue for now. If you still running into this issue, let us know, I will re-open this.

[2016-06-08 00:48] #288 closed

[2016-06-08 00:49] tushargupta51 commented on #290
@sjaanus Does the above information help you address the original issue?

[2016-06-08 01:16] #248 closed

[2016-06-08 09:41] fairmutex commented on #298
Yep Still happens

[2016-06-08 15:40] ruisilva450 commented on #290
I'm using AdalJS 1.0.8 (because 1.0.9 was causing problems with infinite loop creation of iframes with another angular app instantiation inside it causing a big mess) and I am using acquireToken inside a $interval of n minutes because I can't trust the automatic renewal (was causing problems with 401, again).
But even when I use acquireToken it operates in two ways depending of how much time is le

[2016-06-08 21:15] jeromeyackley commented on #298
We are having the same issue.

[2016-06-09 03:31] fgrmt commented on #298
@tushargupta51 Thanks for your response. As suggested, I tried using 1.0.11 but unfortunately I'm still facing the issue.

With version 1.0.11:
* **Using IE**: the error shows up in the console and execution seems to stop without going into an infinite loop. As a result, the web app is never loaded (white page).
  **See attached console logs (VERBOSE): [AdalJS-1.0.11-logs-IE.txt](https://github.co

[2016-06-09 06:33] tushargupta51 commented on #298
@fgrmt Something is triggering "views/homePage.html" to load again and again. In release1.0.11, if token renewal fails, we stop the redirect but the default page gets loaded in iframe. Maybe that is causing these infinite page loads. Do you see nested iframe creation?

[2016-06-09 15:08] AOlkar commented on #298
We haven't tried with 1.0.11 yet, but with 1.0.10 we see the same issue. We observe that initial login causes the app to cycle a few times, as well as when token expires and needs to be renewed it goes into the infinite loop with nested iframes.

[2016-06-09 15:38] nherzalla2016 commented on #285
I have the same question Does this Library support being used against ADFS

[2016-06-09 20:27] tushargupta51 commented on #201
We updated our code to use `$location.hash()` to reset the hash and also use event.PreventDefault to prevent a location change when renewing the token in iframe. That should fix this issue.

[2016-06-09 20:29] tushargupta51 commented on #268
Closing this issue for now. We need more info to investigate this. If you still running into this issue, please comment with the repro steps and any other details, we will re-open the issue.

[2016-06-09 20:29] #268 closed

[2016-06-09 20:35] tushargupta51 commented on #151
Hi everyone, there is PR: https://github.com/AzureAD/azure-activedirectory-library-for-js/pull/284 submitted by a community member: @Neil665 which adds an extensibility point to specify an html file that will be loaded in the iframe instead of loading the entire app. You can specify that path to `config.frameRedirectUri`. I will also upload a template file to our wiki, that you can use for this pu

[2016-06-09 20:39] tushargupta51 commented on #42
We have Pull Requests submitted that will address the issues mentioned here:
1. App reloading on token renewal. Please see #151 for more details.
2. Digest iterations: This issue can be caused due to multiple reasons in an angular app. One of the main reasons, adal users were hitting this was the update to location.hash using $window.location. I have updated that to use $location.hash for both htm

[2016-06-09 20:47] tushargupta51 commented on #290
@ruisilva450 I think you can take advantage of `config.expireOffsetSeconds` setting. Be default, it is 2 minutes which means, if a token is requested which is about to expire in 2 minutes, instead of returning the token, `getCachedToken` method returns null.

So, if you are using `acquireToken` method, it will first call the `getCachedToken` method to see if there is a token in the cache and if to

[2016-06-09 21:43] fgrmt commented on #298
@tushargupta51 Thanks for the clarification. I really appreciate.
Indeed, we see nested iframe creation with the infinite loop.

Today, I also had a chance to do more testing regarding this issue:
* I downgraded ADAL.JS to 1.0.7 and then our web app is working again then.
* Upgrading again to 1.0.8 or newer
Consequently, it looks like this issue is related to a change introduced in the 1.0.8 versi

[2016-06-11 18:25] tushargupta51 commented on #298
@AOlkar @fgrmt Nested iframe is a known issue. We have a potential solution for this, providing a different html that will be loaded in iframe instead of app's root page (that requires authentication in some cases).

I will update this issue with more details once the fix is available in dev branch, so that you can verify it addresses your issue as well.

[2016-06-13 23:37] rohitnarula7176 commented on #177
Hi All,
Starting with Adal version 1.0.4 , simultaneous token requests have been parallelized. Below are the two different scenarios that we handle:

1. If we send simultaneous token requests for the same resource, only one request is sent to AAD but callbacks for all the requests are registered. Whenever the request is completed, the result is sent to all the registered callbacks.

2. On the othe

[2016-06-13 23:37] #177 closed

[2016-06-14 13:20] katagaStyle commented on #291
Hi.

I set expire of both entries in local storage to 1 (simulate default expire...). After this i did a full page reload and end up in endless reloads.

[adal_log_level_3.txt](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/313974/adal_log_level_3.txt)

[2016-06-15 01:23] stuartlong opened #302 "QuotaExceededError on PRIVATE Safari window"
ADAL JS keeps hitting a QuotaExceededError when trying to do pretty much anything in a _private_ window in Safari.

Looks to be caused by trying to save data to local/sessionStorage. Can ADAL JS even work without storage support?

[2016-06-15 02:01] rolandoldengarm opened #303 "Unable to get property 'push' of undefined or null reference"
I've created a basic app with some routes, and I'm initializing the adal provider.
When opening the app, I get the following error.
[code]
I have no idea how to debug this, because there's not much in the app. The default view only contains some HTML...

I'm bootstrapping manually as it is an Office Addin, however that does not make a difference.

[2016-06-15 02:10] tushargupta51 commented on #303
@rolandoldengarm Its a known issue: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/282

This will be fixed in 1.0.11

For now, add this to your adal.init configuration:
`anonymousEndpoints: []`

Closing this as dup of #282. If you still have any issues, please comment on #282.

[2016-06-15 02:10] #303 closed

[2016-06-15 02:57] rolandoldengarm commented on #303
Thanks, that fixed it.

[2016-06-15 03:02] rolandoldengarm opened #304 "The library is not working with the new dialog framework in Office Addins?"
I'm trying to get ADAL JS working in an Angular Office Add-in, using the new Dialog framework to start the oauth flow. So, the oauth flow happens in a dialog.

What I'm experiencing, is that the oauth response (i.e. token) is not processed by my app. I've analyzed it with Fiddler, and I see the following:
- After logging in, login.microsoftonline.com responds with a HTTP/302 which includes the tok

[2016-06-15 14:14] ruisilva450 commented on #298
Any ETA for this issue?
I want to use this library for production code and this issue the main blocker. I tried to solve but since you seem to have a potential solution...
Thanks

[2016-06-15 17:52] maheshp9 commented on #302
+1

[2016-06-15 18:13] ischrei opened #305 "Sporadic invalid_state errors during login"
Hi,

Some of our customers fail to login our portal due to "Invalid_state" login error.
I claim this issue is sporadic, as I have evidences for users who got invalid_state error, but managed to login my portal successfully before and after this error.

I'm using the sessionStorage as ADAL JS's storage, and I'm suspecting sessionStorgae inconsistency, i.e. login states which aren't saved in session

[2016-06-15 19:11] dhodgin opened #306 "document the minimum required version of angular for this library"
We are currently using angular 1.2.x because we have a requirement to support IE8 for a little while longer.

I realize integrating AAD into our app for SSO won't work with IE8 but we still plan to support IE8 with our own app login and just disable AAD SSO for IE8 users (degraded experience).

If this library requires angular 1.3.x+ it would be nice to know and I will have to take that to my busi

[2016-06-15 19:18] dhodgin commented on #282
when i use 1.0.10 in a sandbox app i don't have to add anonymousEndpoints: [] to my init but when i dropped adal-angular into my business application i get errors about it being undefined and was forced to add it to the init call. I am using the exact same version in both applications. What's the scoop on this and is this landing in 1.0.11?

[2016-06-15 21:12] tushargupta51 commented on #282
@dhodgin This will be fixed in 1.0.11 so you don't have to specify default in your app.

[2016-06-15 21:25] tushargupta51 commented on #285
@nherzalla2016 @MarkDordoy-JustEat Apologies for the delay. We have informed ADFS team about this issue and they are working on a sample for this. Either I or someone from ADFS will update this space soon.

[2016-06-15 21:27] tushargupta51 commented on #276
Apologies for the delay. We have informed ADFS team about this issue and they are working on a sample for demonstrating how adal-Js can be used with ADFS. Either I or someone from ADFS will update this space soon.

@darrenparkinson Have a look at this sample here: https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-dotnet-webapi. It uses plain adal JS (no angular wrapper).

[2016-06-17 00:10] tushargupta51 commented on #302
@stuartlong I haven't tried repro'ing it yet. But AdalJS require storage to work. Default is session storage.

[2016-06-17 00:28] tushargupta51 commented on #304
@rolandoldengarm Is the app using adalJs provides full browser experience or does it load in a hosted browser on a native client?

[2016-06-17 00:30] tushargupta51 commented on #291
@katagaStyle Can you try using the scripts in dev branch? One of the errors in the log is related to "config" object not returned in rejection, which we fixed in dev branch. Also, we have handled some of the commonly occurring infinite loop issues there.

[2016-06-17 02:45] rolandoldengarm commented on #304
It is an Office Add-in, which essentially is a website hosted in a webview component (rendered by Internet Explorer).

[2016-06-17 05:24] LokeshBoran commented on #104
Hello, @levalencia ,
I got same issue this occurs when adal.expiration.key is expired then this goes into infinite loop. And ADAL not logging out the application.

If you find the solution please tell me.

[2016-06-17 08:31] MrunalShidurkar opened #307 "Redirect url"
What should be the redirect url if i want to it integrate with SharePoint hosted app. l. For SharePoint hosted app every time the app deployed the url will be changed. How should we make redirect url dynamic so that for every app url it will work

[2016-06-17 12:31] ischrei commented on #296
Hi,
Of course adal can't sync the clocks, but maybe a heuristic may help in this case.
If i'm not mistaking, AAD generate access tokens with expiration time of 1 hour (better of course if you verify it in your side). So ADAL can take the minimum value from the expiration time according to the expiresin value, OR 60 minutes. For the safe side, I would even say 55 minutes.

Theoretically, if there i

[2016-06-17 15:31] ruisilva450 opened #308 "Infinite redirect loop when entering 1.0.11"
For start, in 1.0.8 I'm not having any problems or errors about this issue
But knowing that 1.0.8 has issues with token renewal, I tried to upgrade for 1.0.11 release branch.
Now when I enter the webapp, it starts an infinite redirect loop that triggers several
`10 $digest() iterations reached. Aborting!
Watchers fired in the last 5 iterations: []`
and crashes the browser.
Can't do anything from h

[2016-06-17 19:49] tushargupta51 commented on #296
Not sure, I understand this. The access tokens have 1 hr expiration time, are you suggesting to use a lower value than what's present in expires in property? For example, if token will expire at 1:00 PM, save expiration as 12:55 PM. There is a setting on config `expireOffsetSeconds` which does a similar thing. Default if 120 seconds, which means if a token is about to expire in 2 minutes, it will

[2016-06-18 00:39] stuarthallows commented on #104
I was using html 5 mode and what fixed it for me was explicitly setting the hash prefix, i.e.

    $locationProvider.html5Mode(true).hashPrefix('!');

I had assumed that if the prefix was not set it would default to '!' so I'd left it off. See point 3 [here](https://github.com/AzureAD/azure-activedirectory-library-for-js).

[2016-06-20 08:24] jonaseriksson84 commented on #259
@neil665 This issue is causing some major headaches for us with many unnecessary xhr requests and what not. Your fix looks beautiful and we want to try it out asap, but having a hard time figuring out more exactly what adal-settings.js and adal-configure.js contain, could you provide an example?

[2016-06-20 10:07] ischrei commented on #296
I agree I can use the expireOffsetSeconds setting. However a more generic solution in the framework sounds better. As i said, I have evidences for users who tried to use the token even after 1 hour and ~6 minutes.. (Maybe you can change the default value to more than 2 minutes?)
Your call.

[2016-06-20 15:26] dhodgin opened #309 "clean up comments in adal-angular.js"
There are a few typos in the comments, some variables that are referred to that are not matched in casing, and an invalid comment that no longer applies that make reading the code a bit confusing.

submitting a PR in a few minutes

[2016-06-20 16:35] hectorjjb commented on #194
+ 1

[2016-06-20 18:47] dhodgin commented on #308
I get the same problem. Seems to be a few cases where the library goes in an endless loop. this is the same error i get at the end of the loop between cycles. My application has our own traditional form of login and we are trying to bolt on AAD login as a second form of login. We only use a requestError interceptor to handle 401's and pop up a login box. adal-angular is a little different using bo

[2016-06-21 07:53] Neil665 commented on #259
@jonaseriksson84
adal-settings.js and adal-configure.js have the structure shown below, but note that:
- the reason for them existing is just to set up the call to adalProvider.init()
- they are shared between our 'real' app and this iframe dummy app, so their design is influenced by various design considerations in our 'real' app and is thus more convoluted than if we were only using them in this

[2016-06-21 09:58] ruisilva450 commented on #308
I have this problem since I updated the AdalJS to 1.0.11. I can't get my app to work in any cases. Just have to rollback to 1.0.8 for now and face the renewal token issue

[2016-06-21 19:29] tushargupta51 opened #312 "Generate new correlation id for each request sent to AAD"
Currently, adal uses the same correlation id for requests sent to AAD. It should generate a new correlation id every time we renew id_token or access_token, unless user set their own correlation id.

[2016-06-21 22:52] tushargupta51 commented on #302
I was able to repro it. Unfortunately, Safari does not allow to write anything in local/session storage when running in private window. Adal requires write access to local/session storage to function. We recommend other browsers like Chrome, Firefox if you want to use private window.

[2016-06-21 23:35] tushargupta51 opened #313 "_adal.CONSTANTS.STORAGE.START_PAGE is redundant"
`adal-angular.js.loginHandler()` method saves the current location into `_adal.CONSTANTS.STORAGE.START_PAGE` constant before initializing the login process. `adal.js.login()` method also saves the current location into `_adal.CONSTANTS.STORAGE.LOGIN_REQUEST`.

There is no need to save the start page location in both adal and angular level. Angular wrapper should use the constant set by underlying

[2016-06-22 01:37] maheshp9 commented on #302
Challenge with that is my app users don't understand all that difference and it is very hard to surface that error.

Sent from my iPhone

[2016-06-22 02:23] Neil665 opened #316 "Routing continues to page even after being directed to login"
When adal-angular.js handles routing to a secured page, it passes control off to the loginHandler method, but as currently implemented it also lets the navigation to that page continue at the same time. This means that the page starts to get loaded when the user is not yet logged in. It seems to me that the preventDefault mechanism should be used by adding a single line as indicated below.

Is thi

[2016-06-22 19:29] ischrei opened #318 "App is stuck and there is no indication from ADAL when AAD returns an error page within the iFrame"
In some cases, AAD may return an error in the iFrame as an error page and not by redirecting back to the app with the #error parameter.
Is those cases, the app is stuck (in my case during loading, in other cases during http calls). The least ADAL can  do is to identify those cases and send an Angular event so the app will be able to catch it and respond accordingly.

[2016-06-22 22:36] yiil opened #319 "Running into MFA issues due to inability to specify resource in /authorize"
When using this library for a SPA app in a MFA-enabled tenant that has conditional access enabled for MS Graph, all users who sign in will get the following error:
Error description:AADSTS50079: The user is required to use multi-factor authentication.
This is resolved by adding a &resource=00000003-0000-0000-c000-000000000000 into first authorize request for the id_token. However, it doesn't look

[2016-06-23 05:18] tushargupta51 commented on #318
Adal JS implements implicit flow and in this flow, authorization server should always return the response (error or token) as a fragment: https://tools.ietf.org/html/rfc6749#section-4.2.2.1. If AAD is not returning the error as a fragment, it sounds like a bug in server.

[2016-06-23 05:26] tushargupta51 commented on #316
@Neil665 Navigation to the page should not happen as adal interceptor rejects the request if login is in process: https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/master/lib/adal-angular.js#L347. But I think it might be better to prevent the route/state change here itself, as its going to be rejected later by interceptor anyways. I will see if I can include this change to the P

[2016-06-23 05:32] tushargupta51 commented on #308
@ruisilva450 Where are you picking the 1.0.11 bits from? dev branch?

Could you provide some details about the error:
1. Are you using ui-router or ng-route?
2. Can you share routing configuration?
3. On which browser you are running into loop?
4. With the logging enabled, what are the messages that keep getting logged when the app runs into the loop? I see the stack: undefined message, that does

[2016-06-23 05:58] tushargupta51 commented on #305
@ischrei Do you have any data on which browsers customer are hitting this issue? If browser is inconsistently deleting the session storage, then its not just the auth states but other values like "login start page", "nonce", "session.state", if cleared from sessionStorage can cause different issues. I have had an issue reported with Edge, where it was deleting the "login.request" inconsistently re

[2016-06-23 06:49] tushargupta51 commented on #306
@dhodgin Our samples are written against 1.2.25/26 version of angular. This library works with 1.2.x version of angular. As Angular 2.0 is very different than angular 1.0, this library will not work with angular 2.0 (#194).

[2016-06-23 10:10] ruisilva450 commented on #308
1. ui-router
2.
[code]
3. Opera, Chrome, Edge, IE
4. Can't get much of the logs. Any of them get to the console because the browser crashes before that.

[2016-06-23 10:11] ischrei commented on #318
O.k. but anyhow I think ADAL JS should at least identify those cases and raise an event\ error trace.
And I guess it should be escalated to the AAD team to resolve their bug.

[2016-06-23 10:11] #318 closed

[2016-06-23 10:12] ruisilva450 commented on #308
You really should update the docs because this isn't mentioned anywhere.

[2016-06-23 18:30] tushargupta51 commented on #308
@ruisilva450 What is your otherwise route configured to? The anonymousEndpoints should only include the endpoints for which you do not require user authentication. Adding "app/" in that list means that any request that is sent to that url or a child url will succeed without a logged in user. This does not seem to be applicable for templateUrl: "/app/XPTO/Views/master.html" as the associated route

[2016-06-23 18:35] #309 closed

[2016-06-23 21:49] Jasper-Duan opened #321 "$window.location assignment in adal-angular.js overrides redirect to start_page"
In the adal-angular.js file, assignment of window.location triggers a page redirect. Due to this, the page fails to land on the stored start_page.

Detail:
The webpage briefly (<100ms) redirects to the correct start_page, but then it redirects to our homepage.
IE: "site.com/home/xyz?123" -> {authentication} -> "site.com/home/xyz?123" -> "site.com/home/"

For the time being, my team has removed $wi

[2016-06-24 01:03] tushargupta51 commented on #321
@Jasper-Duan I am going to remove the hash reset code in an upcoming PR. This will be fixed then.

[2016-06-24 01:25] tushargupta51 commented on #250
@stuartlong I am fixing this issue in an open PR and have a follow-up question. How do you know that ERR_NETWORK_SUSPENDED error has happened? Where do you see that error? I am wondering if adal can look for this error somewhere and call the callback, instead of having a timeout.

[2016-06-24 02:13] tushargupta51 commented on #308
@ruisilva450 If the "otherwise" state is a protected state, I think you might be hitting this issue: https://github.com/angular-ui/ui-router/issues/2238 or https://github.com/angular-ui/ui-router/issues/600. Both are same actually, 2238 is the condensed version of 600. Resolution is to define a state with "/".

Something like this:

    $stateProvider.state("/", {
            url: "/",

[2016-06-24 07:02] tushargupta51 commented on #319
@yiil If I understood correctly, adding "&resource=00000003-0000-0000-c000-000000000000" in the login request prompts user for MFA, right?

If so, you can try something like this:
config.displayCall(urlNavigate): you can set this property to a function. It will take over the login redirect. adal passes the navigateUrl that it prepared to this method.

    config.display = function(urlNavigate) {

[2016-06-24 08:40] fairmutex commented on #42
I have tried all the work arounds suggested here and nothing is working. Can someone put together a sample app that works? It will help me and new comers to the problem as well.

[2016-06-24 09:33] mpawelski opened #323 "AADSTS50058: A silent sign-in request was sent but no user is signed in."
Hi,
I have simple proof of concept webpage that uses adal.js for sso with azure ad. Everything works fine but I noticed that when I log in, close page, and then come back after very long time I get this error when calling  `AuthenticationContext.acquireToken`:

Of course when I log out and log in everything works fine.
I'm using `localStorage` for `cacheLocation`.
I open the site in Chrome and Fir

[2016-06-24 14:22] fairmutex commented on #259
Can someone create a sample of this for mere mortals?

[2016-06-24 16:54] rohitnarula7176 opened #324 "Callback registerd for LOGIN_REQUEST in handleWindowCallback but never called"
In the HandleWindowCallback function, a callback is registered for the case when requestInfo,requestType is LOGIN_REQUEST or RENEW_TOKEN but it is called only in the case of RENEW_TOKEN.

[2016-06-24 18:06] tushargupta51 commented on #323
@mpawelski Do you check the "Keep Me Signed In" checkbox when logging in the first time?

[2016-06-24 18:35] tushargupta51 commented on #259
@fairmutex I have added a gist here with a possible solution: https://gist.github.com/tushargupta51/78ce0b6bce998f6851abd02d91eb3a95. This links to another gist that describe a different solution. Some explanation can be found here: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs

[2016-06-24 21:02] vibronet commented on #304
Hey Rolando,
The response you see in your screenshot is the correct behavior expected of ADAL JS.
ADAL JS is not designed to work inside a WebView - rather, it is meant to work with apps factored as single page applications, loaded in a full browser. The token is meant to be returned to one URL on your app, and if the app isn't actually being served by web server, that mechanism won't work.
For th

[2016-06-24 21:02] #304 closed

[2016-06-26 21:34] tushargupta51 opened #326 "Loading resources for routes that do not require authentication"
Be default, adal Js secure all calls to app's backend and requires a logged in user and a token to load a resource e.g. html file. If a route is configured as non-protected, i.e., it does not have requireADLogin set to true, loading the corresponding templates should not require a logged in user.

Currently, adal looks into the `route.templateUrl` property and adds it to `anonymousEndpoints` array

[2016-06-27 10:20] ruisilva450 commented on #308
Sorry for the delay.
In the otherwise I have:
`$urlRouterProvider.otherwise('/' + window.localStorage["tenantId"] + '/app/home');`
that leads to the home page of a given tenant (of a multi-tenant app)
I have a sort of landing first page that is the login page.

[2016-06-27 22:01] yiil commented on #319
Cool! This was able to add the 'resource' param to the login. However, it looks like MFA is still not getting triggered, even with this added. I'll follow up and file an issue with that the team that owns that experience, as it looks like this is not related to the adal.js. Thanks!

[2016-06-27 22:01] #319 closed

[2016-06-28 01:00] tushargupta51 commented on #308
@ruisilva450 I would need to look at the logs to debug this further. You can try something like this to capture logs:
1. Login with `var anonymousEndpoints = ["app/"];` configured.
2. Put breakpoints in the adal scripts or in your app.
3. Remove the `var anonymousEndpoints = ["app/"];` and re-login.
4. This should stop at the breakpoints you set.

[2016-06-28 09:10] ajaysingh77 opened #331 "Not Working With Angular2"
I tried to use it with Angullar2 apps but facing problem in integration. Any plan for providing Angular2 version of this library? In the mean time if you can point me to the resource which I can use to integrate Azure AD with my Angular2 SPA app wth Asp.net Web Api2 backend.

[2016-06-28 09:24] ajaysingh77 commented on #331
Dup #194

[2016-06-28 09:24] #331 closed

[2016-06-29 15:54] dhodgin opened #333 "When using multiple forms of authenitcation, the interceptor can break everything"
I have a use case that is probably common among other users who would implement AAD SSO.

We have a traditional login system for our existing users where they have a username and password for their account in our system. We use our own LocalStrategy (passport in node.js) on the server side with local credentials for those users.

We are adding in Azure AD single sign on for companies we choose to

[2016-06-29 17:29] dhodgin commented on #333
after closer inspection I realized just changing the reject to resolve would let the templates load and stop some requests from being dropped but it would still break other things. If I comment the entire else block that handles renewing the token I can also complete requests and load templates and make xhr data requests and I can also login with my standard form of authentication. If i only chang

[2016-06-29 18:32] tushargupta51 commented on #333
@dhodgin You can handle this in two ways:
1. Set `anonymousEndpoints=[ "/"]` in adal init (requires 1.0.10 or later). This will make interceptor skip checking all the requests send to backend. I still have to write a description of this property somewhere. Interceptor skips checking all urls (and child urls) specified in this property. For example. If you set it to [ "App/Views/" ]. It will skip c

[2016-06-29 20:14] dhodgin commented on #333
@tushargupta51 this is really helpful. just as i saw your response i was looking into some of the broadcasted events to see if that might provide a solution.

I think setting the anon endpoints to "/" would be similar to just not passing $httpProvider to the init call wouldn't it? by adding "/" to the anon endpoints i suppose the request interceptor will be skipped but the responseError intercepto

[2016-06-29 20:27] dhodgin commented on #333
hmm. I went looking at the code closer and realized getResourceForEndpoint() is what handles deciding if the url requested should return a resource and try to send a token. if my anon endpoints is "/" then resource returned will always be null

so i can't make my own request interceptor that uses `getResourceForEndpoint` and `getCachedToken` to supply the token because a null resource will be retu

[2016-06-29 23:39] stuartlong commented on #302
I agree, I have no issues personally with not using Safari. But I definitely have users who do use Safari. Do I need to start informing them to use something else for their private browsing needs or will adal.js eventually support them?

[2016-06-30 00:12] gdagitrep opened #334 "Logging using a popup window. Unable to get token values from authcontext"
I am trying to open the login window in a popup. This is done in the config.displayCall function.The login is succesful, but when I make a call to authContext.acquireToken (...), I am getting error: authcontext is not set.

Here are code excerpts for details:
[code]
The `dummypage` is an empty page that I want the popup to get redirected to after login.

Problem: `AuthenticationContext.prototype.h

[2016-06-30 01:28] tushargupta51 commented on #302
@maheshp9 @stuartlong Its not really something that adal js can support, it requires write access to storage in order to operate and Safari private browsing does not allow to write anything to storage. Informing users to use other browsers for private browsing is the way to go.

[2016-06-30 08:13] estene opened #335 "Adal.js and Azure Signing Key Rollover"
I know Adal.js doesn't validate the token, but relies on the webapi for this, but :
As I can't find any official documentation on this, I'm posting it here just to be sure.

Is this library in any way affected by the Azure Signing Key Rollover : https://azure.microsoft.com/en-us/documentation/articles/active-directory-signing-key-rollover/ ?

[2016-06-30 08:22] estene commented on #335
I figure I should have posted this on stackoverflow instead, so here is the link for anyone interested: http://stackoverflow.com/questions/38117629/adal-js-and-azure-signing-key-rollover

[2016-06-30 08:43] katagaStyle opened #336 "401 causes loop"
Hi.

We use adal for the o365 video api. When a user has no permission for a resource then a 401 unauthorized will be returned. This causes an endless loop.

INFO: Getting error in the response ...
INFO: Getting error in the response ...
--> LOOP

A quick workaround is to change status code of rejection on video api from 401 to e.g. 412.

Any idea to sort this issue out or why this happens?

Thank

[2016-06-30 09:27] tushargupta51 commented on #335
@estene As you said, adal js relies on web apis for token validation. If the web api is created using Visual Studio and uses Microsoft authored middleware for token validation, key rollover is handled by the token validation library that these APIs internally use.

[2016-06-30 12:10] yoerlemans commented on #268
I run into the same issue
I joined a project with an existing setup, we use templateCache and adal, we first used 1.0.8 and when we upgraded to 1.0.10 ng include breaks
When ng-include tries to retrieve the template from the template cached it uses the httpService and when doing this, the adal interceptor fires, first I thought this was because of a change in angular and the use of the template ca

[2016-06-30 16:01] tushargupta51 commented on #268
@yoerlemans This is happening because you are trying to load some pages before user authentication. You can add those urls to `anonymousEndpoints: [ ]` array and that should fix the error. If you can share your router configuration and the path of html that is giving the error, I can help further.

[2016-06-30 22:56] #306 closed

[2016-07-01 11:33] vukdavid commented on #298
We are facing the same issue. Any ETA please?

[2016-07-01 14:06] tushargupta51 commented on #298
@ruisilva450 @fgrmt @vukdavid Can you guys try one of the solutions listed here: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs#q1-my-app-is-re-loading-every-time-adal-renews-a-token. Please use the bits in dev branch to test if it resolves your issue. Current plan is to release 1.0.11 in second week of july.

[2016-07-04 13:40] ramarajusrinivas opened #338 "Perform Azure Active directory authentication using ADAL. js SharePoint Hosted app"
I need to implement AAD authentication using Adal.js in Sharepoint hosted app that is deployed in SPO site.  SharePoint removes the user token that is added on the header while making cross domain calls. can you suggest if the approach is correct  or this functionality is feasible or not. Quick help is very useful.

[2016-07-05 08:59] nicoschmitt opened #339 "We need a way to modify endpoints after init"
In a Office 365 world using multi-tenant, we can't know in advance the sharepoint tenant, or the Skype pool the user will need to access.
So we need to be able to add dynamically url to endpoints after login.

This is what I do for now, but it's not very elegant.

[code]

[2016-07-06 08:41] mpawelski commented on #323
@tushargupta51 Sorry for not answering that long.

I don't check the "Keep Me Signed In" button. But I don't want to force my users to do it. And even when I don't check it and then close the browser and open the browser again, I am still logged in (I can do authorized API calls).

So my question is:
**How to really check if user is logged in** (because authContext.getCachedUser() seems to be unre

[2016-07-06 16:58] RandalliLama opened #340 "Add API that allows apps to report app name and version for telemetry."
It would be helpful to be able to identify which apps have which version of ADAL so that we can identify apps that should be updated.

Do not implement this until we have agreement on the shape of the public API changes.

[2016-07-07 02:00] tushargupta51 commented on #323
@mpawelski When user logs in, adal saves the id_token in browser cache. This token expires in 1 hr. Since you are using localStorage, this cache persists when you re-open the browser. So, if you are re-opening the browser within 1 hr of logging in, everything will work fine, as you noticed, since the cached token is valid. But if you re-open the browser after 1 hr, the cached token is expired and

[2016-07-07 02:05] tushargupta51 commented on #338
@ramarajusrinivas Can you provide more details as to what functionality you are referring to? If SPO removes the token from the header that adal adds when making cross domain calls, then you will get a 401 error I think.

[2016-07-07 02:10] tushargupta51 commented on #336
@katagaStyle Can you provide verbose level logs?

[2016-07-07 02:13] tushargupta51 commented on #290
Closing for now. Let me know if this is still an issue, I will re-open it.

[2016-07-07 02:13] #290 closed

[2016-07-07 02:14] tushargupta51 commented on #291
@katagaStyle Did you get a chance to try the bits in "dev" branch? Let me know if this is still and issue.

[2016-07-07 02:15] #302 closed

[2016-07-07 02:18] tushargupta51 commented on #307
@MrunalShidurkar Sorry for the delay in the response. Redirect url is an optional property and by default, adal sets the root address of the app as redirect uri. Does it work for you if you don't set the redirect uri?

[2016-07-07 02:24] tushargupta51 commented on #335
Closing this issue as web apis should take care of key rollover as token validation happens there.

[2016-07-07 02:24] #335 closed

[2016-07-07 23:37] xuezhai commented on #232
can release the bit with this fix? we hit this issue from our app, and we need this fix asap, thanks

[2016-07-08 06:49] nicoschmitt commented on #339
Digging up into the code, I've found that config is exposed by the service.
So this is nicer:
`adalAuthenticationService.config.endpoints[url] = url;`

Maybe exposing that in the doc would be good.

[2016-07-08 09:11] mpawelski commented on #323
@tushargupta51 Thank you for you answer! I have a question just be sure:

So the recommended way of checking at beginning of application if user is logged in is to check if return values of `AuthenticationContext.getCachedUser();` AND `AuthenticationContext.getCachedToken(clientId)` are not null?
Is it enough or should I also call acquireToken and check if it won't fail?

I just want to be sure wh

[2016-07-11 11:58] pauldendulk commented on #285
Same question here

[2016-07-11 22:29] jjalfaro commented on #42
Hi, I'm also having same issues here I already try all the possible sugestions that I found and nothing works. Someone was able to male this work fine, that can give me some hints to see if I can make it work.

thanks!

[2016-07-12 01:59] ChrisSchaller commented on #323
When using the angular wrapper you can legitimately get the AADSTS50058 error exactly as the error description states. For me I have *.microsoftonline.com set as a trusted site, but when debugging locally localhost is not a trusted site, so I added my local host path for this app into trusted sites and it all works again. Be mindful that it is not uncommon for a user to set trust for core MS servi

[2016-07-12 02:14] ChrisSchaller opened #342 "v1.0.10 introduces bug 'Unable to get property 'push' of undefined or null reference' re: config.anonymousEndpoints"
commit d0350f393f42a82308f46478d52aa34f2cefa05d introduces a new error:

Exception was thrown at line 2, column 3629 in https://secure.aadcdn.microsoftonline-p.com/lib/1.0.10/js/adal-angular.min.js
0x800a138f - JavaScript runtime error: Unable to get property 'push' of undefined or null reference

The issue is that unless the developer manually creates the anonymousEndpoints array in the provider

[2016-07-12 11:31] fairmutex commented on #283
Do not go down this path. Component router is Deprecated https://docs.angularjs.org/guide/component-router

[2016-07-13 14:49] max-buecker commented on #342
This isn't even a bug. This is fatal disassembly of the library. It's not usable. How can this be a full release. This has not been tested at all.

[2016-07-13 16:28] tushargupta51 commented on #339
@nicoschmitt We don't have API docs at the moment but will keep this mind if we get to that. Closing this issue as it seems you got the right property to use for this purpose.

[2016-07-13 16:28] #339 closed

[2016-07-13 16:31] tushargupta51 commented on #42
@jjalfaro have you tried this: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs#q2-my-app-gets-into-an-infinite-loop-sometimes-leading-to-digest-iterations-error

[2016-07-13 16:35] tushargupta51 commented on #342
@ChrisSchaller @max-buecker This is a known issue: #282  and will be fixed in next release: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/282.

[2016-07-13 22:47] jjalfaro commented on #42
Yes I try it out it is giving me the same error, this is if I run it on IE
11, if I run it on Chrome it blocks completely the browser

[image: Inline image 1]

On Wed, Jul 13, 2016 at 12:31 PM, tushar gupta <notifications@github.com>
wrote:

[2016-07-14 13:09] max-buecker opened #345 "anonymousEndpoints feature with interceptor enabled fails with loading 2 templateUrls at once"
![deadlock](https://cloud.githubusercontent.com/assets/19929742/16840498/5242109a-49d5-11e6-8108-45c9c864080f.png)
Running adal and adal-angular with ui-router introduces a problem.
When states have templateUrls defined, and you jump from level 1 state, into a nested level 3 state, two templates need to be loaded first. In my case `/host-application/module-container.html` and `/modules/vacation/vi

[2016-07-15 18:13] tushargupta51 commented on #345
@max-buecker We are aware that the anonymousEndpoints solution is not complete as in it might not work well with nested states or template properties other than templateUrl: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/326. For now, you can add /host-application/module-container.html to `anonymousEndpoints` in init method to fix this issue.

[2016-07-18 10:03] evlo commented on #323
I'm not using angular wrapper, i'm using authContext.getCachedUser(); anad i'm getting this error, both chrome and IE.

[2016-07-19 13:46] frobozz67 opened #348 "ADAL JS supporting client_credentials grant type?"
Can/will ADAL JS ever support grant type "client_credentials"? We have use cases where a Web App (Javascript) needs to call a Web API but use an application identity not a user identity. A user of the Web App does not login. The Web API is only checking that the request is from the Application Identity using an access token. The Web App would be using AJAX/javascript  calls to call the Web API. So

[2016-07-20 12:40] tushargupta51 commented on #348
Adal Js cannot support "client_credentials" grant_type as that grant_type is for confidential clients who can keep the client secrets secure whereas adal Js is meant for browser based public clients. You might want to use your web app's backend to make calls to the web api with the client credentials.

[2016-07-20 14:34] CameronDwyer commented on #194
+1 The new Angular 2 router is now done (in RC4), does that mean we might see some progress on this soon?

[2016-07-20 19:40] #321 closed

[2016-07-20 19:42] tushargupta51 commented on #316
@Neil665 We decided to not prevent the navigation at this stage as it does not push any notification to user from adal's side if they want to take any action. When the request is rejected in interceptor, adal broadcasts 'adal:errorResponse' event that users can listen and take any action if needed.

[2016-07-20 19:42] #316 closed

[2016-07-20 19:43] #313 closed

[2016-07-20 19:43] #312 closed

[2016-07-20 19:50] tushargupta51 commented on #293
@ischrei I am closing this issue as we have fixed the case where we were sending email as hint parameters. I know we have open discussions going on internally for a longer term fix but I would prefer to close this specific issue you ran into.

[2016-07-20 19:50] #293 closed

[2016-07-20 19:50] #282 closed

[2016-07-20 19:50] #278 closed

[2016-07-20 19:51] #250 closed

[2016-07-20 19:51] tushargupta51 commented on #232
@xuezhai The bits are released now.

[2016-07-20 19:51] #232 closed

[2016-07-20 19:51] #201 closed

[2016-07-20 19:54] #151 closed

[2016-07-20 19:54] tushargupta51 commented on #192
We have released 1.0.11 with fixes to some of the digest iterations issue. Please use 1.0.11 and have a look here if you are still running into this issue: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs#q2-my-app-gets-into-an-infinite-loop-sometimes-leading-to-digest-iterations-error

[2016-07-20 19:54] #192 closed

[2016-07-20 19:55] #130 closed

[2016-07-20 19:55] tushargupta51 commented on #94
This issue occurs because of nested iframes. We have released 1.0.11 with the fix. Please use those bits have a look here: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs#q4-i-get-this-error-refused-to-display--in-a-frame-because-it-set-x-frame-options-to-deny

[2016-07-20 19:55] #94 closed

[2016-07-20 19:58] tushargupta51 commented on #42
We have released 1.0.11 with fixes to some of the digest iterations issue. Please use 1.0.11 and have a look here if you are still running into this issue: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs#q2-my-app-gets-into-an-infinite-loop-sometimes-leading-to-digest-iterations-error

@jjalfaro I am closing this issue for now but feel free to open a new issue with the de

[2016-07-20 19:58] #42 closed

[2016-07-20 20:00] tushargupta51 commented on #145
We have released 1.0.11 with fixes to some of the digest iterations issue. Please use 1.0.11 and have a look here if you are still running into this issue: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs#q2-my-app-gets-into-an-infinite-loop-sometimes-leading-to-digest-iterations-error. Let us know if you still run into any issues.

[2016-07-20 20:00] #145 closed

[2016-07-20 20:01] tushargupta51 commented on #172
We removed that code in 1.0.11.

[2016-07-20 20:01] #172 closed

[2016-07-20 20:07] tushargupta51 commented on #104
We have released 1.0.11 with fixes to some of the ui-router issues. Please use 1.0.11 and have a look here if you are still running into this issue: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs

[2016-07-20 20:07] #104 closed

[2016-07-20 20:08] #115 closed

[2016-07-20 20:18] tushargupta51 commented on #296
Closing this issue as the 2 minutes default is fine and is configurable if user wants to do so.

[2016-07-20 20:18] #296 closed

[2016-07-20 20:19] tushargupta51 commented on #298
We have released 1.0.11. Please use those bits and have a look here: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs#q1-my-app-is-re-loading-every-time-adal-renews-a-token. Let me know if you still run into any issues.

[2016-07-20 20:19] #298 closed

[2016-07-20 20:19] #305 closed

[2016-07-20 20:21] tushargupta51 commented on #308
Closing this for now. Let me know if you still run into any issues with 1.0.11, I will re-open this. Please read the https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs and trusted zones remarks (if using IE/Edge): https://github.com/AzureAD/azure-activedirectory-library-for-js#trusted-site-settings-in-ie

[2016-07-20 20:21] #308 closed

[2016-07-20 20:23] tushargupta51 commented on #334
Closing this as dup of #60

[2016-07-20 20:23] #334 closed

[2016-07-20 20:25] #336 closed

[2016-07-20 20:25] tushargupta51 commented on #336
Let us know if you have more info, I will reopen the issue for discussion.

[2016-07-20 20:26] tushargupta51 commented on #338
Let us know if you have more info, I will reopen the issue for discussion.

[2016-07-20 20:26] #338 closed

[2016-07-20 20:30] tushargupta51 commented on #291
Let us know when you have more info. I will reopen the issue for discussion. Thanks.

[2016-07-20 20:42] tushargupta51 commented on #345
@max-buecker This is slated for our next release 1.0.12. We don't have any timelines to share yet. Will update once we have a date.

[2016-07-20 20:55] tushargupta51 commented on #342
This is fixed in 1.0.11.

[2016-07-20 20:55] #342 closed

[2016-07-20 21:04] tushargupta51 commented on #323
@mpawelski @evlo Ensuring the `getCachedToken` returns a non null token should be a good indicator of user is still logged in. But please note that if you re-open the browser within 1 hr, `getCachedToken` will return a valid token, but any `acquireToken` call will still fail as there is no AAD cookie to use to renew the token. So, making an `acquireToken` call, and checking for the error code in t

[2016-07-20 22:01] tushargupta51 commented on #307
@MrunalShidurkar Let us know whenever you have more info or if you are still running into this issue, I will reopen it for further discussion. Thanks.

[2016-07-20 22:01] #307 closed

[2016-07-20 22:03] tushargupta51 commented on #333
@dhodgin Are you still having any issues? It seems, given your app model and requirement if skipping the request interceptor, you might be better off hooking up your own interceptor. In that case, you wouldn't need to set `anonymousEndpoints` to "/".

[2016-07-21 06:45] evlo commented on #323
I just updated to 1.0.11 on user testing environment, it seems that there is only one user who end ends in the login loop, he uses IE Edge (but site is Sharepoint online (o365), so it runs in IE10 compatibility).
I tried to open developer console(F12) on his station and IE just crashes, without any error, so i guess his client is somehow broken (I don't have any issues in IE Edge). Event tough he

[2016-07-21 14:11] max-buecker opened #353 "oauth2/logout?post_logout_redirect_uri="someUri" not working"
I'm using adal.js in my UWP/JS app.
When I use the `adalService.logout()` method, I get signed out, but stay on the screen, telling me something like "Sou've successfully signed out - We advise you to close all browser windows now". It's not the exact text, since I get the localized/german version of it.

Problem being now, that this is the location of the main view port, and navigation is blocked

[2016-07-21 14:19] dhodgin commented on #333
@tushargupta51 my solution has been to just leave out the adal interceptors all together and augment our own responseError interceptor. Our model is to be reactive to a 401 from the server and prompt the user with login, and retry the request rather than be proactive and hijack every request and prompt for authentication before making the request since we can have two methods of authentication. We

[2016-07-21 15:55] tushargupta51 commented on #333
@dhodgin Glad you got it sorted out. I will close this ticket now.

[2016-07-21 15:55] #333 closed

[2016-07-21 22:48] tushargupta51 opened #354 "Cleanup unused variables"
In adal.js, we have few unused variables and constants defined. Remove those if they are not used. Below are the ones that I could find:

1. this.popUp in constructor
2. this.frameCallInProgress in login()
3. ERR_MESSAGES.NO_TOKEN: 'User is not authorized': This constant is not used. Also, evaluate if we want to define error messages as constants at the top or continue defining them as we use them

[2016-07-22 22:34] tushargupta51 commented on #353
@max-buecker I tested this on my local app. This is what the log-out uri looks like: `GET /tushartest.onmicrosoft.com/oauth2/logout?post_logout_redirect_uri=http%3A%2F%2Flocalhost%3A44327%2F HTTP/1.1` and the script inside the response AAD page has this

    function WriteSignoutFailedCookie() {

        document.cookie = "SOS" + "=1; path=/";
    }

    function InitiatorRedirect() {

[2016-07-25 07:18] max-buecker commented on #353
I'm within an edge browser of a UWP Windows 10 app. And the console says, that navigation history is disabled or something. That shouldn't matter however, since I'm providing the post_logout_redirect_uri just like you do. The request header to the logout page looks something like the following:
![image](https://cloud.githubusercontent.com/assets/19929742/17093240/5e5a3eb8-5248-11e6-9980-b45c49e94f

[2016-07-25 07:42] sjaanus commented on #281
![logs](https://cloud.githubusercontent.com/assets/964450/17093821/34a7be40-5254-11e6-9b7d-451444a25c92.png)

Init is here:

[code]

This happens also in the 1.0.11 version. If more info is needed, I will provide everything needed.

[2016-07-25 17:24] tushargupta51 commented on #281
@sjaanus I think the above logs are logged after user was logged in. Can you provide the logs for the login flow also (everything that happens when you enter the url in the browser)? Also, which browser are you seeing this issue? Only one or you have tested this across multiple browsers? I found this for Chrome: http://stackoverflow.com/questions/34143331/chrome-authentication-required-the-server-

[2016-07-26 09:01] sjaanus commented on #281
This is chrome, this is the login flow
![2016-07-26_11h56_42](https://cloud.githubusercontent.com/assets/964450/17132049/ba662cae-5328-11e6-8212-10540f37ab94.png)
![2016-07-26_11h56_52](https://cloud.githubusercontent.com/assets/964450/17132048/ba626312-5328-11e6-901e-8d96c3ee53c8.png)
![2016-07-26_11h57_06](https://cloud.githubusercontent.com/assets/964450/17132047/ba61ffd0-5328-11e6-9232-7260c4f

[2016-07-26 16:36] tushargupta51 commented on #281
@sjaanus It seems, from the logs, that adal is prompting you for login only once. In screenshot 2, a token is returned from AAD. I assume you saw a Azure AD login screen and entered your credentials, is that right? Or you entered the creds in the pop-up only? Does this reproduce in firefox/Edge/IE?

[2016-07-26 17:00] sjaanus commented on #281
I logged in in the morning, it does not ask me to login to Azure again for a while, it has my credentials stored or something. Usually what happens at the moment is that I open my website page, it does these 3 refreshes basically, each of which I posted a screenshot of and then webpage opens, but it also has that small login screen opened, which I do not enter my credentials, because Azure has its

[2016-07-26 17:09] tushargupta51 commented on #281
@sjaanus I think you might be running into the issue I posted the stackoverflow link about. Adal does not create those pop-up dialogs. And as it does not happen on Firefox or IE, I susspect you have some issues with localhost setup and chrome.

[2016-07-27 03:29] Neil665 commented on #194
+1

[2016-07-27 21:33] rohitnarula7176 commented on #224
You should add the login success callback on the Ctrl you are calling the login function from. Below is a code snippet you can add to your controller
and get the token/error respectively.
[code]
[code]
If you want to listen for the event on a different controller other than the one you are calling the login function from, you need to add that controller as a child to the main controller as the bro

[2016-07-27 21:33] #224 closed

[2016-07-28 21:28] rohitnarula7176 commented on #354
#356

[2016-07-28 21:28] #354 closed

[2016-07-31 20:26] vip32 commented on #194
+1 this is very much wanted!

[2016-08-01 23:03] tushargupta51 commented on #348
Closing this issue, let me know if you have any further questions.

[2016-08-01 23:03] #348 closed

[2016-08-03 03:24] RobCannon commented on #194
Angular 2 support seems to be the most popular request.  How about a branch where people can start to work with it and help finish this feature?

[2016-08-03 07:29] balbany commented on #155
Could we get a clear code sample on how this can be implemented? Everything I've tried has failed. Updated link to Roland's post on his workaround (original is broken) is here: [http://rolandoldengarm.com/index.php/2015/07/27/angular-adal-js-sharepoint-rest-api-in-non-root-site-collections/](url) but I'm not convinced that this still works with the latest release of adal.js...

Thanks in advance f

[2016-08-03 09:14] damienpontifex commented on #194
I have started implementing an angular2 Http subclass and appropriate service with my fork here https://github.com/damienpontifex/azure-activedirectory-library-for-js/tree/ng2

Would be happy to have any feedback, updates, uses etc to improve/collaborate and then contribute back via a PR to this repo.

[2016-08-04 14:05] corfor commented on #194
+1

[2016-08-04 16:52] ricetristan commented on #194
+1

[2016-08-04 17:08] AAAnderson7301 commented on #194
+1

[2016-08-04 17:45] yiil opened #359 "Using implicit flow (response_type=id_token) with a resource specified doesn't trigger conditional access policies"
The bug is that when you use the implicit flow (response_type=id_token) and you specify a resource (resource=https://graph.microsoft.com), EvoSTS does not invoke the conditional access policies applied to Graph.  EvoSTS treats the client app as the resource, which doesn’t have the conditional access policy applied.

adal.js then tries to get a token using response_type=token and prompt=none, but t

[2016-08-05 22:07] hawkerm opened #360 "adal:loginFailure should not mask error messages from AAD"
It seems adal consumes some of the messages returned by the AAD service, so it can be hard to know what state the system is in if there's an error authenticating.

For instance in adal-angular.js it broadcasts the loginFailure with 'auto renew failure' from the locationChangeHandler eating the original error returned.

[2016-08-05 22:20] tushargupta51 commented on #323
I am closing this issue for now. Please use 1.0.11. Let me know if you run into same issue, I will reopen this for discussion.

[2016-08-05 22:20] #323 closed

[2016-08-09 22:45] drGarbinsky opened #361 "Redirected to pre-signin URL after user logs out"
We started seeing a new issue with the logout -> log back user flow. The steps are as follows

1: log into app
2: get redirected to AD
3: log in and get redirected back to app
4: logout
5: get redirected to AD
6: get redirected to app post log out url( https://someHost/#/signout )
7: click login on the "you've been sing out" page
8: get redirected to AD
9: **login and get redirected back to the po

[2016-08-10 00:43] tushargupta51 commented on #361
@drGarbinsky Adal always saves the start page when logging in the user. Start page is the location from where the login process has started. Once login is completed, adal redirects the user back to the start page. This was broken prior to 1.0.11. There are use cases where always redirecting the user back to root page after login is not the right behavior. For example, if user starts with a url tha

[2016-08-10 09:13] gabbsmo commented on #323
I had a similar issue that was caused by the Disconnect.me Chrome extension. My solution was to whitelist my app and login.microsoftonline.com. If you don't this extension will block cookies set by the login page.

[2016-08-10 10:14] gabbsmo commented on #291
I also have this issue. If I sign in to my app and then set the key "adal.access.token.key{guid}" to 0 in localStorage and refresh the next $http request fails with status 401. localStorage.clear() and it works again. Running the 1.0.11 release.

[2016-08-10 18:06] drGarbinsky commented on #361
Thanks for the quick reply.

That behavior  makes sense now. I was able to detect that the user is signing in and on the signed-out landing page. Then redirect to the root.
Closing

[2016-08-10 18:32] tushargupta51 commented on #291
@gabbsmo Can you share some logs?

[2016-08-11 22:51] tushargupta51 opened #364 "Overriding this.callback in adal.js"
`this.callback` is set to the config.callback object which is supposed to be called after login opertion is completed. But it seems, we are overriding that value in `renewToken` and `getUser` methods. Both of these methods are passed a callback as a parameter. Instead of over writing `this.callback`, we should just used the passed in parameter.

[2016-08-12 08:12] dalestone commented on #194
+1

[2016-08-12 12:25] robv8r commented on #276
Has there been any progress with creating an ADFS 2016 On Premise example?

[2016-08-12 18:04] tushargupta51 commented on #276
Please find the details in this blog post: https://technet.microsoft.com/en-us/windows-server-docs/identity/ad-fs/development/single-page-application-with-ad-fs. You can set tenant: 'adfs' to make the SPA work with ADFS.

[2016-08-12 18:04] tushargupta51 commented on #285
Please find the details on how can you use adal with ADFS in this blog post: https://technet.microsoft.com/en-us/windows-server-docs/identity/ad-fs/development/single-page-application-with-ad-fs. You can set tenant: 'adfs' to make the SPA work with ADFS.

[2016-08-12 22:08] robv8r commented on #276
Thanks.  That link explains how to use ADAL-JS with ADFS using WS-Federation.

Is there an example that shows how to use ADAL-JS with ADFS 2016 using OpenId Connect?

The following link shows how to use ADAL for the .Net Framework with ADFS 2016 using OpenId Connect.  I'd like to do something similar using ADAL-JS instead of ASP.Net MVC.

https://technet.microsoft.com/en-us/windows-server-docs/ide

[2016-08-13 14:15] bradtwurst commented on #189
what I would find helpful is an example which helps clarify how adal.js fits into a react higher order component (HOC).  Right now, I am attempting to get this work by using info gleaned from various posts and repos, but the effort has been difficult for me.

links:

- https://github.com/mjrussell/redux-auth-wrapper
- https://blog.mastykarz.nl/building-office-365-web-applications-react/
- https://

[2016-08-15 18:06] #276 closed

[2016-08-15 18:06] #285 closed

[2016-08-15 18:08] rohitnarula7176 commented on #281
Closing this issue as it seems to be related to chrome and localhost setup.

[2016-08-15 18:08] #281 closed

[2016-08-15 20:36] rohitnarula7176 commented on #291
@gabbsmo In order to test the expired access_token behavior, you should either delete the particular entry from the cache or remove its value from the cache. In your test, you are setting the value to 0 which is still a valid entry but an invalid value for the access token. By doing so, you are prepending "Bearer 0"('Bearer ' + token) to the request for the resource which has an invalid token and

[2016-08-15 20:36] #291 closed

[2016-08-16 07:59] MarkDordoy-JustEat commented on #285
Thanks @tushargupta51

[2016-08-16 14:45] Tsunade90 opened #366 "App reloading inside iFrame when renewing token - Solution 2"
I'm working on the project for which that issue was posted:

https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/298#issuecomment-225035980

We upgrated our adal.js version to 1.0.11 and use the workaround described here:
https://gist.github.com/tushargupta51/5fa6d000357120adbc8fd1d5c68853c4

It solves our issues in localhost but not when the code is minified/uglyfied and deploy

[2016-08-16 17:24] tushargupta51 commented on #366
@Tsunade90 Is this issue specific to some browser? Or does it occur on all browsers: Chrome, Firefox, IE/Edge?

[2016-08-16 17:46] Tsunade90 commented on #366
It occurs on all browsers, sorry for not mentioning it

[2016-08-17 15:17] Tsunade90 commented on #366
If it helps: seems to have something to do with the "angular components" architecture because if I don't use a redirectUri in my adal config, I get the error:

Error: [$compile:tpload] Failed to load template: scripts/components/master/master-page.html (HTTP status: undefined undefined)
http://errors.angularjs.org/1.5.7/$compile/tpload?p0=scripts%2Fcomponents%2Fmaster%2Fmaster-page.html&p1=undefin

[2016-08-18 00:05] tushargupta51 commented on #359
For MFA to occur at the time of login, you need to add one more query paramater in the login request. In your current configuration, please add:
`extraQueryParameter: 'amr_values=mfa'`

In Azure AD portal, if you configured your app to access some resources and at least one of them requires MFA, then user will be prompted for MFA at the time of login.

If you haven't added the permissions to acces

[2016-08-22 09:00] vijayakumarrg commented on #277
I found this blog post https://blog.mastykarz.nl/building-office-365-web-applications-react/ which uses adal.js with React and I tried the same in my app. It Works as expected.

[2016-08-22 17:32] dhodgin opened #368 "bug in isAnonymousEndpoint() if templateUrl is a function instead of string"
per the angular documentation the templateUrl can be either a string or a function. if it is a function it is passed the params of the route

see: https://docs.angularjs.org/api/ngRoute/provider/$routeProvider

in the adal-angular code
[code]

there is a url.indexOf() call. If your templateUrl for this route is a function you will get a console error that url.indexOf is not a function because url

[2016-08-22 18:42] tushargupta51 commented on #368
@rohitnarula7176 can you please take a look?

[2016-08-22 18:48] dhodgin commented on #368
i've got a patch that can fix it for the routeChangeHandler that i can put up in the next 2 hours but we don't use ui-router so i can't trigger the stateChangeHandler to test is the toParams will give me what i need to handle this problem on a state change

i can put up the patch to fix the routeCahngeHandler though and someone else who uses ui-router can patch stateChangeHandler separately

[2016-08-23 20:29] Confusedfish commented on #194
Hi @damienpontifex do you have an example solution using your NG2 compatible ADAL library? I am struggling to understand how to utilise it. I have until now used the angular2-adal library but that does not play well with webpack which my solution currently uses.

[2016-08-24 02:10] damienpontifex commented on #194
Firstly I have the adal javascript library as a script source on my html page
[code]

Then I setup the Adal Module in my app module that is used to bootstrap the application as so:
[code]

As you can see in the definitions here https://github.com/damienpontifex/azure-activedirectory-library-for-js/blob/ng2/lib/AdalHttp.ts#L198-L219 The `AdalModule` (as a subclass of `Http`) is used to provide `Htt

[2016-08-24 16:10] Confusedfish commented on #194
Thanks @damienpontifex it helps to know I am on the right lines.  I think I have the .TS and .JS files behaving as they should and have the import AdalModule.withConfig... what I cannot determine is how to trigger a login against Azure AD.

I assume I need to try to get a reference to AdalAuthenticationService in my component constructor which if I am reading things correctly uses the provideAdalA

[2016-08-24 16:31] Confusedfish commented on #194
Sorry @damienpontifex this appears to be specific to webpack doing something to the adal.js file... including the adal.js as a <script> tag on the index.html appears to get round this specific problem and I am back into azure (once I appended a / to the authConfig.instance). I also had to expose the login() method via your AdalAuthenticationService.

Cheers for your help, you got me up and running

[2016-08-25 18:12] #368 closed

[2016-08-26 07:54] alan994 opened #371 "RedirectUri not working in 1.0.11"
Hi,

    We have a serious problem with url redirect after AAD login. The situation is following.

    I have a welcome page "localhost:port/" (state welcome, not require ADLogin) that displays the LOGIN button.
    Login button redirects with state.go("home") to url "localhost:port/#/home". This state requires authentication (requireADLogin: true).
    When I click on LOGIN, ADAL fires up and red

[2016-08-26 21:21] MaJaHa95 opened #372 "Is there a scope event for token renewal?"
I have a web call that I want to make every time a user becomes authenticated (essentially a "get notifications" type of thing).

My initial code looked something like this:

[code]

Basically, if adal has magically found authentication information in `sessionStorage`, then we're good, otherwise, wait for the user to be authenticated.

This works well for most cases, but never renewals. From what

[2016-08-26 22:22] tushargupta51 commented on #371
@alan994 It's happening because adal saves the current window.location before redirecting the user to login. After login is completed, adal takes the user back to where they were when login process was started.

In your case, user browses to "welcome" state => "localhost:port/". This transition user to "home" state using $state.go("home") but the browser url or window.location is still  "localhost

[2016-08-26 22:32] tushargupta51 commented on #372
@MaJaHa95 Currently, adal does not broadcast events for token renewal operations. I want to understand your scenario a little better. I understand that you want to execute some actions when a user is authenticated, but why do you need to do the same when a token is renewed as that is not a new authentication, its renewing token for a user who was authenticated earlier.

[2016-08-28 18:44] spzSource commented on #216
@tushargupta51
I have found another case, which is causes infinite looping for token refresh.
When we change local time to 3 or more hour ahead, iframe retrieves a new token, which is already expired in point of view our local time.

I don't think this is a frequent case... But it would be great to handle such situation: throw an error and break the loop for token refresh.

What do you think?

[2016-08-29 05:03] MaJaHa95 commented on #372
I store some state in memory (it's Angular, if that wasn't assumed).

Basically,

1. User visits website
2. Adal checks for tokens, none found.
3. Initial setup continues, and `userInfo.isAuthenticated` is `false`, so we hold off.
4. Adal logs in, and calls `adal:loginSuccess`, thus queuing `getNotifications()`
 1. We store those results in `$scope`.
5. ...
6. User closes laptop and goes home (or

[2016-08-29 12:31] alan994 commented on #371
Thanks, it's working now :)

[2016-08-29 12:31] #371 closed

[2016-08-29 16:28] mohanskumar opened #373 "Login is not working when localLoginUrl is specified"
adalAuthenticationService.login() function is not working when localLoginUrl is specified.  This is happening in 1.0.11 version.

[2016-08-29 17:59] tushargupta51 commented on #373
@mohanskumar What is the error or behavior when you call login() method without specifying localLoginUrl? What does your adal configuration code look like?

[2016-08-29 18:11] tushargupta51 commented on #216
@spzSource What I expect to happen in this case is that adal will still save the token, as it does not check the expiration at the time of saving the token in the cache. But later when token is requested, adal will find that it is expired and thus try to renew again (which will again get an expired token from point of view of local time). The only case where it will go into a loop, is when the tok

[2016-08-29 19:19] mohanskumar commented on #373
No errors thought. ( nothing happens when the login method is called(); ), wondering the else part is not working in the adal-angular.
 var loginHandler = function () {
                    _adal.info('Login event for:' + $location.$$url);
                    if (_adal.config && _adal.config.localLoginUrl) {
                        $location.path(_adal.config.localLoginUrl);
                    }

[2016-08-29 20:37] tushargupta51 commented on #373
@mohanskumar In the config above, you do have a localLoginUrl. Did you comment it out and it didn't work? Can you try debugging to see if its even going to adal.login() method. Because, if its going to the adal.login method, it should redirect to AAD login page.

[2016-08-29 21:13] mohanskumar commented on #373
Yes, It works when localLogin URL commented.

On Mon, Aug 29, 2016 at 4:37 PM, tushar gupta <notifications@github.com>
wrote:

[2016-08-29 21:31] tushargupta51 commented on #373
@mohanskumar I am confused whether it works with localLoginUrl or without localLoginUrl.
Earlier you said this:

In your comment above, you said this:

[2016-08-29 22:11] mohanskumar commented on #373
Oops sorry that was a typo. It doesn't work when login url is specified.

[2016-08-29 22:42] tushargupta51 commented on #373
@mohanskumar What does your routing configuration looks like? Does the "/login" route has "requireADLogin" set to true?

The if block in the code:

    if (_adal.config && _adal.config.localLoginUrl) {
       $location.path(_adal.config.localLoginUrl);
    }

This will redirect the user to "/login" route. Do you see that happening? Please check the network trace in Chrome Developer tools to confir

[2016-08-30 01:22] mohanskumar commented on #373
Login route is not set with RequireADLogin to true. As i mentioned with my
issue log, My project works perfectly fine with 1.0.8. and I don't have any
other config/ route settings changed.

It is just keep getting redirected to login. the execution gets into if
block as the localLoginUrl is specified.  If you could share any example
project with localLogin enabled, that would be great.

On Mon, Au

[2016-08-30 15:18] tushargupta51 commented on #373
@mohanskumar The "/login" route should have the requireADLogin set to true for adal to redirect the user to AAD. This is what I am assuming:

You redirect the user to /login route if he/she is not authenticated. When a user is redirected to /login, you expect adal to redirect the user to AAD login page. For this to happen, requireADLogin attribute must be set to true for "/login" route. Let me kno

[2016-08-30 17:04] mohanskumar commented on #373
Our login page has a button which calls "adalAuthenticationService.login()
method which in turn calls azure login. And it does not have the
requireAuthentication flag set. This is how it has been working with
version 1.0.8. I dont get why requireAuth should be set for the login.  (
the login view itself is not rendering when the flag is set).

On Tue, Aug 30, 2016 at 11:19 AM, tushar gupta <notifi

[2016-08-31 21:16] tushargupta51 commented on #373
@mohanskumar Ok, I probably see the issue here. We made a change in 1.0.10/11 that `adalAuthenticationService.login()` now calls into `loginHandler()` instead of `_adal.login()`. The reason we made that change earlier was because there were some values that we used to save in loginHandler (login start page url, for example). Calling _adal.login directly skipped saving those values. Thats why we up

[2016-08-31 22:28] mohanskumar commented on #373
Thanks for the update. We have a custom page for login which has the business logo and terms and conditions and copy right details. That's our standard. We can not skip that.

Sent from my iPhone

[2016-08-31 22:48] tushargupta51 commented on #326
In 1.0.12, we support templateUrl both as url and function. We don't plan to add support for other properties like  `templateProvider`. For users using these properties, please add the anonymous url to `anonymousEndpoints` array in init config.

[2016-08-31 22:48] #326 closed

[2016-09-01 21:53] #364 closed

[2016-09-01 21:54] tushargupta51 commented on #345
@max-buecker We have fixed this in 1.0.12. Please try it and let us know if you run into any issues.

[2016-09-01 21:54] #345 closed

[2016-09-01 21:54] #324 closed

[2016-09-01 21:55] tushargupta51 commented on #88
We now use window.cyrpto api to generate guids, if it is supported by browser. If not, we fall back to Math.random. Fixed in 1.0.12.

[2016-09-01 21:55] #88 closed

[2016-09-01 21:56] tushargupta51 commented on #60
We have added the popUp support in 1.0.12. Set `popUp: true` in config to enable logging in using pop up. We will update our samples soon to reflect that.

[2016-09-01 21:56] #60 closed

[2016-09-02 00:26] abettadapur opened #377 "NPM adal-angular 1.0.12 throws parse error in PhantomJS"
PhantomJS 1.9.8 (Windows 8 0.0.0) ERROR
  SyntaxError: Parse error
  at C:/agent/_work/11/s/app/adal/adal.js:1095

[2016-09-02 00:29] abettadapur commented on #377
PhantomJS 1.9.8 (Windows 8 0.0.0) ERROR
  SyntaxError: Parse error
  at C:/agent/_work/11/s/app/adal/adal.js:1095

[2016-09-02 11:10] jcc1983jcc opened #378 "Authentication when clientId and Resource are not the same."
Hello,

I'm using your adal authentication in javascript to use the token to connect to a WCF service.
The Client and the resource/Audience are not the same azure application in my system.

I get the token, but when I try to authenticate it against my WCF Service I get this error:

User connection not authorized
The exception error was 'IDX10214:Audience validation failed.
Audiences: '-------[clie

[2016-09-02 19:46] tushargupta51 commented on #378
@jcc1983jcc The token is acquired for your "clientID", using it for WCF service (which has a different client id) will not work. AdalJs also provides acquireToken method which takes the application id of the resource as the parameter. You can use that method to request a token for WCF service.

If you are using angular wrapper, you don't even need to call acquireToken, you can specify a mapping of

[2016-09-04 10:02] nigel-dewar opened #379 "Where is ADAL for Angular 2?"
Hi there,

Is there not an adal-angular for Angular 2?

[2016-09-05 08:49] chauey commented on #379
There is talk about it here some #194

[2016-09-06 00:28] damienpontifex opened #380 "[1.0.12] Safari strict mode error causing script failure"
Using adal.js from v1.0.12 Safari reports an error on https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/1.0.12/lib/adal.js#L1095 with "SyntaxError: Strict mode does not allow function declarations in a lexically nested statement."

[2016-09-06 15:14] adamauckland opened #381 "Is it possible to suspend MFA with the ADAL library?"
Hi, I have a single-tenancy client app with an MFA AD directory.

The suspend MFA settings in Azure are set to allow 1 days suspending, yet I do not get the "Don't ask me again for 1 days" checkbox when signing in.

I've got another app set up the same way but using SAML and that gives me the checkbox.

Is there a setting I have to pass in to the ADAL library to trigger the checkbox for the user?

[2016-09-06 15:59] steve-torchia opened #382 "AAD B2C support?"
Now that Azure Active Directory B2C is out of preview and generally available, is there a timeline for when Adal.js will be able to officially support it?  (I know there is an experimental branch here I can look at in the meantime)

[2016-09-06 18:33] tushargupta51 commented on #379
@nigel-dewar Currently, we do not have any active plans to move adal JS to angular 2. Though, there are some community members who have made some contributions for this. Please take a look at that issue.

I am closing this issue as #194 is the active issue for this.

[2016-09-06 18:33] #379 closed

[2016-09-07 12:09] godd4rd commented on #381
I'd really like to know the answer to this too.

[2016-09-07 17:38] rohitpagariya commented on #381
Me 3.

[2016-09-07 18:21] rohitpagariya opened #384 "Adal creating nested iFrames on app load"
My app was going in a loop when adal tried to renew the token, so I implemented [this solution](https://gist.github.com/tushargupta51/78ce0b6bce998f6851abd02d91eb3a95)  as mentioned in the FAQs.

While my app works now, I am seeing that adal is creating two nested iFrames in my app on first load. And if I hit refresh, the subsequent app doesn't attach any iFrames to the DOM.

Any ideas why this is

[2016-09-07 18:28] tushargupta51 commented on #384
@rohitpagariya Can you share the id of the nested iframes? Even better, if you can copy the html with nested iframes?

[2016-09-07 19:08] rohitpagariya commented on #384
Both the iFrames have the same id: adalRenewFrameMyAppId

I emailed you the html screenshot.

[2016-09-08 18:51] rohitpagariya commented on #384
I implemented the frameRedirect solution listed [here](https://gist.github.com/tushargupta51/5fa6d000357120adbc8fd1d5c68853c4) and I don't see nested iFrames in the DOM anymore.

But now, I am seeing that it doesn't in a private Edge window. I get prompted to login and then the browser is stuck on the url below and it doesn't load anything.

**https://mysite.trafficmanager.net/frameRedirect#**/id_

[2016-09-08 18:56] rohitpagariya commented on #384
Looks like this is the same issue [Tsunade90](https://github.com/Tsunade90) is mentioning at the end of this [gist](https://gist.github.com/tushargupta51/5fa6d000357120adbc8fd1d5c68853c4).

[2016-09-08 23:31] rohitnarula7176 commented on #380
@damienpontifex This error is thrown on Safari and older versions of phantomjs (1.9.8) because of a function declaration in a nested statement. We have made a change in the code to fix this error. Could you use the dev branch and confirm if the issue is resolved for you.

[2016-09-08 23:33] rohitnarula7176 commented on #377
@abettadapur This error is thrown on Safari and older versions of phantomjs (1.9.8) because of a function declaration in a nested statement. We have made a change in the code to fix this error. Could you use the dev branch and confirm if the issue is resolved for you.

[2016-09-09 01:19] damienpontifex commented on #380
Looks good. Thanks @rohitnarula7176

[2016-09-09 01:19] #380 closed

[2016-09-09 19:30] nmallick1 opened #387 "Routes in angular do not work when using 1.0.12 script via CDN"
Routes in angular do not work when using 1.0.12 script via CDN. Reverting back to the script available in ToDo's demo makes the routing work.

[2016-09-09 20:09] tushargupta51 commented on #387
@nmallick1 What is the error you get? Can you give more details?

[2016-09-09 20:19] tushargupta51 commented on #384
@rohitpagariya A live repro will help debug this further. Can you please share that?

[2016-09-09 20:46] tushargupta51 commented on #366
@Tsunade90 Sorry for the delay in getting back on this. Can you please share the special frame html that you have, adal init configuration and route configuration? That will help me debug this further. Also, console logs will help too. You can turn on logging by adding this globally:

Logging = {
    level: 3,
    log: function (message) {
        console.log(message);
    }
};

This error can occ

[2016-09-09 21:11] rohitpagariya commented on #384
Sent you an email.

[2016-09-12 05:14] NickAb commented on #276
@tushargupta51 I followed https://technet.microsoft.com/en-us/windows-server-docs/identity/ad-fs/development/single-page-application-with-ad-fs. The login works as expected. But the logout does not work.

Logout link redirects to `https://<adfs2016-server-address>/adfs/oauth2/logout?post_logout_redirect_uri=https%3A%2F%2Flocalhost%3A44326%2F`
[code]

It seems that logout endpoint is not available

[2016-09-12 20:56] rohitnarula7176 commented on #373
@mohanskumar There are couple of ways you can navigate to your custom login page as explained below:
1. Do you have a login button on the main page which when clicked takes you to your custom login page?
2. Do you have a route on the main page which has requireADLogin set to true, which when activated takes you to your custom login page?
3. Or you just navigate to your login page by changing the r

[2016-09-12 22:05] tushargupta51 commented on #353
@max-buecker Sorry for the delay in the response. I missed an important part of your issue: UWP/JS app. Adal JS only supports regular browser apps and does not support native apps with hosted browsers. So, using adal js with UWP is not the way to go. We have other adal flavors for this purpose. Check this out: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

[2016-09-13 01:04] trenthogan opened #388 "Set response_type as config parameter"
Would you consider allowing the response_type to be set as a config parameter. It seems to be passed as a string when _getNavigateUrl is called. example here : https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal.js#L191

We would like the ability to use response_type="code" ... As showen here : https://azure.microsoft.com/en-us/documentation/articles/active-directory-

[2016-09-13 02:32] tushargupta51 commented on #388
@trenthogan Adal Js only supports implicit flow and it does and should not support confidential flows. response_type = "code" is the confidential auth flow used by confidential client applications that are capable of keeping secrets or codes or refresh token in a secure place, and browser storage is not a secure storage.

[2016-09-13 02:39] trenthogan commented on #388
Sure that makes sense thats for the quick reply.

[2016-09-13 02:40] #388 closed

[2016-09-13 07:11] nigel-dewar commented on #276
Ok thanks Rob

Sent from Samsung Mobile

-------- Original message --------
From: Rob
Date:13/09/2016 12:30 (GMT+10:00)
To: AzureAD/azure-activedirectory-library-for-js
Cc: nigel-dewar , Author
Subject: Re: [AzureAD/azure-activedirectory-library-for-js] How does one implement Single Sign On with adal.js being used (#276)

If you look at ADFS's OpenID Connection configuration, you'll notice a lack

[2016-09-13 10:12] NickAb opened #389 "logOut does not work on ADFS"
When calling `logOut` against on-premise adfs browser is redirected to `https://<host>/adfs/oauth2/logout?post_logout_redirect_uri=<redirect_uri>` which is not supported by adfs (yet?).

The correct logout uri for adfs would be `https://<host>/adfs/ls/?wa=wsignout1.0`

What do you think about adding conditional logout uri depending on `tenant` being equal to `adfs` or not?

[2016-09-13 20:17] nmallick1 commented on #387
There is no error, that's the strange part. No error trying to add any module, nothing. With the ADALJS CDN version, the moment I add a call to init the provider Views stop working. If I remove the call to init they start working again. If I include the ADALJS scripts that are available in the ToDos demo, then everything works.

[2016-09-13 21:57] rohitnarula7176 commented on #387
@nmallick1 Can you please share your app.js (routing configuration) file to help debug the issue further.

[2016-09-14 19:14] rohitpagariya commented on #372
@tushargupta51, I have another scenario where events for tokenrenewal would be help.

I have an app that requested a few permissions from the user. After a while, I decided to request more delegated permissions to the existing app. In this scenario, an existing user is seeing the following error message:

AADSTS65001: The user or administrator has not consented to use the application with ID '7aa7

[2016-09-15 20:39] rohitpagariya commented on #384
@rohitnarula7176, let me know if you need any help to debug this. I am anxious to get to the root cause here, since my app intermittently fails to work in Edge.

[2016-09-16 21:14] nmallick1 commented on #387
'use strict';
angular.module('DependencyVisualizer', ['ngRoute','AdalAngular'])
.config(['$routeProvider', '$httpProvider', 'adalAuthenticationServiceProvider', function ($routeProvider,$httpProvider,adalProvider) {
    $routeProvider
    .when("/Home", {
        controller: "loginCtrl",
        templateUrl: "/Views/LoginView.html"
    }).otherwise({
        controller: "loginCtrl",
        templa

[2016-09-17 10:07] harsh-ashtekar commented on #261
Hello all. This is what worked for us...

We modified the **ProtectedResourceInterceptor** in the **adal-angular.js** file to reference the **$templateCache** service. In the **request** method, we simply check if the URL being requested is defined in the **$templateCache**. If it is, we simply return the **config.url**.

Here are the modifications...

`AdalModule.factory('ProtectedResourceInterce

[2016-09-20 09:05] jjcollins53 opened #391 "Token renewal operation failed due to timeout"
I have a javascript file running in a SharePoint Online teamsite. It makes a call to a custom RESTful Web API secured by Azure AD. The Web API provides full CRUD operations for a corp database. The call to acquireToken fails giving the following error: Token renewal operation failed due to timeout. I have not been able to resolve this.

[2016-09-20 16:20] tberst commented on #366
You can find the log below :
[verbose_logs.txt](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/482706/verbose_logs.txt)

I've followed the path that leads to an empty adal.login.request. Apparently, when we access the app with an expired token we have a call to the authenticationContext.login() which starts a login process with the localstorage  CONSTANTS.STORAGE.LOGIN_REQUE

[2016-09-21 05:39] ssrslm commented on #391
I'm also getting the same error, please help me if some body fixed this issue

![adal error](https://cloud.githubusercontent.com/assets/4487138/18698954/a918872c-7feb-11e6-9c00-4ca2a4e3fb89.png)

[2016-09-21 18:13] tushargupta51 commented on #391
@jjcollins53 @ssrslm Adal waits for 6 seconds to receive response from AAD. If AAD does not send a response at all or response was not send as fragment, adal cancel the request giving the above error. Can you please check the network tab (in Developer Tools in Chrome) or fiddler to see if AAD returned a response to adal request. adal request is sent to login.microsoftonline.com and starts with aut

[2016-09-21 18:33] jjcollins53 commented on #391
Here is request/response:
[36_Request.txt](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/485769/36_Request.txt)
[36_Response.txt](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/485772/36_Response.txt)

[2016-09-22 17:59] jjcollins53 commented on #391
Here is the code. I'm calling getCachedUser just before acquireToken. The cached user is always found, yet I'm still getting this error.

LinksLoader.deleteOldPTCSiteLinks = function () {
    "use strict";
    var $s = jQuery.noConflict();

    var userId = _spPageContextInfo.userLoginName;
    LinksLoader.ptcUserId = userId.substr(0, userId.indexOf('@'));
    var linkTimeStamp = new Date();
    L

[2016-09-22 18:08] ericnkatz commented on #189
@bradtwurst I wish I found some of those articles a few months ago, but what I have working right now is something like this but in my case I just forceAuthentication() immediately since my application doesn't really have an unauthenticated state. Using redux I than either display the application once the state of my authenticated user is loaded or I just display "please login".

[code]

[2016-09-22 18:54] ericnkatz opened #392 "window.Logging"
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal.js#L166
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal.js#L1253

Not sure if this is something that should be fixed at the project level or my test runner. But using mocha even with jsdom this project breaks my testrunner. I have to manually connect `Logging = window.Logging`

[2016-09-22 19:32] ericnkatz commented on #392
I see in the experimental branch you have this -> https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/experimental/lib/adal.js#L22

[2016-09-22 19:35] ericnkatz commented on #392
@weijjia thought I'd tag you here since I don't have much context and you applied the changes to experimental.

[2016-09-22 19:43] ericnkatz commented on #392
@rohitnarula7176 also tagging you since this recent update caused this issue to start occurring:  https://github.com/AzureAD/azure-activedirectory-library-for-js/commit/8ac0b4f5b22a496c16d6a1ba1a500bef2cc96b35

[2016-09-22 21:24] tushargupta51 commented on #392
@ericnkatz Are you getting a null exception at line#1253? Making sure I understand the issue correctly. To give you some background on the change, we moved to IIFE in a recent change since non-IIFE pattern was causing issues with bundling and all. In order to avoid breaking people(ironical?) who are relying on Logging to be available globally, we set the Logging object on window. This is what we d

[2016-09-22 21:25] tushargupta51 commented on #378
I am closing the issue for now. Let us know if you are still running into issue, will re-open it.

[2016-09-22 21:25] #378 closed

[2016-09-22 21:27] tushargupta51 commented on #353
Closing this issue as adaljs is not designed for hosted browsers and/or native apps.

[2016-09-22 21:27] #353 closed

[2016-09-22 21:40] vibronet commented on #382
Hi Steve,
we don't have an ETA at the moment. The service is still working on fully supporting all the protocol grants and parameters required to fully support the SPA scenario. The official support for this will likely come in MSAL JS, the successor library to ADAL JS which will work with Azure AD, MSA, ADFS and AAD B2C alike. As soon as we will have an ETA, we will announce on the team blog.

[2016-09-22 21:40] #382 closed

[2016-09-23 05:39] ssrslm commented on #391
This error thrown once access token got expired, for first time (after clear browser cache) it is working well but this error keep throwing if I close and open the website after some time, again it is started working if l clear browser cookie, this is my angular adal config code

[code]

Do we require to do any other code check to verify that user is logged or not?

[2016-09-23 18:12] jjcollins53 commented on #391
As I mentioned, I authenticate by first logging into SharePoint Online. Are the auth cookie created by SharePoint valid when ADAL does the silent sign-in? I issue a getCachedUser and it succeeds, but acquireToken fails.

[2016-09-23 18:16] tushargupta51 commented on #366
@tberst Thanks for debugging into this. The library should not be resettting the login_request value when renewing tokens.
@rohitnarula7176 Can you please fix this in next version? We don't need save statements in these 2 lines:
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/1.0.11/lib/adal.js#L309
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/1.0.11/li

[2016-09-23 19:35] ericnkatz commented on #392
Thanks for responding @tushargupta51, my issue isn't tied to the IIFE but rather how adal is relying on window object to assign Logging and then referencing Logging explicitly.

`ReferenceError: Logging is not defined` is what triggers my test error.

[2016-09-25 15:50] simkessy opened #393 "Non-Angular Examples?"
I'm having trouble figuring out how to use ADAL without Angular. It seems like all the examples are either with Angular or .NET.

I'm trying to create a dropdown list of all users in my tenant. So I want to use

`GET https://graph.windows.net/myorganization/users`

I'm not sure how to proceed and the docs aren't really providing simple examples if you're new to this.

[2016-09-26 06:09] tushargupta51 commented on #393
@simkessy We have a sample without angular here: https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-dotnet-webapi.  Though it uses .net backend.

There is a sample here which uses angular but with nodeJS backend: https://github.com/matvelloso/angular-cors-adal-o365-node

[2016-09-27 20:02] dstrockis commented on #359
Sorry, `amr_values` isn't an good enough solution to the problem.  This would require developers to know which tenants should & shouldn't require MFA for their app, which they can't possibly know.

I proposed two solutions in our email thread:

- When the library sends `response_type=id_token&resource=https://graph.microsoft.com`, conditional access policies should be invoked for the Microsoft Gra

[2016-09-27 20:06] ericnkatz commented on #392
Does that make sense?

[2016-09-27 23:55] simkessy opened #396 "This application requires application permissions to another application."
I am trying to create a dropdown with all the users in my Office365 tenant. I created an app in Azure AD and gave it all the necessary permissions. I gave it all the permissions for Microsoft Graph actually, app and delegated. All of them.

Then I wrote up my script to query all users with `https://graph.microsoft.com/v1.0/users`.

I had my tenant admin go in and accept the permissions then output

[2016-09-28 01:38] simkessy commented on #393
Thanks, I'll take a look but overall where's the documentation for this library? What are the APIs? Why is everything I'm seeing relating to Angular is it's suppose to be framework independent?

[2016-09-28 03:41] tushargupta51 commented on #392
@ericnkatz Yes, your point makes sense. I am just wondering if `window.Logging` is defined then `if (level <= Logging.level) {` line should not throw an error as it will refer to the global object if there is no local declaration.

[2016-09-28 03:55] tushargupta51 commented on #396
@simkessy The token sent along with the request to graph api represents the user and the permissions this specific user has.

The permissions you set up at Azure Portal for your app allows you to configure you app upfront by specifying the resources it will need access to in advance. But your app is running under a user context, the current logged in user. And the api request is scoped to the perm

[2016-09-28 04:07] simkessy commented on #396
Is there any way to scope the api request to the permissions that the App has and not the permissions of the user? Isn't this why we have App Permissions and Delegate Permissions?

[2016-09-28 04:34] tushargupta51 commented on #396
@simkessy I think you require a different auth flow here: on behlaf of flow where you acquire token using client credentials instead of user creds (in this case user authentication cookie). The token you get back using client credentials has app level permissions. Adal.js is only designed for implicit flow and not for confidential flows/on behalf of flows. As the other flows require client secrets

[2016-09-28 04:56] ericnkatz commented on #392
@tushargupta51 Problem I'm getting is node even with https://github.com/tmpvar/jsdom running does not know that `(level <= Logging.level) {` is inferring based off the window global. This isn't an issue in the browser but the way the code is written now it seems to break right there and stop running my tests. Not sure if I'm writing my tests incorrectly or including adal as a dependency for one of

[2016-09-29 13:58] simkessy commented on #396
I see so client-side I'm stuck with ADAL and need to give the app permissions that do not require Admin privileges. That's fine, now that I know that, I've gone into the app and removed any permissions that required Admin and it seems to work.

I have another question hopefully a quick one. My admin logged into the page where I call the API using the ADAL token etc. They had to accept permissions

[2016-09-29 19:14] tushargupta51 commented on #396
@simkessy I don't think you can, that sounds insecure. If app is accessing user's information, then users should consent on their own.

[2016-09-29 20:58] tushargupta51 opened #398 "Do not invoke AuthenticationContext in adaljs"
In `getRequestInfo`, we check the state of incoming response by validation against the states we stored in `AuthenticationContext`. In the if check, we call the method instead of checking only for existence.\

`if (!requestInfo.stateMatch && window.parent && window.parent.AuthenticationContext()) {`

Replace `window.parent.AuthenticationContext()` with `window.parent.AuthenticationContext`.

Thank

[2016-09-29 21:14] tushargupta51 opened #399 "if acquireToken callback throws an error, renewal state of resource is not reset"
If an `acquireToken` operation is called multiple times for same resource, instead of sending multiple requests, we send only request and register the callbacks for other requests if the first request is still in progress.

When we process the response from AAD, `registerCallback` method calls all the callbacks with the error/token. But if one of the callback (user code) throws an error, we will n

[2016-09-30 05:36] nigel-dewar commented on #276
After all of this, I am still not sure if SEAMLESS single sign on is achievable with adal.js. I dont want my users having to login again to an app after already logging into thier windows machines inside the corporate network. After months of looking, and asking I still dont have the answer

[2016-09-30 05:40] nigel-dewar opened #400 "SEAMLESS single sign on with ADAL.js and ADFS"
Hi There, I had already asked about this but never got a clear answer, so asking again.

What I am trying to accertain is, is it possible to achieve SEAMLESS single sign on with ADAL.js and ADFS?

And when I mean SEAMLESS, I really mean, even if the user is bounced through the the ADFS login page, thier username and password will automatically be populated so they just click go or login or whateve

[2016-09-30 19:34] davewoodward commented on #400
ADFS achieves single sign-on by creating a cookie in the browser so I don't think ADAL should have any impact on that part of the process.  If the user is already logged into the domain that the ADFS server is joined to then they should be bounced to ADFS and back to the application but should never be prompted for their credentials.  That being said, I am curious as to what version of ADFS you ar

[2016-09-30 21:00] airomero commented on #393
Hi, i don't use angular. I have an aspnet core  web api that is protected with azure ad. I do standard js  requests with jquery. I need to send the request as I do now  but sending the token. How can I do that?

[2016-10-01 05:52] nigel-dewar commented on #400
Hi Thanks for your reply.

I was planning on using ADFS 2016. OR windows 2016 server's ADFS I should say.

[2016-10-01 12:59] bondseid opened #401 "Issues when not using popup"
When integrating the base adal setup and calling adalAuthenticationService.login(), once returned to my replybackurl, no $rootscope emissions are captured and the adalservice is not authenticated. When using the basic configuration the authentication takes plac ein the same browser window.

Also, using the standard route authentication has no effect: My route is resolved even if the adalservice is

[2016-10-02 05:38] nigel-dewar opened #402 "adal.js authenticates to ADFS - but still cannot call SharePoint Online with token recieved"
Hi There,

I have followed your new article posted here https://technet.microsoft.com/en-us/windows-server-docs/identity/ad-fs/development/single-page-application-with-ad-fs and it works well. I setup a Windows 2016 server, and hooked up Azure Connect using the express settings.

 I setup ADFS manually as per instructions shown here http://www.cloudidentity.com/blog/2015/08/21/openid-connect-web-s

[2016-10-02 05:42] nigel-dewar commented on #276
After one obtains a token from ADFS, you cannot seem to use this token to call into O365 resources like sharepoint online. I setup the app in azure ad correctly also.

Could you please provide an end to end tutorial of using adal.js with ADFS, and then calling O365 resources.

Cheers

[2016-10-03 19:42] vibronet commented on #402
This is not accurate:

"Trust" means that you can exchange an ADFS token for an Azure AD one. It does not mean that resources will accept tokens from a different provider.
Resources only accept Azure AD tokens: it is the responsibility of the caller to obtain the right token before hand. The federation allows you to use your ADFS to authenticate the user credentials, but ultimately the issued toke

[2016-10-03 19:42] #402 closed

[2016-10-03 20:25] rohitnarula7176 opened #404 "loginStart page not loaded after redirection from authorization endpoint."
Also, when we set the window.location to loginStartPage after redirection in adal-angular, we do not check the condition when the loginStartPage is saved as an empty string.

[2016-10-03 21:21] tushargupta51 commented on #401
@bondseid It seems you are running into couple of issues. Can you help me understand this better?

Do you mean, "adal:loginSuccess" event is not being triggered? After user completes login, do you see tokens saved in browser storage? If not, can you send a network/fiddler trace that captures request sent to AAD and the response?

Can you provide adal logs? Please see readme for logging instruction

[2016-10-03 21:23] tushargupta51 commented on #400
@nigel-dewar Ad @davewoodward mentioned, if there is a valid authentication cookie in the browser that identifies a user's session with ADFS, user should not be asked to enter creds when adal redirects them to adfs login page. Just to clarify, username/password will not be populated but ADFS will look into the cookie and the session is still valid and all, it won't prompt the user for creds again.

[2016-10-03 21:40] tushargupta51 commented on #393
@simkessy  We do not have api guides for adal.js. But we do have samples for both angular and non-angular usages.

@airomero https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-dotnet-webapi. should give you better idea.

[2016-10-03 21:40] #393 closed

[2016-10-03 21:47] nigel-dewar commented on #400
Ok thank you. This makes sense. Cheers.

[2016-10-03 21:47] #400 closed

[2016-10-03 21:59] tushargupta51 commented on #392
@ericnkatz We declared the logging object globally so that it is independent of AuthenticationContext and users can set it from anywhere. Have you tried setting the `Logging` object globally in your tests?

[2016-10-03 22:02] nigel-dewar commented on #402
Thanks Vittorio, but your answer confuses me.

In the case of Office 365, when when installs azure connect, and hooks up to ADFS, one can use thier local AD creds to sign in, and now they can access Office 365 online resources.

So how is it that the token once recieves from ADFS can be used with Office 365? based on what you have said. Is there some sort of token exchange happening behind the sce

[2016-10-03 22:05] tushargupta51 commented on #238
Currently, we are focusing on next generation of adal library. We don't plan to make `state` extensible in adal and will consider this in the future library.

Though there are ways this can be achieved, though it will require some extra work and will work only for login and not for passing customizable state when acquiring token. There is an extensibility point that is called before user is redire

[2016-10-03 22:05] #238 closed

[2016-10-03 22:10] vibronet commented on #402
That's the standard flow occurring in **every** federation. To expand on it: the authentication flow requests a token from Azure AD; Azure AD sees that the user is a federated user, and redirects to the corresponding ADFS; the user authenticates with ADFS and obtains an ADFS token; the token is sent to Azure AD, which verifies that it is a valid token coming from the intended ADFS instance; upon s

[2016-10-03 22:41] nigel-dewar commented on #402
Yes thank you very much. Your answer right here "no joke" has finally answered a question that has plagued me for months.

Thanks Vittorio. You have a talent for putting complex things in laymens terms. I really appreciate that.

So i guess if one does want seamless single sign on using adfs, and also wants to query azure ad protected resouces using Javascript, then one would need to write a manua

[2016-10-04 10:53] gillirabbi opened #407 "Infinite loop on token renewal in 1.0.12"
I think I've read every single issue/FAQs and tried all the possible solutions, but somehow my app gets stuck in an infinite loop on token renewal. Otherwise, the AD process seems to work as intended.
The app utilizes $stateProvider for the routes and the config for the adalAuthenticationServiceProvider currently looks like this:

[code]

Once the token is renewed, the app enters a loop showing th

[2016-10-04 18:09] vibronet commented on #402
Hi Nigel,
thank you for your kind words.
You should not need to perform any manual step. You just need to set up the ADFS-Azure AD federation: from that moment onward, every authentication for users from the domain configured for the federation will follow the sequence I described, automatically. Your code will never see the intermediate ADFS tokens, only the final Azure AD tokens. HTH

[2016-10-04 21:02] nigel-dewar commented on #402
Thanks Vittorio, Ahh I finally see!
I realized what you meant after I had a good think about it. "Azure AD sees that the user is a federated user, and redirects to the corresponding ADFS; the user authenticates with ADFS and obtains an ADFS token; the token is sent to Azure AD, which verifies that it is a valid token coming from the intended ADFS instance; upon successful validation, Azure AD issu

[2016-10-04 21:11] nigel-dewar commented on #238
Thanks @tushargupta51 that sounds really cool.

'My opinion of course' is JavaScript is really important. Development for me now is often focused purely client side dev, using Angular 1, Angular 2, Ionic, NativeScript..etc...

Adal.js and any enhancements in the way I can interact with Identity and Authentication using JS naturally then is important to me. And I imagine I am not the only one as mo

[2016-10-05 03:10] davewoodward opened #409 "Enhance to Support Additional Identity Providers"
I would like to see this library enhanced to support additional identity providers.  With some fairly minor adjustments this should be possible.

Specifically, I would like to see the following:

- Provide for more flexibility in the instance URL by allowing for a blank tenant and an alternate (or blank) context root (instead of the hard-coded oauth2 value).
- Allow optional scope and response typ

[2016-10-05 17:05] tushargupta51 commented on #407
@gillirabbi You mentioned that you see nested iframes getting created, right? Can you explain how did you implement the redirectUri solution? What does your frameRedirect.html looks like? Do you still see nested iframes? If you can share a public repro, that will help debug this further.

Also, is your entire app protected or the otherwise route requires authentication?

[2016-10-05 17:21] tushargupta51 commented on #409
@davewoodward Thanks for your PR! However, this library is designed to be used only with Azure Active Directory and is supposed to support only implicit flows where tokens are returned as fragments.
The response type is, by design, not customizable as we want to keep the sign in flow (response_type: id_token) and token acquisition (response_type: token) separate.
Id_token returned as query string

[2016-10-05 17:55] stuartlong opened #411 "Intermittently seeing expiration key off by 4 minutes"
We are hitting an intermittent issue in our application where the expiration time stored in **adal.expiration.key<resource>** is off by a number of minutes. Our app authenticates clientside with ADAL.js and sends the token down to our backend service when we make service calls. Our backend service then reauthenticates the token.

When we hit the issue, we make an **acquireToken** call to ADAL.js,

[2016-10-05 18:01] tushargupta51 commented on #411
@stuartlong This might be happening because of clock skews between server and client. You can set `.config.expireOffsetSeconds` property to 4 minutes or so. Default is 2 minutes. What this property does is that if the cached token is about to be expired in the set time interval, it will renew the token instead of using the cached token.

[2016-10-05 18:04] stuartlong commented on #411
@tushargupta51 I don't believe that's the case. First, we checked the clocks on the machines. They were off by a couple of seconds, but not 4 minutes. Second, that wouldn't explain the fact that when I decoded the client machine's token, it's **exp** value was different than that set for **adal.expiration.key**. In fact, it's **exp** value was expired to 4 minutes before we sent the service reques

[2016-10-05 19:01] tushargupta51 commented on #411
@stuartlong For access token, we use the "expires in" value returned as query parameter. The value by default is 3600 seconds == 1 hour. We then calculate the number of seconds since 1970 and add 3600 to that and save as expiration time of the token. The fact that you are seeing difference between "exp" and "adal.expiration.key", that indicates to me that there is a clock difference between the cl

[2016-10-05 19:05] stuartlong commented on #411
@tushargupta51 Ah, you mean the AAD server that's actually returning the token, not our backend severs?  Also, why don't you consider the "exp" value of the returned token? Wouldn't doing so avoid issues like this?

[2016-10-06 00:12] tushargupta51 commented on #381
@adamauckland @godd4rd @rohitpagariya Sorry for the delayed response. I was trying to create a local repro and test the scenario. I can repro the bug, I do not see the "Dont ask me again for x days" checkbox either. I am following up with Azure AD team to understand what's happening. I will update this thread as soon as I get some more information.

[2016-10-06 00:20] tushargupta51 commented on #411
@stuartlong I actually meant both. It could be that your backend server is out of sync, and thus throwing error when validating the token. But you mentioned that you checked that. The fact that the "exp" and "adal.expiration.key" values differ seems to indicate that the client clock and Azure AD clock are not in sync.

I agree that we can use the "exp" value of an access token like we do for id_to

[2016-10-06 22:40] davewoodward commented on #409
Sorry, I must have missed that in the specification.  Thanks for the link.  I was aware that it was a "no no" to include the access token in the response as anything but a fragment but hadn't seen the same for the id_token.  I will have to circle back with our vendor to discuss why they have chosen to deviate from the specification in this area.  They are usually a stickler for the specification f

[2016-10-06 23:10] tushargupta51 commented on #409
@davewoodward

I am wondering why you cannot use "id_token" response type followed by call to `acquireToken` method? Are you using angular wrapper? If yes, then you don't even have to call acquireToken yourself, library will do that for you.

[2016-10-06 23:14] tushargupta51 opened #412 "Add API documentation"
Some of our public apis do not have proper/correct comments. Make sure all apis have comments in the right format that explain the parameters, return values and the purpose of property/method.

The second step will be to generate documentation using "jsdoc". We already have grunt task for that. We should be able to generate documentation using that and upload on github wiki.

[2016-10-06 23:53] tushargupta51 commented on #189
We do not have any plans to add and support React wrapper for adal library. We are focusing our efforts towards next generation of adal library - MSAL, which will support AAD, MSA accounts as well as B2C. We will definitely consider React for that.

[2016-10-06 23:53] #189 closed

[2016-10-07 00:05] tushargupta51 commented on #194
We do not have any plans to add and support Angular 2 wrapper for adal library. We are focusing our efforts towards next generation of adal library - MSAL, which will support AAD, MSA accounts as well as B2C. We will definitely consider Angular 2 for that.

Thanks to wonderful open source community, we have some forks that add angular 2 support. https://github.com/alenny/angular2-adal (this is ava

[2016-10-07 00:05] #194 closed

[2016-10-07 00:06] tushargupta51 commented on #98
The support for promises will appear in next generation of adal library - MSAL. We do not plan to add this support to adal at the moment.

[2016-10-07 00:06] #98 closed

[2016-10-07 00:12] tushargupta51 commented on #41
Setting things on `rootScope` is similar to setting things to `window` object. We added `userInfo` to rootScope to make it easier for developers to access the logged in user. I agree that it is not the best practice to modify things globally or on global scope. Closing this issue as unfortunately we cannot change this now, as this will be a breaking change. We will consider the feedback for our ne

[2016-10-07 00:12] #41 closed

[2016-10-07 02:18] damienpontifex commented on #194
@tushargupta51 is the work on the MSAL libraries open source? And where can we find that if it is?

[2016-10-07 02:26] davewoodward commented on #409
Great question.  That is where the rub comes in with the query parameter verses the fragment.  When I simply use "id_token" as the response type, the WSO2 identity manager platform returns the id_token as a query string parameter.  However, if the access_token is requested along with the id_token, the platform returns everything as a fragment.  I have opened a support ticket with WSO2 to see if I

[2016-10-07 03:21] Neil665 commented on #194
If anyone is intending to use the Angular 2 implementation by @alenny mentioned above I would advise you to use the more advanced fork of @alenny's code by @sureshchahal at https://github.com/sureshchahal/angular2-adal/commits/master

The original code by @alenny has not changed since July but @sureshchahal has continued to make improvements to it since then, and made his fork available as a packa

[2016-10-07 07:10] vip32 commented on #194
however the [example](https://github.com/alenny/angular2-adal-example) mentioned in @sureshchahal [ng2-adal](https://github.com/sureshchahal/angular2-adal/commits/master) uses the angular2-adal package (und still uses ng2 rc1). is there a working example based on ng2-adal?

[2016-10-07 07:12] sureshchahal commented on #194
I will work on updating examples using ng2 packages soon but it is very
similar to angular2-Adal

On Friday, October 7, 2016, Vincent van Proosdij <notifications@github.com>
wrote:

[2016-10-07 07:14] vip32 commented on #194
oh great, i will look into angular2-adal then. but also happy to see you example :)

[2016-10-07 17:49] tushargupta51 commented on #412
For reference: http://stackoverflow.com/questions/39261085/azure-ad-adaljs-how-to-use-this-library

[2016-10-07 17:51] tushargupta51 commented on #194
@damienpontifex It is not in a public repo yet, we will make it public with the first preview. Though, we do not have any dates to share yet for that.

[2016-10-08 08:33] blagaisse opened #413 "AADSTS50058 error when using "external" accounts in any browser. but not for internal accounts."
Hello all,

One of our live apps using adal.js is suddenly broken without changing it, and gives the above error when users with an external account (e.g. bert@hotmail.be) are logged in. (it still worked a few weeks ago)

Our Azure AD tenant (ourtenant.onmicrosoft.com) has both internal and external accounts.
- some people have been added with their hotmail or outlook email address and authenticat

[2016-10-09 23:06] ylashin commented on #261
@harsh-ashtekar another option is to use **config.anonymousEndpoints**. This way you just need to list down all templates needed for your anonymous login/home page.

I had the same issue when I upgrade from 1.0.1 to 1.0.12 and the above worked fine with me

[2016-10-11 10:06] AnteDante commented on #407
Same thing, using 1.0.12 and getting infinite loop when token expires, tried 1.0.11 and 1.0.7 but the problem is the same. Any updates?

[2016-10-11 22:29] tushargupta51 commented on #407
@AnteDante Can you share console logs (level: verbose), routing configuration and adal init config code?

[2016-10-11 22:35] tushargupta51 commented on #409
@davewoodward As you said, the changes (both supporting external providers and making responseType configurable), broadens the scope of this library beyond its original intent, so unfortunately, we won't be able to add this support now. We will keep it in mind for next generation of this library. We do have some extensibility points for login, e.g., we have `displayCall` method which you can imple

[2016-10-11 22:35] #409 closed

[2016-10-12 15:40] AnteDante commented on #407
I tried the redirectUri solution and set it to redirect to a new frameRedirect.html and it seems to work now, but that feels like a hack.

Thanks for the help anyways.

[2016-10-13 10:55] blagaisse commented on #413
Note: problems started to appear beyond the scope of the the adal.js library, and the error is now also appearing when using pure server-side libraries (ADAL and OWIN) without any javascript involved.
So it's not a browser-related or javascript related problem.

[2016-10-13 14:27] jpvelasco opened #415 "requiredADLogin not triggering authentication using UI Router in ADAL JS 1.0.12"
Hi there,

So I am not sure if this is just a miss-configuration on my end, but I figure I would ask just in case.
I created a sample AngularJS application that is secured with ADAL JS 1.0.12 and is using the AngularJS UI router for setting up routes. I have secured the routes by setting the 'requiredADLogin' attribute to true. However, when I click on a link (e.g. Contacts) that directs me to one

[2016-10-13 19:50] tushargupta51 commented on #415
@jpvelasco It's `requireADLogin`, not `requiredADLogin`. Let me know if that fixes your issue.

[2016-10-13 20:24] jpvelasco commented on #415
@tushargupta51 I am laughing at myself for not catching such a silly mistake on my part... Thanks so much, that fix worked like a charm. 👍 I'm reminding myself that it is instances like these where I really should have used TypeScript. :)
Thanks again for the excellent support, I appreciate your prompt response.
Cheers,
JP

[2016-10-13 20:24] #415 closed

[2016-10-13 22:03] #407 closed

[2016-10-13 23:38] #384 closed

[2016-10-13 23:39] rohitpagariya commented on #384
We switched to a different configuration and this doesn't reproduce anymore

[2016-10-14 13:18] con-ssc opened #417 "Add examples for plain JavaScript"
There is only an example for angular1 around and not for vanilla JavaScript. It would be nice if there would be one so it could be used without any special frameworks. And to grasp how it is actually used without other frameworks.

[2016-10-14 22:53] 360oncology opened #418 "adal.js failing to parse Azure B2C AD token"
We have client code using "oid" for Azure B2C AD parsed by adal.js and it stopped working without any changes. We are suspecting that there might be an issue with token that we are getting from Azure AD.
We noticed "fQ" instead of "}" in value for "kid" field in decoded AD token and probably because of that AuthenticationContext.prototype._decode() method in adal.js is returning junk for all value

[2016-10-17 01:21] bondseid commented on #401
Yes! In the case when i do not have "popUp: true" set on the config and the browser redirects back to the redirecturi, no rootscope events are being triggered at all.

One thing to note is that i am not injecting the $httpprovider during config. The reason for this is we have an existing authentication system and i need control over what tokens are being sent (ours or adals).

Yes however there is

[2016-10-17 17:51] rohitnarula7176 commented on #417
Please refer to the sample below that demonstrates the use of ADAL for JavaScript for securing an single page app written independently of any frameworks, implemented with an ASP.NET Web API backend.
https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-dotnet-webapi

[2016-10-18 06:29] con-ssc commented on #417
Well it depends on asp. Anyway, the sample is not working, I'm unable to log in.

[2016-10-18 20:29] tarunchopra commented on #417
I've also published one: https://github.com/tarunchopra/Hacakthons/tree/master/O365-jQuery-CORS-master/O365-jQuery-CORS-master

[2016-10-19 07:04] con-ssc commented on #417
That example looks very nice. Is it possible to skip the login window and use username/password within a config?

[2016-10-19 19:15] keyurtechy opened #419 "Adal-Angular Infinite loop"
Hi,

In one of our project we are implementing Adal-Angular along with Asp.Net Core, and we are facing one issue. After the user is authenticated with AAD and after we get the token, the Adal framework is going for an infinite loop. It was not redicrecting the user to the correct view that we have defined in our angular routing framework.

https://localhost:44324/#!#id_token=eyJ0eXAiOiJKV1QiLCJhbG

[2016-10-19 19:29] amitabhm21 commented on #419
@tushargupta51 suggested to set the hashPrefix when using html5Mode.

 // using '!' as the hashPrefix but can be a character of your choosing
    app.config(['$locationProvider', function($locationProvider) {
        $locationProvider.html5Mode(true).hashPrefix('!');
    }]);

[2016-10-20 00:24] pottabathini opened #420 "experimental branch renew token issue"
at line: 146 in adal-angular.js file written like
 _adal.acquireTokenSilent(_adal.config.clientId, null, function (error, tokenOut)

but if I look at adal.js acquireTokenSilent function it written to accept scope but not clientId.

Please check.

[2016-10-20 00:28] pottabathini commented on #420
This branch exposed silentrenew function but it is not calling automatically. It is working fine when manually triggering the event.

Is it supports silent renew based on the expires_in or exp values? do we need to configure anything to this work.

[2016-10-20 00:34] pottabathini commented on #420
We manually updated adal-angular.js _adal.acquireTokenSilent(_adal.config.clientId, null, function (error, tokenOut) call with scope instead of clientid.

Because of above modification it going infinite loop 👎

[2016-10-20 16:05] mohanskumar commented on #373
Here is my settings Rohit.

Login is a dummy page with a custom icon and a login button. the button event calls adalAuthenticationService.login(); which redirects to azure AD login page. Login route doesn't have requireAuthentication flag set to true as we don't want to have the user login to adal before showing login page.  when the user logs out ( logout button is in the main page which is after

[2016-10-20 16:12] mohanskumar commented on #373
@rohitnarula7176, we would be able to set a live demo if needed.

[2016-10-20 19:19] tushargupta51 commented on #417
@con-ssc No, adal js does not support confidential flows as it's loaded in browser and cannot keep secrets secure. Using password in a config file will leak it to everyone else.

I will close this issue as we have couple of samples to help with plain JS apps.

[2016-10-20 19:19] #417 closed

[2016-10-20 19:21] #396 closed

[2016-10-20 19:23] tushargupta51 commented on #413
@blagaisse Since the problem started showing up without any changes to adal js, it seems to be an issue with service side, and not adal js related (as you mentioned). You should follow up with Azure Ad team on this.

[2016-10-20 19:23] #413 closed

[2016-10-20 19:25] tushargupta51 commented on #418
@360oncology That seems like a discrepancy in the kid value. This is not an issue in adal js decoding, as the kid value in your example token is invalid json.

[2016-10-20 19:25] #418 closed

[2016-10-20 23:47] keyurtechy commented on #419
@tushargupta51 This is the log that got generated. Check whether this is going to help you?

Thu, 20 Oct 2016 23:44:27 GMT:1.0.12-VERBOSE: Location change event from https://localhost:44324/#!#id_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng…-4b31-bcd0-802d018b4731&session_state=933eacb0-43b5-45e5-a82f-a4abcd0fb60a to https://localhost:44324/#!#id_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng…-4b3

[2016-10-21 06:48] con-ssc commented on #417
Ok so will there be a new adal version for ADFS4 and Windows Server 2016?

[2016-10-21 23:12] tushargupta51 commented on #179
Closing this issue as we are no longer making investments in experimental branch. We are channeling our efforts to next version of this library - MSAL.

[2016-10-21 23:12] #179 closed

[2016-10-21 23:12] tushargupta51 commented on #196
Closing this issue as we are no longer making investments in experimental branch. We are channeling our efforts to next version of this library - MSAL.

[2016-10-21 23:12] #196 closed

[2016-10-21 23:12] tushargupta51 commented on #208
Closing this issue as we are no longer making investments in experimental branch. We are channeling our efforts to next version of this library - MSAL.

[2016-10-21 23:12] #208 closed

[2016-10-21 23:12] tushargupta51 commented on #265
Closing this issue as we are no longer making investments in experimental branch. We are channeling our efforts to next version of this library - MSAL.

[2016-10-21 23:12] #265 closed

[2016-10-21 23:12] tushargupta51 commented on #289
Closing this issue as we are no longer making investments in experimental branch. We are channeling our efforts to next version of this library - MSAL.

[2016-10-21 23:12] #289 closed

[2016-10-21 23:13] tushargupta51 commented on #420
Closing this issue as we are no longer making investments in experimental branch. We are channeling our efforts to next version of this library - MSAL.

[2016-10-21 23:13] #420 closed

[2016-10-21 23:20] tushargupta51 commented on #417
@con-ssc I am not sure I understand the relation between supporting confidential flows and ADFS4. We have a walkthrough guide for using adal with ADFS: https://technet.microsoft.com/en-us/windows-server-docs/identity/ad-fs/development/single-page-application-with-ad-fs. Does that help you?

[2016-10-22 06:08] serverOverload commented on #419
another suggestion is to go to your AAD manifest and change the variable for oauth2AllowImplicitFlow to true. It is set as false by default. This grants your application with an implicit OAuth grant, which is needed to handle the hashPrefix of the location provider.

[2016-10-24 02:48] #389 closed

[2016-10-24 22:49] rohitnarula7176 commented on #373
@mohanskumar Can you please confirm with the dev branch and see if that fixes your issue.

[2016-10-26 15:48] mohanskumar opened #423 "AADSTS50058"
encountering the following error often, when trying to login to the app after a while.

Using Chrome in Mac and session storage.  Adal 1.0.12 and adal-angular 1.0.12.

AADSTS50058: A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's session were not sent in the request to Azure AD. This can happen if the user is using Internet Explorer or Edge, and

[2016-10-27 02:54] tushargupta51 commented on #423
@mohanskumar Please look at these related issues:
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues?q=is%3Aissue+AADSTS50058+is%3Aclosed

[2016-10-27 17:19] brphelps commented on #423
Just to be clear, we started seeing this issue recently as well. The error message is likely conflating two different cases -- we explicitly added all sites in the passive auth chain to our trusted sites and still see the problem.

One developer on our side explained that with .12, we're no longer getting a cookie that we still get with .10 -- e.g. this issue is a regression specific to .12.

Plea

[2016-10-28 13:46] isaac2004 commented on #194
If anyone is monitoring this, I found a solution written in Angular 2 that wraps adal with no  additional steps.

https://github.com/DariuS231/n2-O365

[2016-10-31 18:35] tushargupta51 opened #424 "Pass "error" to the callback along with "error_description""
Currently, we only pass back the "error_description" parameter to acquireToken callback. We need to pass "error" parameter also as developers should rely on "error" property in their code instead of "error_description".

We do save the error in storage which can be accessed by developer. Though, it is not a good solution, developers can use this to get to the "error" property until we fix this beh

[2016-10-31 18:36] tushargupta51 commented on #423
@brphelps Can you share logs and fiddler traces? I need to look at the complete network to see if cookie is being set on login or not.

[2016-10-31 18:46] tushargupta51 commented on #419
Update: We debugged this issue using logs and traces and found that somehow "#!" gets added at application level. Comparing working and non-working cases, presence of "#!" in the url is the only difference. Since adal js does not modify these urls, this seems to be an issue either in the application or the reply url registered with AzureAd.

[2016-11-02 04:09] tushargupta51 commented on #129
We added support for pop up based authentication in 1.0.12. Users dont need to hookup `displayCall` method for this to work.

[2016-11-02 04:09] #129 closed

[2016-11-02 18:53] rdeslonde-eichleay opened #425 "Syntax Parse error in v.1.0.12"
Everything was working fine in 11. When I upgraded to 12 I get a parse error on line 1095.

The function decimalToHex function should not be defined inside the if statement and "_guid" function but instead should be outside of it.

[2016-11-02 18:56] tushargupta51 commented on #425
@rdeslonde-eichleay Thanks for reporting this. It's a known issue: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/380 and we have fixed it in dev branch. This will be part of 1.0.13 release.

[2016-11-02 18:56] #425 closed

[2016-11-02 18:57] tushargupta51 commented on #425
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/377

[2016-11-03 09:10] thdotnet opened #426 "Azure AD + ADAL.js + App Service - Only one claim on ClaimsPrincipal.Current.Claims"
Hi,

I'm facing a very strange issue related to Azure AD and Azure App Service (Web App). I have a SPA built with Angular 1.5 + ADAL.JS, WebAPI (hosted on App Service) and Azure AD.

I've created two applications into my Azure AD directory:

    - one native (SPA)
    - one web application (WebAPI).

The Login and Logout workflows are working fine locally and on Azure. However, when I'm running on

[2016-11-04 20:48] rcasto opened #427 "Does not work in Safari Incognito mode"
local storage is not supported in safari incognito mode.  It has the localstorage property on the window object, but throws an error when setItem is attempted.  The supportsLocalStorage method lacks this check

[2016-11-05 01:34] tushargupta51 commented on #427
@rcasto Thanks @rcasto for the pull request. I will review it soon.

[2016-11-07 18:50] malay2012 commented on #323
Hi tushargupta51,

I am using 1.0.12 and still getting same error after adding -
if (!authContext.getCachedUser() && sessionStorage['adal.error'] == 'login_required') {
                     authContext.login();
                     return;
                 }

please suggest!

[2016-11-07 23:29] #427 closed

[2016-11-08 19:58] BoyuanLi opened #430 "Token Refresh issue"
I found an issue that getCachedToken method always return null for me and "var token = this._getItem(this.CONSTANTS.STORAGE.ACCESS_TOKEN_KEY + resource);" token is always empty. Does anyone have similar issue? P.S. I'm using latest code.

[2016-11-08 20:09] tushargupta51 commented on #430
@BoyuanLi This `getCachedToken` will return null if there is no token for the specified resource in the cache. Can you check in the browser cache if there is a token for the resource?

[2016-11-08 21:08] BoyuanLi commented on #430
@tushargupta51 Thanks for the reply. I usually see the token is null first (after 1 hour expiration), then second click will see the token with value. But somehow in this case resource always showing as the clientId and tokenStored is always null.

[2016-11-08 21:14] stuartlong commented on #391
Anecdotally, we went from seeing 0 instances of this error to seeing it in a non-0 percentage of our sessions that coincided *exactly* with us upgrading from **1.0.11** to **1.0.12**

[2016-11-08 21:28] tushargupta51 commented on #430
@BoyuanLi The simple rule is that if there is a valid token in the browser cache, getCachedToken will return that otherwise null. If getCachedToken returns null, you can call `acquireToken` to get a new token. OR instead, just call `acquireToken` method as it will check the `getCachedToken` first.

[2016-11-08 23:41] tushargupta51 opened #433 "Update the node version for travis.yml"
Update the node version for travis. Currently, its 0.10 and 0.11. Use the later versions.

[2016-11-09 03:38] #424 closed

[2016-11-09 03:38] #399 closed

[2016-11-09 03:38] #398 closed

[2016-11-09 03:38] #377 closed

[2016-11-09 03:39] tushargupta51 commented on #373
Fixed in 1.0.13. Let us know if you still running into this issue.

[2016-11-09 03:39] #373 closed