[2016-11-09 03:39] tushargupta51 commented on #372
Added `acquireTokenSuccess` and `acquireTokenFailure` events.

[2016-11-09 03:39] #372 closed

[2016-11-09 03:40] tushargupta51 commented on #366
This is fixed in 1.0.13. Let us know if you still running into this issue.

[2016-11-09 03:40] #366 closed

[2016-11-09 03:40] #360 closed

[2016-11-09 03:40] #404 closed

[2016-11-09 03:41] tushargupta51 commented on #419
Closing this issue since '#!' is added at the application level. Adal Js does not modify the reply urls. anuglar.js needs to be debugged to find the root cause.

[2016-11-09 03:41] #419 closed

[2016-11-09 03:44] tushargupta51 commented on #423
@mohanskumar Is it still an issue for you?
@brphelps Based on the internal thread, you need to check the value of domain_hint parameter.

[2016-11-09 03:46] tushargupta51 commented on #392
When writing tests in a non-browser environment, users need to set the window.Logging object. When running inside a browser, declaring Logging object at the global level should work.
Closing this issue, let us know if the above suggestion does not work.

[2016-11-09 03:46] #392 closed

[2016-11-10 15:18] mohanskumar commented on #423
I am all set. thank you so much. 👍

On Tue, Nov 8, 2016 at 10:44 PM, tushar gupta <notifications@github.com>
wrote:

[2016-11-10 19:07] tushargupta51 commented on #423
@mohanskumar Did you find the cause of the error? What fixed it for you? It might help people running into this issue. I will close the issue.

[2016-11-10 19:07] #423 closed

[2016-11-11 05:34] #426 closed

[2016-11-11 05:59] thdotnet opened #435 "mapping properties to adalProvider init function"
I'm trying to setup my adal.js on an angular app, however I'm not sure how to specify a few parameters to the init function.

I have the following sample url which returns a JWT token. Then, I need to do another POST to get user Claims (this step I'm doing with POSTMAN).

https://ad.mytest.local/adfs/oauth2/authorize?response_type=code&client_id=86cb5a1e-9744-44fa-ab24-376f9c45e83d&resource=app-de

[2016-11-11 06:57] onmondo opened #436 "Is there an option to log in without redirecting to login page(login.windows.net)?"

[2016-11-11 18:06] tushargupta51 commented on #436
In 1.0.12 and later versions, we have added support for pop up based login. You can set `popUp: true` in config, and instead of redirection, user will see the popUp.

[2016-11-11 18:08] tushargupta51 commented on #435
@thdotnet The url you specified will return a code, not a token. Please look at the sample: https://github.com/Azure-Samples/active-directory-angularjs-singlepageapp-dotnet-webapi. Also, we have added detailed comments in 1.0.13. The code in master branch has appropriate comments explaining what each property does.

[2016-11-11 21:50] thdotnet commented on #435
Thank you!

[2016-11-12 04:42] bondseid commented on #401
Hey, have you had a chance to verify this bug?

[2016-11-13 10:14] thdotnet commented on #435
@tushargupta51 The sample you said is not related to mine. Is there anyone that I could specify the url to authenticate, and then, the url to post the token and get the claims?

[2016-11-13 18:56] tushargupta51 commented on #435
@thdotnet The sample has all those values set as an example. `instance` refers to the authority url e.g. https://ad.mytest.local/. If you are authenticating against adfs, set `tenant` to adfs. `redirectUri` refers to the url where authority returns back the tokens.

Please look at the code comments in the master branch to learn more about what different properties do.

[2016-11-13 19:37] #435 closed

[2016-11-14 18:08] rguignard commented on #436
Hey

Is it possible to have an exemple of how to use the "popup" mode with Angular ? I tried this mode but my application result In an Infinite loop.

Thanks In advance

[2016-11-14 19:31] tushargupta51 commented on #436
@rguignard We do not have a sample for pop up yet. But really, you just need to set that property in order to turn on popup based authentication. Can you share logs/traces for the infinte loop?

[2016-11-14 20:39] darcyparker commented on #61
@brphelps - I observed the same problem.  When I installed with `typings install --save --global dt~adal-angular`, `adal.d.ts` is stripped out...  You probably worked around this. But in case it helps others, I worked around it by manually adding the `d.ts` files to my project.

[2016-11-16 15:26] rguignard commented on #436
@tushargupta51: Thanks for your response. You can find below traces.

Wed, 16 Nov 2016 15:06:17 GMT:1.0.13-VERBOSE: Location change event from http://localhost:65532/#/home to http://localhost:65532/#/myFiles
app.js:113 Wed, 16 Nov 2016 15:06:17 GMT:1.0.13-INFO: State change event for:/myFiles
app.js:113 Wed, 16 Nov 2016 15:06:17 GMT:1.0.13-INFO: Login event for:/myFiles
app.js:113 Wed, 16 Nov 201

[2016-11-16 20:06] tushargupta51 opened #438 "Setting window.location.href as redirectUri"
By default, window.location.href is used as `redirectUri`. AAD does not allow query parameters in redirect Uri and strips them before sending token as fragment (implicit flow).

This causes issue in popup based authentication as we are looking for the presence of redirect uri in the popup to find out if AAD has sent a response or not. Since AAD strips off query parameters, the condition is never m

[2016-11-17 11:41] nigel-dewar opened #440 "Hi - Where is Adal-Angular for Angular 2?"
Hi Guys,

Angular 2 official out for a bit now

Where is the official Microsoft library for Angular 2?

I saw a video by Richard diZerega that shows how to hook up graph api for Ionic 2. For the life of my I cannot figure out why Im having so much trouble finding an official library for Angular 2 'Web app'

Cheers

[2016-11-17 12:28] SergeyLaptsevich opened #441 "Add ability to specify anonymous 'sub-url' for a configured endpoint"
Let's say I have the following config:
[code]

And under the https://my.domain/api I have many sub-routes like '/users', '/comments', '/whatever' etc.
I just want to have a way to specify:
[code]
and all the requests to https://my.domain/api/whatever will be anonymous. Currently this is not supported and to fix this I just had to move the following code to the beginning of AuthenticationContext.pr

[2016-11-17 18:53] tushargupta51 opened #442 "Update api doc for tokenCallback"
The comments are not correct for tokenCallback. It now accepts 3 parameters.

https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/master/lib/adal.js#L487

[2016-11-17 18:55] tushargupta51 commented on #440
@nigel-dewar We do not plan to add support for angular 2 for adal library. But we are working on next version of adal library - MSAL, and will consider angular 2 for that. Currently, we don't have any dates for the release of the new library, things are in design phase right now.

[2016-11-17 18:55] #440 closed

[2016-11-17 18:56] tushargupta51 commented on #440
@nigel-dewar Though, I would like to mention that there are some angular 2 implementations contributed by community.

[2016-11-17 19:03] tushargupta51 commented on #441
@SergeyLaptsevich Specifying a url in endpoints array imply that all requests to that domain (and possibly sub domains) need to be authenticated. If only part of your api requires authentication then you should specify only those urls in endpoints, e.g., `https://my.domain/api/protected`.

I am not sure if this is a good idea. A resource (identified by an application url) is either protected or no

[2016-11-17 21:32] nigel-dewar commented on #440
I gotta say, i find the thinking on this pretty odd.

I mean even Auth0 has a solid js implementation for angular2.

I know there are some bespoke implementations out there.

Im just really surprised at the priority level put on this.

Regardless thankyou for the reply.

Cheers

Sent from Samsung Mobile

-------- Original message --------
From: tushar gupta
Date:18/11/2016 04:56 (GMT+10:00)
To: Az

[2016-11-18 08:56] MMM300 commented on #389
@tushargupta51 This is still an issue in 1.0.13

Sent to /adfs/oauth2/logout?post_logout_redirect_uri and not to adfs/ls/?wa=wsignout1.0
when calling adalAuthenticationService.logOut();

Got 1.0.13 via bower.

[2016-11-18 16:03] NelsonLamprecht commented on #323
Based on this:

I added the sites as well as our web app domain to the intranet and trusted zones and the problem went away. The problem never was visible in Chrome since it is unaware of the zone details

[2016-11-18 16:34] unindented commented on #61
The npm types don't match the module name, which breaks importing: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/types-2.0/adal (instead of adal-angular)

cc @RyanCavanaugh

[2016-11-18 16:40] unindented opened #443 "Globals"
Why does `adal-angular` expose globals? It stops me from importing the module normally through `require` or `import`.

Also, why not separate `adal` from `adal-angular`? Makes no sense to import `adal-angular` on a `react` project...

[2016-11-18 18:23] tushargupta51 commented on #389
@MMM300 You have to set the `logOutUri` property on config to the logout uri for ADFS. The library only supports AAD logout be default.

[2016-11-19 01:56] rohitnarula7176 opened #444 "Investigate updateDataFromCache method in adal-angular"
we call getCachedToken() in adal to check if the user is authenticated which checks for the existence of the access token in the cache instead of the idtoken.

[2016-11-21 10:47] Sayan751 commented on #36
A small question, is the `adal` part is already on npm as a separate package?

[2016-11-21 11:41] romansp opened #445 "Infinite reload if `cacheLocation` set to 'localStorage' and user AAD session has expired (AADSTS50058)"
Prerequisites:
1. AdalJS v1.0.13 with `adal-angular` wrapper.
2. `cacheLocation` config property set to `localStorage`
3. Chrome v54.0.2840.99.

Issue: Infinite reload happens, if Keep me signed in (KMSI) was unchecked during AAD login and user tries to use application after AAD session has expired.

I logged into AAD with "Keep me signed in" (KMSI) unchecked few days ago. If I try to open applica

[2016-11-21 13:17] SergeyLaptsevich commented on #441
@tushargupta51 I see how it works now :) The idea is to minimize configuration work, let's say I have 100 microservices under https://my.domain/api (and each have it's own path like https://my.domain/api/microservice). And only 1 of 100 is anonymous (let's say microservice for login). It is a pain to specify 99 urls in endpoints and then maintain this list... I just want to say "protect everything

[2016-11-21 16:36] istrau3 opened #446 "acquireToken callback does not executed when _renewIdToken is used"
I have the following code in my application (note: this app is not in Angular, it is in Aurelia, so I am using the underlying adal.js directly):

[code]

As you can see, the Authenticator has a simple function that calls through to the adal authenticationContext's acquireToken and essentially wraps it in a promise.

The issue that I am seeing is this:
When acquireToken gets its token from `getCach

[2016-11-21 20:36] tushargupta51 commented on #445
@romansp

The token renewal operation is a silent operation. Currently adal does not implement the interactive token acquisition flow. That's why if an error happens, adal does not redirect the user to login or take any interactive action. It passes the error back to the application, which can decide how to handle the error. In 1.0.13, we have added `acquireTokenFailure` event. You should use that

[2016-11-21 20:39] tushargupta51 commented on #446
@istrau3

You should call `handleWindowCallback` method to process the response. This method saves the token in the cache and calls the callback with the error or token.

[2016-11-21 20:42] tushargupta51 commented on #36
@Sayan751 not as a separate pacakge. Both adal and adal-angular are wrapped in one pacakge.

[2016-11-21 21:08] Sayan751 commented on #36
@tushargupta51 Thanks for your reply. Is there any plan to make these two as two separate packages?

I am looking for the type definitions for the same. I know that there is a typings available under [`@types/adal`](https://www.npmjs.com/package/@types/adal), which declares a module `adal`.
Does this means, that to use the typings we need to import `adal`? But at runtime, we need to import `adal-a

[2016-11-21 22:33] istrau3 commented on #446
@tushargupta51 I don't think you understood the problem.

I am in fact using `handleWindowCallback` when I get the token initially. However, when I use the `acquireToken` method, I expect that the callback I pass in will be called with the new token. This does not happen after the successful retrieval of the token.

I can't call `handleWindowCallback` after calling `acquireToken`. Check out the PR

[2016-11-21 22:53] tushargupta51 commented on #446
@istrau3
I looked at the PR. The `_callbackWithTokenOnStorageChange ` listener will be called everytime storage is updated (not just for the token but everytime application adds something to storage). The expectation here is that when iframe gets the token, process the response and saves the token in the cache, this listener is called, which then calls the callback, is that right?

If so, then I d

[2016-11-22 10:52] MMM300 commented on #445
What action should be taken to let the user login again?

Right now the only way to solve this is to remove cookies from the browser (Safari 9.1.1). The property "cacheLocation" is not specified.

The following block is called in the loop but does not work:
`$rootScope.$on('adal:acquireTokenFailure', function() {
                  adalAuthenticationService.clearCache();
       adalAuthenticationSe

[2016-11-22 15:37] istrau3 commented on #446
@tugupta Respectfully, I still do not think you are understanding the issue here.

Firstly (this is mostly tangential to the main point), with respect to `_callbackWithTokenOnStorageChange` getting called every time there is a storage change, that is true. However, notice it only really does anything if `getCachedToken` returns a valid token (which means that the new token has been stored in local

[2016-11-22 22:30] tushargupta51 commented on #446
@istrau3 Thanks for the explanation. I think I understand the issue pretty well.

Let me explain how `acquireToken` is supposed to work. This assumes users are using plain JS and not the adal-angular wrapper.
It first checks the cache and if a valid token is present, return that token to the user using the callback. We both agree that this scenario works fine.

In the other case, when ADAL has to

[2016-11-22 22:45] istrau3 commented on #446
@tushargupta51 Thanks for the explanation. My app is calling `handleWindowCallback`  on load.

Looking at the network and source tabs, I see a new iframe get created, a request go out to microsoft and then nothing (my callback is not executed, neither with an error nor with the new token). I would think that the reason for this is because `handleWindowCallback` is not running in the window, it is

[2016-11-22 23:08] tushargupta51 commented on #446
@istrau3  The order of events is correct.

`handleWindowCallback` looks up for the callback method in window.parent instead of window: https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/master/lib/adal.js#L978. So, it should be able to find it.

Please share console logs and I might be able to tell what's going on.

[2016-11-23 11:14] swathi04c commented on #276
Hi @tushargupta51, could you please tell me if I can use ADAL with Azure ACS for authentication in my angular application.

[2016-11-23 13:29] lamuertepeluda commented on #189
@tushargupta51 is there any roadmap for a release of MSAL for JavaScript (with or without React support, which I agree would be a great plus) ?

[2016-11-23 14:19] MMM300 commented on #445
I have made more tests and the behavior differs between browsers. It looks ok in Firefox but I get the loop in Chrome and Safari (currently I can't even log in with Safari without getting the loop).

Error message in Chrome: "MSIS9621: Unable to handle the OAuth authorization request without getting user input."

Error in Safari: Line 511 in adal.js   `this.warn('User login is required');`

@tusha

[2016-11-23 16:34] istrau3 commented on #446
@tushargupta51 Ah, ok I see. Thanks for the explanation. I have solved the issue. The PR is not necessary.

[2016-11-23 20:17] tushargupta51 commented on #189
@lamuertepeluda Sorry, no timelines to share yet.

[2016-11-24 17:32] ischrei opened #448 "Portal is loaded twice after login"
Hi All,

While upgrading to the latest version I’ve noticed a bad experience in my portal, the page is loaded after login, but then blinks and loaded again. Taking a look at the outgoing requests, I saw another call to the server while the application is loaded.

I found this code in the adal-angular file, under locationChangeHandler :

[code]

Not sure whether it’s a bug in the code, or something

[2016-11-25 05:38] isabelle112 opened #449 "using adal.js in wordpress // deletes information after sending token"
Hey all,

my task is to build a wordpress plugin with the functionality to login to dynamics crm and get information out of dynamics crm to wordpress. I use the adal.js code for the authentication. I am working on this project for 4 weeks now and i got stuck on an issue for which I can't find a solution.

The situation is that I have created a wordpress admin menu item. On the submenu page I have

[2016-11-26 01:59] thewilsons13 commented on #61
So I see there are now types out in DefinitelyTyped, but the documentation says they are for 1.0.6, while the actual adal JS library is up to 1.0.13.  Do I have to use the 1.0.6 adal library if I want to use Typescript, or will it work with 1.0.13?

[2016-11-26 02:24] maitre-matt commented on #61
I don't believe there has been API breaking changes between 1.0.6 and 1.0.13, so it should be ok. The type definition may be missing newer APIs (when that happens the trick is to cast to `any`, or better: send a PR on the definition). There is also a packaging issue with ADAL putting two JS files in a single NPM package and DefinitelyTyped requiring two packages instead https://github.com/Definite

[2016-11-28 13:53] ischrei opened #450 "Double "error" pipeline in the Angular acquireToken"
Hi,

When an Angular $http request fails due to AAD error, the returned ".data" property get the form "error description | error | undefined".
It happens because both ADAL JS acquireToken and ADAL-Angular acquireToken add " | " + error to the error message.

Thanks,
Ido.

[2016-11-28 16:35] MMM300 opened #451 "Infinite loop using Safari on OS X"
We have an application that runs perfectly in Firefox and Chrome but goes into an infinite loop with both Safari & iCab on OS X.

It seems that WebKit browsers on OS X has this behaviour.

Adal JS Version: 1.0.13
UI-Router: 0.3.1
Angular: 1.5.8

Safari: 9, 10

No suggested solution mentioned in the FAQ helps.

Logs from the first callback after successful login at the ADFS login page:

**Firefox**

[2016-11-29 21:39] cranqcore opened #452 "Bug in getResourceForEndpoint method"
In the resource mapping method at
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal.js#L932 ,
there seemingly is a regarding the retrieval of own backend links.

the else block will always return the configured login resource if no anonymouse endpoints are defined there, but won't go into the return null case.

In my specific case this end in the following logs:

wh

[2016-12-01 11:58] hitendramalviya opened #453 "A very useful library but lacks of documentation to be used with other SPA frameworks but only angular"
I find this library very useful but also it lacks of documentation to be used with other SPA frameworks all examples comes for angular only.

[2016-12-01 17:51] ischrei opened #454 "ADAL Angular interceptor ignores $templateCache content and may fail cached requests"
Hi,

We are using the ui bootstrapt third party library which initializes angular's $templateCache with some of its templates.
Adal tries to protect even a cached template.
In my case, the templates name's have the pattern "template/.../..html", so ADAL tries to protect the localResource. When ADAL fails to acquire token, he fails the templateUrl request, instead it to be served successfully from

[2016-12-02 18:03] akanieski opened #455 "Response_mode support for query and form"
Hello All,

We noticed that ADAL.js is dependent on `response_mode=fragment`. There are issues with some of the front-end frameworks (Angular2, Ionic's DeepLinks and others) intercepting the hash logic before ADAL has a chance to process the callback.

Is there any plan to update to add support the other response modes? Namely query string?

[2016-12-05 21:29] tushargupta51 commented on #448
@ischrei Can you share the following:
1. routing library and version
2. angular version
3. Html5 mode on or off
4. console logs for login process.

[2016-12-05 21:37] tushargupta51 commented on #449
@isabelle112 AAD does not allow query string parameters or hashes in the reply urls. Do you want the token to be returned to a url something like this: https://isabelle.company/wp-admin/admin.php?page=dyn-crm-login#id_token=eqwewqde...?

Unfortunately, that is not allowed by AAD. But adal saves the current page before it redirects the user to the AAD login screen. Once login process is completed,

[2016-12-05 21:42] tushargupta51 commented on #450
Thanks @ischrei .

Update the reject handler in interceptor to this:

      function (error) {
              config.data =  error;
              delayedRequest.reject(config);
     }

[2016-12-05 21:45] tushargupta51 commented on #451
@MMM300 The logs seems to be for 2 different calls. The Safari log is for an acquireToken call instead of login. Since there is no logged in user, acquireToken call fails with the error: "User login is required". Can you share the Safari logs that shows the loop as well.

[2016-12-05 21:54] tushargupta51 commented on #452
@cranqcore Thanks for reporting this. The if...else logic needs to be fixed in that method.

Also, I think check for `anonymousEndpoints` should go above the check for host uri to be same as redirect uri.

Adding this to next milestone.

[2016-12-05 21:58] tushargupta51 commented on #453
@hitendramalviya We only provide out of box support for angular and have no plans currently to extend this further. All the core apis are in adal.js and one can write a wrapper around these apis for any other SPA framework (React, Angular2) by following the adal-angular.js file. All the authentication logic exists in adal.js. We are going to add more detailed documentation for adal.js apis soon (#

[2016-12-05 21:58] #453 closed

[2016-12-05 22:02] tushargupta51 commented on #454
@ischrei Thanks for reporting this. I think exempting templates that are in templateCache from authentication sounds like a good idea. I will add this to next milestone.

[2016-12-05 22:07] tushargupta51 commented on #455
@akanieski Adal Js only support implicit flow (response_mode=fragment). Encoding tokens as query string parameters have security implications: http://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#Security

[2016-12-05 22:07] #455 closed

[2016-12-05 22:08] akanieski commented on #455
Ah understood. Thanks.

On Mon, Dec 5, 2016 at 5:07 PM tushar gupta <notifications@github.com>
wrote:

[2016-12-05 22:10] tushargupta51 commented on #430
Closing this. Please let us know if you are still running into this issue, will reopen it. Thanks.

[2016-12-05 22:10] #430 closed

[2016-12-05 22:15] tushargupta51 commented on #444
Update: updateDataFromCache in adal-angular calls into getCachedToken method and updates the value of _oauthData based on the token returned by the call.

I think it makes sense that we update the state of the user based on the expiration of current id_token. For app's own backend, access token saved in the browser is actually an id token. So even if getCachedToken method looks into access token k

[2016-12-05 22:15] #444 closed

[2016-12-05 22:18] #446 closed

[2016-12-05 22:21] tushargupta51 commented on #436
@rguignard Sorry for the delay. Can you try 1.2.26 and 1.5.8 version of angular to confirm if that makes a difference?

cc: @rohitnarula7176

[2016-12-05 22:34] tushargupta51 commented on #401
@bondseid Sorry for the delay.

Regarding the events not being triggered, when the redirect from AAD happens (popUp: false), does that redirect loads LoginCtrl? If not, then those listeners will not be executed.

With the popup, does the authentication work fine? Is the popUp going in the background only issue?

[2016-12-05 22:45] rohitnarula7176 commented on #387
@nmallick1 If any of these routes in your app.js is protected and you expect adal-angular to redirect you to the authorization endpoint, then you need to explicitly set a property requireADLogin to true as shown below:
[code]
If you are facing an issue other than the one mentioned above, it will be great if you could share a live repro and we would be happy to investigate further.

[2016-12-05 22:49] tushargupta51 commented on #391
@jjcollins53 Apologies for the delay on this, somehow this issue got dropped off the radar. I looked at the logs and from the logs it seems that the cookie was expired.

The `getCachedUser` or `getUser` methods look into the browser storage for id_token and returns a non-null user if there is a token inside the cache. It does not look into the token expiration time though.

What's happening here i

[2016-12-06 00:10] tushargupta51 commented on #441
@SergeyLaptsevich I talked to my team members regarding this issue and it seems fair to allow configuring sub-urls for external apis to be anonymous. I have added this to next milestone. We will move up the check for anonymous endpoints.

[2016-12-06 07:01] MMM300 commented on #451
[code]

[2016-12-07 09:13] XavierDupessey opened #456 "Silent sign-in request was sent but no user is signed in"
Hello,

I get an error with adal and adal-angular on Chrome with this use case:

1. A user attemps to access the app securized with adal on the root URL. A ui router rule redirects him to the real home page (/tickets/) which needs authentication and has 2 resolves invoking protected HTTP requests:

[code]

2. The user is redirected to login.microsoftonline.com (as expected) and logs in. It is redi

[2016-12-07 10:02] XavierDupessey commented on #456
Same problem with Adal-angular and AdalJs v1.0.13, message:

[2016-12-07 11:38] MMM300 commented on #451
I updated the first comment. The redirect contains the id_token value for Safari but no cookies from the ADFS.

Redirect format:
https://localhost:8443/login#id_token=<token value>&state=<hash>

[2016-12-08 19:53] rohitnarula7176 opened #457 "Popup login issue with Edge"
When logging in using a popup window, we first get redirected to the authorization endpoint and after successful authentication, get redirected back to the redirect uri with a token served in the url fragment. In Edge, we are not able to detect the change in in the url fragment using the specified interval of the setInterval method (20 ms). As a result, we are not able to process the received toke

[2016-12-08 23:17] rohitnarula7176 commented on #456
@XavierDupessey When you close the browser, the browsing session ends, which results in the cookie related to your login session with AAD getting deleted. If you reopen the browser within one hour, everything will work as expected as when you call acquireToken, adal will attach the valid (not expired ) token from the cache to the outgoing api request without renewing the token by sending the reque

[2016-12-09 19:40] kbrimington commented on #277
This is an exceptionally poor response. For Microsoft to push us toward React to use Office UI Fabric, but then push us away from React to use Adal.js sends a very confusing message. Bad form.

We desire using Office UI Fabric for a variety of apps integrating with Office 365; however, the general lack of documentation, samples, and integration with your flagship authentication library makes this

[2016-12-12 13:51] XavierDupessey commented on #456
Thank you for the explanation.

As I am using the angular wrapper, I expect to be redirected to the login page in my scenario. Why am I not?

I mean, in my situation:
1. the cookie related to my login session with AAD got deleted
2. the token in the cache is not valid because expired

But the angular wrapper does not redirect me to the login page, it seems strange, isn't it?

I also have to find h

[2016-12-13 10:32] SergeyLaptsevich opened #459 "userInfo.isAuthenticated is not set to true when http request goes before location change"
Quite rare case but quite simple to fix :)
In my application for many ui-router states i have http request in controller constructor to load initial data. For case when adal token is expired it just calls acquireToken, the token is refreshed and data is succesfully loaded but _userInfo.isAuthenticated remains false. This happens because ProtectedResourceInterceptor is called before locationChangeH

[2016-12-13 15:21] torosmichele commented on #459
same here!
checked in angular .run() method

[2016-12-13 22:15] ischrei commented on #448
Hi,
1. During authentication we don't use any routing library (ui-router will be loaded after the user is authorized)
2. Angular 1.4.8
3. HTML5 off
4. Will send you logs privately.

Thanks!

[2016-12-13 23:07] jicailiu commented on #457
I'm getting this error in IE as well: 'Popup Window is null. This can happen if you are using IE'. How do you get it working for you on IE?

[2016-12-14 03:40] tushargupta51 commented on #457
@jicailiu You need to uncheck the "Enable protected mode" checkbox in IE for this to work. Are you using running app using "localhost" or on internet?

[2016-12-14 03:50] tushargupta51 commented on #459
@SergeyLaptsevich

Are you referring to acquireToken call inside the interceptor or inside the locationChangeHandler. `updateDataFromCache` method updates userInfo.isAuthenticated property and this method is called periodically.

[2016-12-14 03:54] tushargupta51 commented on #456
@XavierDupessey You will get redirected to login page only when, after reopening the browser, you navigate to a protected route. Adal will not redirect to login if acquireToken call failed because of cookie not present.

[2016-12-14 08:15] tushargupta51 commented on #277
@kbrimington We are sorry for the bad experience. We will get together with the Office team to understand how they plan to handle authentication. We will also have API docs soon for adal.js, that will help write wrappers for other frameworks on top of it. Unfortunately, we don't have any current plans to extend support for another framework yet.

[2016-12-14 13:27] XavierDupessey commented on #456
Every routes of the app are protected with `'requireADLogin': true` and I am still not redirected to login page if:

1. the cookie related to my login session with AAD got deleted
and
2. the token in the cache is not valid because expired

[2016-12-14 13:34] SergeyLaptsevich commented on #459
@tushargupta51 I'm referring to a case when acquireToken is called inside the interceptor. updateDataFromCache doesn't work here because I need _userInfo.isAuthenticated to be true immediately (I'm showing/hiding log in/log out buttons based on its value). As a result user sees that page/data is successfully loaded but menu on the top shows that he is not authenticated.

[2016-12-14 22:05] jicailiu commented on #457
@tushargupta51 Thanks for the tip, it does the trick. I'm still trying things out in intranet.

[2016-12-15 02:15] sea1jxr opened #460 "Importing adal.js as a module breaks token refresh"
There is some module loading code in adal.js, so I tried bundling it with webpack and "require"ing it.  everything seemed to work fine till I went to refresh and the code at https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal.js#L796 tried to see if the IFrame window.parent.AuthenticationContext was defined.  When importing as a module that property isn't defined.  At

[2016-12-17 00:56] yarick123 commented on #448
@ischrei , I do not use angular, but have nearly the same behavior.

As far as I understand, the authorization process consists of several steps. In every intermediate step AuthenticationContext.handleWindowCallback(..) must be called. If the 'popUp' configuration setting is false, that is  default value, window.location is updated (line 988 in ADAL.js 1.0.13). Then the page is reloaded. By me, th

[2016-12-18 21:02] ischrei commented on #448
Thank you @yarick123. Not sure what you mean by "refreshed as many times as needed", as I see it, only 1 redirection is valid, which is the redirection to AAD in case the user isn't logged-in. Every other refresh, specially for a Single Page Application is a bad behavior and in fact a bug.

BTW, I'm suggesting the following fix:
[code]

[2016-12-19 08:50] heikkilamarko opened #461 "Supported response_type values"
When looking at the source code of `login()` function in `adal.js`, it seems that the `response_type` parameter value is hardcoded as `id_token`.

[code]

I want to use `"id_token token"` as `response_type`. Is it possible to do that somehow?

[2016-12-19 10:01] yarick123 commented on #448
@ischrei , thank you for your workaround. I will analyze it. Maybe it will also help me, if it is applicable for the non-angular version.

In my case, there are many "refreshes" because every time, as the line 988 is executed, happens a refresh. I see as minimum two causes: the first one, when the page gets the token as an URL parameter; the second one - as the token is removed from the URL. But,

[2016-12-20 19:19] AidaNow opened #462 "Call displayCall method before using any default behavior in login method"
Hi,

I am trying to add '&prompt=admin_consent' to 'urlNavigate' to be able to get the IT admin consent. I am using the following code suggested [here](https://github.com/waldekmastykarz/sample-azure-adminconsent/blob/master/app/admin/admin.controller.js#L4-L5):

var adal = new AuthenticationContext();
adal.config.displayCall = function adminFlowDisplayCall(urlNavigate) {
urlNavigate += '&prompt=a

[2016-12-22 02:39] RobARichardson commented on #456
I'm having this exact same problem in Chrome, Edge, & Firefox using v1.0.13.  And all my routes are protected by `'requiredADLogin': true.`

[2016-12-22 08:56] slobshay commented on #391
Hi, I also ran into this problem.
It happens only on IE (this is the most used browser for our testing).
When checking this on other browsers, authentication works fine.

The timeout occurs when using acquireToken, note that even when I try a login right after this failure, I still fail the next time I try acquireToken although login is successful.

This had happened before in my app, couldn't fin

[2016-12-22 09:45] wvanderdeijl opened #463 "Endless redirect on access_denied error AADSTS50105"
Use case: we have a SPA AngularJS application and a user logs on using azure AD that is not granted access to our application. The user is redirected back to our application with `Error :access_denied; Error description:AADSTS50105: The signed in user is not assigned to a role for the application`. However, the `requireADLogin: true` on our default angular route kicks in and the user is immediatel

[2016-12-22 23:49] Karthisubburaj commented on #276
HI @tushargupta51 , Will the given example get access token too for the onpremise ADFS scenario?
The response type passed during the login is ID_token, Do we need to add any additional parameter to get the access token? Will we be able to achieve the implicit flow without passing the token responsetype?

Can you please clarify ?

[2016-12-28 08:19] tushargupta51 commented on #461
@heikkilamarko You can implement `displayCall` method. This takes authorization url as input. You can  replace "id_token" to url encoded value of "id_token token" in that and then set the window.location to url value.

[2016-12-28 08:24] tushargupta51 commented on #462
@AidaNow You can't use default popup behavior and displayCall method together. If user overrides the login redirection behavior using `displayCall` method, the default way will be skipped (both popup and redirect based login). So, even if we move the `displayCall` method above popUp (which we intend to do), this might not solve your problem as that will redirect the user since you are using `promp

[2017-01-03 10:42] alaashafaee commented on #194
@damienpontifex, thanks a lot for your contribution. Is it possible to share a sample app that uses your implementation? That would be very useful.

[2017-01-04 07:56] malay2012 commented on #366
We have upgraded to version 1.0.13, but still have this issue for some Edge browser. we have the issue in earlier version as well. This is happening in initial login itself. We have cleared the browser cache and tried fresh.

a. We have observed that initially in sessionstorage values are stored for clientId, but there seems no calls for api resource. Then continuosly failing even though we forced

[2017-01-05 13:23] gillesgerlinger opened #464 "No token after login redirects"
Hi,

I am using the adal.js library (meaning I am not using Angular) in my SPA webapp with popUp set to false (i.e. full redirect).

It works fine on PC, using IE, Firefox and Chrome. It works also in Android Chrome. It does not work on iPhone / iPad / Mac OS Safari. It does not work either on iPhone / iPad Chrome (it works on Mac OS / Chrome).

The issue, as far as I can track it, is that the log

[2017-01-05 15:20] gillesgerlinger commented on #464
I found the solution to this problem. I used to omit index.html in the URL for the redirections (something like http://mydomain/myapp). This was causing the problem above. When I changed the redirect url to http://mydomain/myapp/index.html, Adal worked like a charm on Safari, iPhone, etc...

[2017-01-05 15:20] #464 closed

[2017-01-06 17:56] RobARichardson commented on #460
Had the same problem here. Had to revert back to just including the libraries in my page via script tags using the CDN files.  Definitely not ideal.

[2017-01-09 21:35] tushargupta51 commented on #463
@wvanderdeijl You can listen to adal:loginFailure event and redirect the user to "failedLogin" page.

[2017-01-10 14:21] AidaNow commented on #462
@tushargupta51 Thanks for your reply. You are right, I am using admin_consent only in some cases. Here is how I fixed the issue (I am always using popup):

In my login controller, I have:

var adal = new AuthenticationContext();
adal.config.displayCall = function adminFlowDisplayCall(urlNavigate) {
    urlNavigate += '&prompt=admin_consent';
    adal._loginPopup(urlNavigate);
};
adal.login();
adal

[2017-01-10 17:52] tushargupta51 commented on #462
@AidaNow Yes, it does. I will update the subject of the issue to reflect that we need to move up the call to displayCall method. Thanks!

[2017-01-10 18:41] AidaNow commented on #462
@tushargupta51 Thanks for your reply. Looking forward to see and use this in 1.0.14 version.

[2017-01-11 18:19] tushargupta51 commented on #451
@MMM300 I wonder why you get the "User login is required" error after a successful login. For some reason, adal cannot find the id_token in browser storage and that's why another login is initiated. Can you check if the local storage has the tokens after login? Fiddler trace will help more here since we need to find out what gets passed in the request and what is returned in the response.

[2017-01-12 04:37] wvanderdeijl commented on #463
Any idea on which scope to setup this listener? I've tried all options I can think of and the listeners never seem to fire. All examples I could find seem to suggest to setup the listener on the scope/controller that triggers the login flow. In my case there isn't any such component as the user doesn't trigger the login flow from a component but we use protected routes

[2017-01-12 12:39] MMM300 commented on #451
### Callback URL (after login)

`https://localhost:8443/login#id_token=<Token 836 bytes>&state=<State 36 bytes>`

### ADFS REQUEST
[code]

### ADFS RESPONSE
[code]

### Safari

Cookies: None

_As mentioned above Firefox has 3 cookies at this stage: MSISAuth, MSISAuthenticated, MSISLoopDetectionCookie_

Local storage: empty

Session storage: empty

This is the state exactly before the Safari tries

[2017-01-12 14:57] jbranders commented on #323
Can someone give me the steps to solve this issue? Still getting the same issue.
Thank you!

[2017-01-12 14:58] jbranders commented on #445
Can someone share some working code related to this problem? I have still the issue with AADSTS50058: A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's session were not sent in the request to Azure AD. This can happen if the user is using Internet Explorer or Edge,
 and the web app sending the silent sign-in request is in different IE security zon

[2017-01-12 21:16] rohitnarula7176 commented on #463
@wvanderdeijl Can you please share the versions of angular and angular routing you are using. Also if you can share a sample app that reproduces the issue, that would be great. Looking at the route provider, I see that the route with the ParamsController triggers the login flow.  Can you try attaching the listener on that controller?

[2017-01-13 13:21] darcyparker opened #465 "Plans for `oauth2/v2.0/authorize` and `oauth2/authorize` tokens"
The current `dev` branch is using `oauth2/authorize`, whereas the `experimental` uses `/oauth2/v2.0/authorize`.  I can see from comments such as in #420 that the `experimental` branch is not being worked on anymore (last touched Oct 2015), yet the older experimental branch is being used by [graph-explorer](https://graph.microsoft.io/en-us/graph-explorer#/).  What is `MSAL JS`? Where can I find it

[2017-01-13 13:30] darcyparker commented on #465
I have seen reference to the upcoming MSAL JS in various blog posts from early 2016... but haven't found much more.  It seems the unified strategy of MSAL is what I need today... or some other approach to get by with that lets me use different versions of the JWT tokens.

[2017-01-13 13:30] lamuertepeluda commented on #465
No good news for you, pal...

https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/189#issuecomment-262620390

[2017-01-13 13:34] darcyparker commented on #465
@lamuertepeluda - thanks for sharing.  I'd love to hear a roadmap update from Microsoft on this.

[2017-01-16 14:35] rguignard opened #466 "Adal-1.0.13, Popup mode: The frame attempting navigation is sandboxed, and is therefore disallowed from navigating its ancestors."
Hey

I trying to use the last version of adal 1.0.13 in an Oulook add-in.
I configured adal.js to use the popup mode. (popup:true)
The authentication is working correctly on IE11 but I meet an error with chrome during authentication in the popup. You can find below the console trace:

adal.js:274 Unsafe JavaScript attempt to initiate navigation for frame with URL 'https://host/appname/AppCompose/H

[2017-01-17 06:50] sumeetmd commented on #456
Is there a date by when this issue is expected to be fixed?
My team is using AdalJS v1.0.11 and frequently face this issue when user attempts to re-login into the app after token expiry. Token is issued by Azure AAD. The issue happens on Edge while user is able to login without issues using Internet Explorer or Chrome.
AI logs show the exact same error getting logged i.e. "A silent sign-in request

[2017-01-18 16:10] danielarita commented on #261
@tushargupta51 with version 1.0.13 I still have this issue, the angular views on my project are getting the HTTP Status undefined undefined, only when the route is protected it works.

[2017-01-20 15:19] wvanderdeijl commented on #463
I've tried adding the listeners to the controller that is associated with the route but those listeners also don't fire. I've created a sample application with README at https://github.com/wvanderdeijl/adal-hello-world

[2017-01-20 21:43] eamodio opened #468 "Add adal.js to npm"
I see there is an adal-angular version on npm, but why isn't the non-angular version on npm?

[2017-01-20 22:27] eamodio commented on #445
It seems that when `AADSTS50058` occurs with localStorage on, instead of `CONSTANTS.STORAGE.LOGIN_ERROR` getting set, only `CONSTANTS.STORAGE.ERROR` and `CONSTANTS.STORAGE.ERROR_DESCRIPTION` do. And I believe `CONSTANTS.STORAGE.ERROR` gets set to `login_error`.

Given that, it seems like `getLoginError` should take that into account, or the check here should be fixed: https://github.com/AzureAD/az

[2017-01-24 02:23] tian100 opened #470 "Angualar Route 1.5.11, returns to the wrong route after logging in"
Adal.js and Adal-Angluar.js (V 1.0.13) doesn't save the intended return URL when login is triggered by route  change in Angular JS 1.5.11.

For example, when the ToGo List route is marked by "requireADLogin: true" and user moves from "home" to "to go list", the return url should be the "To Go list page", rather than the "home page". However, the home page url is stored in session storage because i

[2017-01-24 17:52] maheshp9 commented on #391
I am facing similar issue and also started happening after we updated our SDK to 1.0.12 last October. Any luck with narrowing down the root cause and a fix?

[2017-01-24 18:55] tushargupta51 opened #471 "getCacheUser and getUser methods in adal.js"
Investigate whether getCacheUser and getUser are correctly implemented or not. Currently, these methods look for an id_token in the cache and return user created from it (getCachedUser only returns cached user). When using localstorage, storage might still have the id_token even when user does not have a valid session with AAD. Investigate whether the logic inside these methods should also take in

[2017-01-24 22:03] rohitnarula7176 commented on #470
@tian100 We have seen this behavior in angular version 1.5.8 and above and it is because they changed the way they handle the routeChange event. We will update our code to save the correct loginStartPage in our next release.

[2017-01-24 22:12] tushargupta51 commented on #391
Starting in 1.0.12, Adal added timeout to acquireToken method. It waits for 6 seconds to receive response from AAD for a given acquire token request. If no response is send within this time, adal sends this timeout error to the application. There are several reasons this might happen:

1. **Using Plain Js (non-angular)**: Ensure that `adal.handleWindowCallback` method is called when AAD sends the

[2017-01-25 11:15] magnuf opened #472 "Only accepts clientId as audience"
I have a SPA that uses an API hosted in Azure, using AzureAD.
I have been trying for some time now to get adal.js working, with little luck. I've tried several approaches, and one thing I am stuck on now is
`Bearer error="invalid_token", error_description="The audience is invalid"`

This led me down the path of figuring out which audience the token contains.
I can acquire a token using postman, an

[2017-01-27 09:46] johanalkstal opened #473 "Help with token issues"
Sorry for the non descriptive title but I'm not sure what the problem is.

We have a basic setup of ADAL,
[code]

We also have this in our `app.js`,
[code]
to serve a thin client for the ADAL iframe.

But we have a lot of problems with our users not being considered authenticated.
What we do is if `adal:acquireTokenSuccess` is broadcasted, we check `adalAuthenticationService.userinfo.isAuthenticat

[2017-01-27 15:08] Abrissirba opened #474 "Silent exception in callback method"
In the method AuthenticationContext.prototype._loginPopup there is a setInterval that checks if the user is siged in yet or not. If the user is signed in and a callback method has been provided, the callback method will be called with the accessToken. Any exception thrown in the callback method provided by the developer will fail silent due to a try with an empty catch. This will result in an infi

[2017-01-28 00:49] rohitnarula7176 commented on #474
@Abrissirba Thank you for pointing this out. We have a try catch here because when a user clicks login, we open a popup window and set its location to the authorization endpoint which lies in a different domain (https://login.microsoftonline.com) . Having this when we try to get popupWindow.location.href, it will keep throwing an error "DOMException: Blocked a frame with origin "https://localhost:

[2017-01-28 07:42] Abrissirba commented on #474
Thanks for the very good explanation :) Would it not be better to only have this check
    popupWindow.location.href.indexOf(registeredRedirectUri) != -1
in a try catch block and the rest of the code outside?

    var hasRedirectedToRedirectionUri = false;
    try {
        hasRedirectedToRedirectionUri = popupWindow.location.href.indexOf(registeredRedirectUri) != -1;
    }
    catch(Exception ex)

[2017-01-29 17:43] paonekumar commented on #457
@tushargupta51 I am also getting similar issue, it is working good after unchecking "Enable protected mode" in IE, do we have any other solution? we cannot request all our clients to change IE settings.

[2017-01-30 16:42] FacundoGFlores opened #475 "Authenticating automatically with external apps"
I will try to describe the scenario.

1- Today, I have an application using adal.js library which authenticates with Azure using the implicit flow. So, when an user wants to enter to home, it is required to be logged in. So I have a function doing the following:

[code]

Everything is working OK.

2- Now, an external app (B) wants to access my app (A). So in the app B there is a link to my app, an

[2017-01-30 19:16] rohitnarula7176 commented on #474
@Abrissirba Doing it the way you suggested will fix the issue you mentioned but we will still have an issue with the code if popup is set to false. For instance, when the user logs in using redirect flow, after loginSuccess/Failure user gets redirected to the app's root page with the token received as the url fragment. At the time of redirect, the app gets reloaded and we have a code running on ap

[2017-01-30 21:36] rohitnarula7176 commented on #472
@magnuf Can you share your app.js file which has the configuration details. If you are trying to access an api which is not hosted on your domain, you will have to configure the endpoints property on the config object as shown below for adal to attach tokens to this request.
[code]
 We will be able to investigate further once you send us your configuration file and error logs.

[2017-01-31 00:56] tushargupta51 commented on #387
Closing this for now. Please feel free to re-open if you are still encountering this issue.

[2017-01-31 00:56] #387 closed

[2017-01-31 01:07] tushargupta51 commented on #391
If you run into this specific error and none of the above helps, please open a separate issue with relevant logs, traces and we will look into that.

[2017-01-31 01:07] #391 closed

[2017-01-31 01:14] tushargupta51 commented on #401
Closing this for now. Please feel free to re-open this when you have more info.

[2017-01-31 01:14] #401 closed

[2017-01-31 01:21] tushargupta51 commented on #468
@eamodio What are the issues you are facing in adding adal-angular npm as dependency? Does it ask you to install angular as well?

[2017-01-31 01:31] tushargupta51 commented on #445
@jbranders @eamodio The token renewal operation is a silent operation and not considered as a login process. That is why when `acquireToken` operation is failed because cookies are expired or not present, adal sends the error back to application. Application should listen to `adal:acquireTokenFailure` event to take further actions, in this case, call login() method.

[2017-01-31 01:45] tushargupta51 commented on #449
AAD does not allow use of querystring parameters and hashes in the redirect uri. And that's AAD will not send back the token to url with QSP/hashes.

[2017-01-31 01:45] #449 closed

[2017-01-31 01:51] tushargupta51 commented on #457
@paonekumar Unfortunately, No. This is an IE/Edge specific behavior, probably related to security zones, where they do not allow opening new windows in different security zone.

[2017-01-31 02:39] eamodio commented on #468
@tushargupta51 there are no issues using the angular version, other than extra unneeded angular code that adds to the size of my bundle. But really the main issue is confusion. I wouldn't have chosen an angular version of something if I'm not building an angular app.

[2017-01-31 03:01] eamodio commented on #445
@tushargupta51 where are these events? Are they angular specific or something?

[2017-01-31 15:42] jbranders commented on #445
@tushargupta51 are the events angular specific? How can i implement the acquireTokenFailure without using angular? Thanks for you reply.

[2017-01-31 16:45] Karthisubburaj commented on #276
HI @tushargupta51 ,

When the acquireToken is called to retrieve the accesstoken for a resource, I am getting the below error in response from adfs.

error=login_required&error_description=MSIS9621%3a+Unable+to+handle+the+OAuth+authorization+request+without+getting+user+input.

Please find the below configuration that I am using.

adalProvider.init(
    {
        instance: 'sts url',
        tenan

[2017-01-31 19:43] tushargupta51 commented on #445
@eamodio @jbranders These are angular specific events. I recommend you add listeners to these events in your app.js file or a file which gets executed when there is a redirection. If using special html for redirectUri, add this listener to that html file.

[2017-01-31 19:45] eamodio commented on #445
@tushargupta51 so if we aren't using angular at all how do we trap these events? are they DOM events?

[2017-01-31 19:53] tushargupta51 commented on #445
@eamodio I recommend using callbacks in those cases. `acquireToken` method takes in a callback as a parameter and calls this callback with the AAD response. Also, you can hookup a callback for login process in adal.init under `callback` property. This callback will be called whenever login process is completed either successfully or with an error.

[2017-01-31 20:08] johnelliott commented on #460
Glad to see this! I may be having the same problem, investigating it just now :)

[2017-02-01 10:31] rguignard commented on #466
Hey

Does anyone has already used adal.js in an add-in ?

[2017-02-01 10:42] magnuf commented on #472
Hi!

I am not using this in an angular app, and as far as I can see, the only usage of endpoints is in `getResourceForEndpoint`, which is only used in `adal-angular`.

I haven't found a way to use this function for my app.

My comment was more of a question of, is it correct that
`if (parsedJson.aud.toLowerCase() === this.config.clientId.toLowerCase()) {` is the only valid scenario.

Sorry if this

[2017-02-01 18:21] AaronRM commented on #323
Similar to @gabbsmo, I hit this with Chrome + the Privacy Badger extension (it was blocking cookies from login.microsoftonline.com).

[2017-02-02 20:14] wvanderdeijl commented on #463
Gentle bump

[2017-02-02 20:20] Vivihung commented on #472
Hum... I'm not using adal.js in Angular, either. (used in react)
But everything works fine for me.
I'm curious about your configuration passed to adal, @magnuf

[2017-02-02 21:17] johnelliott commented on #456
We are also seeing this error using `adal.js` and localStorage for the cache. At first I didn't even see the error because it was URL-encoded. Now I'm confused because I didn't even think cookies were in play for the way we are using the library

[2017-02-03 23:38] duanekord commented on #456
Same here.  Seeing the same issue even after 1.0.13.  Still seeing:A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's session were not sent in the request to Azure AD. This can happen if the user is using Internet Explorer or Edge, and the web app sending the silent sign-in request is in different IE security zone than the Azure AD endpoint

[2017-02-04 16:13] johnelliott commented on #456
for the record @duanekord, now I'm not seeing the error. I wasn't calling the `handleWindowCallback`. See here: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/446#issuecomment-262385450

[2017-02-04 16:44] duanekord commented on #456
@sumeetmd
When you and Thomas were looking into this issue did you come across this  #466 ?

[2017-02-05 21:57] urkaver commented on #456
The same problem. I'm using angular-wrapper 1.0.13 and it doestn't handle this problem at all.

[2017-02-06 06:02] Walk4Muscle commented on #475
Your app is secured by Azure AD, whose the authentication flow follow the OAuth 2.0. Any other applications want to access your application protected by AAD, need to authenticate and authorize from AAD and acquire an access token first. Then set the access token in HTTP request's authorization header against your application.

So, which require the app B generate the access token for your users, a

[2017-02-06 06:33] magnuf commented on #472
I have solved the `audience is invalid` error. It was a misconfiguration on the backend API.

[2017-02-06 07:50] Walk4Muscle commented on #473
What your application's structure looks like? Have you tried the first method of https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs#q1-my-app-is-re-loading-every-time-adal-renews-a-token?

[2017-02-06 17:01] brentschmaltz commented on #381
@tushargupta51 is this still an issue?

[2017-02-06 17:02] brentschmaltz commented on #443
@rohitnarula7176 can we get this into 1.0.14 seems to be a hassle for users.

[2017-02-06 17:08] #472 closed

[2017-02-06 17:18] brentschmaltz commented on #466
@rguignard it may be helpful to post a question on StackOverflow.

Use tags: adal, msal, azuread.

[2017-02-06 17:22] brentschmaltz commented on #461
@heidijinxujia if this doesn't work for you, please reopen.

[2017-02-06 17:22] #461 closed

[2017-02-06 17:26] brentschmaltz commented on #457
@paonekumar we don't know of any other solution right now.

[2017-02-06 17:26] #457 closed

[2017-02-06 17:28] brentschmaltz commented on #436
@rguignard if this doesn't work please reopen.

[2017-02-06 17:28] #436 closed

[2017-02-06 17:30] brentschmaltz commented on #412
@tushargupta51 if this PR was NOT committed, please get the PR in.

[2017-02-06 17:36] brentschmaltz commented on #359
@dstrockis Do you think this is still an issue?

[2017-02-06 17:37] #361 closed

[2017-02-06 17:37] brentschmaltz commented on #340
@rohitnarula7176 did we do anything here?

[2017-02-06 17:38] brentschmaltz commented on #175
adal does not validate tokens.

[2017-02-06 17:38] #175 closed

[2017-02-06 17:39] brentschmaltz commented on #61
@tushargupta51 @rohitnarula7176 can we get this into 1.0.14?

[2017-02-06 18:54] tushargupta51 commented on #381
@brentschmaltz It's not really an issue from adal end. AAD does not show this checkbox when it thinks that the request is using brokered flows. That does not seem to be applicable to adal js. I have sent a reminder email to AAD folks last week to understand this more. Will update this issue once I hear back from them.

[2017-02-06 18:57] tushargupta51 commented on #412
Let's keep it open until we have this released in 1.0.14.

[2017-02-07 12:34] johanalkstal commented on #473
Not sure what structure would be interesting to know, that isn't in the code above?

Yes we have tried the first method in Q1 (and are using the second one).
Our issue isn't that it keep reloading (we had that issue before though), but that it doesn't reload at all.
Not sure it should reload even? Shouldn't the token be renewed in the background?

[2017-02-07 14:14] gabbsmo opened #479 "AADSTS50058 in Edge but not IE"
I've removed my app and login.microsoftonline.com from trusted sites as this is the expected setup from most of our users. CROS requests then work in IE but not in Edge. Edge only works if I add the two domains to my truested sites. I'm using localStorage as storage for adal-angular 1.0.11.

EDIT: Cookies are set to "Do not block cookies" in Edge.

[2017-02-07 22:44] AmazingJaze opened #480 "How does 'adal.idtoken' get set in localStorage?"
Before [this line of code](https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/8560eb01c9ac3c6510d03e6319b9a8588398c11c/lib/adal.js#L136) runs inside of the AuthenticationContext constructor function,

```localStorage.getItem('adal.idtoken')``` doesn't exist.

Immediately after that line of code runs,
```localStorage.getItem('adal.idtoken')``` returns a token.

But this only works

[2017-02-07 22:47] AmazingJaze commented on #480
Updated original issue for clarity

[2017-02-07 23:08] tushargupta51 commented on #480
@AmazingJaze I don't think there is any correlation between that line of code and `localstorage.getItem('adal.idtoken')` returning a value. When you set `cacheLocation` to localStorage, that means that adal will use localStorage to store tokens. Default is sessionStorage. So, when you do not set cacheLocation property, items will be stored in sessionStorage. But this setting should be provided whe

[2017-02-07 23:39] AmazingJaze commented on #480
Hi @tushargupta51, Can you help me understand where `adal.idtoken` token is first set in localStorage? I am on a domain joined machine, signed in via corpnet credentials. Is Adal.js doing anything to set it, or is this something Edge does automatically?

I agree it seems implausible that the token should be getting set the way I described above. But in execution it is very perplexing to me why ```

[2017-02-08 04:17] tushargupta51 commented on #480
@AmazingJaze Adal Js sets the `adal.idtoken` property, look into `saveTokenFromHash` method.

Adal Js does not support hosted web browsers, it only supports browsers running in regular mode.

[2017-02-08 06:49] magnuf opened #481 "Working example with react/axios"
Hi!

I have finally managed to get adal.js up and running (I think), with reauthenticating after token timeout as well. With a .net backend hosted in azure. This is done in a react environment, using axios for running requests.
As I have spent way too much time on this, I am making this issue so that maybe I can help someone who is struggling as well. I can't find any better place to put it. Also,

[2017-02-08 13:12] jelledruyts commented on #276
The extraQueryParameter should not contain the "openid" scope, in fact for AD FS it can just be left empty completely.

[2017-02-08 15:02] candril commented on #481
Hint: You should be fetching a token before each HTTP request. Otherwise you could be working with expired tokens

[2017-02-08 20:07] Karthisubburaj commented on #276
Thanks for clarifying and it is issuing access token now. Will I be not able to pass any scope parameter ? In my example I want to pass the scope parameter as user_impersonation and if I pass the parameter it is not working.

[2017-02-08 20:34] rohitnarula7176 commented on #470
@tian100 Can you please confirm whether you are seeing this behavior with popUp:true or with the default redirect flow or both.

[2017-02-08 23:03] tushargupta51 commented on #452
@cranqcore Hi, I am sorry but I might have missed some details here. The `return null` statement at the end is actually obsolete and we will remove that since we treat all relative calls to be calls to backend of the app.

In your case, /myapp/i18n/locale-de.json is treated as call to your own backend, and hence loginResource aka clientId is being returned.

 You are seeing `Getting error in the r

[2017-02-09 00:50] tian100 commented on #470
I saw it with default redirect flow. Haven't tried the popup yet...

[2017-02-09 11:46] magnuf commented on #481
The interceptor is there to catch any expired tokens. I guess it's perhaps a matter of taste if you want to fetch the token before each request, or wait until you get a 401 to fetch a new one. I first tried with fetching it before each call, but I figured that would lead to a lot of unnecessary fetchings, since it would only need to fetch it once for each time it expires instead.

Working with an

[2017-02-09 13:14] eloekset commented on #70
@manospasj, do you know if the fix you're mentioning is merged? I get the same error in my console, and I've got special Norwegian characters in my name, but I'm not sure if my issue is about something else, because I get it when I logon with a test user without any special characters in the name also.

[2017-02-09 14:14] eloekset opened #485 "When id_token is !#id_token isCallback() function returns false"
I'm having an issue with the return url from Azure AD, and I'm not sure why it happens.

When the id_token is returned with an exclamation mark in front of the hash sign, adal's isCallback function returns false since it doesn't match the CONSTANTS.ID_TOKEN value.

![id_token](https://cloud.githubusercontent.com/assets/791721/22786767/2de8ff56-eeda-11e6-91b0-5ba9c5ba46ab.png)

I've not been able t

[2017-02-09 16:42] manospasj commented on #70
@eloekset this has been merged for Greek characters (I don't know if there is something more to be done for Norwegian characters), but it's probably not your case. I had this issue only with accounts that had Greek characters. Other accounts could login normally. In any case, I suggest you to retrieve the token, try to decode it by yourself and then compare it with the decoded token from adal.js

[2017-02-09 19:33] jelledruyts commented on #276
Whenever AD FS is refusing to issue tokens, please look in the event logs on the AD FS server (under Applications and Services logs / AD FS / Admin). Optionally enable the Operational logs for even deeper inspection. That's how I figured out that it wouldn't accept the "openid" scope at least.

[2017-02-09 21:13] tushargupta51 commented on #485
@eloekset Do you set the `$locationProvider.hashPrefix`? Adal does not add "!" to the url. Is there any custom logic in application that might affect this?

[2017-02-09 23:12] rohitnarula7176 opened #486 "Ability to detect if a user session is valid or not."
In the current code, there is no way to detect whether the user session is valid or not. In a case when a user signs in to the app, closes the browser and reopens it, the cookies get deleted. In this case, when adal tries to acquire a token , it results in a failure event ("adal:acquireTokenFailure") with the error "AADSTS50058: A silent sign-in request was sent but no user is signed in. The cooki

[2017-02-10 07:52] eloekset commented on #70
@manospasj, I found that the issue isn't related to the token itself. After debugging the adal code, I found that the problem is an exclamation mark before the id_token parameter in the return URI from Azure AD, so I opened #485.

[2017-02-10 08:23] eloekset commented on #485
I'm following a Pluralsight course "Azure AD for Developers" and the code is really simple. I don't do anything with the `$locationProvider.hashPrefix` myself, but I tested the code from the Exercise Files downloaded from the course, and that worked. This is a screenshot of the URL in the video:
![2017-02-10_0857](https://cloud.githubusercontent.com/assets/791721/22819317/dbd81506-ef71-11e6-9a3b-3

[2017-02-10 09:11] eloekset commented on #485
I reproduced the issue using **adal-angular.js** v1.0.13 and **angular.js** v1.6.1 in this repo: https://github.com/eloekset/AngularAdalIssue485

[2017-02-10 21:56] #480 closed

[2017-02-10 21:56] tushargupta51 commented on #480
Issue was related to Integrated Auth in Edge.

[2017-02-10 21:58] tushargupta51 commented on #481
Thanks @magnuf for sharing the information. This might help people trying to use adal with react.

I will close issue since this is more of an informational post.

[2017-02-10 21:58] #481 closed

[2017-02-10 22:17] tushargupta51 commented on #475
@FacundoGFlores
@Walk4Muscle is correct. If App B wants to access App A's resources, it first needs to acquire a token from AAD.

app A needs to acquire tokens for both itself(id_token) and for app B(access token).

[2017-02-11 01:22] tushargupta51 commented on #479
@gabbsmo The expected setup is that both app and login.microsoftonline.com are in the same zone.

This is what we recommend (its in readme too)
If you put your site in the trusted site list, cookies are not accessible for iFrame requests. You need to remove protected mode for Internet zone or add the authority url for the login to the trusted sites as well.

[2017-02-11 06:06] gabbsmo commented on #479
@tushargupta51 Since I removed both app and authority from trusted sites both are in the Internet Zone. Protected mode is not enabled. Why does this setup work in IE but not in Edge?

[2017-02-13 16:41] kgidewall opened #488 "Expand Resiliency Error Codes"
We currently invoke resiliency mode when the following conditions occur: network timeout or http error codes 500, 503, 504. After discussion, we have decided to expand the error code list to include ALL http error codes 500 - 599. Please change your logic to include all of those codes for Resiliency.

[2017-02-13 23:32] tushargupta51 commented on #479
@gabbsmo It's hard to say what might be happening? Can you share network/fiddler traces?

[2017-02-13 23:34] #452 closed

[2017-02-14 02:44] tushargupta51 commented on #456
Is there anyone here who runs into this issue with 'sessionStorage' and re-opening the browser?

TL;dr, This is related to the fact that getCachedUser and getUser does not take into account expiration time of the id token.

Details:
I think this issue occurs when using 'localStorage'. The reason user is not getting redirected to login page is because 'adal.idToken' still has a value when browser i

[2017-02-14 02:44] #456 closed

[2017-02-14 02:50] tushargupta51 commented on #459
@SergeyLaptsevich When acquireToken call is made inside the interceptor, the locationChangeHandler is still executed. It is executed inside the iframe where AAD returns back the response.

Sequence of steps:
1. Interceptor sends acquireToken request.
2.  AcquireToken method creates an iframe and sends request to AAD.
3. AAD returns back the response to iframe.
4. Adal instance running in iframe pr

[2017-02-14 23:34] tushargupta51 commented on #468
Dup of #443 . Please follow that issue regarding pushing separate npm module for plain adal js.

[2017-02-14 23:34] #468 closed

[2017-02-15 17:34] aditya1984 opened #491 "Token renewal operation failed due to timeout with Power BI API"
I am using ADAL.js(v1.0.13) to access Power BI reports using architecture as described [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code) and [here](https://powerbi.microsoft.com/en-us/documentation/powerbi-developer-integrate-report-get-report/).

I could get the authorization code and ID token successfully but when I try to get the acces

[2017-02-15 18:00] aditya1984 commented on #491
The navigation URL that is loaded into ADAL iframe is like below (**** are to hide specific values):

https://login.microsoftonline.com/*******.onmicrosoft.com/oauth2/authorize?
grant_type=authorization_code
&client_id=************************
&resource=https%3A%2F%2Fanalysis.windows.net%2Fpowerbi%2Fapi
&code=AQABAAAAAADRNYRQ3dhRSrm-4K-adpCJSYrOCejxkuXTXAMBqAB6wjCZQV2T47NyU4V81LSRWCBLrNYUaKd60KquM

[2017-02-15 19:25] tushargupta51 commented on #491
@aditya1984 Adal Js does not support confidential flows, it only supports implicit flow. Please use other flavors of adal to use code based flows.

[2017-02-16 10:59] asc-pz opened #492 "Adal Issue in the CRM Outlook Client (1.0.13)"
Hello Folks,

i wrote a test adal solution for Dynamics CRM.
I am using the popup-mode since webresources are being displayed in iframes which do not work with adal.

Everything is working fine in all browsers as i have access to popupwindow.location.hash.
When i am using the CRM Outlook Client which is connected to a online crm organisation the hash is simply there.
Once the redirect happens i se

[2017-02-16 14:21] gabbsmo commented on #479
@tushargupta51 I've attached fiddler sessions and console output from adal.js for both IE and Edge.

[adaljs_issue_479.zip](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/780368/adaljs_issue_479.zip)

[2017-02-16 18:56] tushargupta51 commented on #479
@gabbsmo Cookies are not sent along with the request in case of Edge. One case I have where this might happen is when the Edge process setting the cookie is different than the one sending the request to AAD for token renewal. Can you capture full trace in Edge which also has the login request, that is setting the cookie?

Also, do you close the browser when running the app, that will delete the co

[2017-02-16 18:57] #491 closed

[2017-02-16 20:31] tushargupta51 commented on #492
@asc-pz I am not sure I understand the issue with adal here. I am not too familiar with CRM outllook client and how is it using adal Js. You might want to check with Outlook folks on this.

[2017-02-16 20:35] tushargupta51 commented on #485
@eloekset Can you share a fiddler trace with the requests and responses from AAD?

[2017-02-16 20:36] asc-pz commented on #492
@tushargupta51  The CRM Outlook Client is a tool that is using the internet explorer internally for displaying crm and it's plugins ( which are in my case html and js files. ). The problem is that i dont get tokens in the outlook client but in the internet explorer. Seems like the outlook client redirects the "redirecturi" internally - in this step the hash gets lost. Is there any other option for

[2017-02-16 20:42] tushargupta51 commented on #492
@asc-pz Do you know if outlook client is using a hosted web browser or is it using IE in regular mode? I am  guessing its the former. If outlook client is updating the redirecturi in a way that removes the hash before processing it, then there is little that adal can do here. If it has processed the url before changing it then you can query the browser storage to get the token.

[2017-02-16 22:06] tushargupta51 commented on #445
Please use acquireTokenFailure event to capture the "login_required" error and redirect the user to login page. Also, this is related to #471 where we plan to update the behavior of `getUser` method. Closing this now, let us know if you still run into problems and none of the suggestions work for you.

[2017-02-16 22:06] #445 closed

[2017-02-16 22:12] tushargupta51 commented on #465
@darcyparker Sorry for the delay in response, we are still working on the roadmap, things are in early design phase right now, we will update this space once we have more concrete information about MSAL JS (library thats going to work against the v2 endpoint).

[2017-02-16 22:12] #465 closed

[2017-02-16 22:28] tushargupta51 commented on #466
@rguignard Adal is intended to be used inside a regular browser mode. When using inside a hosted browser, things are not guaranteed to work as the browser behavior can be different.

[2017-02-16 22:28] #466 closed

[2017-02-17 01:47] tushargupta51 commented on #471
`getUser` method is expected to return the user from last known login session, it does not return the currently logged in user. Do not rely on the return value to decide whether user is logged in or not.

If at the bootstrap time, application needs to know whether user session is active or not, is to send an acquireToken request to get a token for `clientId`, if AAD returns error "login_required",

[2017-02-17 01:47] #471 closed

[2017-02-17 08:47] gabbsmo commented on #479
@tushargupta51 I've attached fiddler trace from edge. I logged out before recording. The browser was never closed in this session and I still reproduced the error message. I've sent the password to the archive to tushargupta51@gmail.com.

[edge_fiddler_sessions_with_login.zip](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/782646/edge_fiddler_sessions_with_login.zip)

[2017-02-17 10:09] eloekset commented on #485
Thanks, @tushargupta51! I've sent you an email with the fiddler trace details.

[2017-02-17 10:57] wvanderdeijl commented on #463
Is there anything I can do to help the progress of this issue?

[2017-02-17 18:31] tushargupta51 commented on #463
@wvanderdeijl Sorry for the delay on this. Can you try moving this listener code:

        $scope.$on('adal:loginFailure', (event: any, rejection: any, forResource: any) => {
            debugger;
            console.log('XXXXXXXXXXXXX loginFailure', event, rejection, forResource);
        });

outside of RouteController class in app.ts so that its defined globally in that file or inside .config m

[2017-02-17 18:52] tushargupta51 commented on #485
@eloekset In the fiddler trace, frame #24 and 49 have the correct url without the "!" sign. Did everything work fine when you captured the fiddler trace? Also, can you try reproducing the bug with 1.5.x and 1.6.1 version and see if that makes any difference. If it does, then its an issue in angular routing.

[2017-02-17 18:59] tushargupta51 commented on #479
@gabbsmo As expected, the response (frame # 11) that is setting the cookie and the token request (frame 63) are using different Edge processes. You can see that under the process column in the trace. The former is in process 13504 and the latter is in 17120.

We have seen this earlier and from what I remember, Edge guys told us that cookies might not be shared between different processes. I will b

[2017-02-17 19:15] eloekset commented on #485
Yes, the URL from Azure AD looks correct, but the repro project fails every time. I'm not using Angular in any of my projects, just this project from the Pluralsight course, so I'm not enough into Angular to guess why it happens. When I use Adal-js without Angular, it works fine.

[2017-02-17 19:19] tushargupta51 commented on #485
@eloekset If I understand correctly, in the sample code here: https://github.com/eloekset/AngularAdalIssue485, the angular version used is 1.6.1 and it reproduce the issue and I guess the fiddler trace you provided is from the same sample.

What we can try next is to use 1.5.8 version of angular and see if still repro the issue or not. This does not seem like adal issue to me since we do not appen

[2017-02-17 20:19] #474 closed

[2017-02-17 20:20] #470 closed

[2017-02-17 20:20] #462 closed

[2017-02-17 20:20] #454 closed

[2017-02-17 20:20] #450 closed

[2017-02-17 20:21] #441 closed

[2017-02-17 20:21] #411 closed

[2017-02-17 20:22] #433 closed

[2017-02-17 20:22] #442 closed

[2017-02-17 20:22] #412 closed

[2017-02-17 20:22] #438 closed

[2017-02-17 20:49] tushargupta51 commented on #475
Closing this for now. Let us know if you have any more questions.

[2017-02-17 20:49] #475 closed

[2017-02-17 20:54] tushargupta51 commented on #486
Related to https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/471. Closing this since we do not plan to add "check_session" support in adal right now. Users are expected to listen to acquireTokenFailure event when they receive "login_required" error.

[2017-02-17 20:54] #486 closed

[2017-02-17 20:54] tushargupta51 commented on #459
Closing this. Let us know if the above does not hold true, I will more than happy to look into this again.

[2017-02-17 20:54] #459 closed

[2017-02-17 23:17] shivguddadmath opened #497 "Logout issue"
The config parameter extraQueryParameter is not passed to logout url. Which was causing issue with logout for policy specific authentications.

Work around: You can use config parameter logOutUri.

I have fixed my local copy by adding below lines in logout function

`if (this.config.extraQueryParameter) {
              logout = this.config.extraQueryParameter;
}

 if (this.config.postLogoutRedirec

[2017-02-18 00:36] darcyparker commented on #465
https://blogs.technet.microsoft.com/enterprisemobility/2016/03/31/microsoft-identity-at-build-2016/

Many of us are eagerly awaiting to use the graph.microsoft.com api.  It looks like an unsupported experimental branch is our only option?  (or use another oauth2 framework or roll our own.)  I can understand there are delays... but it is disappointing to hear things are still in early design phase

[2017-02-18 02:09] tushargupta51 commented on #497
@shivguddadmath `logOutUri`  is intended to be used when users want to override the default log out uri. `extraQueryParameter` is for login and acquireToken requests.

Also, the change that you have made is similar to setting the `logOutUri` with the same value as `extraQueryParameter` unless you wanted to do `logout += this.config.extraQueryParameter`

[2017-02-18 10:18] eloekset commented on #485
The Fiddler trace I sent you is from this sample.

I can confirm that it works fine when downgrading Angular from 1.6.1 to 1.5.9. I've done this in a PR in the sample repo: https://github.com/eloekset/AngularAdalIssue485/pull/1

![2017-02-18_11-11-48](https://cloud.githubusercontent.com/assets/791721/23092471/e38815ac-f5cb-11e6-8550-4fd814d8b010.png)

So right now AdalJS doesn't work out of the bo

[2017-02-18 18:42] tushargupta51 commented on #485
@eloekset From looking around, it seems Angular made a breaking change:

https://docs.angularjs.org/guide/migration#commit-aa077e8  and
https://github.com/angular/angular.js/commit/aa077e81129c740041438688dff2e8d20c3d7b52

where they changed the default hash prefix from '' to '!'. As they have pointed out, apps that are not using html5 mode, should now specify the default hash prefix to be '' like

[2017-02-18 18:42] #485 closed

[2017-02-18 19:52] eloekset commented on #485
Thanks again @tushargupta51! I've tested it and can confirm that it works. I'll update the discussion page of the Pluralsight course in case others need help with this as well.

[2017-02-19 14:36] shivguddadmath commented on #497
@tushargupta51  Yes I understand the purpose of logOutUri, but for somebody who dont wnat to know what is the full logout url.
And my change is not same as logOutUri but is adding the extraQueryParameter to the logout url. Code looks like suggesting its same as assigning to logOutUri because the variable definition in the current code is bad (sorry not blaming anyone). I just added my lines to mat

[2017-02-20 10:45] yentheo opened #499 "Unwanted client side authorization"
Since one of the latest updates, the endpoints were added (endpoints and anonymous endpoints).

We added our api-url as an endpoint with the client id: 'https://myurl.tld/api'
But, we also have anonymous endpoints in our API which sometimes can be something like https://myurl.tld/api/some-anonymous-endpoint
Because of the /api/ the adal library thinks this isn't an anonymous endpoint and wants to

[2017-02-20 17:17] amrlafi commented on #485
Thanks for the info. I had the same annoying problem.
If one wish not to downgrade angular, as advised on https://docs.angularjs.org/guide/migration#commit-aa077e8 , setting hashPrefix to empty fixes the issue.

[2017-02-22 14:51] derobiom commented on #472
Can you share what the misconfiguration on the backend API?  I think that I am making the same mistake.

[2017-02-23 01:39] tushargupta51 commented on #499
@yentheo

In order to attach the token, library needs to know whether the request being sent requires authentication or not. `endpoints` and `anonymousEndpoints` array enables developer to provide these values. I think your issue should be fixed in the latest version where we moved up the anonymous endpoints check. Let us know if that is not the case and provide us the console logs.

[2017-02-23 01:40] tushargupta51 commented on #492
Closing this issue since this seems to be related to how outlook client is handling the redirect uri.

[2017-02-23 01:40] #492 closed

[2017-02-23 01:42] tushargupta51 commented on #479
Closing this since this is an Edge issue and out of the scope of adal library. Edge team has handled some of this issues in the next version to be released sometime this year, not sure if the team has publicly shared the dates yet.

[2017-02-23 01:42] #479 closed

[2017-02-23 14:29] tjuni2 opened #500 "event is undefined in processHash function"
I've been getting the "Cannot read property 'preventDefault' of undefined" error occasionally (can't figure out when/why)  in the line that calls event.preventDefault(); of the processHash function in adal-angular.js (version 1.0.14).

[2017-02-23 19:21] peternied opened #501 "AADSTS50020 - Users cannot recover from this error"
We are building a web app that only allows members from a set of tenants, not a single tenant, access our site.  We've noticed a common user mistake, where they accidentally use their current computer credentials or Microsoft Account credentials.  This leads users to a "AADSTS50020" error page with the following error message:

    AADSTS50020: User account 'foo@bar.com' from identity provider

[2017-02-23 23:11] rohitnarula7176 commented on #501
@peternied In this particular scenario, AAD does not return a response and just shows the html page with the error as you have mentioned above. Hence, as a library we cannot detect this condition.

[2017-02-23 23:16] peternied commented on #501
Is there any parameter or setting that this library provides that could affect how this error is handled?  How/where would I report this issue on the website?

[2017-02-24 05:05] riakhetan opened #503 "Access denied for the popUp window"
I am receiving an access denied when the popup screen tries to access the Url of the window to compare it with the redirectUri, the website in the popup loads fine on its own and is authenticated but an access denied error is thrown and the screen does not even close.

[2017-02-24 08:28] wvanderdeijl commented on #463
Upgrading to 1.0.14 didn't seem to change anything for me. I also tried navigateToLoginRequestUrl=false but that left the user at adal.html on return from Azure AD. We use a different return html than the originating html (index.html) as suggested by the FAQ.

I tried to attach listeners wherever I could, including the $rootScope in both the original index.html and the adal.html AD landing page. T

[2017-02-25 21:02] EgoAleSum opened #504 "Public method to get cached id_token"
I'm developing an application that needs to have the actual id_token JWT. When using ADAL, there's no public method to get the token, and I need to find "hacky" ways to retrieve that.

Is there any reason why it's not possible to implement a method that returns the raw JWT?

[2017-02-27 05:06] wvanderdeijl commented on #463
Would you be open for a pull request to add a new config option to have a different return URL on authentication failures? This would allow users to return to a non-protected route afterward failures so that non-protected route can be used to show the error.

[2017-02-27 12:38] HJoost opened #506 "Missing possibility to configure response_type at login time"
We use Adal.js together with ADFS 4.0. To get all claims we need to set the ?response_type=token id_token. But in adal.js line 200 it's hard coded to request only id_token:
var urlNavigate = this._getNavigateUrl('id_token', null)...

I changed this line to this._getNavigateUrl('token id_token', null) and everthing works fine now. Would it be possible to make an additional parameter in the config f

[2017-02-27 18:38] DadvDadv opened #507 "_LoadFrameTimeOut never call Callback"
Hi,

I was issuing the same pb than [this](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/391) issue and i had to modify the adal source like this to make it work :

[code]

Without this modification, a call to a renewToken never call back the token for the first call (after, it's the cached token that is return).

Could you validate if i'm rigth ?

In the original code not

[2017-02-28 10:36] DadvDadv commented on #507
Well, i realise that for the first call i need to wait 6s to have the final token....
Then i decide to add a interval to wait fot the result, and define the timeout for... the timeout case :

[code]

[2017-02-28 11:12] DadvDadv opened #508 "Add es6 support (Promise, history.replaceState, etc.)"
Hi, it will be fine if we could use some of the es6 feasure like history.replaceState to manage case like this one :

[code]

This is typescript code but i think it's cool to have the es6 feasure activate :

history.replaceState => you don't need a extra callback for log the user
Promise => all the magic of the Promise is to be able to chain request and manage errors.
1- Ask the token -> Possible

[2017-02-28 14:28] lukas-gmuer commented on #500
@tjuni2 in pr #498
I did the most straightforward fix of this problem.

[2017-02-28 23:50] alyssaw90 opened #509 "Redirect Issue"
I am having an issue getting the `redirectUri` to redirect to the page I specified after I login.

[code]

I login with my credentials, it then redirects for a second to the specified `redirectUri` then it goes back to the login page. It does login me, but it is not staying on the page I am trying to redirect to. I had to force it to redirect to the page with the following code:

[code]
Has anyone

[2017-03-01 11:10] HJoost opened #510 "Is there an Angular(2) version planned?"
Hi,

we are building an Angular2 solution with ADFS and an Cors API. Is it planned to support those solutions in the future?

There are several third party solutions, but none of them is working right and also these are very bad documented :-(

Best Regards
Helmut Joost

[2017-03-01 12:25] HJoost commented on #440
Are there any updates on this topic?

[2017-03-01 23:29] brphelps opened #511 "Using Adal-Angular v14 is pushing requests through templateCache that shouldn't be"
We've run into an issue in the latest version of adal-angular -- it looks like some code was added that funnels all requests through the template cache before issuing a request.

https://github.com/AzureAD/azure-activedirectory-library-for-js/commit/4ee94f715b02048dfe3c4acf4793ec005cef4eba

This change alters the behavior of decorators we've configured on the templateCache itself, and altogether i

[2017-03-03 06:56] wvanderdeijl commented on #509
We has something similar and used the solution from the [FAQ](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs) to have a different returnURL than the original app.  We had the normal index.html single page app with protected routes (even the default one which probably causes the issue). We then use `adal.html` as the return URL which is a very basic app that does not use

[2017-03-06 19:30] richardspence opened #512 "Token renewal operation failed due to timeout"
I receive the token renewal operation failed due to timeout occasionally in a SPA that we have built.

After some investigation we determined it wasn't due to network to ADAL (600ms), but we elapsed the 6s defined timeout due to our token handler endpoint loading >100 scripts via requirejs before execution of the `handleWindowCallback()`.

Obviously there's work on our side to not do that, and to

[2017-03-06 23:37] murtazajafferji opened #513 "Token not refreshing silently: No 'Access-Control-Allow-Origin' header is present on the requested resource"
I have followed all the setup steps from the readme and I have set `oauth2AllowImplicitFlow` to true.

The authentication is working, but the token fails to refresh silently. An hour after a user loads the page, if the user takes an action that makes an internal AJAX request, I see the following error in the browser console:

[code]

The user must refresh the browser in order to continue using the

[2017-03-07 10:18] valera-rozuvan opened #514 "Broken link in main README.md file"
The link of **Claims in Azure AD Security Tokens** in file [README.md](https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/README.md) points to [https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-authentication-scenarios%23claims-in-azure-ad-security-tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-authentic

[2017-03-09 14:58] harry671003 commented on #463
Facing the same issue. But in angular 2 with ng2-adal.

When a user does not have any application roles assigned to him, how do we clear the session in the https://login.microsoftonline.com page?

Even though a different user is being selected, the password prompt is not shown, but the page is redirecting to the application page with the same user (the one without application roles assigned).

[2017-03-10 18:47] cincue opened #517 "Provide login_hint"
It would be helpful if you can include in the init of AuthenticationContext the login_hint param to pre-fill the username field of sign in page

[2017-03-13 11:06] whozDougie opened #518 "ADAL 1.0.14 issue in Firefox 51.0.1 "event is not defined""
When I load adal 1.0.14 in Firefox, I get this error:

"Error: event is not defined
this.$get</n@https://localhost:44300/App/scripts/plugins/adal/1.0.14/adal-angular.min.js:2:2028
this.$get</m@https://localhost:44300/App/scripts/plugins/adal/1.0.14/adal-angular.min.js:2:1681
vf/this.$get</m.prototype.$broadcast@https://localhost:44300/Scripts/angular.min.js:147:483
sf/this.$get</</<@https://localh

[2017-03-13 17:27] tutujohngeorge commented on #518
I've got the same issue as well....a new method processHash was created in 1.0.14, which has the following code:
event.preventDefault();

Firefox doesnt detect the event first time around; hence it's throwing a error. You can just pass the event parameter in processHash method to resolve this error.

![image](https://cloud.githubusercontent.com/assets/20303714/23866955/c272b58e-07f0-11e7-934d-786b

[2017-03-13 22:57] whozDougie commented on #518
@tutujohngeorge Thanks, that seemed to have gotten rid of that issue.

[2017-03-13 23:21] whozDougie commented on #518
Think this issue is related to #500

[2017-03-13 23:22] whozDougie commented on #500
seems related to #518

[2017-03-14 03:41] justinzhong-honeywell opened #519 ""Some of your tests did a full page reload!" when running Karma/Jasmine"
Hi team,

I have an AngularJS (1.5) app which uses adal-angular for AD authentication.

There appears to be an issue when running Karma/Jasmine unit tests with the following error:

"Some of your tests did a full page reload!"

It appears that when the test is ran with a controller that is protected, the authentication check kicks in and eventually the following code snippet is been invoked inside

[2017-03-14 10:08] DadvDadv commented on #512
Hi, you probably could use my fix : [here](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/507)

[2017-03-14 19:03] sujameslin opened #521 "$stateChangeStart is not firing"
Its not working with angular-ui-router v1.0, because its depending on `$stateChangeStart` event of $rootScope.

In angular-ui-router v1.0, `$stateChangeStart` is deprecated, DISABLED and replaced by Transition Hooks as of version 1.0 ([detail](https://ui-router.github.io/guide/ng1/migrate-to-1_0#state-change-events))

Would you guys please update following ui-router library change?

[2017-03-15 00:29] whozDougie commented on #512
This issue is plaguing my solution too; using 1.0.14

[2017-03-17 11:50] valera-rozuvan commented on #518
Fix for this is in PR https://github.com/AzureAD/azure-activedirectory-library-for-js/pull/523 .

[2017-03-17 11:51] valera-rozuvan commented on #500
Fix for this is in PR https://github.com/AzureAD/azure-activedirectory-library-for-js/pull/523 .

[2017-03-17 18:12] tushargupta51 commented on #381
I heard back from AAD, they are going to make changes to their service for this to work. I will close this issue as this is something AAD is going to fix.

[2017-03-17 18:12] #381 closed

[2017-03-17 18:15] tushargupta51 commented on #521
@sujameslin  This is going to be a major change for us as this affects people who are relying on stateChange* events being handled by adal library. I will add this to future milestone and update the issue once we have more concrete plan on this.

[2017-03-17 18:17] tushargupta51 commented on #519
@justinzhong-honeywell Can you share the change you made?

[2017-03-17 18:18] tushargupta51 commented on #518
Dup of #500

[2017-03-17 18:18] #518 closed

[2017-03-17 20:14] tushargupta51 commented on #517
@cincue You can use `extraQueryParameter` property of adal config object something like `extraQueryParameter: "login_hint=<hint>"`. But remember the same hint will be used for acquire token requests also.

We need to make a change on our end to not add login_hint property if one is provided by user. I will add this to our next milestone.

[2017-03-17 20:18] tushargupta51 commented on #513
@murtazajafferji Are you making the AJAX request to AAD? In the error it seems an ajax request is sent to login.microsoftonline.com. Adal does not do that. And AAD does not allow cross domain ajax requets.

[2017-03-17 20:26] tushargupta51 commented on #507
@DadvDadv When the token request is not completed in 6 seconds (the else block that you added), what do we gain by calling the callback method? The access token is going to be null.

I am not sure I understand your second approach of differentiating between first call and subsequent ones.

[2017-03-17 20:27] tushargupta51 commented on #512
@richardspence  You can set the interval to a different value when you initialize adal

`adal.CONSTANTS.LOADFRAME_TIMEOUT = <>;`

[2017-03-17 20:30] tushargupta51 commented on #511
@brphelps The idea of adding the templateCache is that the requests that can be resolved using templateCache do not need a token as they are fulfilled on the client side itself.

What you have in endpoints is more a workaround to achieve something similar. What issues does it cause for you in the decorators?

[2017-03-17 20:31] tushargupta51 commented on #510
Currently, we do not have any plans to add angular 2 support for adal. Refer to this for more info https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/194

[2017-03-17 20:31] #510 closed

[2017-03-17 20:32] tushargupta51 commented on #509
@alyssaw90 You can set the adal.config.navigateToLoginRequestUrl  to false if you dont want the users to go back to the page from where login started. It will take the user to redirecturi and stop.

[2017-03-17 20:34] tushargupta51 commented on #508
@DadvDadv Currently, we do not plan to add ES6 support to adal. These will be available in next version of adal, which we are currently working on.

[2017-03-17 20:34] #508 closed

[2017-03-17 20:35] tushargupta51 commented on #506
@HJoost  You can use the adal.config.displayCall method to update the "response_type" value without modifying the adal code. Keep in mind that using "token id_token" will return both tokens in the url and will hit the url limit for some browsers and cause unexpected behavior.

[2017-03-17 20:35] #506 closed

[2017-03-17 20:36] brphelps commented on #511
I wouldn't say it's a workaround -- it's a configuration driven solution that doesn't involve hitting the $templateCache at inappropriate times.

In angular, $templateRequest is the only thing that uses $templateCache -- you're funneling more requests through $templateCache than previously were being sent there. For anyone writing decorators to $templateCache, this is surprising behavior (you're b

[2017-03-17 20:38] tushargupta51 commented on #504
There is a `getCachedToken(resource)` method you can use to get the raw token.

[2017-03-17 20:38] #504 closed

[2017-03-17 20:38] richardspence commented on #512
I'm aware of modifying the timeout, but was hoping to avoid it.

Another solution would be to host the callback webpage on login.microsoft.com, and use window.postmessage to communicate back up to the parent.  That would avoid inconsistent client code implementations (like ours) and allow the SDK to control the entire process.

[2017-03-17 20:39] tushargupta51 commented on #503
@riakhetan Can you please share more error details as to what is the exception trace? The popup window should be able to access the url of its own window.

[2017-03-17 20:40] tushargupta51 commented on #501
@peternied This is controlled by AAD. No configurable setting or parameter that the library can send to AAD.

[2017-03-17 20:40] #501 closed

[2017-03-17 20:41] tushargupta51 commented on #499
Closing this for now. Let us know if you have any questions.

[2017-03-17 20:41] #499 closed

[2017-03-17 21:15] murtazajafferji commented on #513
No, we're not making the AJAX request to AAD. The error comes when the app makes any AJAX request to our backend when the user's token has expired.

[2017-03-20 05:21] mazhisai opened #524 "PopUp window sign-in using edge"
Are there any known gotchas when it comes to wiring in the pop-up window sign-in using Edge. i wired in the changes and its working fine in Chrome and Firefox but completely broken in Edge. Sometimes i dont see the callback being called and sometimes i see multiple pop-up windows opening up.

appreciate your help. thanks!

[2017-03-20 05:27] mazhisai commented on #457
Is there a resolution on the original issue reported about popUp window not working on edge? are there any workarounds for that? thanks!

[2017-03-20 13:59] cincue commented on #517
Great @tushargupta51 ! My company will appreciate this.

[2017-03-20 16:53] DadvDadv commented on #507
Hi,
actualy this callback :
`window.callBackMappedToRenewStates[expectedState](null, self._getItem(this.CONSTANTS.STORAGE.ACCESS_TOKEN_KEY + resource), null);`

is the one mapped with the callback define by the user to retrieve the token.

without this callback , you never send the token to the user, so you always come to the timeout.

the "else" in my first try was to make a choice at the timeout

[2017-03-20 17:05] valera-rozuvan opened #525 "[Adal.js + ADFS] Can't get IdToken and AccessToken at once."
Right now it seems not possible to request both, an IdToken and an AccessToken at the same time. Why do we need to do this? Because we are working with Active Directory Federation Services (ADFS), and it expects both tokens at the same time when dealing with a remote API. For example, right now the Adal.js library creates the following request:

[code]

and this does not work. If we modify it to c

[2017-03-21 02:27] MNF commented on #501
@peternied see related https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/6795635-fix-error-aadsts50020-when-logged-in-user-doesn-t   and possible workaround by specifying the 'domain_hint' parameter https://www.stephenmann.net/single-post/2016/11/03/Fix-Azure-AD-Error-AADSTS50020-when-logged-in-user-doesnt-have-permissions-to-selected-Application

[2017-03-21 09:14] dliu120 commented on #448
+1 we are seeing this issue as well. This is happening in 1.0.14 and was happening in 1.0.13

[2017-03-21 11:48] RehanSaeed opened #526 "Delegating Azure Active Directory Roles When Calling API from SPA"
I have a single page application (SPA) and an API. Both are secured using Azure Active Directory using role based access control (RBAC). I can login and viewview my SPA using ADAL. I can also login, call my API and see the role claims I have given myeself.

I want to call the API from the SPA. I have added the API delegated permissions to the SPA. I have also hit the 'Grant Permissions' button so

[2017-03-21 14:26] RehanSaeed commented on #526
Apparently, roles in nested groups are not transitive i.e. If I am a member of Group 2, I do not have the Role granted to Group 1, even though Group 2 is a member of Group 2:

 - Group 1
       - Has a Role from Application 1
       - Has a Member called Group 2

This is absolutely unbelievable that such a feature has not been implemented. I've raised a suggestion on [UserVoice](https://feedback.a

[2017-03-21 14:26] #526 closed

[2017-03-22 00:03] peternied commented on #501
@MNF Thanks for the suggested work around, and the uservoice, I voted!

Unfortunately, for my applications experience, we support many different AAD domains in our site, so we cannot restrict down to a single one during the initial sign in experience.  If anyone hasn't been properly federated, or if they accidentally choose their personal account then they get this experience.

[2017-03-22 17:06] aline-almeida opened #527 "ADAL 1.0.14 Angular issue with templateUrl"
Hi!

I'm setting up adal in my angularjs app and got this error (prior to introducing adal, everything worked fine):

![image](https://cloud.githubusercontent.com/assets/10155391/24209745/11583fc2-0f1f-11e7-9839-9182af26338a.png)

here is my code:
in angular.module('app') config:

        $locationProvider.html5Mode(true).hashPrefix('!');
        $urlRouterProvider.otherwise('/');
        $statePr

[2017-03-22 17:11] aline-almeida opened #528 "not triggering authentication"
Following #527 , I replaced the templateUrl with template in state 'welcome'
`              template: '<div><button type=\"button\" class=\"btn btn-primary\" ui-sref=\"login\"><i class=\"fa fa-sign-in\"></i>&nbsp;&nbsp;Login</button></div>'`

the state changes, but the authentication is not triggered. Am I missing something?

[2017-03-22 17:28] Baalakay opened #529 "Redirect to redirectURI for Native App not Working"
Using plain ADAL.JS (no Angular). What should the redirectURI for a native app (executed on mobile device) be set to?  I've been told that can be https://login.microsoftonline.com/common/oauth2/nativeclient

However when the redirectURI="https://login.microsoftonline.com/common/oauth2/nativeclient" it  returns a token in the login page URL fragment but never redirects from the login page back to t

[2017-03-23 09:23] aline-almeida commented on #527
UPDATE:
I found out that if I set `popUp: true` , everything works fine, even with #528 .

[2017-03-23 10:48] aline-almeida commented on #528
UPDATE:
I found out that maybe this had to do with some cache. Using template and not templateUrl solves this.

[2017-03-23 10:48] #528 closed

[2017-03-23 11:09] aline-almeida opened #530 "can't catch adal:loginSuccess when not using popup"
I have an angularjs SPA with ui.router.
in my module config I have:
[code]

in LoginController:
[code]

if I remove the popUp setting, I can't catch the adal:loginSuccess and so I always get back to default state (welcome screen).
Also, I know I can set the redirectUri, but I'm not sure how to do it. I've tried with http://myappurl/loggedin, trying to trigger the loggedin state, but it doesn't wor

[2017-03-23 22:51] dliu120 commented on #261
I had this problem and solved it by adding anonymous endpoints for our templates. For example, we are using angular-ui-bootstrap components that have template's prefixed with "uib/....". Adding "uib/" to anonymous endpoints fixed the problem.

[2017-03-24 17:55] ayoubchoudhury commented on #457
Did anyone find any solution for the initial pop up issue with only on Edge browser?

[2017-03-28 07:39] DadvDadv commented on #508
Thanks for the reply, do you have any plan or roadmap to share for the new version please?

[2017-03-28 13:07] valera-rozuvan commented on #525
I have forked this repository, and create a commit which fixes the problem described in this issue. You can see it at https://github.com/valera-rozuvan/azure-activedirectory-library-for-js/commit/38aa00c35757e69b614eeff637ceadcc2acb4cdb . Can you please look over it, and provide feedback as to what else needs to be done in order for this change to land in the main Adal.js repository?

[2017-03-28 13:08] valera-rozuvan commented on #525
@tushargupta51 , @rohitnarula7176 What do you think?

[2017-03-28 15:33] ausmurp commented on #481
Dude you're my hero. This is awesome. I've been trying to get adal.js to work with ADFS in react for a month now. I've got it working and redirect back to /auth with token param but nothing happens. I basically used the exact same code you have here. It goes back to http://localhost:3000/auth/#id_token=thetoken, and it just shows an empty page. Is there something I'm supposed to do on the Auth.js

[2017-03-28 15:51] ausmurp commented on #481
@magnuf thanks dude this works great even with ADFS.

[2017-03-29 01:02] nilMicro commented on #485
I have downgrade the angular and its working good.

[2017-03-29 10:06] pwombwa opened #531 "Can't call adalAuthenticationService.acquireToken"
Hi,

Am trying to call **adalAuthenticationService.acquireToken("https://graph.microsoft.com")** to retreive an access token from Ms Graph but the I keep on getting the folowing error:

![image](https://cloud.githubusercontent.com/assets/7061532/24449497/52384f50-146f-11e7-8123-98059b480189.png)

Am building an outlook addin in with angularJS and it references **office.js** version 1.1.0.12

[2017-03-29 17:58] nickaranz commented on #391
I keep getting this error when running my web part from a SharePoint context. Auth works fine from the local workbench (E.g : https://localhost:4321/temp/workbench.html) but I get the time out error as soon as I test it on a SharePoint site workbench (https://mysite.sharepoint.com/_layouts/15/workbench.aspx) - Also, as @slobshay mentioned, the error seems to go away on its own sometimes. I've made

[2017-03-29 18:01] nickaranz commented on #507
I have a similar timeout issue when using adal.js on in a SPFx web part when and only when called from a SharePoint page. I posted more details here https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/391#issuecomment-290171562

[2017-03-30 06:42] jiki974 opened #532 "Uncaught TypeError: window.callBackMappedToRenewStates[expectedState] is not a function"
I got this error whith angular 1.6.3 i use a redirect.html page to handle tokens.

[2017-03-30 15:28] ausmurp commented on #481
@magnuf in prod when token is passed back to site/auth, I get a 404. Did you have to set anything up in webpack for production to allow this as an entry point?

[2017-03-30 18:06] rohitnarula7176 commented on #530
@aline-almeida If you do not specify a redirectUri, the default value is taken as window.location.href which I guess will be your welcome page according to your app settings. You are not able to catch the loginSuccess event because login controller does not execute when you get redirected back to your welcome page. To catch the event, you can add the following piece of code after your init method.

[2017-03-30 18:13] rohitnarula7176 commented on #531
@pwombwa The one thing I want to point out is that acquireToken method takes 2 parameters, resource and a callback function and you are just providing one parameter to it. Can you try passing a callback function as a second parameter and see if your issue gets resolved.
'''
.adalAuthenticationService.acquireToken("https://graph.microsoft.com",function(errorDesc,token,error{
});
'''

[2017-04-03 10:14] cdian commented on #448
+1 same problem with 1.0.14 !

[2017-04-03 22:30] amareshbAtMicrosoft opened #534 "CustomEvent constructor not supported in IE11"
I see in adal.js, the following code where CustomEvent constructor is being used. But as I understand this is not supported in IE11. Please look here - http://caniuse.com/#search=customevent
====================================================================
AuthenticationContext.prototype._onPopUpHashChanged = function (hash) {
        var evt = new CustomEvent('adal:popUpHashChanged', { detail:

[2017-04-04 10:10] oaicstef opened #535 "Token renewing"
Hi,
because of a company requirement I need to disable the Auto Token renewing but I don't find a parameter to do that.

[2017-04-05 03:23] danielarita commented on #261
thanks @dliu120! That is what I ended up doing too, just wished we didn't have to do that.

[2017-04-05 11:00] aline-almeida commented on #530
@rohitnarula7176, I added a controller to the welcome state, but I can't seem to catch the event there. I can catch it in the app.run, but I've given up on that because the screen would flicker, showing welcome state and then going to loggedin state.
Can you give me a hint on how to set the redirectUri in this scenario ? Thanks

[2017-04-06 22:58] jhandel opened #536 "ui-router's ui-sref + adal = return to the page your on.. not the page your going to.."
I seem to have found an issue.. If I click on a link using ui-sref for a page that requires authentication then after authentication I return to the page I started at (not the page I want to go to).. I have confirmed that the issue is that adal.login.request is not storing my target page but my origination page.

If I manually type the URL in for the authenticated page then I do go to that page af

[2017-04-07 07:16] dgodwin1175 commented on #42
I was facing this digest iterations issue with version 1.0.0.
I worked around it by setting the  $window.location.hash = '' as already mentioned, however this meant that my token would only renew on route changes, but I need it to renew as required.
So I decided to update to the latest version (1.0.14), but now, I'm in a different kind of infinite loop.
When launching my app, Chrome locks up and t

[2017-04-07 07:53] nigel-dewar commented on #42
Yes i have. Especially if using ui-router. A r e u using ui router?

Sent from Samsung Mobile

-------- Original message --------
From: dgodwin1175
Date:07/04/2017 17:16 (GMT+10:00)
To: AzureAD/azure-activedirectory-library-for-js
Cc: nigel-dewar , Comment
Subject: Re: [AzureAD/azure-activedirectory-library-for-js] Digest iterations infinite loop in HTML5 mode (#42)

I was facing this digest itera

[2017-04-07 08:11] dgodwin1175 commented on #42
Yes I certainly am, and I'd really prefer not to have to rip it out.  Have you managed to resolve or at least find the root cause?

[2017-04-07 08:42] nigel-dewar commented on #42
Yes i have. The issue is well documented if u do a search for adal.js and ui-router.

There are a few things that need to be done, to prevent its crazy looping.

Its friday 6.40pm and i need to cook dinner (my wife is waiting), if you cant get it sorted via some searching, then i can post the code and explanation in like 1 hour from now. Sorry to keep u hanging.

Sent from Samsung Mobile

--------

[2017-04-07 08:45] dgodwin1175 commented on #42
Pls post when you can.  No need to do it on your Friday night!  Thanks so much.

[2017-04-07 09:16] nigel-dewar commented on #42
Ok mate, managed to fire up laptop inbetween dinner.

Here is what you need to do

In your Angular run block you need to do this.

    $rootScope.$state = $state;
    var isAdalFrame = window !== window.parent;
        $rootScope.$on('$locationChangeStart', function (e) {
            if ($location.path().indexOf('access_token') > -1 ||
                $location.path().indexOf('id_token') > -1 ||

[2017-04-07 12:29] manishrasrani opened #537 "Adal Infinite redirection + Edge + Trusted sites"
Hi,

**Background:**
I have a single page app (built using Angular) which uses adal and adal-angular to authenticate against Azure Active Directory.
Have been using version 1.0.7 of adal and adal-angular (tried using 1.0.14 as well but still no luck) and ui-router for routing.

**Issue:**
Few of our users are getting continuous authentication loop while trying to access the web application on Edge

[2017-04-07 21:59] lnalepa opened #538 "iOS browsers not able to login"
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/18852925-ios-using-safari-chrome-firefox-not-able-to-get-ad

[2017-04-10 09:22] dgodwin1175 commented on #42
It doesn't appear to work, the browser hangs on this piece of code from angular.js, before my .otherwise() function is called:
    injector.invoke(['$rootScope', '$rootElement', '$compile', '$injector',
       function bootstrapApply(scope, element, compile, injector) {
        scope.$apply(function() {
          element.data('$injector', injector);
          compile(element)(scope);
        });

[2017-04-10 10:13] nigel-dewar commented on #42
Hmmm. I will post a sample repo for u to try. Ul just need to swap out clientid etc foe urs.

What version of angular u using.?
Also what version of ui router?

And..... what version of adal.js?

This will help me with sample.

Sent from Samsung Mobile

-------- Original message --------
From: dgodwin1175
Date:10/04/2017 19:22 (GMT+10:00)
To: AzureAD/azure-activedirectory-library-for-js
Cc: nigel-

[2017-04-10 14:52] dgodwin1175 commented on #42
I'm using angular 1.5.8
ui-router 2.18
adal.js/adal-angular 1.0.14

[2017-04-10 21:37] nigel-dewar commented on #42
Cheers. Ill post sample this morn.

Sent from Samsung Mobile

-------- Original message --------
From: dgodwin1175
Date:11/04/2017 00:52 (GMT+10:00)
To: AzureAD/azure-activedirectory-library-for-js
Cc: nigel-dewar , Comment
Subject: Re: [AzureAD/azure-activedirectory-library-for-js] Digest iterations infinite loop in HTML5 mode (#42)

I'm using angular 1.5.8
ui-router 2.18
adal.js/adal-angular 1.0

[2017-04-11 19:59] validian opened #539 "Adaljs iFrames downloading script bundles multiple times"
We have an application using HTML5/angular front end and ASP.NET back end running on Azure. Our application uses adaljs to retrieve a number of auth tokens for the different services that we need access to. We are running into an issue that shows up primarily in Edge but can occasionally be reproduced in other browsers (Chrome, Firefox) where the browser in the developer tools shows multiple copie

[2017-04-12 03:16] jrwpatterson commented on #539
I have this problem too its very annoying I now have on the service that is waiting for the token this line of code as a work around:

`        this.$rootScope.$on("adal:acquireTokenSuccess", () => this.start(true));`

`    public start = (killIframe: boolean = false) => {
        if (killIframe) {
            let element = angular.element("[id^=adalRenew]")[0];
            if (element) {

[2017-04-12 05:02] manishrasrani commented on #537
Upon further analysis, I figured out that there is an issue with cacheLocation as sessionStorage in Edge browser for certain users.
After setting cacheLocation as localStorage in my adalAuthenticationServiceProvider.init config, the issue was resolved.
I wouldn’t prefer using localStorage for its own disadvantages and security concerns.
As of now I have written conditional code to set cacheLocatio

[2017-04-12 07:09] aryanreddy commented on #89
Hi Friends,

Need quick help on adal-angular authentication.

i'm using html5 mode routing along with adal.js latest version 1.0.14 and NgRoute.

1. in index.html page added the base page like
      <base href="http://localhost/index.html" />

2. in app routing

  $locationProvider.html5Mode(true).hashPrefix('!');

 let endpoints: any = {};
            endpoints[webApiUrl] = clientId;
 adalAuthent

[2017-04-12 08:29] valera-rozuvan opened #540 "Status of Adal.js project"
**Adal.js** library is a very awesome project. However, recently (in the past 6 months) we, the users, see little progress on the project. Issues do not get responses from developers, new releases do not come out, commits are very rare.

I think everyone from Adal.js community would like to know where this is heading. Is this project discontinued? What are the future plans for Adal.js?

If this pr

[2017-04-13 04:10] dgodwin1175 commented on #151
Hi,
The gist link for using the redirectUri parameter no longer works.
https://gist.github.com/tushargupta51/78ce0b6bce998f6851abd02d91eb3a95

Is someone able to post the correct way to set this to prevent the app from continuously reloading?

[2017-04-13 13:53] jhandel opened #541 "adal-angular does not expose AuthenticationContext"
I am trying to do some logic via displayCall in angular. However because the AuthenticationContext is not available via the angular module adalAuthenticationService I can't call AuthenticationContext.promptUser() or AuthenticationContext._loginPopup()...  Please add the AuthenticationContext to the service created by adalAuthenticationService.

[2017-04-13 13:54] jhandel commented on #541
Another option (which is more down in the guts of adal.. Would be to enhance displayCall to not just include a URL but also include the AuthenticationContext.

[2017-04-13 15:21] validian commented on #539
Thanks for the idea, we were able to resolve a different way though. Basically setup a login angular module then handled redirects manually checking session storage to see if we are authenticated.

[2017-04-18 18:01] #524 closed

[2017-04-21 22:22] abettadapur commented on #451
I am also seeing this issue using ADAL V1.0.14. Is there any timeline for its resolution

[2017-04-22 01:57] rohitpagariya commented on #61
@tushargupta51 / @rohitnarula7176, any updates on this? It would be really nice to have this working.

[2017-04-24 16:22] bllfrnch opened #543 "adal.js not refreshing token properly"
Hi,

I wrote up a question on Stack Overflow, too, but I'm wondering if this may be a bug, so I'm going to report it.

I'm working on a SPA written in Vue.js. The site is running on one host, web.xxxx.com, while the api is running on another, api.xxxx.com. API calls are secured, and we use the low level adal.js library for login, logout, and also to provide the logged in user's token to the API. I

[2017-04-26 07:54] aline-almeida opened #544 "popup is not working in IE"
When using popup, after entering credentials, it doesn't close and app continues in the popup window instead of previous window.
See [this thread ](http://stackoverflow.com/questions/43449656/adal-js-with-popup-not-working-on-edge-internet-explorer)  for more details.

[2017-04-27 14:31] bllfrnch commented on #543
Any thoughts on this?

[2017-04-27 19:59] rohitnarula7176 commented on #543
@bllfrnch I see from the response that the state returned in the response from acquireToken does not match what is sent with the request. Would it be possible for you to attach a small repro of the code so I can debug this further.

[2017-04-27 20:04] rohitnarula7176 commented on #544
In IE, can you go to Internet options->Security and uncheck the Enable protected mode property. This property when checked returns a null reference for the opened popup window and hence we cannot close it. Please let me know if that fixes your issue.

[2017-04-27 20:16] rohitnarula7176 commented on #541
@jhandel You can still call displayCall by setting the displayCall function in the adalProvider.init method as follows:
[code]
The init provider takes a config object where you set your clientID, redirectUri, e.tc. If you set displayCall on the config object as shown below, you can use inject your custom logic. Also if you want to call loginPopup, you just set popUp:true in the config object as sh

[2017-04-27 20:22] rohitnarula7176 commented on #538
@lnalepa Would you be able to share a code snippet for the repro for this issue.

[2017-04-27 20:23] rohitnarula7176 commented on #534
@amareshbAtMicrosoft Thank for pointing this out. We will make the change for this in our next release.

[2017-04-27 20:30] danieldobalian commented on #538
@rohitnarula7176 it's this sample code: https://identity.microsoft.com/Docs/Web

[2017-04-28 08:37] aline-almeida commented on #544
Unfortunatelly, it didn't fix it...

[2017-04-28 09:43] zeevm opened #545 "adal.js requires idtoken even for implicit grant flow where it's not needed"
acquireToken() will not work if there's no 'user' object which was extracted from an idToken. To obtain an Idtoken adal will go through interactive login.

There are however legitimate flows of obtaining access tokens to other services that don't require idToken, I'm working on a SPA that is rendered in some O365 service.

My app needs to obtain access tokens to some services, it uses implicit gra

[2017-04-28 17:55] dhodgin opened #546 "changes in 1.0.14 with navigateToLoginRequestUrl interferes with logging a user in"
We had been using 1.0.11 for the last year or so and have recently upgraded to 1.0.14 and we have noticed that after doing that when we are redirected back from Microsoft, adal will reload the page and redirect to the original route the user left from to authenticate with Microsoft

This creates a couple problems...

One, on the client side we don't seem to have any specific way to wait for adal t

[2017-04-28 21:17] brentschmaltz commented on #545
@zeevm can you help us understand this a bit: since the app is launched from within a O365 service)

Are you on multiple tabs in a browser?

[2017-04-29 06:20] zeevm commented on #545
Single tab, O365 service (say Onenote) in that tab, Onenote create an iframe within their tab and renders my app which adds some functionality to Onenote.

[2017-05-01 15:49] bllfrnch commented on #543
@rohitnarula7176 – absolutely. Working on it now.

[2017-05-01 22:25] bllfrnch commented on #543
Look here: https://github.com/bllfrnch/adal-issue – please let me know if there's anything else I can provide that will help.

[2017-05-03 04:59] neelDev commented on #451
@tushargupta51

I am also facing same issue while using Safari browser. In other browsers ADAL login is working as expected.

Any updates on the above issue.

[2017-05-03 05:11] neelDev opened #549 "ADAL angular logout is not working"
Hello,

I am facing the problem with ADAL logout. Azure AD is not redirecting to logout url when user logging out the current session. After logout it is redirecting to Azure logout screen and not to the given redirect url. Also its not clearing the cookies from the browser.

So next time when user attempts to access the application it is directly taking to the application without asking login cre

[2017-05-03 18:42] rohitnarula7176 commented on #545
@zeevm I agree its possible for you to obtain an access_token without having a signed in  user. This is because you have a valid session with AAD. But the library is designed in way where we need more control over the context as in we expect the user to sign in from the same single page app before he tries to acquire a token for a resource. We cannot make the user check configurable.

[2017-05-04 13:58] RobinHerbots commented on #446
@tushargupta51 ,  @istrau3 ,

Just for fyi.
Also when you use adal.js with a module loader, the callback isn't called because window.AuthenticationContext is not set.  Maybe this can be added to the faq

[code]

[2017-05-05 14:45] bllfrnch commented on #543
Any update?

[2017-05-07 21:37] rohitnarula77 commented on #535
@oaicstef I am assuming you are using the adal-angular wrapper. If you navigate to a protected route , the library will check for a token in the cache and if it does not find it, it will attempt to renew the token. If you don't want your route to be protected, you can set the requireADLogin: false for that route as follows:
[code]

[2017-05-07 21:40] rohitnarula7176 commented on #535
@oaicstef I am assuming you are using the adal-angular wrapper. If you navigate to a protected route , the library will check for a token in the cache and if it does not find it, it will attempt to renew the token. If you don't want your route to be protected, you can set the requireADLogin: false for that route as follows:
[code]

[2017-05-07 21:51] rohitnarula7176 commented on #539
@jrwpatterson In adal , Looking at the snap, I am assuming your redirectUri is set to your app's root page. In that case, when token renewal happens in an iframe, the entire app gets re-loaded in the iframe but since the scripts have already been loaded, it should not try to download them again. It seems like a browser issue to me. In your workaround, you delete the iframe on token success which i

[2017-05-07 21:52] rohitnarula7176 commented on #532
@jiki974 Can you share your redirect.html page?

[2017-05-07 21:56] rohitnarula7176 commented on #541
@jhandel I am closing this issue for now. Please reopen the issue if you still face any problems after the following the above mentioned solution.

[2017-05-07 21:56] #541 closed

[2017-05-07 22:02] #512 closed

[2017-05-07 22:03] #509 closed

[2017-05-07 22:05] #507 closed

[2017-05-07 22:05] #503 closed

[2017-05-07 22:11] rohitnarula7176 commented on #540
@valera-rozuvan We have been hands down working on other projects and hence not being able to respond to issues reported in the last month or so. We will look into them starting next week.

[2017-05-07 22:11] #540 closed

[2017-05-07 22:13] #497 closed

[2017-05-07 22:13] #519 closed

[2017-05-07 22:16] rohitnarula7176 commented on #549
@neelDev Can you specify which browser you are facing this issue on? Also can you share the logs fiddler trace for this use case.

[2017-05-08 07:11] praveenrengarajan opened #550 "How to handle multiple resource"
I want to use different resource in my app. How can i achieve it in using Adal angular 2

[2017-05-08 09:01] valera-rozuvan commented on #540
Thx! Looking forward to see Adal.js improve :)

[2017-05-08 09:36] neelDev commented on #549
@rohitnarula7176 Thanks for your reply. I am facing this issue with almost all the browsers. I will update the fiddler trace shortly.

[2017-05-08 20:51] navyasric opened #551 "#! location introduced in Angular 1.6 causes adal.js to redirect incrorrectly"
Angular 1.6 introduced '#!' as default prefix in URLs. See details here: https://docs.angularjs.org/guide/migration#migrating-from-1-5-to-1-6

This is interfering with how adal.js resolves the redirect URL. It is appending the id token to the URL and messing up the redirect. As a result, after completing the sign-in, user is redirected to the wrong location and the browser displays id token in URL

[2017-05-08 22:29] riteshbhoi commented on #537
I see same issue with edge. But same issue is not reproduced with chrome. Also when i deployed my website on azure and use https url, issue doesn't occur even on edge. Its just when i deploy my website to a local deb box without secured url, i see this issue.

[2017-05-09 08:54] RehanSaeed commented on #532
Am also getting this error with version 1.0.14 of adal.js and angular 1.5.8. Here is the error from my minified script:

[code]

The adal.js function that seems to cause the error is below, the line in question is the for loop:

[code]

[2017-05-09 09:43] RehanSaeed commented on #532
Setting the logging level to verbose using `window.Logging.level = 3` shows me that the following error is being thrown:

`Token renewal operation failed due to timeout.`

The [FAQ](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs) has a brief section on this that does not do much to explain how to fix this issue. Other related issues:

https://github.com/AzureAD/azure-act

[2017-05-09 11:11] RehanSaeed commented on #391
I've been getting this error intermittently (More details [here](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/532) using angular). Regarding the 3 points in the FAQ:

1. I'm using Angular, so this does not apply.
2. My RedirectUri is correct.
3. This is a poor description that does not tell me what the `locationChangeHandler` is, why I need to call it, where to call it et

[2017-05-09 14:22] bllfrnch commented on #543
Just checking in – any status update? We're handing this project over to a client at the end of the week and it'd be great if we were able to get this working before then.

[2017-05-10 04:15] neelDev commented on #549
@rohitnarula7176 Any updates on the above issue. For some reason fiddler is not working in my network. So unable to send the logs.

[2017-05-12 10:43] manishrasrani commented on #537
@riteshbhoi - Unfortunately for me my website is hosted on azure on a microsoft domain and its configured to use https, but few of my users still get the issue.

[2017-05-12 19:17] rohitnarula7176 commented on #545
Thank you for your pull request but as discussed, the library is not designed to have the user check configurable. Closing the issue for now. Please reopen if you have further questions.

[2017-05-12 19:17] #545 closed

[2017-05-12 22:03] rohitnarula7176 commented on #543
@bllfrnch I was able to repro the issue using your branch and fix it. There are a couple of things I want you to do:
1. Add both http://localhost:5000/login.html and http://localhost:5000/page.html to the list of redirectUri 's in the AAD protal where you have registered your app if you have not already done so.
2. Add a method var user = authContext.getCachedUser() right after you call authContex

[2017-05-14 17:39] ralexand56 commented on #277
WTH!? Is Microsoft an angular company now? Is this part of an agreement when the angular team signed on to use Typescript in angular? This is counter to MS's very open policy they have been demonstrating lately.

[2017-05-15 18:15] rohitnarula7176 commented on #549
@neelDev I will need some logs to see whats happening. If you can provide a small repro of your code, then I can debug it further,

[2017-05-15 18:42] rohitnarula7176 commented on #530
@aline-almeida Is it possible for you to send me your code sample so I can look into this?

[2017-05-15 18:53] rohitnarula7176 commented on #531
@pwombwa Closing this issue for now. Please let me know if you have further questions.

[2017-05-15 18:53] #531 closed

[2017-05-15 19:04] mmckenz opened #553 "Release the source maps for adal.min.js and adal-angular.min.js"
Please generate and release the source map files for the minified versions of adal.js and adal-angular.js.

[2017-05-15 20:39] rohitnarula7176 commented on #460
@sea1jxr @RobARichardson @johnelliott I apologize for the late response. We have been busy working on build 2017 so could not respond in a timely manner. You are correct. I have made a fix for this issue in my branch https://github.com/AzureAD/azure-activedirectory-library-for-js/tree/rohitn/Issue_543. Could you guys try this out and let me know if the issue gets resolved. We will fix this in our

[2017-05-15 20:43] rohitnarula7176 commented on #514
Fixed.

[2017-05-15 20:43] #514 closed

[2017-05-16 00:56] rohitnarula7176 commented on #532
@RehanSaeed Can you please attach the fiddler trace for the above issue. That would show whether we actually received a response from AAD to an acquireToken request. The error above implies that an error occurred in the callback function you supplied to the acquireToken(function,callback) method. I think you have an undefined variable "a" in your callback function. I will need the code for your ca

[2017-05-16 08:46] aline-almeida commented on #530
Sure @rohitnarula7176 ! Check it here:
https://1drv.ms/u/s!AlBevQQ5u1azkI4agMd2FickgQM6uA

[2017-05-16 13:49] fikkatra commented on #463
Same issue here, running adal-angular 1.0.14.

I also wonder why Azure AD doesn't handle this for us. Why can't it show an error page to the user, explaining what went wrong? I guess some client applications want to handle this error themselves, but I'm pretty bumped out that I need to provide a screen myself.

[2017-05-16 16:21] RehanSaeed commented on #532
@rohitnarula7176 I'm not calling `acquireToken` explicitly, I'm using adal-angular which may do under the covers. Rolling back works for now. I'll post back a trace if I get time to come back to this.

[2017-05-16 21:36] mikesigs commented on #239
@tushargupta51 Just to clarify. Your closing comment should have said "**aren't** supported". Right?

[2017-05-17 07:21] fikkatra commented on #463
For me, the trick

                $rootScope.$on('adal:loginFailure', (event, rejection, forResource) => {
                    $timeout(() => $window.location.href = '/realerror');
                })

doesn't work. The app is redirected to /realerror, but after that it still redirects to the login page, resulting in an infinite loop. Sometimes it works, sometimes it doesn't, seems like a race con

[2017-05-17 14:37] shaynevanasperen commented on #239
Group claims **are** supported in oauth implicit flow. See here for more details:

https://www.simple-talk.com/cloud/security-and-compliance/azure-active-directory-part-4-group-claims/

http://www.dushyantgill.com/blog/2014/12/10/authorization-cloud-applications-using-ad-groups/

https://azure.microsoft.com/en-gb/resources/samples/active-directory-dotnet-webapp-groupclaims/

[2017-05-17 18:23] rohitnarula7176 commented on #546
@dhodgin I apologize for the late response. You are facing this problem because AAD does not preserve the query string parameters in the redirect response. You will have to stick to navigateToLoginRequestUrl:false and use the hack you mentioned above to solve this problem. We cannot do anything for this case in the library.

[2017-05-17 18:49] dhodgin commented on #546
Our workaround was to store our own sessionStorage value which is the value of $location.url() before redirection. Similar to adal.login.request but that is the entire url. It's much easier to store the path+query because then it can be easily passed back in to $location.url() later to redirect without a full page reload.

[2017-05-17 22:13] RobARichardson commented on #460
@rohitnarula7176 I just gave this a shot but I'm still having issues.  The specific issue I'm having is when I attempt to access a REST API endpoint that's configured w/ a different Azure AD clientId from my application's Azure AD clientId. When I attempt this, adal-js fails silently in the background and my request to this API is never sent even though I have the endpoint configured properly in a

[2017-05-17 23:29] jmprieur opened #554 "the extraQueryParameter property should be added to the config, and we should get a possibility to only pass it for the login"
the extraQueryParameter property should be added to the config. It's taken into account in the code (and works if you add it to the config), but is not explicated in the @class comment in adal.js

**Why?**
(seen in Office Hours) In the case a Web API is added to an existing application and requires more consent, in order for the existing users to gets a UI with additional consent, one needs to cre

[2017-05-17 23:52] jmprieur commented on #554
As a workaround, you can use the displayCall callback in the config object which allows to handle the window-redirect. Before calling `window.location.replace` with the login URL, you can append `prompt consent` to the request.

[2017-05-18 04:50] RobARichardson commented on #460
@rohitnarula7176 I initially had some problems but I believe they were on my end.  Looks like token refresh is working now.  Thanks for the fix!

[2017-05-18 16:18] paonekumar commented on #532
@rohitnarula7176 I am trying to get a token for resource endpoint from Angular. I am getting  error "Loading frame has timed out after: 6 seconds for resource https://graph.windows.net". I have captured traffic, I can find a successful call with the token.

Callback function
 adalService.acquireToken('https://graph.windows.net', function (error, token) {
        if (error || !token) {

[2017-05-18 17:10] rohitnarula7176 commented on #532
@paonekumar can you turn on Adal logging and share the logs for this issue.

[2017-05-19 00:23] #460 closed

[2017-05-22 11:43] RehanSaeed opened #556 "Register for error events using ADAL-Angular"
Is there some way we can hook into an event to get errors from adal-angular?

E.g. I'd like to be notified of a the error below, so I can show a friendly error message to the user explaining the problem which is that the user has disabled third party cookies and was unable to access my site:

[2017-05-22 19:36] paulwillen opened #557 "Initial acquireToken always fails."
Hello,

I'm using the ADAL.js to receive the Azure ID of the logged in user in SharePoint Online.
Situation: I'm on a SharePoint Page in SharePoint Online and in this page I'm trying to get the Response.Id from the AJAX call (see code below)

Always when I go to this page the first time the response.id is empty, because somehow ADAL couldn't perform the authContext.login(); function correctly. Whe

[2017-05-23 12:01] AlexUrbanAc opened #558 "_supportsSessionStorage does not return correct values"
The description of _supportsSessionStorage (and _supportsLocalStorage) declare what values to expect:

**Returns true if browser supports sessionStorage, false otherwise.**

However, the value returned is neither always correct, nor always a boolean.

I am not sure whether this is the most recent version, so let me show the code I mean (sessionStorage, but the same holds for localStorage):

    Au

[2017-05-25 16:17] mikesigs commented on #239
In the second link you posted it says:

[code]

Adal.js uses the Implict Grant Flow doesn't it?
At any rate, I cannot get the group claims in my request. I actually switched to using app roles defined in the manifest. But I don't get those either!

Hoping someone has some insight on how they got this working.

Thanks.

[2017-05-26 03:18] pwalecha opened #561 "Website redirecting once getting token back from AAD in Internet Explorer Edge"
I am using adal-angular 1.0.11, since our browser has been updated to verison "Microsoft Edge 40.15063.0.0", we have started getting issues. The website goes into infinite loop after redirecting from AAD. In internet explorer, the website runs just fine. Please note, that the website and the aad login "https://login.microsoftonline.com" is added in trusted sites (that's why it runs on internet exp

[2017-05-26 15:50] ahadjiGladiator opened #562 "second right scroll bar after renew token"
I understand that ADAL renew token every hour using hidden iframe.
However whenever this happens it caused second vertical scroll bar.
I am using bootstrap with fixed top and left menu. if I refresh the page (via browser refresh) the second one will disappear. why this is happening?

[2017-05-26 15:52] ahadjiGladiator opened #563 "increase oauth token expiry"
I believe the default is 1 hour, how can I increase it to 24 hours?

[2017-05-30 10:39] ischrei commented on #239
Hi,
As Tushar mentioned, the groups claim will not be added to the token due to URL limitations.
And as you mentioned the "hasgroups" claim is added instead. This claim is in fact a hint to your server that the user is a member in some groups, and in case the sever needs those groups, it is able to request those directly from AAD.

Thanks,
Ido.

[2017-05-30 10:54] shaynevanasperen commented on #239
I get the groups claim when I authenticate against an Azure AD tenant which is not federated with on-premise AD. When I authenticate against an Azure AD tenant which is federated with on-premise AD, I only get the hasgroups claim.

[2017-05-30 23:17] hkusulja opened #564 "Angular 2 / 4 support"
This official repository is stagnating on master.
Please update the "lib/adal-angular.js" and add support for latest stable Angular 2 and Angular 4.

[2017-05-31 08:36] paulwillen commented on #557
Wow - too bad to see that this hasn't got any feedback after 9 days!
I've been on this for a couple of days and the problem is that I was using the latest version 1.0.14.

Switching back to version 1.0.13 solved my problem. Thus 1.0.14 is not backward compatible....

[2017-06-01 11:59] paulb2011 opened #565 "Can't do authenticated API endpoint which begins with the same name as an anonymous endpoint"
I have an anonymous view with an anonymous API endpoint to retrieve the data. However the view also has a button which is displayed if the user is authenticated, which when clicked will call a authenticated API endpoint, but because the name of the endpoints are similar, the authorization token is not being sent to the authenticated API endpoint.

The two API endpoints are:

GET https://www.mydoma

[2017-06-01 20:35] jcapalbo commented on #445
I added in the event listener for adal:acquireTokenFailure and am able to catch the AADSTS50058 error.  But when I call adalAuthenticationService.login(), per @tushargupta51 's suggestion, my application goes in an infinite loop (which seems be a common issue).

The user never acquires a new token and continues to face the same error.  I have tried logging the user out, clearing cache/localStorage

[2017-06-05 09:14] BadiuAlexandru opened #566 "Renew token problem"
I followed this example https://www.spjeff.com/2016/05/05/video-secure-webapi-with-azuread/ step by step, login works well but when I want to send a request to my API, I get the following error https://ibb.co/dWNHfv , can somebody help me? because in the given example it works well, and there are no differences between the sample
![capture](https://cloud.githubusercontent.com/assets/15923709/26777

[2017-06-05 12:37] tomidix commented on #551
This can be 'solved' by setting the default $location hash-prefix to '', because the angular's default $location hash-prefix has been changed to '!' in v1.6.
`$locationProvider.html5Mode(false).hashPrefix('');`

[2017-06-06 08:44] NDalvise opened #567 "Firefox first loading error"
I have my project based on AngularJS 1.5.8, ASP.NET and I use ADAL.js 1.0.14...
I'm using this workaround ([https://gist.github.com/tushargupta51/78ce0b6bce998f6851abd02d91eb3a95](https://gist.github.com/tushargupta51/78ce0b6bce998f6851abd02d91eb3a95)) as suggested here [https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs#q1-my-app-is-re-loading-every-time-adal-renews-a-token

[2017-06-06 15:55] aciccarello commented on #564
Others have ported support this to Angular. Would be great to see this officially supported:

https://www.npmjs.com/package/ng2-adal
https://www.npmjs.com/package/angular2-adal
https://www.npmjs.com/browse/keyword/adal

[2017-06-06 16:06] aciccarello commented on #564
This should be considered a duplicate of #194. There @tushargupta51 [states](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/194#issuecomment-252121917):

[2017-06-06 17:20] #564 closed

[2017-06-06 20:18] spottedmahn opened #568 "Angular (2/4) Support?"
Hello - what's the status of using ADAL in [Angular](https://angular.io/)?  I found [this blog post](https://blogs.msdn.microsoft.com/premier_developer/2017/04/26/using-adal-with-angular2/) and it looks like there's no official library at this point, is that correct?  Is one being worked on?

Thanks!

[2017-06-07 18:26] rohitnarula7176 commented on #557
@paulwillen I apologize for the late response. I was OOF for the last couple of weeks. Can you share a working demo of the code so I can investigate this further?

[2017-06-07 18:54] pwalecha commented on #563
I believe you'll need to set the TokenPolicy for your AAD tenant and then associate with your application ID.
https://stackoverflow.com/questions/31162257/azure-oauth-how-to-change-token-expiration-time

[2017-06-08 07:08] paulwillen commented on #557
I wrote down a bunch of my code...
A simple example of where version 1.0.14 doesn't work and 1.0.13 does work can be found here:

julieturner.net/2017/01/extending-sharepoint-with-adal-and-the-microsoft-graph-api-part-2-the-authorization/

[2017-06-08 07:34] fikkatra commented on #463
I can confirm this works in all browsers:

[code]
but only if you set navigateToLoginRequestUrl to false:
[code]
However, we do not want to set this flag to false, as we want to redirect the user to the original page after login (not necessarily the redirectUrl configured in AzureAD).

I think @wvanderdeijl 's suggestion to provide a different redirect url in case of login failure, is a good solut

[2017-06-08 09:14] denyo commented on #568
Duplicate of #194?

[2017-06-08 13:39] angerwin commented on #566
is already known and fixed. See ticket  #543

[2017-06-08 14:02] spottedmahn commented on #568
yes, thanks @denyo, closing the issue

[2017-06-08 14:02] #568 closed

[2017-06-09 02:49] eoverfield commented on #557
I too am witnessing this issue with 1.0.14 when added to SPO and I can also attest that Julie's post is a great example. Very easy to add to a SPO page.

Upon the first load, the redirections occur as they should but the final handle callback doesn't appear to trigger the redirect as it did in 1.0.13.

i.e.
authContext.handleWindowCallback();

I reviewed the changelog and couldn't find any obvious

[2017-06-09 03:17] Jingkun-Hu commented on #463
I encountered same issue, When I used a user to login it is ok, but I try another it showed the error. I use IdentityServer4&app.UseOpenIdConnectAuthentication(new OpenIdConnectOptions{}) to  Office365

[2017-06-09 03:24] Jingkun-Hu commented on #463
I got this answer :
This issue has been resolved - it appears that app assignments based on groups only work using top-level groups rather than nested groups. I will mark this issue as resolved.
From https://social.msdn.microsoft.com/Forums/en-US/483d8cf2-90bd-4bf3-bba8-309dd8769b0b/getting-error-message-the-signed-in-user-user-name-removed-is-not-assigned-to-a-role-for-the?forum=WindowsAzureAD

[2017-06-09 11:03] pwalecha commented on #561
Please refer the url of the sample website which faces a similar issue. It doesn't redirect but it doesn't login properly, the token state is 'Invalid_State' .

http://todospaforaad.azurewebsites.net/#/Home

[2017-06-09 18:13] rohitnarula7176 commented on #539
@jrwpatterson closing the issue for now. Please reopen if you still face issues.

[2017-06-09 18:13] #539 closed

[2017-06-09 18:20] rohitnarula7176 commented on #566
@BadiuAlexandru This issue is already fixed in dev. Closing this issue for now. Please reopen if you are still facing issues.

[2017-06-09 18:20] #566 closed

[2017-06-09 18:23] rohitnarula7176 commented on #562
@ahadjiGladiator Can you please explain what do you mean by second scroll bar. I will need to know your application set up to investigate this further.

[2017-06-09 18:25] rohitnarula7176 commented on #561
@pwalecha I was able to login properly on this site in Chrome. Are you seeing this issue only in "Microsoft Edge 40.15063.0.0" or other browsers as well.

[2017-06-09 18:44] ahadjiGladiator commented on #562
I am using angular 1.6 with bootstrap. my page layout has a fix top and left navigation. Below is the code.
My views will be loaded in "<div ng-view></div>".
obviously if page is longer than browser window, I will have right scroll bar. (vertical)
when I use the scroll bar top nav and left nave will stay and content will scroll. (ng-view)
now after 1 hour when access token needs to renew (behind t

[2017-06-09 19:16] pwalecha commented on #561
@rohitnarula7176  I am facing this issue only with Edge 40.15063.0.0 version of Edge, all other browsers, previous version of Edge and Internet Explorer works fine.

[2017-06-09 20:11] BadiuAlexandru commented on #566
the problem is angular version... if you use angular 1.6 error still exists, if I downgrade to angular 1.5 it works well

[2017-06-12 12:41] ukphillips commented on #537
Is this just edge or IE 11 as well?

[2017-06-12 17:07] rohitnarula7176 commented on #557
@eoverfield @paulwillen The issue is not that the initial acquireToken always fails but the issue is that when the app is loaded, initial acquireToken request is not sent out. The issue is with the way the sample is written. The sample written by julie turner relies on the third reload of adal to make the call to acquireToken. We made a change in 1.0.14 to prevent the third reload when you login u

[2017-06-12 17:29] rohitnarula7176 commented on #567
@NDalvise Can you share a working demo of your code so I can investigate this further.

[2017-06-12 19:42] rohitnarula7176 commented on #557
@eoverfield @paulwillen I agree that this change in 1.0.14 might break a lot of users relying on the third reload during login. I have made a fix for this issue in the dev branch and it will be part of our next release 1.0.15 which will be sometime this week. Can you please use the dev branch and confirm if this issue is resolved for you.

[2017-06-12 19:44] rohitnarula7176 commented on #563
@ahadjiGladiator  token expiry is not configurable using the library. Closing this issue for now.

[2017-06-12 19:44] #563 closed

[2017-06-12 20:05] rohitnarula7176 commented on #562
@ahadjiGladiator Can you attach the demo code entirely so I can repro the issue. I will need that to investigate this further.

[2017-06-12 20:08] rohitnarula7176 commented on #517
fixed

[2017-06-12 20:08] #517 closed

[2017-06-12 20:14] rohitnarula7176 commented on #551
@navyasric Please use the above mentioned fix as mentioned by @tomidix in your app.js to resolve this issue. Closing the issue for now. Please reopen if you face further issues.

[2017-06-12 20:14] #551 closed

[2017-06-12 20:50] rohitnarula7176 commented on #463
fixed

[2017-06-12 20:50] #463 closed

[2017-06-12 20:51] #473 closed

[2017-06-12 21:59] rohitnarula7176 commented on #567
@NDalvise The issue is fixed in the dev branch. We will release a new version of adal 1.0.15 by end of this week and it will have a fix for this issue.

[2017-06-13 06:19] manishrasrani commented on #537
@ukphillips - This issue is only for Edge and it works fine in IE 11, Chrome and Firefox

[2017-06-13 17:08] rohitnarula7176 commented on #546
Please use the above workaround if you face this issue. Closing this issue for now.

[2017-06-13 17:08] #546 closed

[2017-06-14 00:31] rohitnarula7176 commented on #549
@neelDev Closing this issue for now. Please reopen if you still face issues.

[2017-06-14 00:31] #549 closed

[2017-06-14 00:32] #340 closed

[2017-06-14 00:34] rohitnarula7176 commented on #451
@neelDev @abettadapur  If cookies are blocked by the browser, there is nothing the library can do to resolve it. The library relies on cookies and storage to login and acquire token for a resource. From the above trace, I can see the cookies are none and the storage is empty. Closing this issue.

[2017-06-14 00:34] #451 closed

[2017-06-14 07:42] brandonkoch6 opened #571 "Logout redirect doesn't work for an Office Add-in"
I'm using the ADAL.js library to log users in through my Excel Add-in.  Login works fine and is redirected back to my application perfectly via the '/id_token'.  However, when a user logs out, a redirect does not occur back to the application within Office.  The redirect does occur in a native browser such as Chrome, just not in my Excel Add-in.  This seems like a strange discrepancy in behavior,

[2017-06-14 20:18] rohitnarula7176 commented on #558
Fixed in dev.

[2017-06-14 20:18] #558 closed

[2017-06-14 20:19] rohitnarula7176 commented on #567
Fixed in dev

[2017-06-14 20:19] #567 closed

[2017-06-15 13:32] eoverfield commented on #557
@rohitnarula7176 Thanks. by using the updated code pattern you provided above and the patch found in commit: https://github.com/AzureAD/azure-activedirectory-library-for-js/commit/54c7c270faa53f2e140d5dd0f65f5cf5aa9caa4f, I was able to get 1.0.14 with commit to work as expected.

[2017-06-16 01:20] rohitnarula7176 commented on #557
Fixed in dev

[2017-06-16 01:20] #557 closed

[2017-06-16 01:31] rohitnarula7176 commented on #534
Fixed in dev

[2017-06-16 01:31] #534 closed

[2017-06-16 01:31] rohitnarula7176 commented on #500
fixed in dev

[2017-06-16 01:31] #500 closed

[2017-06-16 10:04] mathilde-pellerin opened #574 "adal.js doesn't works with ui-router release 1"
I spent few hours to try to have ADAL working with my app but even though my configuration seems to be good, the redirection to the authentication page is never triggered.
So I took a look into adal-angular.js and I found that it relies on events which are not triggered by ui-router release 1:

[code]

UI-router release 1 use transition hooks now. That would be great to have a version of adal-angu

[2017-06-16 21:36] #488 closed

[2017-06-16 21:38] rohitnarula7176 commented on #556
@RehanSaeed
You can register for the following events in your controller.
'''
$rootScope.$on("adal:acquireTokenFailure", function (event, errorDesc, error) {

    });
   $rootScope.$on("adal:acquireTokenSuccess", function (event, tokenOut) {

   });
'''

[2017-06-16 21:42] rohitnarula7176 commented on #530
@aline-almeida I tried to run your code but could not compile it. Is it possible for you to deploy your app with non-minified versions of adal js and send me the url for it. I can then debug this further. We can also have a skype session and go over this.

[2017-06-16 21:42] #513 closed

[2017-06-19 06:24] pwalecha commented on #561
Yes, that's the issue. Any timeline when this issue is getting picked up for resolution. Our application in production isn't working. For POC, we have a workaround right now to again click, however in the production application, its redirecting due to the home page recursively.

[2017-06-19 06:25] pwalecha commented on #561
Any updates on this ?

[2017-06-19 07:52] fikkatra commented on #463
@rohitnarula7176 What do you mean by 'fixed'? Fixed in the next version?

[2017-06-19 08:33] aline-almeida commented on #530
Hi @rohitnarula7176 , I find it strange that you cannot compile my code, I just ran it.  You just need to restore packages (nuget & npm) and change    `tenant: 'xxxxx.onmicrosoft.com',  clientId: 'xxxxxxxxx'  `in app.config.js. Let me know if this gets you runnig the demo app.

[2017-06-19 09:14] shahjinesh11 opened #575 "requireADLogin without routing?"
It works fine with routing but I am not using ngRoute in my application.

then how can i handle requireADLogin in .config?

[2017-06-19 14:02] jmprieur commented on #561
I just tried cloning https://github.com/Azure-Samples/active-directory-angularjs-singlepageapp and with Edge, I did not repro your problem, @pwalecha. Can you please tell us more about what is different between your application and the sample?

[2017-06-19 14:03] jmprieur commented on #561
Or maybe you gave a different Return URI in the AAD configuration?

[2017-06-20 22:06] FredDale44 commented on #216
I had the same issue of infite loop, with this error message "ADAL error occurred: User login is required".
The problem was the version of JQuery and Angular.
Worked for me use JQuery 1.5.6 and AngularJS 3.1.1.

Hope it help!

[2017-06-21 00:29] rohitnarula7176 commented on #530
@aline-almeida In your index.html, where you specify the ng-app, replace that line with the one below to catch the 'adal:loginSuccess' event.
<div class="row body-content" ng-app="app" ng-controller="welcomeCtrl" ng-strict-di>

[2017-06-21 08:00] aline-almeida commented on #530
I'm sorry @rohitnarula7176 , I'm not sure I get your point.
You mean replacing this: `<div class="row body-content" ng-app="app" ng-strict-di>` ? With what ? Can you please provide a snippet ? Thanks

[2017-06-21 09:10] rohitnarula7176 commented on #530
@aline-almieda In the div that you wrote  just add another attribute ng-controller="WelcomeController" attribute next to ng-app="app".

[2017-06-21 09:33] rohitnarula7176 commented on #575
@shahjinesh11 The library requires ng-route or ui.router to handle requireADLogin. Thats the only way for us to know whether the route is protected and requires a token.

[2017-06-21 10:12] aline-almeida commented on #530
Hi @rohitnarula7176 !
I think you may have some issue with your comment, because some of the lines are not showing...
Anyway, I added the WelcomeController to the ng-app, as you suggested, with no luck.
You got it working ?

[2017-06-21 21:32] jmprieur commented on #544
@aline-almeida : could you please have a look at https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Using-msal.js-with-Internet-Explorer (which is for msal.js, but there are common tips) and tell us if this worked?

[2017-06-22 01:50] ahmad2x4 commented on #543
This error is still happening in Chrome. I have tested in firefox and edge both working file but in chrome get  `AADSTS50058` error.

[2017-06-22 06:48] #535 closed

[2017-06-22 08:10] jmprieur commented on #575
Closing as by design
@shahjinesh11 : did you try to use ADAL.js with plain JavaScript (without Angular?)

[2017-06-22 08:10] #575 closed

[2017-06-22 08:13] jmprieur commented on #571
@brandonkoch6 : did you set the "Logout URL" property in your application settings in AAD?

[2017-06-22 08:19] jmprieur commented on #561
@pwalecha : I can repro your issue with Edge on Windows 10 Creator update, indeed. this is systematic in 'In-Private'. We are investigating it (and are trying to get in touch with the Edge team)

[2017-06-22 08:20] jmprieur commented on #556
Closing since the question was answered. @RehanSaeed, feel free to re-open if you need more information

[2017-06-22 08:20] #556 closed

[2017-06-22 08:23] jmprieur commented on #554
We are providing a way to provide additional query parameters in the new methods in ADAL.js 1.0.15 (acquireTokenRedirect and acquireTokenPopup)

[2017-06-22 08:23] #554 closed

[2017-06-22 08:25] shahjinesh11 commented on #575
With Plain JavaScript, its working fine. But I wanted to use with angular only.

Thanks for the help.

[2017-06-22 08:40] jmprieur commented on #537
@riteshbhoi : would it be only on a specific version of Edge? (Microsoft Edge 40.15063.0.0) ?

[2017-06-22 08:50] jmprieur commented on #359
We are working on releasing ADAL.js 1.0.15 which properly supports Conditional Access.

[2017-06-22 08:50] #359 closed

[2017-06-22 19:55] ahadjiGladiator commented on #562
@rohitnarula7176
Please see complete demo code in the link below:
https://github.com/ahadjiGladiator/SampleCodes

tenant and clientId need to be set in app.js
I have changed line 324 of adal-1.0.14.js  in order to renew token every 20 seconds for testing.
To reproduce: click on "Log" from left menu, the page is long so you will have right scroll bar. wait 20 seconds and click on "Log" again, you w

[2017-06-22 21:15] balajimadgundi opened #578 "Token Renewal Failed | Token renewal operation failed due to timeout"
I am using the Adal 1.14.0 version and sessionStorage. Below is App init:
adalProvider.init({
                tenant: Dependencies.Tenant,
                clientId: Dependencies.ClientId,
                endpoints: Dependencies.Endpoints,
                postLogoutRedirectUri: Dependencies.ClientGatewayLogoutUrl
            }, $httpProvider);

I am getting the "Token renewal operation failed due t

[2017-06-22 23:23] rohitnarula7176 commented on #578
@balajimadgundi Can you share a working demo of your code so I can debug this further. Also can you please attach the fiddler trace for this issue so I can confirm that you actually receive a token from AAD.

[2017-06-26 09:09] jmprieur commented on #561
@pwalecha : FYI, after investigation, we have found out that this is only happening with our corporate credentials, but does not with regular AAD local accounts. This is an external issue which we are currently investigating with other groups

[2017-06-26 09:09] #561 closed

[2017-06-26 18:21] skundojjala commented on #561
Any update on this ?
This is blocking our production scenarios. This is a repro on Edge browsers always.

[2017-06-26 20:06] brandonkoch6 commented on #571
@jmprieur Yes, I set a logout URL.  It redirects just fine in a native browser.  However, when the web app is hosted within Microsoft Excel as an Add-in, the redirect after logout doesn't occur.  It does redirect successfully on logging in from within the Excel Add-in.

[2017-06-26 20:21] jmprieur commented on #553
Hi @mmckenz . What do yo mean? I thought that source map files were only for TypeScript. msal.js is written in TypeScript, but ADAL.js is plain JavaScript. can you please explain what is your problem so that we help ?

[2017-06-26 20:38] rohitnarula7176 commented on #543
@ahmad2x4 The issue is fixed in dev and will be part of your next release 1.0.15

[2017-06-26 20:38] #543 closed

[2017-06-26 20:40] rohitnarula7176 commented on #550
@praveenrengarajan You need to add those resources in the endpoints array on the config object. Please refer to the read me on how to achieve this.

[2017-06-26 20:40] #550 closed

[2017-06-26 20:59] mmckenz commented on #553
The source map files I'm referring to have nothing to do with TypeScript. I'm talking about source map files for minified JavaScript that would allow one to map from the minified versions (ex. adal.min.js) to the un-minified original versions (ex. adal.js).

Here are some additional details on source maps:
https://www.html5rocks.com/en/tutorials/developertools/sourcemaps/

Releasing the source map

[2017-06-26 21:34] jmprieur commented on #553
Thanks for this quick answer, @mmckenz .
I'll add that to the backlog.

[2017-06-27 08:39] RobinHerbots opened #580 "AADSTS16000: Request is ambiguous: multiple user identities are available for the current request."
Hi all,
Sometimes I got the error above and I can't recover from it by calling the logout on the authenticationcontext.  It happens when switching users, but I didn't yet found a clear path to reproduce the error.

There seems not much info about this exact error on google.  So maybe someone can clarify?

[2017-06-27 09:10] MatthiasDebaere commented on #481
thanks for this example! I had to adjust it a little bit to use with apiSauce but it helped a lot :)

[2017-06-27 15:26] aline-almeida commented on #544
@jmprieur : I've added the script line and also disabled protected mode... problem remains.

[2017-06-27 16:09] jmprieur commented on #543
@rohitnarula7176 : can you please provide the commit id?

[2017-06-28 03:38] thdotnet commented on #578
I was facing the same problem. Here's how I've solved it:

    /**
     * Gets token for the specified resource from the cache.
     * @param {string}   resource A URI that identifies the resource for which the token is requested.
     * @returns {string} token if if it exists and not expired, otherwise null.
     */
    AuthenticationContext.prototype.getCachedToken = function (resource) {

[2017-06-28 12:43] #537 closed

[2017-06-29 15:11] richarjain commented on #537
I am facing same issue. Adal Infinite redirection in Edge. Can anybody help me out in this

[2017-06-29 15:17] richarjain commented on #216
I am facing same issue. Adal Infinite redirection in Edge. Can anybody help me out in this

[2017-06-29 15:18] richarjain commented on #262
I am facing same issue. Adal Infinite redirection in Edge. Can anybody help me out in this

[2017-06-29 22:04] MSRY opened #582 "SessionStorage lost when add STS site and reply URL in different security zone in IE and Edge"
When use IE and Edge, add either one of STS site and reply URL into trust sites cause SessionStorage lost after use sign in and redirect back.
In Internet Explorer technical blogs, then mentioned “We most often see this problem with cookies, but technically, this could happen in any case where storage is partitioned by zone. For instance, the web browser cache is partitioned by Zone, as are the HT

[2017-06-29 23:26] rohitnarula7176 commented on #448
@dliu120 @cdian @yarick123 The 2 reloads that you see during login is by design. The first reload is when the redirect response is received with the token attached to the urlHash and the second reload occurs when adal tries to remove the token from the hash and reset the location back to the loginStartPage. Setting $window.location again in the code above, should not cause any additional reload as

[2017-06-30 00:11] thdotnet commented on #578
@balajimadgundi can you test with my solution? I was able to solve the issue...

[2017-06-30 07:15] dgodwin1175 opened #583 "Enforce password re-entry after token expiry"
I've had problems with the infinite refresh loop when using this library with the ui-router.  Even on the latest version I cannot get this to work, despite trying all of the suggested workaround solutions.

As a fallback plan, what I want to do is to redirect the user back to the azure login screen to re-enter their password, whenever their token expires (after 1 hour).  This is actually a prefera

[2017-07-01 21:11] yarick123 commented on #448
@rohitnarula7176 ADAL.js 1.0.13 has reloaded window content thrice by me. ADAL.js 1.0.14 does that twice.

[2017-07-03 16:20] jmprieur commented on #448
Closing the issue, as reloading twice is expected as @rohitnarula7176 explained. Feel free to reopen.

[2017-07-03 16:20] #448 closed

[2017-07-04 03:32] trandinhnam opened #584 "Can i check if this library will be affected when MS apply this change?"
I found that MS will change change on azure tls.
Anyone can help me to check whether this change will impact our library?
https://blogs.msdn.microsoft.com/azuresecurity/2017/06/12/azure-tls-certificate-changes/

Regards,
Hai Do

[2017-07-04 07:46] VimalKallem opened #585 "adalservice.AcquireToken() failing for the first call"
Am using active directory to authenticate user.
Here ng2-adal module is used to get active directory token.

Am  facing following issues with acquiring token through ng2-adal module.
•	AdalService.AcquireToken(resource) method gets timed out for the first time before token is stored in local storage.
-	Error Message - Token renewal operation failed due to timeout
•	Data binding to the component is

[2017-07-04 08:19] jmprieur commented on #584
@trandinhnam : this should not. the libraries don't do certificate pinning.

[2017-07-04 08:19] #584 closed

[2017-07-05 04:03] ramesh-chandra commented on #539
I am also facing the same issue of multiple js files. Because of this issue, we are getting the issue in executing a 10 sec timer in a page.  The timer callback method is executing in (10/# of file copy) sec. I am able to repro this issue always.
Could you please help me in fixing this issue.

[2017-07-05 05:43] jmprieur commented on #585
Hello @VimalKallem
We only have an implementation of ADAL.js for Angular 2 - and we have requests for supporting Angular 2 and Angular 4.
The Microsoft identity team did not produce ng2-ada and we don't support l.
I suggest you post an issue in their GitHub repository https://github.com/alenny/angular2-adal-example/issues

[2017-07-05 05:43] #585 closed

[2017-07-07 14:06] makromat opened #587 "Authentication too slow for multiple endpoins."

[2017-07-07 14:12] makromat commented on #587
Hi There,

I have 6 endpoints and when user is not signed in ADALjs is gonna open up 6 iframes with current page (for each endpoint one).  This is big perfomance issue. Website is really slow and all my assets are downloaded 6 times.
Is possible to avoid creating iframes per each endpoint?
Is there any other workaround?
Thanks a lot

[2017-07-07 19:49] codybushnell commented on #481
@magnuf Thanks so much for this! After 2 weeks of stumbling in the dark this fixed it!

[2017-07-10 14:18] dzhavat commented on #587
I face the same problem. It's very bad for performance!

Luckily, I just found this in the [Wiki](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs). Haven't tried it yet but seems like a some kind of solution.

[2017-07-10 19:41] russgove opened #589 "Microsoft.IdentityModel.Tokens.AudienceUriValidationFailedException when accessoing sharepoint through adal.js"
Hi,
I’m trying to use adal.js from an outlook add-in to read  items from a SharePoint online  list. When I issue my get request to read the listitems, I keep getting a 401 error with a ‘x-ms-diagnostics’ header that says ‘3000003;reason="Invalid audience Uri 'f8f8d2ad-7c9d-4aac-80eb-3f00a263c879'.";category="invalid_client".

The full text of the response is ::
`HTTP/1.1 401 Unauthorized
Content-L

[2017-07-11 09:45] Rovinsh commented on #543
when 1.0.15 is expected to be released?

[2017-07-11 16:46] hkusulja commented on #194
Move to MSAL should be considered, which also does not have Angular support currently but is planned - https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/77

[2017-07-12 09:15] danielrbradley commented on #277
I'm also trying to integrate a React app with adal, but have just come across the [hello.js library](https://github.com/MrSwitch/hello.js) which seems less tied to any specific framework. Has anyone tried this as a replacement? Is there anything it doesn't do that adal would?

[2017-07-12 10:10] RensBonnez commented on #239
@shaynevanasperen Hi, do you have any update on this? Struggling with the same problem. Thanks

[2017-07-12 11:04] shaynevanasperen commented on #239
@RensBonnez Yes. Microsoft have responded to my support request and the answer is that group claims are only returned in the token when there are 5 or less of them (contrary to the almost nonexistent documentation on the matter). It has nothing to do with whether or not the Azure AD tenant is federated with on-premise AD. It is purely a maximum of 5 group claims.

Their suggestion is to use applic

[2017-07-13 21:08] rohitnarula7176 commented on #587
@makromat You can register a separate redirectUri other than your app's root page to avoid multiple reloads and increase performance. Iframe creation is by design and we cannot avoid it. Please refer to the wiki for instructions on how to achieve this.

[2017-07-14 15:29] PhilDore11 opened #591 "Add support for Angular UI Router 1.x"
Using latest version of ```angular-ui-router@1.0.5```, adal-angular is throwing console errors when trying to fetch template files.

Also, the ```requireADLogin``` doesn't seem to work.

[2017-07-14 18:24] rohitnarula7176 commented on #582
@MSRY If session storage is lost during zone switching, it is a browser issue and the library cannot do anything to resolve it. Please take this up with the IE/Edge team.

[2017-07-14 18:24] #582 closed

[2017-07-15 13:51] smil2k opened #592 "[B2C] postLogoutRedirectUri should also have an extraParams config"
When using adal.js with Azure B2C, the post logout redirect works only if the profile was also included using "p=".

Therefore as with login, it should be possible to add this parameter also using simple comfiguration.

[2017-07-17 17:24] dancampbell691 commented on #277
Has anyone, anywhere, figured out how to make AAD/adal.js work with anything other than Angular, like maybe Vue?  I've searched from one end of the internet to the other, and tried all 987 combinations of "examples" offered by Microsoft.  I've got dozens of hours into this effort, and the only thing I have to show for it is that my nearly-20 year devotion to Microsoft tools is becoming seriously s

[2017-07-17 17:32] jmprieur commented on #277
It is possible to use ADAL.js with plain JavaScript (and hence with any framework). I'm writing a sample about this.

[2017-07-17 17:50] dancampbell691 commented on #277
Thank you, Jean-Marc!  I will anxiously await it.

[2017-07-17 22:43] rohitnarula7176 commented on #532
@paonekumar Closing this issue for now due to lack of logs. Please reopen if you still face issues.

[2017-07-17 22:43] #532 closed

[2017-07-18 10:56] fikkatra opened #593 "Expired token not refreshed when leaving browser window open"
When leaving the app open until the token expires and then trying to do something with it, nothing happens. Adal seems not to be able to refresh the token. I'm running adal-angular v1.0.14.

Scenario:

- open app
- log in => everything works fine
- leave app open in the browser for more than 1 hour
- do something that triggers a (secured) API request
- API request does not go out

Additional debug

[2017-07-18 15:04] jmprieur commented on #277
@dancampbell691 : this is still work in progress, but you can look at the TodoListSPA in the additionalClaimsSupport branch of the active-directory-Dotnet-webapi-onbehalfof sample in GitHub: https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbehalfof/tree/additionalClaimsSupport.

More to come

[2017-07-19 16:33] dancampbell691 commented on #277
@jmprieur: Thanks so much for this; and for turning it around so fast.  It was a huge help.  I was able to get it going and then was able to figure out the differences from what I already had going (with a Vue client and SSL Web API with CORS).

For everyone else trying to do this, the two key take aways which I had not been able to find elsewhere are these:
1.  In the manifest for your API, you m

[2017-07-19 23:09] vule017 opened #597 "AAD infinite redirect loop - Microsoft Edge 40.15063.0.0"
Some of our users are experiencing an **infinite redirect loop** in Microsoft Edge during authentication. This issue just cropped up today. It appears to be primarily effecting users with Edge version 40.15063.0.0. Other browsers don't exhibit the same behavior and work fine.

As some have suggested, we tried updating the **cacheLocation to 'localStorage'** under adalAuthenticationServiceProvider.

[2017-07-20 23:05] pdimitratos opened #599 "ReferenceError during testing on PhantomJS"
Hello,

I'm using WebPack for testing a React/Redux single page app and I encountered a Reference Error on line 177 of adal.js during test initialization. PhantomJS may not be initializing the window object early enough. I did find that the reference error can be avoided by validating that the window has been defined before attempting to set Logging: [these changes](https://github.com/AzureAD/azur

[2017-07-21 06:00] kurifodo commented on #216
I'm encountering the infinite loop with adal.js 1.0.14 and **I'm not using angular**. I've read this whole post, but cannot find a solution. I would like to avoid clearing cache before invoking login like others have mentioned doing.

**Repro steps:**
1. Visit my SPA in Incognito Mode to ensure clean state
2. Create authentication context and invoke handleWindowCallback()
3. Site prompts me to log

[2017-07-21 07:06] rohitnarula7176 commented on #599
@pdimitratos Thank you for your contribution. I have merged your changes.

[2017-07-21 07:06] #599 closed

[2017-07-21 07:07] rohitnarula7176 commented on #597
@vule017 This is a known issue with this particular version of Edge. It is a browser issue and not a bug with the library. It should work in all other browsers and older versions of Edge.

[2017-07-21 07:07] #597 closed

[2017-07-21 13:31] jmprieur commented on #277
@dancampbell691 : thanks for trying out the bits, and confirming that worked for you, and thanks for your feedback.
To answer your questions
1. We just released adal.js 1.0.15. It's now live. The sample was exercising it a few days in advance
2. I still need to work on the README for the sample (which I have not updated with the JavaScript sample yet)
3. In your particular case, I would recommend

[2017-07-21 15:23] jmprieur commented on #277
@dancampbell691 : I've committed a new version of the sample in the same branch; https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbehalfof/tree/additionalClaimsSupport. This version also demoes the redirect mode (login with redirect instead of popup, and acquireTokenRedirect instead of acquireTokenPopup).
to toggle the behavior, just change the popUp member of config (in appconfig

[2017-07-21 20:16] darcyparker commented on #465
FYI to those who may be watching this:

https://github.com/AzureAD/microsoft-authentication-library-for-js Microsoft Authentication Library Preview for JavaScript (MSAL.js) is available now!

[2017-07-25 05:08] cserkaran commented on #544
Is there any solution to this issue ?

[2017-07-25 15:21] jamesgraham commented on #443
Hi, is there any update on when this might happen?

[2017-07-25 15:35] jmprieur commented on #443
adal is separated from adal-angular, and you can use plain adal.js. Please have a look at this sample: https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbehalfof/tree/additionalClaimsSupport/TodoListSPA

We still need to update the README.md file to promote the plain JavaScript implementation, though.

[2017-07-25 19:36] jamesgraham commented on #443
Thanks Jean-Marc!

It would be great to install that via npm too. For now we have it hotlinked.

On Tue, 25 Jul 2017 at 18:43, Jean-Marc Prieur <notifications@github.com>
wrote:

--
Kind regards,

James Graham

[2017-07-26 08:49] jmprieur commented on #443
@jamesgraham : Unless I'm wrong, it is already? https://www.npmjs.com/package/adal-angular
(the angular package contains both the scripts for adal.angular and adal.js)

[2017-07-26 11:40] jamesgraham commented on #443
Ah- I'm looking for a non angular npm package- surely a core library
shouldn't be coupled to a framework

On Wed, 26 Jul 2017 at 11:49, Jean-Marc Prieur <notifications@github.com>
wrote:

--
Kind regards,

James Graham

[2017-07-26 14:17] hkusulja opened #600 "Example and documentation for Angular 2/4"
Please write example / documentations for Angular 2 / 4 which is in TypeScript.

Thank you,
Kind regards

[2017-07-27 16:35] alexandro81 opened #601 "Logging the `src` attribute of adal.js injected hidden iFrame for token renewals"
**Scenario**
As part of a token renewal operation, adal.js injects a hidden iFrame in the page, in order to fire off an HTTP request to the AAD endpoint to silently get back a new token.
I didn't see an easy way to intercept this in order to log into our app the actual URL that is set as the value of the iFrame's src attribute. So we don't have an easy way to keep track of authorization requests i

[2017-07-27 20:37] aciccarello commented on #463
This is still an issue when running version 1.0.15. As @fikkatra mentioned, the `$timeout(() => $window.location.href = '/realerror');` does not seem to work well in IE.

I think @Jingkun-Hu fixed his issue by avoiding the error altogether but for valid instances of the error apps should not be thrown into a loop.

[2017-07-28 22:02] ashishtechie commented on #578
Hey is there any update on this. I suppose this is more of Angular 2.X plus issue and you are right it happens for some time in my browser too but then after it have a session or something it stops happening. Are we getting a native support for Angular 2.x plus?

[2017-07-28 22:05] ashishtechie commented on #391
@tushargupta51 and @RehanSaeed, do you guys found any solution to this, I am having the same issue and also, i can see in my case locationChangeHandler is not called since i am on Angular 4.x and which doesn't provide the events that seems like adal-angular expects. So, apparently this is never called. Can Adal-angular be supporting angular.2.x and above versions natively?

[2017-07-29 18:01] jmprieur commented on #578
It's on the backlog, but no ETA yet.

Meanwhile, we've released a new version of ADAL.js (ADAL.js 1.015) adding acquireTokenPopup and acquireTokenRedirect, and supporting claims challenges (when a service requires more from the user, for instance Multi factor authentication). You might want to look at the plain JavaScript here: https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbeha

[2017-07-31 19:56] aspnerd commented on #472
What was the fix?

[2017-08-01 14:27] komal2302 commented on #537
I'm also facing the same issue. Any pointers on how to solve this.

[2017-08-02 12:55] jmprieur opened #603 "scope claim not received by backend after user has consented and until he logs out once (using acquireTokenPopup or acquireTokenRedirect)"
**Repro steps:**
1. Clone https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbehalfof.git
2. Create the AzureAD apps and modify the code. For this:
-  open PowerShell
- from the folder where you cloned the repo,
[code]
- from this folder, run the following PowerShell snippet (after replacing yourPassword, youLogin and yourTenant)
[code]
Note that if the user you login with exists (a

[2017-08-02 18:24] danieldobalian commented on #603
JM & I looked into this and the scope isn't coming back in the token. Either an app configuration issue or service, unlikely related to the library. Will continue investigating.

[2017-08-03 23:29] peternied opened #604 "ADAL should automatically handle errors such as interaction_required or login_required"
We have seen a number of users affected by an error description, AADSTS50139 which requires users to sign back in on login.microsoftonline.com, I would expect this library would handle scenarios where there is an error that requires a login is handled.

Details from the iframe error navigation:
[code]

[2017-08-04 12:39] jmprieur commented on #604
Pieter, the library should be handling it, indeed.
Which version of ADAL.js are they using? in the context of which scenario. Do you have repro steps to share (even better some sample code that exhibits it)?

[2017-08-04 12:39] jmprieur commented on #604
cc; @peternied

[2017-08-04 22:59] peternied commented on #604
We are using a [fork of ADAL 13](https://github.com/peternied/azure-activedirectory-library-for-js/tree/13-peternied.7), which mostly has additional logging for our telemetry and a few small bug fixes.

I don't know how to create a scenario for 'interaction_required' it seems to be when the refresh token is invalidated, maybe a password change could force this scenario?

[2017-08-05 00:36] Hongbo-Miao commented on #323
My situation and solution is different, check here for details:
https://stackoverflow.com/questions/45492487/aadsts50058-a-silent-sign-in-request-was-sent-but-no-user-is-signed-in/45517137#45517137

[2017-08-05 01:17] Hongbo-Miao opened #605 "[feature request] better report for failing refresh access_token"
Originally asked on [Stack Overflow](https://stackoverflow.com/questions/45492487/aadsts50058-a-silent-sign-in-request-was-sent-but-no-user-is-signed-in/45497122).

I got this error when try to refresh access_token.

I believe it is same for some people who are using adal.js, https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/323

Please check the reason that I get this error [

[2017-08-05 21:31] Hongbo-Miao opened #606 "Enable Issues for MicrosoftDocs/azure-docs"
I am reading the doc [Call the Microsoft Graph API from a JavaScript Single Page Application (SPA)](https://docs.microsoft.com/en-us/azure/active-directory/develop/guidedsetups/active-directory-javascriptspa)

I try to open an issue, so I go to
https://github.com/MicrosoftDocs/azure-docs

But obviously Issues is disabled. Please enable it, thanks!

![image](https://user-images.githubusercontent.co

[2017-08-05 21:35] Hongbo-Miao commented on #606
Moved to https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/107
These two packages really confused me.

[2017-08-05 21:35] #606 closed

[2017-08-05 22:02] Hongbo-Miao commented on #605
move to https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/108

[2017-08-05 22:02] #605 closed

[2017-08-05 22:05] Hongbo-Miao opened #607 "Please remind people the difference between ADAL.js and MSAL.js in the readme"
Originally asked the difference between ADAL.js and MSAL.js on [Stack Overflow](https://stackoverflow.com/questions/45526652/what-is-the-difference-between-adal-js-and-msal-js).

Please remind people the difference between them in the readme, thanks!

[2017-08-05 22:07] Hongbo-Miao commented on #600
Link to https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/77

[2017-08-05 22:09] Hongbo-Miao commented on #571
I believe the reason causing this issue and the solution is same with the question you asked here https://stackoverflow.com/questions/44509900/how-to-use-addhandlerasync-from-office-js-with-angular/44730110#44730110

[2017-08-06 15:25] hkusulja commented on #600
This is not the same, I am asking for the ADAL (this git repo) since MSAL does not support Azure AD authentication for internal tenant users and apps.

[2017-08-07 07:50] jmprieur commented on #604
yes, @peternied : a password change, or conditional access (2 factors authentication for instance)

[2017-08-08 03:29] ashishtechie commented on #391
I think I found a reason for IE, as it seems like IE is blocking the call to get token from microsoft. I am trying to add the microsoft login URL to trusted sites. But it doesn't seem to always work. Would update as i get it working.

[2017-08-08 13:20] vishalwalke commented on #549
I am facing same Issue
my Adal config is

public get AdalConfig(): any {
        return {
            tenant: environment.tenant,
            clientId: environment.clientId,
            redirectUri: https://localhost:4200,
            postLogoutRedirectUri: 'https://login.microsoftonline.com/<TenantId>/oauth2/logout?post_logout_redirect_uri=https://localhost:4200'
        };

[2017-08-08 13:29] vishalwalke opened #608 "unable to logout using adal angular"
I am facing the problem with ADAL logout. Azure AD is not redirecting to logout url when user logging out the current session. After logout it is redirecting to Azure logout screen and not to the given redirect url. Also its not clearing the cookies from the browser.

So next time when user attempts to access the application it is directly taking to the application without asking login credentials

[2017-08-08 13:42] udayveluvali opened #609 "using ADAL.js without the intermediate login"
Is there any way we can bypass the intermediate login page, handle it via javascript to access the webapi?

uday

[2017-08-09 07:27] tparvi opened #610 "Calling logOut() does not force user to enter username/password next time"
What I have tried:

- call logOut()
- call clearCacheForResource and clearCache

But when I go back to my app I can see the following in the dev console:

How can I log out user so that next time he must enter username/password?

[2017-08-09 09:28] tparvi commented on #610
So the good thing is that logOut() works. Only issue is that it always redirects user somewhere.

So my case was actually more complex. The REST interface returns HTTP 403 + JSON that we used to detect that user is not authorized to use the site (this will be different from case where e.g. token has expired). What should happen is this:

1. Web UI detects HTTP 403
2. User is logged out automatical

[2017-08-09 10:05] jmprieur commented on #610
Did you set the **Logout URL** for the application?

![image](https://user-images.githubusercontent.com/13203188/29116378-dfd89cd6-7cfa-11e7-9912-71372d2f712e.png)

[2017-08-09 23:54] aciccarello commented on #608
Why are you using a `postLogoutRedirectUri` that contains `post_logout_redirect_uri=https://locahost:4200`? Do you intend for it to return to localhost after logging out?

[2017-08-10 00:01] aciccarello commented on #591
Duplicate of #574

[2017-08-10 11:09] vishalwalke commented on #608
yes.
I wnt to redirect to localhost on login screen
I am above configrations are for development purpose. "https://localhost:4200" will be replaced by my actual app url hosted on azure.

[2017-08-10 22:12] rohitnarula7176 commented on #604
@peternied The library will just throw an error "interaction_required" to the app developer and it is the developers job to call acquireTokenPopup or acquireTokenRedirect api's to handle conditional access. As a library we cannot display UI's on our own.

[2017-08-10 22:14] rohitnarula7176 commented on #609
@udayveluvali You cannot bypass the interdemiate login page.

[2017-08-10 22:14] #609 closed

[2017-08-13 06:32] LastTribunal commented on #562
I confirm this issue.  The iframe will force a scroll when it is rendered, every time!
This is how you fix it: in adal.js find "style="display:none" and replace it with "style="display:block"

[2017-08-13 22:15] #538 closed

[2017-08-14 14:05] pkmelee337 opened #611 "Adal.js (no angular) popup not closing with redirect URL with spaces"
Hi,

Just found out that the the popup windows wasn't automatically closing when I set the redirect URL to an url with spaces in it. (don't ask me why it has spaces, not my choice. :-)) After some debugging I found the issue in the _loginPopup function. The URL set is matched against the popupWindow location.href, but this happens without encoding the redirect URL set in the config. (following cod

[2017-08-15 12:04] ysrmmz commented on #222
@vibronet,
Do we have any sample project where adal js is being used with adfs 2016?

[2017-08-15 14:45] DmytroLapshyn commented on #222
@vibronet

Would you please be so kind to elaborate a bit on which exactly oauth grants ADFS v3 does not support? If I correctly understand what's being said in this [comment](https://github.com/aspnet/Security/issues/673#issuecomment-176521496), it actually **is** possible to use ADAL JS with on-prem ADFS v3.

[2017-08-17 05:50] Vivihung commented on #451
@rohitnarula7176
I'm also investigating infinite AAD login loop for iPhone safari browser in private mode.

Just try to understand more about this library.
When we use localstorage mode, can adal.js be functional even cookie is blocked by browser?
or
No matter in what mode, adal.js cannot work without cookie enable

What's the critical browser dependency for adal.js?

[2017-08-20 03:20] mike-nelson commented on #580
I've struck the same issue when signing in a second user. I think due to the way ADAL.js uses cookies, this library isn't able to handle multi-identify.

I am wondering if doing a signOut before switching users will fix this.

[2017-08-20 03:55] mike-nelson commented on #604
login() and logOut() methods both show UI to the user

[2017-08-21 08:03] mathilde-pellerin commented on #456
Hi,
I'm using angular-wrapper 1.0.14 and I get this issue with sessionStorage.
The application is loaded in a page, the user authenticate and then let the page open without touching it for more than an hour. When the user come back and refresh the page, I get this error in the console and the user is not redirected to azure authentication page.
The request causing this error does not appear in the

[2017-08-21 15:12] peternied commented on #604
@mike-nelson Great suggestion, do you know of other scenarios like this where other recommended scenarios to perform login/logOut are documented?

Note; when you get a 401 on an HTTP request this library automatically forces a navigation to the login flow, which I is why I would have expected password expiration to be covered as well.

[2017-08-21 21:28] mike-nelson commented on #604
@peternied No, not sure where they are documented. I was really just pointing out that the statement above from @rohitnarula7176 isn't consistent.

However I have found logOut is required if you are trying to do a multi-identity app. I tried making multiple instances of ADAL (and giving them unique IDs in localStorage and unique iframeIDs) but the backend was confused - you can be signed in with t

[2017-08-21 21:35] mike-nelson commented on #580
I found logOut is required if you are trying to do a multi-identity app. I tried making multiple instances of ADAL (and giving them unique IDs in localStorage and unique iframeIDs) but the backend was confused - you can be signed in with two accounts at once but it throws an error getting the access_token.

Also I modified logOut to so it doesn't redirect the current window, since I didn't want to

[2017-08-23 04:08] kajo1980 commented on #290
Hi, we have a scenario where we want to make multiple calls (3 - 4) in succession to graph. i want to avoid a scenario where the token expires in between these calls. is there a way i can detect that the token is about to expire (based on the time i would need to complete all the calls) and renew it proactively? thanks.

[2017-08-23 05:53] Programm3r opened #614 "No arguments in loginSuccess callback"
Hi,

Isn't there any arguments passed when the login success occurs?

[code]

Thanks!

[2017-08-23 10:47] Programm3r commented on #614
[code]

[2017-08-23 10:47] #614 closed

[2017-08-23 17:12] makromat commented on #587
thanks I did it. better now.

[2017-08-23 17:12] #587 closed

[2017-08-23 17:14] makromat opened #615 "IE - unable to acquire tokens for endpoints - infinite acquire token loop."

[2017-08-23 17:43] makromat commented on #615
I'm not able to get authentication working on IE 11. I'm using newest version of adaljs without angularjs. Everything is working correctly in chrome end everywhere else...but not in IE.
This is my code:

    (function () {
    window.config = {
        tenant: '<tenant>',
        clientId: '<id>',
        postLogoutRedirectUri: window.location.origin,
        cacheLocation: 'localStorage', // enab

[2017-08-23 17:57] makromat commented on #615
Also sometimes I see the HTTP call to authorization endpoint is still in pending status.... with no response from server...

[2017-08-23 18:12] makromat commented on #615
could it be releated to [https://mertarauh.com/2016/09/05/adal-js-and-zones-in-ie-and-edge/](https://mertarauh.com/2016/09/05/adal-js-and-zones-in-ie-and-edge/) ?

[2017-08-23 19:36] #607 closed

[2017-08-25 20:52] aplongh opened #616 "Interceptor fires for backend query for non protected routes"
Hi, I have a site that has both public and private áreas. The private áreas routes are marked with 'requireADLogin: true' but the public routes are not. some of the private áreas require interaction with backend c# webAPI, but the interceptor blocks the request with a "User authentication required" or something like that. I solved this adding the array of "anonymousEndpoints", but I am wondering i

[2017-08-25 22:58] aciccarello opened #617 "Why is LOGIN_ERROR not cleared on logout"
Looking at the [`clearCache`](https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/master/lib/adal.js#L691) method, it seems that the [adal.login.error](https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/master/lib/adal.js#L82) value is not cleared. Is this intentional?

I realized this when testing a workaround for #463. In my app (using only the base adal.js lib

[2017-08-29 16:39] topher-slalom commented on #537
@jmprieur , I'm experiencing this only on that version of edge, do you know why this version has this problem?

[2017-08-29 18:53] rohitnarula7176 commented on #616
@aplongh this behavior is by design. If the route is added to the anonymous endpoints, adal will not try to acquire a token for that route.

[2017-08-29 18:53] #616 closed

[2017-08-29 18:58] rohitnarula7176 commented on #457
@ayoubfc Do you have a repro for this issue. I will need to debug your code to see why this is happening as there can be multiple reasons for this behavior.

[2017-08-30 03:07] jmprieur commented on #537
@topher-slalom : did you try with the latest version of adal.js ?

[2017-08-30 15:45] topher-slalom commented on #537
@jmprieur  1.0.15, and only in an InPrivate window.  Works fine otherwise.

[2017-08-30 17:32] whitneyland opened #618 "Docs have wrong property, doesn't compile: "clientID" should be "clientId""
If coding against these docs code won't compile because of the case mismatch:

v1.0.15:
@property {string} clientID - Client ID assigned to your app by Azure Active Directory.

Proposed:
@property {string} clientId - Client Id assigned to your app by Azure Active Directory.

[2017-08-30 21:40] rohitnarula7176 commented on #537
@topher-slalom if this only happens in Edge private mode, then it is a browser issue. We can't change anything in the library to fix this.

[2017-08-30 21:42] topher-slalom commented on #537
@rohitnarula7176 Right, I get that.  Above @jmprieur had asked if someone was seeing this on a specific version of edge, leading me to believe that maybe he was aware of some known Edge issue that I could take a look at.  I wasn't expecting a fix for the library.

[2017-08-30 21:44] rohitnarula7176 commented on #615
@makromat can you provide a code repro for this issue so I can debug this further.

[2017-08-31 18:13] KJee85 opened #619 "Invalid State in Edge for subset of users"
Here is some context:

ADAL.js Version = 1.0.13 (Have also tried with 1.0.15)
Edge Version = 40.15063

In App.js config():

[code]

Above we redirect to /login, we found that if we redirect to our main page the iFrames for token refreshes would essentially end up resolving and loading the entire app which caused odd problems. /login in this case is its own module:

LoginModule.js config():

[code]

[2017-08-31 20:13] KJee85 commented on #619
Just seeing: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs has a better approach to the iFrame app loading issue, will try that and see if it simplifies things.

[2017-08-31 23:28] KJee85 commented on #619
So following the example https://gist.github.com/tushargupta51/5fa6d000357120adbc8fd1d5c68853c4 I simplified our approach, we were essentially already doing this, we had a separate /login page which booted its own app module as I outline above.

Here is the simplified approach, our /login page now just does:

[code]
This is working but I have not been able to check for the users that are seeing th