[2018-07-06 07:04] navyasric commented on #659
Thank you all for the feedback. We are investing future efforts in the MSAL.js library and will be creating separate packages for supporting frameworks.

[2018-07-11 17:23] asnow003 commented on #769
@MarkHerhold I just did a generic test on my mac using the latest Safari in Sierra.  I tested using one of our basic samples and didn't see an error.  Could you provide your error or a sample that demonstrates the issue?

[2018-07-11 19:43] nehaagrawal commented on #778
@nominds  When you login using ADAl,  ADAl gives you an id_token and access_token. Both will have the same value and this access_token can only be used to call only your own APIs (i.e. which are hosted on the same domain). To call external apis(CORS), you need to call acquire_token() API and it will give you a different access_token.
You need to pass the access_token as 'bearer' token.

[2018-07-11 23:56] MarkHerhold commented on #769
I used the same environment. I must be wrong or there must also be some other factor at play.

[2018-07-11 23:56] #769 closed

[2018-07-12 02:14] nehaagrawal commented on #773
@numabilis  Could you please tell us the attributes you are using for sandbox iframe?

[2018-07-12 02:47] nehaagrawal commented on #748
@prashantharshi ADAL is a javascript library and we support javascript and angular framework currently. I am closing this issue for now. Feel free to open it again if your question wasn't answered.

[2018-07-12 02:47] #748 closed

[2018-07-12 03:17] henrik-me commented on #766
hi @Ashokpraveeny : did you try upgrading to 1.0.17 (1.0.15 had some IE fixes as far as I can see).
CC: @manoj-rath

[2018-07-12 05:46] nehaagrawal commented on #771
@reddykkk  is there a sample repo that you can share with us to reproduce this issue?
For the loops issues, which browser are you seeing this issue?

[2018-07-12 11:05] numabilis commented on #773
@nehaagrawal Thanks for your reply. I don't set any attributes on the iframe. As written in https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authentication/auth-silent-aad : "The ADAL.js library creates a hidden iframe for OAuth implicit grant flow, but it specifies prompt=none so that AAD never shows the login page." And we can see that in the library code : https://github.com/Az

[2018-07-12 20:37] nehaagrawal commented on #778
@nominds I hope our answer was helpful. Since this is more of a question rather than an issue, please use stackoverflow in future for 'how to' questions. I am closing this for now but feel free to open it in future if you still have issue.

[2018-07-12 20:37] #778 closed

[2018-07-12 23:33] vinodsunkara opened #781 "Using adal-angular4 to acquire a token for use with AD secured Azure function app"
Issue:

I have one Customer, He has an Angular5 app that is authenticating to Azure AD and then after authenticating he is calling a secured azure function and authenticating also the request to azure ad. He has 2 app registrations.  1 that secured the function application and 1 to use for securing the angular application. The client app registration has been granted delegated permission to access

[2018-07-12 23:42] nehaagrawal commented on #773
@numabilis we don't allow calling our library from inside an iframe because of security concerns. From the error, it looks like you app has a sandbox iframe. If you can share a sample code where we can reproduce this issue, we can help you.
I also looked at some of the past issues and found these https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/129
https://benoitpatra.com/201

[2018-07-12 23:53] nehaagrawal commented on #759
@rogeralsing You mentioned that redirects are blocked but is popup allowed? If yes, you can try the login with a popup config. Please check this wiki https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Login-methods

If both redirect and popup are not allowed then we don't provide any other option to login.
I am closing this issue for now.

[2018-07-12 23:53] #759 closed

[2018-07-13 05:37] nehaagrawal commented on #766
@Ashokpraveeny  We have listed known issues on IE/Edge browser here https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Known-issues-on-Edge.
This looks like one of it. Can you please try the steps in the workaround section? For some IE versions, local storage has worked fine. Can you please try that?
Also to avoid infinite loop, can you have some login in your app to break after

[2018-07-13 06:59] nehaagrawal commented on #733
@HarshitJn  ng2-adal is not supported by us https://www.npmjs.com/package/ng2-adal. Please open issue on their github repository.

[2018-07-13 06:59] #733 closed

[2018-07-13 07:00] nehaagrawal commented on #735
@ESadouski Did @rohitnarula7176  helped you solve this issue? If yes, can you please close this issue?

[2018-07-13 07:03] nehaagrawal commented on #718
Closing this issue due to lack of response from the user. Please feel free to open it if the issue still exist.

[2018-07-13 07:03] #718 closed

[2018-07-13 07:09] #746 closed

[2018-07-13 07:20] nehaagrawal commented on #768
@daoodk  Please give us details about your use case and steps to reproduce. It's hard reproduce this issue by just looking at this error.

[2018-07-13 07:39] numabilis commented on #773
@nehaagrawal Our application is a Custom Tab for Teams which embed it in an iframe but our code doesn't have an iframe in it. SO I think it is a problem with Teams... For the code, we follow what has been explained in this article : https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authentication/auth-silent-aad

And it works perfectly on dev environment...

[2018-07-13 19:03] nehaagrawal commented on #757
@MrTiny75  You can pass the prompt parameter as none(prompt=none) in extraQueryParameter . The recommended value for prompt is 'select_account' for login. The reason for this is if you have multiple accounts in your session/cookie then STS wouldn't know which account to select.

[2018-07-13 20:54] nehaagrawal commented on #757
@MrTiny75  The recommended value for prompt is 'select_account' for login. promp=node is not a valid value for login API.

[2018-07-16 11:38] HofmT opened #782 "Set JWT-Token manually"
Dear all,

for our SPA we are using ADAL for authentication. Now we have a scenario where we get a valid JWT from another service (meaning outside of the ADAL login procedure).
I would like to set this token manually into the ADAL library so that we can take advantage of the other methods provided by ADAL, such as _getCachedToken()_

So I tried the following. I set the token inside the URL like th

[2018-07-16 12:41] Wozbo commented on #742
This seems to be related/ exacerbated by: https://github.com/Azure/azure-documentdb-dotnet/issues/512

[2018-07-17 11:53] MartineNavara opened #783 "After renew token app does not receive new token"
I'm investigating an issue in our app where users are redirected to the home page after using the application for over an hour. I already learned that this is because of the redirectUri requires authentication. I therefore changed the redirectUri to a page that does not require any authentication.

After this change, the user is not redirected to the home page on token renewal, but the application

[2018-07-18 01:00] macqm opened #785 "Bower is deprecated, consider using an alternative"
During npm install, npm warns about bower being deprecated:
```npm WARN deprecated bower@1.8.4: We don't recommend using Bower for new projects. Please consider Yarn and Webpack or Parcel. You can read how to migrate legacy project here: https://bower.io/blog/2017/how-to-migrate-away-from-bower/```

[2018-07-18 01:34] macqm commented on #779
Created a pull request #786

[2018-07-19 12:29] Teckden commented on #783
@MartineNavara here is a similar thread, there are few suggestions that helped me to understand the possible workaround to fix this https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/391

[2018-07-19 23:08] dggsax commented on #783
@MartineNavara Hey there, I ran into this a few days ago with my Typescript React application. There are a few assumptions that the ADAL library makes that I'm addressing within Microsoft, but for now check out r-e-d-s-a-n-d's answer as that is what fixed my problem. It appears that the adal iframes are not doing anything when loaded, so adding the event listener to listen for `load` fixes that is

[2018-07-20 08:05] MartineNavara commented on #783
Thank you for your response. For now we are using v1.0.15, which does works as expected.

[2018-07-26 14:06] mw-tim opened #787 "Access token error for graph.microsoft.com"
I am trying to get a list of users from active directory, I am getting my access token using:

[code]

But when I request the users I get a 401 unauthorized

[code]

Any help would be great.

[2018-07-26 23:00] dlannoye opened #788 "adalRenewFrame iFrame's borderWidth not set correctly"
It looks like this issues has been previous reported in #682 & #562, but has never been fixed in the library. The root cause is the code setting the borderWidth to "0px" isn't setting it through the element's style property so it is not respected by browsers.

In [adal.js](https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/e9d23e719eccf2341ee38b11323101fb14cb9610/lib/adal.js#L168

[2018-07-31 03:06] nehaagrawal commented on #787
@mw-tim  Not sure why you are passing the tenantid to acquireTokenApi(). It should be the resource name. In your case, it's the  'https://graph.microsoft.com/v1.0/users/'. Can you please try this and see if it works?

[2018-07-31 21:46] nehaagrawal commented on #785
@macqm Thanks for reporting this.

[2018-08-01 18:38] dlannoye commented on #788
FYI, I opened PR #789 with a fix for this issue

[2018-08-01 20:38] ghost commented on #768
@nehaagrawal, I am encountering the same error whenever executing handleWindowCallback() from an iFrame.

It appears that the problem is in AuthenticationContext.prototype.handleWindowCallback where the default value for the variable 'self' is set to null. In all other areas in the library, it is defaulted to 'this' instead. Changing to 'this' in my local copy resolved the issue.

[2018-08-02 10:24] dagtveit opened #790 "Adal js and using my own token exchanger."
Can Adal.js be set up to ask my own api server side project for the token. meaning using code flow not implicit flow.

[2018-08-07 14:39] ghost opened #792 "adal.js cacheLocation does not support cookieStorage"
Dear Team,

I am doing a security validation for a single page application.
The application uses Azures recommended ADAL library to authenticate against an Azure AD.

As the IdToken provided by Azure is stored in either localStorage or sessionStorage, it can be intercepted by Cross Site Scripting. To my knowledge cookieStorage seems to be the best of the bad options to store the IdToken for a sing

[2018-08-08 05:39] Gopal-Git opened #793 "Authentication fails while accessing spring-boot service from Angular application , using Oauth2"
I have 2 application

Angular
Spring-boot application
I have registered 2 different Apps in Azure App registrations one for Angular and one for Spring-boot

The Angular app runs on http://localhost:4200 which is my ui,
The spring-boot runs on http://localhost:8080 where my service is running (v1/users is one of the flows of service which returns users from in built database.)

When I am running sp

[2018-08-09 23:39] navyasric commented on #600
Update to this thread:
Our team has been focusing future investments in the MSAL.js library and don't plan to add this for ADAL.
We now have published the MSAL wrappers for Angular and AngularJS on NPM. You can read more about it in the [MSAL.js Readmes](https://github.com/AzureAD/microsoft-authentication-library-for-js#libraries), give it a try and provide feedback.
Closing this issue.

[2018-08-09 23:39] #600 closed

[2018-08-21 15:08] jason2211 commented on #580
I also ran into this issue when attempting to access the application when signed on as two different users.

Using the concepts provided by @petinho, I modified the adal.js to use UPN if available then fall back to email.  Below is the code if anyone else needs it.  I can also submit this as a pull request, just let me know.

[code]

[2018-08-24 13:05] alex3683 opened #794 "if resource is empty, acquireTokenRedirect calls callback before assigning it"
In `adal.js` line [749ff](https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal.js#L749-L756):
[code]
Here `callback` is called without being set, in case the resource is empty.

[2018-08-27 13:30] sliekens commented on #752
bump

[2018-08-29 18:31] lworkman opened #795 "Selecting wrong account for implicit flow"
I'm trying to use implicit flow in an iframed site to access an API. Everything works fine when the user is only signed into one account, but if a user is signed into multiple Office 365 accounts (under different tenancies) the implicit flow fails and tries to redirect the user asking them to choose the account. However, because this is within an iframe, the redirect fails and no token is generate

[2018-08-31 07:29] ghost commented on #677
@rohitnarula7176 `logOutUri ` is not the right solution, when you use and on-prem AD (ADFS) with openid and as per openid document they recommended to bind the id_token_hint in logout url.

http://openid.net/specs/openid-connect-session-1_0.html#RPLogout

So, I think we should update the **AuthenticationContext.prototype.logOut** function and bind the id_token_hint when we call logout function.

`

[2018-09-03 06:59] Arikael commented on #677
sorry, I kinda lost track of this issue, although it still persists. We just chose to ignore it for the time being (our product is still in development).

but @rohitnarula7176 solutio seems cumbersome.
I would have to implement a way to automatically read the token info (is that even possible through adal.js). and add it to the logout url.

Is it even possible to add dynamic data (after initializa

[2018-09-03 09:03] eirikb opened #797 "Getting graph token from Office Add-in (OfficeApp) fails"
Trying to use adal.js (plain version, no Angular, bundling with Parcel) in Office Add-in (OfficeApp).
But I get this error (when developing locally):
![image](https://user-images.githubusercontent.com/241706/44977113-6bceb000-af67-11e8-92b3-518e4a0eed79.png)
* Interesting cookie-warning: _Set-Cookie header is ignored in response from url: https://login.microsoftonline.com/common/oauth2/authorize?r

[2018-09-03 13:03] Arikael opened #799 "drop support for node.js 0.10, 0.11 and 5"
Currently PRs are piling up because travis ci tries to run the tests for node.js 0.10 and 0.11 which fails because of ES 6 features used in a dependency (growl).

travis.yml
[code]

node.js 0.10 and 0.11, and 5.0 have been end of life for 2 years.
node.js 4 is deprecated since april 2018.

I think support should be dropped (as well as for v4 and 5)
Before I create a PR I'd like toknow if there is

[2018-09-03 19:19] eirikb commented on #797
I have tried debugging the issue, but it's a bit hard to follow the code flow.
But this might be the issue:
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal.js#L1320
as `parent` is tried accessed when it's an iframe, but for Office Add-in the app is already inside an iframe so it will fail (no access to parent).

I have tried to make a very light-weight version of

[2018-09-04 17:50] rajsolanki73 opened #800 "ADFS 2016 + ADAL + angular 6"
Hi

Please pardon me if i have asked a question that has been answered or discussed..

i m using https://github.com/benbaran/adal-angular4 library for my Angular 6 app. I am using https://github.com/benbaran/adal-angular6-example as starring point for my code.

I m trying to extended above sample in my app for my **on prem ADSFS 2016 **  and login works and i am able to get token.

config: {
insta

[2018-09-05 01:44] narenmakwana commented on #800
logout issue is resolved as #677  on this forum helped me . so only id_token having additional values issue remains.

[2018-09-05 01:46] rajsolanki73 commented on #800
logout issue is fixed as per #677. So now only id_token having claims (additional values) remains.

[2018-09-05 02:41] rajsolanki73 commented on #711
any update on this ?

[2018-09-05 05:09] dgodwin1175 commented on #647
@HofmT, I had the same problem, after successful login, or logout, I wanted to redirect the user back to the redirectUri only, and not to the loginStartPage (which could would generally be an angular state such as "redirectUri/state/substate").
To support this, I made some changes to the library to populate loginStartPage from adal.config.redirectUri.

[2018-09-05 09:07] stela commented on #323
Somewhat different use case, but I got the error not in the browser but when a backend service (OAuth 2.0 client) attempts to perform the on-behalf-of flow to trade in an id_token for an access token for the graph API. I'm not using the adal library but just follow the AAD v2.0 on-behalf-of flow documentation.
[code]
I only get the error message when using "work"-type accounts, my personal hotmail

[2018-09-06 05:54] diegodorazio opened #801 "Library does not work on Win 8.0 + IE10 because of "use strict" check SCRIPT1047"
When including adal-angular.js on IE10 on Win 8.0, the browser issues a javascript error and fails to load the js file.

The error is:
_SCRIPT1047: In strict mode, function declarations cannot be nested inside a statement or block. They may only appear at the top level or directly inside a function body._

The offending bit of code (which was introduced in v1.0.16) is the following:

[code]
The 2

[2018-09-06 15:46] bobboteck commented on #801
I also had the same problem and solved the same way. The error tells me visual studio when I start debugging. The test is done with Visual Studio 2015, Windows Server 2012 and IE11.

[2018-09-07 09:48] sliekens opened #802 "Support EditorConfig"
I'm having some trouble with contributing because my editor keeps changing LF line endings to CRLF and spaces to tabs.

Please add support for [EditorConfig](https://editorconfig.org/).

Additionally please add a gitattributes file with line ending normalization enabled.

[2018-09-07 16:05] mchint01 commented on #764
We are having same error, what is the resolution for this?
We are calling getCachedUser() on page refresh as well. Still having the issue of token not renewing

[2018-09-10 02:09] husseinkorly commented on #735
@rohitnarula7176, I have the same issue. Do I need to decorate the method that acquires the token ?
Please checkout this [sample](https://github.com/husseinkorly/sample-adaljs/blob/master/src/app/auth-n/auth.service.ts). This is how I implemented authentication in my app.
After acquiring the token I can see the whole app loaded in the iFrame !!!

[2018-09-10 08:12] Arikael commented on #799
is adal.js still maintained?
The community is willing but unable to participate because of failing CI
Pull Requests are pilling up for 3 months now.

@navyasric
@nehaagrawal
@rohitnarula7176
@asnow003

[2018-09-10 14:15] husseinkorly commented on #765
I can see it happening in both versions ! I'm not using any wrapper package.

[2018-09-12 11:55] sliekens commented on #752
@rohitnarula7176 I rewrote my last comment because it was incorrect. Please take another look.

[2018-09-12 13:56] sliekens opened #804 "Support error_subcode"
When you do a `login()` with `prompt=select_account` then you also get the option to cancel the login.

![image](https://user-images.githubusercontent.com/1583241/45429998-a988b280-b6a4-11e8-9c2c-05db31f6c6a2.png)

Clicking Back causes a redirect with the following callback hash:
[code]

This is not currently supported because it doesn't contain an `error_description`.
Calling `handleWindowCallbac

[2018-09-12 15:05] srujankk commented on #639
@pratap284 : Did this solve your issue?
@rohitnarula7176 : I am using 1.0.17. However I am seeing the issue when I open app with different querystring in multiple tabs. The localStorage[LOGIN_REQUEST] gets overwritten by the last tab (querystring values).

[2018-09-12 16:29] lworkman commented on #795
Any response to this?

[2018-09-12 20:43] saransh944 commented on #259
@Neil665, @tushargupta51  how can we achieve the same in Angular 5? Do you have updated index.html file that is for Angular 2+ applications?

[2018-09-13 12:33] Taewa opened #805 "How to use 'code' for responseType?"
Hi all,
I am new to ADAL.
I need to use `responseType: 'code'` in order to get `accessToken` and `refreshToken`
However, according to the `adal.js` line `201`, responseType is always 'id_token'.
[code]

Is there a way to use `responseType: code` ?

Thanks.

[2018-09-13 19:18] saransh944 commented on #194
Hi @sureshchahal , @Neil665 , @damienpontifex ,
does anybody know how to handle this issue in Angular 2 and versions above? I'm currently using Adal with Angular 5 but not sure how to handle this issue:

https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/151

[2018-09-13 19:22] Only1MrAnderson commented on #194
@saransh944 My team ended up writing our own library and open sourcing it because of these issues. We have been using it for a few months with no issues. https://github.com/AlbanyInternationalCorp/Adal-Angular-TS#readme

[2018-09-14 19:43] ReeseJones opened #806 "JSON.stringify in stateChangeHandler throws on circular reference"
in [adal-angular.js](https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal-angular.js) on line 318 there is the following line:

[code]

The stateChangeErrorHandler  sometimes receives error objects containing circular references which causes the stringify to throw, and obfuscate the errors that are actually happening.

It ends up looking kind of like this.
![image](htt

[2018-09-17 11:54] sliekens opened #807 "clearCache doesn't clear cached user"
**Expected behavior**
Calls to getCachedUser() should return null after doing clearCache().

**Actual behavior**
clearCache() does not clear the `_user` field.
getCachedUser() continues to return claims information from the deleted id_token.

**Other information**
This seems to be by design because logOut() first does clearCache() and then resets `_user` to null.
https://github.com/AzureAD/azure-a

[2018-09-18 13:44] kameelyan opened #808 "IE11/Edge - redirect issues"
In IE11/Edge, after logging in on the microsoft side, the redirect happens and the site gets stuck. The return URL looks like this:
https://{baseURL}/#id_token={token}&state={state}&session_state={session_state}

My config looks like:
`const adalConfig = { instance: 'https://login.microsoftonline.com/', tenant: '{tenant}', clientId: '{clientID}', extraQueryParameter: 'nux=1', requireADLogin: true,

[2018-09-18 19:29] saransh944 commented on #194
@Only1MrAnderson , did you write a fix for this issue in your lib:
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/151

[2018-09-20 15:02] sliekens commented on #471
I'm implementing this right now and I think you forgot to mention that you need to do a `clearCacheForResource(clientId)` before doing `acquireToken(clientId)`

PS if you do `acquireToken` without doing `getUser` first then you always get `User login is required` because the cached `idToken` (if it exists) is not deserialized yet

so the proper flow is
1. `getCachedUser()`
   - this call is requir

[2018-09-20 19:57] jagan-copilot commented on #808
I am dealing with the same problem, The popup window closes after login and is stuck with login page.

Versions
- Microsoft Edge 42.17134.1.0
- Microsoft EdgeHTML 17.17134
-  adal-angular 1.0.17

No issue observed in chrome browser and works as expected.

[2018-09-21 12:31] kameelyan commented on #808
Update your version of adal-angular-4, I'm on 3.0.13 and it's working for me now.

Also keep these known issues in mind: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Known-issues-on-Edge#issues

[2018-09-21 16:41] AlexanderLea commented on #378
Hi,

A question along the same lines - sorry if I'm missing the point...

I have an API, running on localhost:22222 validating audience against "https://testAudience/guid" as part of the authentication.

My endpoints section looks like:

 endpoints: {
        'http://localhost:22222/': 'https://testAudience/guid'
}

But my API authentication fails.  If I change my API to validate the audience agai

[2018-09-24 23:57] dzak83 opened #809 "Second sign-in required for WebAPI call. Is there a way to avoid it?"
Hi,
I am following this sample app: https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbehalfof and after I get id_token from regular login I am first trying acquireToken on AuthenticationContext and later as it fails, I am calling acquireTokenRedirect with the WebAPI resource ID. At this second step I have to sign in again.

![image](https://user-images.githubusercontent.com/279398

[2018-09-25 00:57] jagan-copilot commented on #808
Hello kameelyan, If you are referring to [adal-angular4](https://github.com/benbaran/adal-angular4), it is dependent on adal-angular 1.0.15 while i was referring to the latest version 1.0.17. Wondering how adal-angular4 is solving the problem.

I am now upgrading to adal-angular4 and hoping to see positive result.

[2018-09-25 13:04] kameelyan commented on #808
Yea I was only pointing out that the issues I faced were fixed when I updated to adal-angular4@3.0.13. I am still using adal-angular@1.0.15 though as that's what the library is forcing. I think we need a feature for the team to update to 1.0.17, but it could for you.

[2018-09-26 02:09] husseinkorly commented on #735
@rohitnarula7176 @nehaagrawal @ESadouski
I was able to fix this issue in my Angular 5 app by adding [this code](https://gist.github.com/husseinkorly/b0dfac91713207bf2edea0850ee095c7) to main.ts. This will prevent bootstrapping any module inside an Iframe.

[2018-09-26 14:08] ghost commented on #768
@nehaagrawal, I believe the details provided above should provide the information you need to reproduce/investigate/resolve. Please advise if any additional information is required.

[2018-09-27 11:13] deregtd commented on #629
The above workaround posted by Rohit should do what you want.  It jumps straight into 2FA flow for me when I request a resource with it based on the code above.  Unfortunately it appears to not work correctly for 1st party apps, but it should be fine for third party apps.

[2018-09-28 18:40] venkatkonjeti opened #810 "Can we get the SharePoint online auth token using outlook token?"
I am building a Outlook Add-in using Node JS and it needs get information from SharePoint Online using SharePoint Rest Api because Graph does`t have an option to get the required information.

**Question?** I need a SharePoint online auth token to call SP Rest Api which I am getting using OAuth flow (implicit flow) after user enters credentials.

Is there a way to get the SharePoint online auth to

[2018-10-02 05:06] kalyankrishna1 commented on #100
Please use the [feature request] (https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/35581492-enable-the-option-for-adding-in-the-reply-url-fo) at the user voice page to request this functionality

[2018-10-03 06:08] Arikael commented on #799
still no answer 👎

Anybody?
The only other solution I see is to fork the repo and create a community driven version of adal.js.

[2018-10-03 13:12] ESadouski opened #811 "Log out doesn't work"
**Issue type**
  bug report

**Issue description:**
Log out doesn't work for Guest users, but it works for Members.
Adal library v1.0.17

**Steps to reproduce:**
1. Login to the app with Guest user type
2. Logout

**Current behavior:**
After logout, you redirect to

but then there is no redirect to the post_logout_redirect_uri

**Expected behavior:**
After logout, you redirect to

and then there i

[2018-10-03 18:40] rohitnarula7176 commented on #794
@alex3683 Thank you for pointing out this issue. I apologize for the delayed response. We will release a new version in a couple of weeks with this fix.

[2018-10-03 18:54] rohitnarula7176 commented on #805
@Taewa I apologize for the delayed response. Adal js library only supports implicit flow with possible resoonseType values of 'id_token' and 'token'. Closing this issue as it is not supported by the library.

[2018-10-03 18:54] #805 closed, assigned to nobody

[2018-10-03 18:56] rohitnarula7176 commented on #787
@mw-tim Closing this issue due to lack of response. Please reopen if it is not resolved for you.

[2018-10-03 18:56] #787 closed

[2018-10-03 18:57] rohitnarula7176 commented on #799
@Arikael I apologize for the delayed response. We will fix this as part of our next release in a couple of weeks.

[2018-10-03 19:42] rohitnarula7176 commented on #750
@richardspence I apologize for the delayed response. We made a change in the library to avoid overwriting the nonce value in the tabs and appending the nonce values instead using a separator('||') as shown below:
2d42c06a-191c-4975-88f2-25d6db4a1da0||0ffc5885-118b-4f81-80da-64f89860d16d||. This way we can match the nonce value when we receive the response from the server. Can you please confirm if

[2018-10-03 22:18] rohitnarula7176 commented on #794
@alex3683 Closing this issue. Fixed and merged in dev.

[2018-10-03 22:18] #794 closed, assigned to rohitnarula7176

[2018-10-03 22:19] rohitnarula7176 commented on #788
@dlannoye Closing this issue. Fixed and merged in dev.

[2018-10-03 22:19] #788 closed

[2018-10-04 02:31] rohitnarula7176 commented on #799
@Arikael Thank you for pointing out this issue. Closing this as it is fixed and merged in dev.

[2018-10-04 02:31] #799 closed, assigned to rohitnarula7176

[2018-10-04 02:33] rohitnarula7176 commented on #743
@Wozbo Closing this issue due to lack of response. Please reopen if it is not resolved for you.

[2018-10-04 02:33] #743 closed

[2018-10-04 02:36] rohitnarula7176 commented on #751
@mirahManlapig Closing this issue due to lack of response. Please reopen if it is not resolved for you.

[2018-10-04 02:36] #751 closed

[2018-10-04 02:50] rohitnarula7176 commented on #755
@StevenLiekens Thanks a lot for your contribution . In certain versions of IE (7 and 8), resetting the hash, results in a app reload. Please see this:
https://stackoverflow.com/questions/2602260/javascript-location-hash-refreshing-in-ie.
In this case, if we reset the hash before calling the callback, the page reloads and we lose the state of all callbacks and they will never be called.

The curren

[2018-10-04 04:30] rohitnarula7176 commented on #809
@dzak83 You should not need to sign in twice. Once you call login and receive an id_token , the subsequent acquireToken call should succeed assuming there are no conditional access policies or if consent is not required for the api.
Can you please share the exact error that you receive when you call acquireToken from the callback(errorDesc, token, error, tokenType) passed to this api?

[2018-10-04 05:00] dzak83 commented on #809
Hi,
I actually got it solved using login_hint, so user is not prompted again with another popup, just once to provide the password.

[2018-10-04 05:00] #809 closed, assigned to rohitnarula7176

[2018-10-04 05:44] rohitnarula7176 commented on #806
@ReeseJones Thank you for pointing out this issue. I have submitted a PR for this issue. Can you please confirm if it resolves your issue. We will add this fix to our next release in a couple of weeks.

[2018-10-04 09:26] FDMatthias opened #817 "Will this library be deprecated in favour of MSAL?"
Hi,

I'm wondering what the plans are for ADAL.js, will it be deprecated in favour of MSAL?

Thank you

[2018-10-04 11:25] sliekens commented on #755
Thanks for explaining the reason but does IE 7 / 8 really matter anymore? I thought that IE11 is the only officially supported IE.

[2018-10-05 13:32] benjaminao commented on #549
Hi, I have the same issue, can you help me with that, this is my Adal Configuration:

{
      tenant: 'XXXXXXXXXXXXXXXXXXXXXXXXXX',
      clientId: clientId,
      redirectUri: window.location.origin + '/#/home',
      postLogoutRedirectUri: window.location.origin + '/#/login',
      logOutUri: window.location.origin + '/#/login',
      extraQueryParameter: 'prompt=select_account'
}

When I call t

[2018-10-05 14:05] benjaminao commented on #811
Hi, I have the same issue, can you help me with that, this is my Adal Configuration:

{
tenant: 'XXXXXXXXXXXXXXXXXXXXXXXXXX',
clientId: clientId,
redirectUri: window.location.origin + '/#/home',
postLogoutRedirectUri: window.location.origin + '/#/login',
logOutUri: window.location.origin + '/#/login',
extraQueryParameter: 'prompt=select_account'
}

When I call the logout() method go to a screen wi

[2018-10-05 19:19] benjaminao commented on #811
Hi, I have the same issue, can you help me with that, this is my
**Adal Configuration:**
{
tenant: 'XXXXXXXXXXXXXXXXXXXXXXXXXX',
clientId: clientId,
redirectUri: window.location.origin + '/#/home',
postLogoutRedirectUri: window.location.origin + '/#/login',
extraQueryParameter: 'prompt=select_account'
}

When I call the **logout()** method go to a screen with this message
"You signed out of your a

[2018-10-08 09:28] jtabuloc commented on #766
We're having the same issue. Unfortunately, we can't use localStorage due to security reason. We want the session to end once the user close the browser so we preferred to use sessionStorage but we're having this infinite loop problem. After some debugging and observation we noticed that it gets my company domain account instead of the credential I inputted during login. I suspected _(maybe)_ it's

[2018-10-10 20:05] ctientcheu commented on #549
any clear resolution to this issue?
Why is it closed when it is clearly still an issue?
it is happening in Chrome and firefox for me, I have not try any other
using latest version of adal-angular
calling logOut() and not logout()
I have tried all the above and more and nothing works...

NOTE: After a successful logout (microsoft logout page is diplayed) and redirect to postLogoutRedirectUri, THE U

[2018-10-11 07:01] jtabuloc commented on #766
In addition of our case, why is it ADAL.js automatically sign me in using my company domain account? It doesn't even redirect me to login page. I used getCachedUser to display userName and I saw my profile. In some cases it allows me to choose credential but still it prioritize my company profile instead of the credential I inputted. This is the cause why we're having infinite loop login issue. I

[2018-10-11 16:01] healthycola opened #819 "ADAL CDN Down?"
We're not getting the script file when trying to access via the cdn (https://secure.aadcdn.microsoftonline-p.com/lib/1.0.17/js/adal.min.js)

Checked if it's down, we see:
![image](https://user-images.githubusercontent.com/2019956/46817401-e0012e00-cd33-11e8-96c7-1b5b45e90c1c.png)

[2018-10-11 16:13] healthycola commented on #819
False alarm. Something with our company's DNS lookup.

[2018-10-11 16:13] #819 closed, assigned to nobody

[2018-10-11 22:36] navyasric commented on #817
@CauseOfDev The future feature innovation and investments will be made in MSAL.js. But ADAL.js will continue to be maintained for security and bug fixes. This support will continue during the migration period to MSAL.js and until we decide to deprecate ADAL.js later in the future.

[2018-10-11 22:40] #817 closed, assigned to nobody

[2018-10-16 19:29] nehaagrawal commented on #806
@ReeseJones  Can you please let us know what is the error string that is being passed to JSON.stringify(error) that ended up causing circular reference error?

[2018-10-16 20:09] nehaagrawal commented on #811
@ESadouski  can you please paste your adal configuration here?

[2018-10-16 20:13] benjaminao commented on #811
public get getAdalConfig(): any {
    let clientId = this.appConfig.getConfig('adalClient');
    let apiUrl = this.appConfig.getConfig('api');

    return {
      tenant: 'XXXXXXXXXXXXXXXXXXXXXXXX',
      clientId: clientId,
      redirectUri: window.location.origin + '/#/home',
      postLogoutRedirectUri: window.location.origin + '/#/login',
      extraQueryParameter: 'prompt=select_account'

[2018-10-16 21:04] rohitnarula7176 commented on #807
Closing this issue. Fixed in dev and will be part of our next release.

[2018-10-16 21:04] #807 closed, assigned to rohitnarula7176

[2018-10-17 14:35] michaelkruglos opened #821 "npm package is missing"
There's no npm package for non-angular version of this library.

[2018-10-17 16:15] sliekens commented on #807
Nice, thanks.

[2018-10-17 17:39] nehaagrawal commented on #821
@michaelkruglos  we bundle both adal.js and adal-angular.js in the same npm package. It's in our backlog to create separate package but this work hasn't been prioritized yet. Please use https://www.npmjs.com/package/adal-angular for now.

[2018-10-17 17:39] #821 closed, assigned to nehaagrawal

[2018-10-17 17:40] nehaagrawal commented on #811
@ESadouski @benjaminao  we are working on this issue and I will let you know once I have fix. Thank you for your patience.

[2018-10-17 17:46] nehaagrawal commented on #804
@StevenLiekens  can you please confirm if this issue is still reproducible?

[2018-10-17 18:00] nehaagrawal commented on #808
@https://github.com/benbaran/adal-angular4 is not supported by us and it's an independent library.  I am on Microsoft Edge 44.17763.1.0 and I couldn't reproduce this issue. Are you saying the issue is present only in 1.0.17 only and if you downgrade to 1.0.15, it works fine?

[2018-10-17 18:14] sliekens commented on #804
I don't know, it seems that the cancel button was removed? Or I'm doing something different that makes it not show up anymore.

[2018-10-17 19:17] nehaagrawal commented on #782
@HofmT  This is not the correct approach.  You can't set the idToken that you got from outside in adal. If you already have an id_token, what is you are trying to achieve from adal? You may use the login_hint/sid from the id_token to get the access token. Can you please elaborate your use case?

[2018-10-17 22:14] nehaagrawal commented on #795
@lworkman  can you please paste the error that you are getting? Also I am assuming you are calling the silent version of acquireToken api and not the interactive ones (acquireTokenPopup/acquireToken Redirect).

[2018-10-17 22:16] nehaagrawal commented on #783
closing this issue since it's working.

[2018-10-17 22:16] #783 closed

[2018-10-17 22:39] bschaeublin opened #822 "Can we find out, if a user is already signed in to O365 (angular)?"
Im using an [Angular 4+ wrapper](https://github.com/benbaran/adal-angular4), which wrapps the adal-angular@1.0.15.

I'have been searching a long time for a way to find out, if a user can be silenty logged in, or if he would be prompted for credentials after i call `login()` but without any success so far.

This diagram should explain, what im trying to do (green-box):

![image](https://user-images

[2018-10-17 23:01] nehaagrawal commented on #792
@erosinger  Whether we store our JWT in local/session storage or not http-only cookie both can be grabbed easily by XSS.   Cookies are also vulnerable to cross-site request forgery (CSRF). There is also an issue with max size of the cookie which could be problematic if we have many claims attached to the token.

[2018-10-17 23:02] nehaagrawal commented on #790
ADAL.js only supports implicit flow. Closing this issue.

[2018-10-17 23:02] #790 closed

[2018-10-17 23:14] nehaagrawal commented on #806
We have merged the PR. I will update this issue with the version details when we release. Closing this issue for now.

[2018-10-17 23:14] #806 closed, assigned to rohitnarula7176

[2018-10-17 23:26] nehaagrawal commented on #779
@macqm Thank you for reporting this issue and submitting the PR. We are reviewing it and will update you here.

[2018-10-17 23:53] nehaagrawal commented on #792
@erosinger  I am closing this issue for now. If you still have questions, please feel free to reopen this issue.

[2018-10-17 23:53] #792 closed, assigned to nehaagrawal

[2018-10-18 00:00] nehaagrawal commented on #781
@vinodsunkara adal-ts is not supported by us. If customer is looking for support for angular 2+, I would recommend trying MSAL https://github.com/AzureAD/microsoft-authentication-library-for-js
MSAL provides support for both angular 4.3+ and angularjs.

[2018-10-18 00:02] nehaagrawal commented on #802
@StevenLiekens  Thank you submitting the PR! We are currently reviewing it and we will update the state here.

[2018-10-18 15:13] sliekens commented on #804
Yep, still reproducible. I must have been doing something different earlier.

See screenshot. The callback contains `error` but not `error_description`. Adal.js requires `error_description`.

![image](https://user-images.githubusercontent.com/1583241/47164804-fe00fc80-d2f8-11e8-9687-c030b07d12c4.png)

This is the offending code:
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/

[2018-10-18 16:26] Enosinger commented on #792
@nehaagrawal Thanks for replying here. Your arguments sound good and we do not need to keep this open, if it has been thought about. Best, erosinger

[2018-10-18 19:40] nehaagrawal commented on #811
@ESadouski @benjaminao  can you please add the post_logout_redirect_uri as the logout_url on the app registration portal and try again?

[2018-10-18 19:43] nehaagrawal commented on #804
@StevenLiekens Yesterday you reported that the back button was missing. Now you are able to see it again. Ideally you shouldn't see the back button at all. I am curious to know in what condition you are seeing the back button. Can you please tell me how to reproduce the scenario where you can see the back button and one where you don't see it?

[2018-10-18 20:56] sliekens commented on #804
It sounds like you already know more about this than I do. I'm not doing anything unusual other than sticking &prompt=select_account at the end.

Maybe it's something unusual in my client registration?

[2018-10-19 08:04] sliekens commented on #802
Okay thanks. Let me know if anything needs clarification.

[2018-10-19 17:11] nehaagrawal commented on #779
@macqm We have merged your PR. I will update this issue when we release a new version. Thanks for your contribution! Closing this issue for now.

[2018-10-19 17:11] #779 closed

[2018-10-19 19:38] nehaagrawal commented on #804
@StevenLiekens  I am not able to see the back button and the expected behavior is not to see it. There must be an edge case scenario where you can see the back button. I tried sticking prompt=select_account and I can't reproduce this scenario. Can you please send me your adal config? I want to see if there is something there? can you please tell me how you are sticking the &prompt=select_account?

[2018-10-19 20:52] sliekens commented on #804
Yep it's an extraqueryparameter in my config. I'll show you the rest of my config on Monday. I can't access my code from home (company policy).

[2018-10-19 20:55] sliekens commented on #804
PS I think the back button is nice to have, is there a reason why it's expected to be invisible?

[2018-10-22 08:06] sliekens commented on #804
Here's my config (details obfuscated because ehhhh)

[code]

[2018-10-22 18:32] nehaagrawal commented on #811
@ESadouski @benjaminao  Can you please confirm if it works after adding post_logout_redirect_uri as the logout_url on the app registration portal

[2018-10-22 18:36] benjaminao commented on #811
Hi, @nehaagrawal, thanks for taking the time to help us, I did it and it does not work.

[2018-10-22 18:47] nehaagrawal commented on #804
@StevenLiekens I can't reproduce the back button. Is it possible for you to send the AAD login url that is generated in the url after obfuscated sensitive information ?

[2018-10-22 21:59] sliekens commented on #804
I will get back to you on that but in the meantime could you tell me why the button should be invisible?

[2018-10-23 07:48] sliekens commented on #804
Full request URL (with extra line breaks for legibility)

[code]

Other info, in case you have access to server logs

[2018-10-23 13:29] maordadush opened #824 "ADFS 2016 X-Frame-Options to deny"
Hi,

I'm using adal.js on my react app (using [react-adal](https://github.com/salvoravida/react-adal#readme) wrapper). I configured my app to work with my ADFS 2016 server (on premise), and the authentication process works fine, but after the ADFS SSO cookie expired, when the client sends the renew token request (in an hidden iframe), the browser shows in the console the following error: `refuse t

[2018-10-23 18:59] nehaagrawal commented on #811
@benjaminao  can you please try one more thing? Can you please make sure that logout_uri is also registered in the Reply URLs on the app registration portal?

[2018-10-23 20:10] CodeWarrior-Hawaii opened #825 "Token cookie does not appear to be added to outbound WebAPI calls"
I have authentication working in my angular app as evidenced by the successful login and the presence of the Token string in the address bar (there a good way to get rid of that?).

I do not however see the token being added to outbound webapi calls resulting in 401 errors (I marked a whole controller [Authorize] to test).  Both the Angular app and my WebAPI application are running on my local mac

[2018-10-24 10:02] Kurren123 opened #826 "Token renewal operation failed due to timeout"
I am using plain javascript. The token is not being refreshed correctly using the invisible iframe method (currently in chrome). Fiddler says that a request and response to/from `login.microsoftonline.com` is successful. When I edit adal.js to have the iframe _visible at 300px by 300px_ I can see that the iframe has  loaded correctly and redirected to the current page with the correct hash appende

[2018-10-24 10:14] Kurren123 commented on #826
**Edit**: Found the issue. Adal js relies on the js in the iframe itself to call the adal instance in `window.parent`. Problem is that my page doesn't try to log in as soon as you load it, the login starts on a button click.

Why are we having the JS execute in the iframe  rather than wait for the correct url to load in the iframe and just take that url and process it in the parent?

[2018-10-24 10:32] sliekens commented on #826
Even better would be using `window.top.postMessage` in the iframe to signal the top window when the callback has happened. See #752

[2018-10-24 11:35] Kurren123 commented on #752
I would love to see this feature

[2018-10-24 13:17] sliekens commented on #804
@nehaagrawal I narrowed it down to the client_id. If I change 1 character of the client_id, the back button disappears.

So this is caused by something funny in my app registration. I don't know what to do at this point?

[2018-10-24 13:39] sliekens opened #827 "Singleton behavior is confusing"
I just found out that `new AuthenticationContext` doesn't actually create `new` instances after the first time it's used.

[code]

This should be documented here: https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Config-authentication-context#authenticationcontext

It's important to mention that the constructor ignores the options argument when called more than once.

[2018-10-25 07:24] maordadush commented on #824
@rohitnarula7176 is there any solution to this problem? It causes a big issue in my team, any solution would be great

[2018-10-25 21:26] nehaagrawal commented on #811
@benjaminao I wasn't able to reproduce this issue in adal. I was able to reproduce in msal though.  Is it possible for you to send a fiddler for this issue?

[2018-10-25 23:31] benjaminao commented on #811
@nehaagrawal The problem is with Guest users! If the user is a member of the azure account work fine! But if the user is not a member the logout doesn’t work

[2018-10-31 16:11] ESadouski commented on #811
Hi @nehaagrawal,
I also tried post_logout_redirect_uri, but unfortunately, it's still not working. Any news from your side?

[2018-11-01 12:46] m4m4m4 commented on #801
This also affects UglifyJS which throws an error

[2018-11-02 18:59] ryancerium commented on #100
I came up with a simple workaround.  I put in a static HTML file in the root, `/azure.html`, and set the redirect page to that:

[code]

[2018-11-05 05:33] SlowFourierTransform commented on #770
Hi, I'm not sure if you've solved this, but I came across the same issue in Typescript. It looks like the documentation link you provided has been updated to use

[code]
Which works in my app:
[code]

[2018-11-05 21:12] IAMtheIAM commented on #366
This is still a bug when using `adal.js` 1.0.17 (rather than `adal-angular.js`). it loads the entire app again inside an Iframe, how do we stop this properly?

[2018-11-07 17:45] carlosscastro opened #828 "[Question] Custom token cache"
ADAL dotnet allows to specify a custom token cache implementation. Does ADAL js provide such a thing? I couldn't find any docs on it.

Thanks!

[2018-11-07 19:55] rdkleine opened #829 "AADSTS16000: User account 'XXX' from identity provider 'live.com' does not exist in tenant"
## Library Name
- [x] adal.js 1.0.17
- [x] adal-angular 1.0.17

## Library version
Library version: 1.0.17

## Current behavior
When the Token is expired and the _renewIdToken is called I get the error below. When I log in there is no problem but .. I just don't understand what seems to be wrong?

"AADSTS16000: User account 'XXX' from identity provider 'live.com' does not exist in tenant 'TENANTNA

[2018-11-07 23:33] rafaelgrilli92 opened #830 "Stay signed in option not showing"
## Library Name
adal.js

## Library version
1.0.17

## Current behavior
I had a nodejs server serving the client side (React) only to deal with the authentication, but then I took the nodejs out and I started to use this library on the client side instead. The thing is... the "stay signed in" option isn't showing anymore. I set it up on the azure portal to allow it, but it's still not working.

An

[2018-11-08 12:33] rdkleine commented on #580
As a workaround I've added the 'login_hint' to the config extraQueryParameter. This seems to work ok.
[code]

[2018-11-12 13:03] miguelemosreverte commented on #772
It truly is a shame that such a detailed post is received like this by the community and collaborators of the project.

[2018-11-12 14:23] miguelemosreverte commented on #615
This issue needs fixing. I am experiencing first hand right now, 12/11/2018.

[2018-11-12 20:24] miguelemosreverte commented on #772
Hey we managed to fix this problem, in a (sadly necessary) work-around way.

Check out *our repo!

[2018-11-13 19:35] benjaminao commented on #811
Hi **@nehaagrawal**, Any news about this problem? My company is considering a change to another logging provider because the app cant does not wait for more for this solution. May you help me with this, please!

[2018-11-14 10:40] MatthewDavidCampbell opened #831 "Access token for application id uri"
## Submitting a question about how to generate an access token for the AD application's id uri.
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version XX
- [ ] Firefox version XX
- [ ] IE ve

[2018-11-15 04:26] sandipbhavsar commented on #831
Please try with passing context object with in acquireToken method

[2018-11-15 08:52] tushard-iprogrammercom commented on #805
Are there any possibilities to have support for 'code' responseType in future?

[2018-11-15 10:32] Taewa commented on #805
@tushard-iprogrammer
In the end, I couldn't use this library.
Just handled manually.

[2018-11-15 11:06] tushard-iprogrammer commented on #805
Doing same. :P
------------------------------------------------

Tushar Dahiwale
Senior Software Engineer
tushard@iprogrammer.com

iProgrammer Solutions Pvt. Ltd.
Office 103, 104, 1st Floor Pride Portal,
Shivaji Housing Society, Bahiratwadi,
Near Hotel JW Marriott, Off Senapati Bapat Road,
Pune - 411016, MH, INDIA.
Phone: +91 9595456505 | Skype: tushard_iprogrammer
www.iprogrammer.com  <http://www

[2018-11-15 11:09] tushard-iprogrammercom commented on #805
Doing same :smiley:

[2018-11-15 11:15] MatthewDavidCampbell commented on #831
@sandipbhavsar What is a context object?  Here is a gist:
    https://gist.github.com/MatthewDavidCampbell/59b321cfe7d5a5baa0536b83a50b7853

Showing what I want to do.  And this is the error:

ADAL error occurred: AADSTS90009: Application '64ead90a-2c9e-4475-b632-b033b85d3c8e' is requesting a token for itself. This scenario is supported only if resource is specified using the GUID based App Identi

[2018-11-15 16:59] sandipbhavsar opened #833 "Issue with renew token"
## Browser:
- [ ] Chrome version XX

## Library Name
- [ ] adal-angula package
angular 6

## Library version
Library version: 1.0.17

## Current behavior
I  am not getting renew token when I call `adalService.acquireToken(clientId)`. the systems gets hang. I am using adal-angular npm package. It will be good if somebody can share code

[2018-11-19 23:38] jhill-dci commented on #830
@rafaelgrilli92 I'm having the exact opposite issue - I want to suppress this message as users are authenticating via SSO integration, so this message is redundant.  You mentioned you configured your Azure portal to allow this - would you mind elaborating?

[2018-11-19 23:47] rafaelgrilli92 commented on #830
@jhill-dci, yea sure!

On the **Azure portal**, go to **Active Directory** > **Company Branding** > **Click on "New Language"**

Then on the bottom, you will find this:
![image](https://user-images.githubusercontent.com/21044452/48742059-7587ca00-ecb1-11e8-9b18-8905bfe36371.png)

The thing is: All other options of this configuration are working for me, like username hint, sign in page text, etc...

[2018-11-19 23:51] jhill-dci commented on #830
That was fast - thank you! I'll keep digging to see if I can find a per-azure-app option to control this (wouldn't want to disable this company wide, but just on this particular authentication request).

[2018-11-20 16:36] austingriff commented on #615
Yeah I agree. This is still an issue and i believe it is with acquireToken. I've been able to mitigate it by using HTML5, but there is some scenario (haven't figured it out yet) that keeps trying to acquireToken even after it has successfully acquired one.

[2018-11-21 22:36] riteshbhoi opened #834 "Suggestion on avoiding multiple token fetch"
Team, i am looking for a suggestion on for authentication scenario.

I have SPA coded using React JS using typescript. Authentication is implemented using ADAL JS and we are using session storage as cache location.

Existing Scenario - Every time user opens our website, we acquire token for user.

Desired Scenario - We want to store user token some where secure, so that we don't redirect user to a

[2018-11-22 17:09] ms-hkgupta opened #835 "Multiple issues with latest version of adal-angular"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX

## Library Name
- [ ] adal.js 1.0.17
- [ ] adal-angular 1.0.17

## Library version
Library version: 1.0.17

## Current behavior
In our project which is a single page web applic

[2018-11-26 13:10] FDMatthias commented on #481
A bit late, but I've written a blogpost about this [here](https://www.appfoundry.be/blog/2018/11/24/authentication-with-adal-in-react-single-page-applications/) and put a sample of a React SPA with Adal on github [here](https://github.com/appfoundry/react-adal-authentication-session-sample/tree/Authentication-with-ADAL-in-React-SPA)

[2018-11-26 13:12] FDMatthias commented on #834
Maybe [this blogpost](https://www.appfoundry.be/blog/2018/11/24/session-management-in-react-single-page-applications/) can help, with the necessary tweaking for your own desired scenario..

[2018-11-26 14:25] FDMatthias commented on #277
A bit late, but I've written a blogpost about this [here](https://www.appfoundry.be/blog/2018/11/24/authentication-with-adal-in-react-single-page-applications/) and put a sample of a React SPA with Adal on github [here](https://github.com/appfoundry/react-adal-authentication-session-sample/tree/Authentication-with-ADAL-in-React-SPA) (includes step by step commits and multiple branches).

[2018-11-26 14:29] FDMatthias commented on #453
A bit late, but I've written a blogpost about this [here](https://www.appfoundry.be/blog/2018/11/24/authentication-with-adal-in-react-single-page-applications/) and put a sample of a React SPA with Adal on github [here](https://github.com/appfoundry/react-adal-authentication-session-sample/tree/Authentication-with-ADAL-in-React-SPA) (includes step by step commits and multiple branches).

[2018-11-26 14:30] FDMatthias commented on #189
A bit late, but I've written a blogpost about this [here](https://www.appfoundry.be/blog/2018/11/24/authentication-with-adal-in-react-single-page-applications/) and put a sample of a React SPA with Adal on github [here](https://github.com/appfoundry/react-adal-authentication-session-sample/tree/Authentication-with-ADAL-in-React-SPA) (includes step by step commits and multiple branches).

[2018-11-26 14:30] FDMatthias commented on #36
A bit late, but I've written a blogpost about this [here](https://www.appfoundry.be/blog/2018/11/24/authentication-with-adal-in-react-single-page-applications/) and put a sample of a React SPA with Adal on github [here](https://github.com/appfoundry/react-adal-authentication-session-sample/tree/Authentication-with-ADAL-in-React-SPA) (includes step by step commits and multiple branches).

[2018-11-26 17:59] benjaminao commented on #811
@nehaagrawal The problem is with Guest users! If the user is a member of the azure account work fine! But if the user is not a member the logout doesn’t work. Any news from your side?

[2018-11-27 07:53] FDMatthias commented on #632
A bit late, but I've written a blogpost about this [here](https://www.appfoundry.be/blog/2018/11/24/authentication-with-adal-in-react-single-page-applications/) and put a sample of a React SPA with Adal on github [here](https://github.com/appfoundry/react-adal-authentication-session-sample/tree/Authentication-with-ADAL-in-React-SPA) (includes step by step commits and multiple branches).

[2018-11-28 19:02] riteshbhoi commented on #834
@CauseOfDev Thanks for your response. But i din't find answer to what i was looking for in attached article.

[2018-12-03 14:27] benjaminao commented on #811
Hi @ESadouski, did you fix the problem?

[2018-12-03 19:27] ESadouski commented on #811
Hi @benjaminao unfortunately not, The problem still exists.

[2018-12-04 00:36] navyasric commented on #829
@rdkleine Can you please provide some code snippet or repro of how you are using the library to login, acquire the token and to renew it?

[2018-12-04 00:38] navyasric commented on #828
ADAL.js does not allow a custom token cache implementation.
ADAL.js caches tokens in the browser storage( i.e. localStorage or sessionStorage). The default is sessionStorage. The library allows you to configure the storage at initialization time as follows:
[code]

[2018-12-04 00:38] #828 closed, assigned to nobody

[2018-12-04 05:03] navyasric commented on #824
@maordadush Here is an [article](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/single-page-application-with-ad-fs) which demonstrates the use of ADFS 2016 with ADAL.js in AngularJS app for your reference.
The ADAL team does not own the react-adal wrapper and hence cannot troubleshoot or fix the issues when using that wrapper. Please open the issue with the author of th

[2018-12-04 05:03] #824 closed, assigned to nobody

[2018-12-04 05:11] navyasric commented on #834
@riteshbhoi ADAL.js handles the storing of tokens in the browser storage and so you don't have to explicitly store the tokens. The default storage location is sessionStorage but this does not allow session to be shared between browser tabs. For maintaining the stored tokens between the same session of the website, please configure the cacheLocation to be localStorage when initializing adal.js as s

[2018-12-04 05:20] navyasric commented on #833
@sandipbhavsar Please provide any error or logs you are seeing when this issue happens as well as your app's auth code snippets. Here is a [sample](https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-dotnet-webapi/blob/master/TodoSPA/App/Scripts/Ctrls/todoListCtrl.js#L16) showing how to acquire tokens and you can also refer the code snippet [here](https://github.com/AzureAD/

[2018-12-04 06:03] navyasric commented on #831
@MatthewDavidCampbell  Thank you for pointing out the discrepancy in the documentation. The wiki has been updated to clarify the use of the client's App ID (Guid) as resource when the web API is registered as part of the client with the same app ID as the client.

[2018-12-04 06:03] #831 closed, assigned to navyasric

[2018-12-04 07:12] navyasric commented on #825
@CodeWarrior-Hawaii You can enable the option for  adal-angular to intercepts the requests to web apis and attach the tokens to the calls by setting the `$httpProvider` at config time.
In order to specify which APIs endpoints to attach tokens to you can use the `endpoints` mapping.
Please take a look this pattern explained in this [wiki](https://github.com/AzureAD/azure-activedirectory-library-for

[2018-12-04 07:12] #825 closed, assigned to navyasric

[2018-12-04 08:39] rdkleine commented on #829
Hi Navya,

I've identified the problem. There are multiple user identities available for the current request. When providing a 'login_hint' using the extraQueryParameter - which feels a bit hacky - this is circumvented.

A better solution would be to add the username in the _addHintParameters method when the upn is not available. (see [issue 580](https://github.com/AzureAD/azure-activedirectory-li

[2018-12-04 14:25] Tyrcheg commented on #773
Hi
I'm having the same issue in my angular app
I'm developing an integration with on of the Microsoft services for which I'm using adal-angular library and I successfully authenticate user via Adal with microsoft account but when I try to acquireToken for another service it shows me this errors:

`authorize?response_type=token&client_id=.... Unsafe JavaScript attempt to initiate navigation for fra

[2018-12-05 10:38] numabilis commented on #773
After a break and an update of azure portal, I finally succeed to authenticate silently on the web app. I had to go to the azure portal > Azure Active Directory > App registrations (preview), select my app, and on the API permissions click on the button "Grant admin consent for XXX". May this help you @Tyrcheg .
A strange thing is that doesn't work on Teams Rich Client...

[2018-12-05 14:23] maxxt commented on #100
Are there any updates on this?
Do we have a workaround for SPA with '#'?

[2018-12-05 14:32] Tyrcheg commented on #773
@numabilis much thanks for your answer. I'll check my app permissions and hope it'll resolve the problem!
I also wonder how this might not work in Teams in my angular app, but works in plain vanilla js with the same inserted iframe by adaljs

[2018-12-05 16:27] ryancerium commented on #100
@maxxt You need to put in a nearly-empty static page that loads the JS library and set that as your redirect location.  That *is* the workaround.  You can't redirect to a SPA location with a '#' in it.

[2018-12-05 17:13] JACrazy commented on #747
This blog post by Microsoft shows how to use adal.js with Angular 4+, the example is done with Angular-CLI 7.0.0-rc.1.
https://blogs.msdn.microsoft.com/premier_developer/2018/10/24/using-adal-js-with-angular4/

[2018-12-06 06:52] ShahriatHossain opened #841 "ADAL JS integration on dynamic crm failed to get power bi rest api, getting 403"
I have integrated adal.js library in my dynamic crm custom solution. I can get token easily but when trying to call power bi rest api using the following code below getting 403 unauthorized status:

[code]

Do I need to use username and password and how to use it using adal.js, any suggestion?

Thanks in advanced.

[2018-12-06 07:44] maxxt commented on #100
@ryancerium How do you set a *.html path in Azure Redirect URIs without getting an error?

![image](https://user-images.githubusercontent.com/13865090/49569037-766c5d00-f93b-11e8-8dfd-8ba54c2c94ad.png)

[2018-12-06 16:07] ryancerium commented on #100
You need the `s`, for "secure", in your URI.  `https://localhost:4200/assets/azure.html`

[2018-12-06 16:14] maxxt commented on #100
Uri is valid if I keep http and remove .html so ssl is not the issue here

[2018-12-06 16:37] ryancerium commented on #100
Then rename `azure.html` to `azure` and redirect to `http://localhost:4200/assets/azure`.  Otherwise, I'm just reading the friendly error message and the documentation.

https://docs.microsoft.com/en-us/azure/app-service/app-service-mobile-how-to-configure-active-directory-authentication

[2018-12-06 18:09] Pheil commented on #830
@jhill-dci Did you ever find a way to enable/disable per app?

[2018-12-07 07:21] maxxt commented on #100
@ryancerium That does not work either.

If I put http://localhost:4200/assets/azure as the redirect uri then the page is taken straight to localhost:4200

[2018-12-10 07:06] ShahriatHossain commented on #841
I have resolved the issue.

[2018-12-10 07:06] #841 closed, assigned to nobody

[2018-12-10 15:02] benjaminao commented on #549
Hi, @neelDev may you help us with this problem? Why is it closed when it is clearly still an issue?
why you don't want a help us?

[2018-12-10 15:16] benjaminao commented on #811
@ESadouski Hi, can you check why when you try to logout() don't still sing in and not redirect?

this is my package.json

"dependencies": {
    "@agm/core": "1.0.0-beta.1",
    "@angular/animations": "4.4.6",
    "@angular/common": "4.4.0-RC.0",
    "@angular/compiler": "4.4.0-RC.0",
    "@angular/core": "4.4.0-RC.0",
    "@angular/forms": "4.4.0-RC.0",
    "@angular/http": "4.4.0-RC.0",
    "@ang

[2018-12-10 15:18] benjaminao commented on #811
<img width="1164" alt="buil-363-screenshot" src="https://user-images.githubusercontent.com/14250305/49741639-d6794100-fc64-11e8-85e1-4f169169f05a.png">

[2018-12-10 15:18] benjaminao commented on #811
![screen shot 2018-12-10 at 10 17 21 am](https://user-images.githubusercontent.com/14250305/49741690-f446a600-fc64-11e8-87fa-b994168591a8.png)

[2018-12-10 15:19] benjaminao commented on #811
![screen shot 2018-12-10 at 10 19 24 am](https://user-images.githubusercontent.com/14250305/49741743-16d8bf00-fc65-11e8-9c57-b36ded9308af.png)

[2018-12-10 15:20] benjaminao commented on #811
![screen shot 2018-12-10 at 10 20 20 am](https://user-images.githubusercontent.com/14250305/49741825-3a9c0500-fc65-11e8-9298-042bef93d4cd.png)

[2018-12-10 15:22] benjaminao commented on #811
![screen shot 2018-12-10 at 10 20 20 am](https://user-images.githubusercontent.com/14250305/49741887-69b27680-fc65-11e8-8888-a9f9bfccf5be.png)

[2018-12-10 15:24] benjaminao commented on #811
In the adal.js

![screen shot 2018-12-10 at 10 22 34 am](https://user-images.githubusercontent.com/14250305/49742085-c6159600-fc65-11e8-91b9-d7825e5d816d.png)

[2018-12-10 15:29] benjaminao commented on #811
When I try to login the user still signed in

![screen shot 2018-12-10 at 10 25 54 am](https://user-images.githubusercontent.com/14250305/49742401-797e8a80-fc66-11e8-8056-0c10708626ca.png)

[2018-12-10 15:32] benjaminao commented on #811
Please let me know if need more information about it! The adal.js have this issue!!
@nehaagrawal The problem is with Guest users! If the user is a member of the azure account work fine! But if the user is not a member the logout doesn’t work

[2018-12-10 16:46] benjaminao commented on #811
I try using this add id_token_hint to logout url #677 and the redirect work perfect but when try to login  the the user still signed in

![screen shot 2018-12-10 at 10 25 54 am](https://user-images.githubusercontent.com/14250305/49747306-26f69b80-fc71-11e8-8a72-228b59046c6f.png)

[2018-12-11 00:26] navyasric commented on #822
@bschaeublin The feature to pass login_hint and then call acquireToken to get silent login is implemented in 1.0.16 release: https://github.com/AzureAD/azure-activedirectory-library-for-js/releases/tag/1.0.16

Please try with the above version.

[2018-12-11 00:43] navyasric commented on #808
Closing this issue as there is no response related to the above comment and the library adal-angular4 is not supported by ADAL team.

[2018-12-11 00:43] #808 closed, assigned to nehaagrawal

[2018-12-11 00:48] navyasric commented on #804
@StevenLiekens  Are you still seeing this issue or has it been resolved for you? What is the behavior you expect if you still see the issue?

[2018-12-11 08:15] bschaeublin commented on #822
@navyasric thank you for responding. I'm using an [angular2+ wrapper,](https://github.com/benbaran/adal-angular4/issues/91) which still has 1.0.15. And it seems it would not be updated in the next time.

Do you know any other angular-wrappers using a newer version of adaljs, which works with angular 7 and provides simple interceptor and service classes to use adal?

[2018-12-11 10:15] viimal commented on #727
@qz2017, Hi, have you resolved your issue? I am facing the same challenge in our application. Kindly help on this.

[2018-12-11 12:21] sliekens commented on #804
Yes, still an issue. I don't know what other info I can provide. I'm seeing a back button that's not supposed to be there according to @nehaagrawal. I narrowed the issue down to "something" in my app registration (manifest.json).

Long story short, I expect the Back button to go away if it's not supposed to be there. Or if it turns out this works as intended, make adal.js handle Back button redire

[2018-12-12 12:21] sashmen5 opened #842 "Accessing to window.location.hash inside Azure Devops extension"
## Browser:
- [ ] Chrome version 71

## Library Name
- [ ] adal.js

## Library version
Library version: 1.0.15

## Issue description
Hello. I develop Azure DevOps extension. And I still want to implement login popup because I want to fetch  some user info from his Microsoft Azure Directory via API.
1. adal.js fetchs access_token from `window.location.hash` . In regular web apps it works but in azu

[2018-12-12 20:54] dubcdr commented on #835
I'm getting reports of a similar issue in our production app. Like hkgupta mentions its extremely intermittent. I haven't been able to reproduce but a colleague did and not. On the refresh call the server hits a timeout and adal isn't handling it.

[2018-12-12 22:49] rajsolanki73 commented on #800
update .

I followed some steps from https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/custom-id-tokens-in-ad-fs and https://medium.com/the-new-control-plane/the-mystery-of-the-missing-adfs-jwt-claims-7658d9cdeaac

I m using https://github.com/benbaran/adal-angular6-example as test.

After using &response_mode=form_post my app get error 'Cannot post to /' . But in chrome d

[2018-12-14 15:11] jhill-dci commented on #830
I did not, unfortunately.  The issue comes up rarely so we're just dealing with it now (other projects bumped the priority of a fix here), but I'll circle back if and when we find a solution.

[2018-12-17 08:51] maordadush opened #843 "Renew token uses iFrame when `popup` is set to `true`"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x ] Chrome version 71
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library N

[2018-12-18 15:26] ffigu002 commented on #509
Why is this closed? I'm having the same issue as the original post

[2018-12-20 07:57] DmitryZevalev opened #844 "acquireToken does not work if the config.redirectUri different from login page (different ports or domains)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 71
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library Name

[2018-12-20 17:12] JACrazy commented on #822
version 4 of adal-angular4 has now been released which supports adal-angular 1.0.17

[2018-12-20 19:18] querylife opened #845 "Double login required before obtaining access token from Power BI Web API resource"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe: Double login required before obtaining access token from external Web API resource.
</code></pre>

## Browser:
- [x] Chrome version 71.0.3578.98
- [ ] Firefox

[2018-12-20 20:32] dennisvintherjensen opened #846 "1.0.18 not available on CDN"
The readme.md states that the latest version 1.0.18 i available at the following URL. But the URL returns "BlobNotFound"

https://secure.aadcdn.microsoftonline-p.com/lib/1.0.18/js/adal.min.js

[2018-12-20 22:07] querylife commented on #845
For this issue I submitted about 2 hours ago, I want to clarify that I am able to get the plain Javascript SPA ADAL.js sample (found here https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-dotnet-webapi) working successfully without a double login prompt. This plain JS example does not use AngularJS. In the plain JS sample, I am using the same config and endpoints settings

[2018-12-21 23:12] querylife commented on #845
I worked on this issue more today. The goal is to be able to obtain an access token from the Power BI API without getting prompted for oauth authentication twice. I examined the plain JS sample (noted earlier in this posting) and found that I was able to use this code ...
authContext.acquireToken(
                    'https://analysis.windows.net/powerbi/api',
                    function (error,

[2018-12-27 12:28] Anubhab1991 opened #847 "ADAL For Xamarin Android Version 4.4.2 System.MissingMethod Exception"
**I am working on a Xamarin Android Project and was using Microsoft Active Directory  nuget package version 4.4.0 to authenticate my app through MSAuthenticator.

But when i have upgraded the package to version 4.4.2 then i am getting a exception mentioned below

THIS IS WHAT I GET IN MY CONSOLE**
_[] 2018-12-27T12:24:39.0391640Z: 01192f1d-25a2-4f57-b03a-2940aab94e81 - AdalLoggerBase.cs: ADAL PCL.

[2018-12-27 23:48] riteshbhoi commented on #834
thank you for your response. closing the issue.

[2018-12-27 23:48] #834 closed, assigned to navyasric

[2019-01-04 20:54] navyasric commented on #846
@dennisvintherjensen The Readme points to the dev branch which has certain updates that have not yet been released. 10.18 will soon be released.

[2019-01-05 20:05] HofmT commented on #782
@nehaagrawal Ok, I think I had a wrong understanding of ADAL and therefore tried to misuse it.
I will therefore close it.

[2019-01-05 20:05] #782 closed

[2019-01-07 23:38] querylife commented on #845
I'm back at it trying to get the AngularJS sample code (named "An AngularJS SPA authenticating users with Azure AD and calling its own backend web API", located here https://github.com/Azure-Samples/active-directory-angularjs-singlepageapp) working to generate an access token for a Power BI API resource. I enabled verbose logging (level 3) for adal.js v1.0.17 and it has helped a bit.

For this sce

[2019-01-08 03:29] SaifAsad commented on #756
Experiencing the same issue,

using adal.min.js  CDN 1.0.17 with react app (bootstraped with create react app), this only happens on production, the id token is left in the url without being handled by handleWindowCallback

below is a snippet of the code that I have in an AuthStore class constructor (this class controls all auth related operations)
`
window.adalInstance = new AuthenticationContext

[2019-01-08 16:31] querylife commented on #845
Below is more verbose log output.

The following is what happens after successful Login (after clicking the Login button for the app)...
Tue, 08 Jan 2019 15:44:55 GMT:1.0.15-VERBOSE: Location change event from https://localhost:44326/ to https://localhost:44326/
Tue, 08 Jan 2019 15:44:55 GMT:1.0.15-VERBOSE: Location change event from https://localhost:44326/ to https://localhost:44326/#!/Home
Tue,

[2019-01-10 00:21] Nican opened #848 "Auth popups incorrectly handled in Microsoft Edge"
## I'm submitting a...

- [x] Bug report

## Browser:
- [x] Edge version 44

## Library Name
- [x] adal.js 1.0.18

## Library version
Library version: 1.0.18

## Current behavior
I am hosting my application inside of an iframe. When the application requests a token, Edge will by default block the authentication popup, and adal will return an error for the token.

Expect that Edge will keep informa

[2019-01-11 17:22] asifma commented on #580
if using vue-adal (https://github.com/survirtual/vue-adal). Please add this modification into:
vue-adal\lib\bundle.js

[2019-01-11 22:16] harryhaomsft opened #849 "Silent sign in iframe has size and disrupts page layout"
When ADAL.js creates the hidden iframe to acquire token, the iframe is still occupying a 4x4 space. And it causes page layout to change(scroll bars appear). It looks like the style of the iframe is set to visibility: hidden which only hides the element but does not remove the presence in the DOM. Using display:none should be able to fix this.

Repros on all browsers.

## Library Name
- adal.js

##

[2019-01-15 21:11] navyasric commented on #848
@Nican For the popup flows to work in ADAL.js, you will need to enable popups on the browsers.

Also, please take a look at these [known issues on IE and Edge](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Known-issues-on-Edge). There is a popup issue with using the library on Edge. We recommend using redirect flows for Edge if the suggested workarounds don’t work.

[2019-01-15 21:24] Nican commented on #848
Thank you for the information. I had not seen that page on the wiki.
I still find it quite annoying that Edge will spontaneously open popups, with no way to get confirmation back from the application.

[2019-01-15 21:24] #848 closed, assigned to nobody

[2019-01-16 11:53] MarcTimperley commented on #846
The cdn link https://secure.aadcdn.microsoftonline-p.com/lib/1.0.17/js/adal.min.js is valid currently

[2019-01-24 18:26] #795 closed, assigned to nehaagrawal

[2019-01-30 19:45] mohamedmansour commented on #821
@nehaagrawal  when can we see adal.js packaged outside of angular? At Microsoft we are using React like crazy and we don't have an official way to use react and latest adal unless we go to a thirdparty which bundles adal.js in their code base `adal-react`

[2019-02-08 16:40] nvigne opened #850 "Pop-up redirected to /null instead of closing itself"
## I'm submitting a...
- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Browser:
- [x] Chrome version 72.XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library Name
- [x] adal.j

[2019-02-11 09:27] abu-wizata opened #851 "AuthenticationContext is not a constructor"
## I'm submitting a...
<pre><code>
[X] Bug report
</code></pre>

## Browser:
- [x] Chrome version Version 71.0.3578.98 (Official Build) (64-bit)

## Library Name & Version
- [X] adal-angular@1.0.17
- [X] adal-node@0.1.28

## Current behavior
"AuthenticationContext is not a constructor."
<code>
//import { AuthenticationContext } from 'adal-angular'; //Both of these have same issue

import * as Auth

[2019-02-12 08:11] bjaskj commented on #849
A quick hack for this while waiting for change is to use this CSS:
[code]

[2019-02-12 10:20] nvigne commented on #850
The popUp was redirecting to /null because the redirect Uri was using the session storage when the caller was using the local Storage.

It does not solve the issue where the popUp does not close by itself when the login process finish, due to the fact that the main window lose reference on the popUp

[2019-02-14 01:56] raoulmahtani commented on #800
Did  this get anywhere?

[2019-02-14 14:17] geekwhocodes commented on #846
Any timeline for releasing version 1.0.18 via CDN?

[2019-02-19 21:00] devconcept commented on #804
If you need special permissions for an app and the admin has not granted you those, then you get an option to "Return to the application without granting consent" and you hit this bug too.

[2019-02-20 10:46] sliekens commented on #804
I propose the following fix:

- add a constant for the `error_subcode` parameter

[code]

- Change `isCallback` to check for errors, not error descriptions

[code]

- Change `getRequestInfo` to check for errors, not error descriptions

[code]

- Change `saveTokenFromHash ` to check for errors, not error descriptions

[code]

- Handle ERROR_SUBCODE in `_handlePopupError `

[code]

and so on and so

[2019-02-20 16:34] nedimsahin opened #852 "Is there a way to turn off SameSite cookie usage by using ADAL JS?"
Hello,

As described in the article below, it is recommended to turn off SameSite cookie as a workaround for the issue of AD login from Safari on iOS 12.

[https://github.com/aspnet/AspNetCore/issues/4647](https://github.com/aspnet/AspNetCore/issues/4647)

The article describes how to turn it off for ASP.NET Core and some other platforms. However, I haven't seen a similar implementation for ADAL J

[2019-02-21 15:11] dalejo09 commented on #323
I think I resolved the problem on "Internet Explorer", this issue is because "https://login.microsoftonline.com" is not added to "IE security zone", so the error says: "the web app sending the silent sign-in request is in different IE security zone than the Azure AD endpoint"

Steps:
On IE, open "Internet Options" and you have to ensure both sites are on the same security zones "https://{tenant}.s

[2019-02-25 17:14] StuntThumper88 commented on #811
Was this resolved? Im having this issue too

[2019-02-25 17:19] benjaminao commented on #811
@StuntThumper88
No, I still waiting for a solution!

[2019-02-25 20:51] eirikb opened #853 "Support for Brave (or any extension blocking third party cookies)"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Brave

## Library Name
- [x] adal.js

## Library version
Library version: 1.0.17

## Current behavior
Login falls back to popup

[2019-02-26 16:52] JACrazy commented on #811
noticing this issue too

[2019-03-05 09:31] h3rmanj opened #854 "Unexpected SSO behaviour with acquireToken and ADFS"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe: Chrome uses SSO over specified `id_token`
</code></pre>

## Browser:
- [x] Chrome version 72.0.3626.119
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge

[2019-03-09 20:28] aappddeevv opened #855 "Document in README or wiki how this library is different than microsoft-authenttication-library-for-js"
Both this library and the microsoft-authentication-library-for-js are under AzureAD so it would be nice to have a note on how these two are different. As near as I can tell, this library is v1.0 endpoints and MSAL is for v1 and v2 endpoints, or maybe only v2.

[2019-03-11 23:07] ichibanbrew commented on #736
The issue still exists with 1.0.17.

[2019-03-12 10:14] rohitbankia opened #856 "AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 72
- [x] Firefox version 65
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library Name

[2019-03-14 15:31] caesarsol commented on #702
Hi, I am getting this error too.
I guess clearing the cookies could clear it but doesn't mean it does not happen...

[2019-03-17 09:13] Kalyan-Basa commented on #856
Probably, you could make use of postLogoutRedirectUri property in configuration.

For Ex:
**`{
    "tenant": "xxxxxxxxxxxxxxxxxxxxxx",
    "clientId": "xxxxxxxxxxxxxxxxxxxxxx",
    "redirectUri": "xxxxxxxxxxxxxxxxxxxxxx",
    "postLogoutRedirectUri": "http://localhost:4200/"
  }`**

Session is timed-out or user logs out intentionally, app will be redirect to the URL specified on postLogoutRedirect

[2019-03-18 06:51] rohitbankia commented on #856
by default postLogoutRedirectUri takes the value of redirectUri which is fine for me. i tried giving both but it goes in a loop
are these values correct or need to give it as a static one?
redirectUri: window.location.origin + '/home',
postLogoutRedirectUri: window.location.origin

[2019-03-18 06:58] Kalyan-Basa commented on #856
I would suggest you to use the static one

[2019-03-20 04:24] aarshad786 commented on #811
@benjaminao... you should be using logOut() and not logout() according to adal documentation

[2019-03-20 18:11] neptunecentury commented on #851
I am getting this same problem. I import the AuthenticationContext from 'adal-angular' and see the error message when I try to instantiate it.

If I use this:
   import adal from "adal-angular";
   window.config = { ... }; // Config omitted
   var authContext = new adal(window.config);

It works. But, it seems it's not using version 2 of the API, because I can't sign in with my personal account, b

[2019-03-23 15:58] mokutsu commented on #811
hey we're also noticing similar issues

[2019-03-27 14:15] atlefren commented on #764
Can also reproduce this bug. Can confirm it is related to this._user beeing null after a page reload. Will submit a PR with fix asap

[2019-03-28 02:55] ormico commented on #702
want to 2nd that. I'm getting this error also.

[2019-04-01 13:07] chan4lk commented on #772
How did you fix this ? I am still getting this error.

[2019-04-01 14:11] miguelemosreverte commented on #772
@chan4lk
I am so sorry I cannot provide you of the repo because the company I worked for decided it would not go the open-source way, and asked for removal.

Now let me tell you, what I did was at most 4 days of work, nothing more.
Information is out there, just iterate over the proposed solutions until you land a stable solution and then please come back and propose a link to a repo like I did on

[2019-04-02 08:26] mbaroukh opened #858 "Doc typos"
## I'm submitting a...
<pre><code>
[x] Documentation issue or request
</code></pre>

## Library Name
- [x ] adal.js XX

## Library version
Library version: last

## Current behavior

When following the doc, the first step is "Instantiate the AuthenticationContext" :

`var authContext = new AuthenticationContext(config);`

then in step 2 "Login the user", the code is

`var user = authenticationCont

[2019-04-02 11:09] mohandivraniya opened #859 "AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application"
Our current setup is:
1. SharePoint
    A SharePoint online site collection
    JavaScript running inside a content editor web part on a classic .aspx web part page on above
    site collection
    ADAL.js calling Azure AD to get token for Power BI end points for current logged in user.

2. Azure AD
    An application is registered with reply URL https://<<SharePointSiteCollectionURL>>/
    oauth2

[2019-04-02 11:17] mohandivraniya commented on #845
I have seen this behavior in my application as well. However, I am not able to reproduce it consistently. Sometimes the token is received and sometimes not. I am yet to figure out the root cause for it.

[2019-04-03 13:51] jgschwend opened #860 "Endless redirect after successful login (Angularjs 1.4.9 & adal-angular 1.017)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe:
It might be either a bug or maybe I just missed something.
Since the update to Chrome 73 we are getting endless redirect after the authentication against AAD.

[2019-04-04 06:31] MariuszKogut commented on #855
Any updates here? I want to integrate OAuth into our react application and I'm not sure, which lib to use.

[2019-04-05 13:09] olefrank commented on #549
Any news on this?

[2019-04-10 08:21] olefrank commented on #702
Me too! Sounds wrong that I have to clear all cookies in browser, doesnt it?

[2019-04-11 08:11] duluong commented on #549
I got the same problem.
adalSvc.logout() did not work.

[2019-04-11 08:15] benjaminao commented on #549
Still waiting for a solution

[2019-04-12 11:31] tabinnorway commented on #773
I am having the same problem. This means that it is not possible (at the moment) to add Tab to Microsoft Teams that needs to authenticate with Azure AD using msadal. There must be a way around this.

[2019-04-14 02:23] jslhcl opened #861 "Graph API always return 403 when accessing OneNote page even if the permission is granted in the Azure app"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 73.0.3683.103
- [ ] Firefox version XX
- [x] IE version 11
- [ ] Edge version XX
- [ ] Safari version XX

## Li

[2019-04-15 18:04] zackwithak13 commented on #702
Has anyone found a resolution to this that doesn't involve clearing all cookies. It seems to be a recurring issue.

[2019-04-16 09:51] rafspiny opened #862 "Misleading CDN reference in documentation"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library Name

[2019-04-23 02:47] rayterrill commented on #861
I actually found the same thing today against the /security/alerts graph api - 403 even though the correct permissions were set in the application and the decoded JWT appeared to show the scopes were present. Never could figure out why it wasn’t working.

[2019-04-24 11:53] screen-saksrepo commented on #513
I have the same issue

[2019-04-25 13:26] kameelyan commented on #811
Having a similar issue as well. Looking at the network tab:

Request URL: https://login.microsoftonline.com/KTGLBUC.onmicrosoft.com/oauth2/logout?post_logout_redirect_uri=<url hidden for privacy reasons>

The next request is:
Request URL: https://login.live.com/logout.srf?id=12&ru=https%3a%2f%2flogin.microsoftonline.com%2fktglbuc.onmicrosoft.com%2foauth2%2flogoutredirect

And finally the user is s

[2019-04-27 16:18] NaveenK-J commented on #850
Any updates on this? We are running into similar issues

[2019-04-30 07:10] JonasKs commented on #854
@manoj-rath / @rohitnarula7176  , could you review? Any solutions?

[2019-05-01 11:06] amanaks commented on #709
I already have a custom login page which i can authenticate with my api. But its not allowing me call the api and its returning that 'User login is required|login required' . Can i stop the authentication for my own custom login.

Thanks

[2019-05-01 11:13] amanaks opened #863 "Custom Login with SSO Login"
<pre><code>
stop authentication for custom login.
</code></pre>

## Library Name
- [x] adal.js 1.0.17
- [x] adal-angular 1.0.17

## Current behavior
I need to use my own custom user login with SSO service . SSO login is working fine but when i am trying to call an api it throws an error stating that User login is required|login required.
How can i skip this error and call the api.

i am using angu

[2019-05-06 10:08] caesarsol opened #864 "acquireToken() displays warning "Set-Cookie header is ignored in response from url... Cookie length should be less than or equal to 4096 characters""
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] **Bug report**
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Browser:
- [x] **Chrome version 69 -> 73**
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library Name

[2019-05-06 21:15] lax-github opened #865 "page Double refreshing using ADAL.js"
I am trying to call Secured Azure Function App(OAuth 2.0) using ADAL js. I am getting the token but it redirects twice to https://login.microsoftonline.com (refreshing page twice.). It’s a bad user experience. Did anyone had same experience using ADAL.js?

Please provide some suggestion/solution. Thank you in advanced.

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to wo

[2019-05-07 09:09] getangar opened #866 "How to authenticate using Client Secret?"
Hi there,
I was asking my self if it's possibile to authenticate a WebApp without user actions using the ClientId + ClientSecret to get the Authorization Token.

Thanks and keep on doing this great job!
Gennaro

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[X] Document

[2019-05-07 09:14] ky-vy commented on #864
Having the same issue. Spent many hours debugging - still no success.

[2019-05-07 19:48] udlose commented on #864
Also seeing the same problem.

[2019-05-08 23:26] abhaygitty commented on #290
@tushargupta51 I am trying to renew the token with a custom expiration offset value from config.
But I don't think, that the acquireToken() method works as expected.
I meant, the expiration time of the token doesn't get updated after being reset to 0 in the getCachedToken()
` /**
     * Gets token for the specified resource from the cache.
     * @param {string}   resource A URI that identifies th

[2019-05-09 14:17] abhaygitty opened #867 "@tushargupta51 I am trying to renew the token with a custom expiration offset value from config."
@tushargupta51 I am trying to renew the token with a custom expiration offset value from config.
But I don't think, that the acquireToken() method works as expected.
I meant, the expiration time of the token doesn't get updated after being reset to 0 in the getCachedToken()
` /**
     * Gets token for the specified resource from the cache.
     * @param {string}   resource A URI that identifies th

[2019-05-10 11:10] AWR14 commented on #713
I want to show a different navigation items if the user is assigned to a certain group.

i can get the user but can't see where i get the groups, any working example of this?

`const user = this.authenticationContext.getCachedUser();`

[2019-05-10 14:29] Hackeron commented on #60
Can you provide an example of logging in using PopUp in Iframe for angular 2+?

[2019-05-13 05:54] Lukbrayn123 commented on #811
Facing logout problem in adal-angular v1.0.17.
I am logged in with one user, then duplicate a tab and logged out the user and in this tab logged in with different user.
When going to the previous user and refresh page user does not log in with the new user, old user can able to perform actions. I am using session storage to store token.
This is not accepted, If the user logged out, then it should

[2019-05-14 22:14] gnanavelum commented on #727
why do we even have this code in ADAL when we know for sure it will fail in many browsers and it is a security issue?

(window.parent && window.parent._adalInstance)

[2019-05-21 08:14] ckalgos opened #868 "Angularjs - APP reloads when user visits the already visited url after token expiration"
When user visits the already visited urlafter token expiration , the expiration time for my resource becomes 0 and renew token is not called as the template is served from $templateCache.

Now if user visits a new url(url which user has not visited in the session) , since expiration time is 0 it redirects user to login page , causing the app to reload and lose entered data.

Removing this line **i

[2019-05-21 20:55] richardspence commented on #750
I no longer work on the project where I used this library (moved jobs since then).  Your solution doesn't appear to take in account that local storage still can't "lock" regions of reads and writes together.  Meaning you'd still have a potential race condition if both tabs tried to read & update at the same time.

[2019-05-21 23:06] AmonHouston commented on #773
Similar issue happening to me, I'm getting the same error as @numabilis, granting admin consent didn't seem to have an affect.

[2019-05-22 02:33] qisirui99 opened #869 "Cannot find name 'AuthenticationContext'"
I'm using Angular7, and when I follow the below steps, It said can't find AuthenticationContext.
The step is
1. npm install adal-angular
2. import { } from 'adal-angular'; on my component
3. create config on my component
public config = {
    tenant: 'xxx',
    clientId: 'yyy',
    redirectUri: window.location.origin + '/auth',
  };
4. create the AuthenticationContext
this.authContext = new Authen

[2019-05-22 13:56] talbenbasat commented on #472
Hi @magnuf,

How did you manage to solve this issue?

[2019-05-23 18:18] robianmcd commented on #864
I get this issue even when I am in incognito mode in Chrome.

Anyone found a workaround?

[2019-05-27 17:50] rventuri76 commented on #864
Same problem here. with msaljs 1.0.1 and B2C but not with  B2B.

With B2C this error seems to block the login as trying to call acquireTokenSilent, after a successful login, i get this warning "Set-Cookie header is ignored in response from url ..." then this error
`Refused to display 'https://login.microsoftonline.com/XXX/oauth2/authorize?client_id=XXX&redirect_uri=https%3a%2f%2flogin.microsoftonl

[2019-05-27 22:08] mamiu commented on #864
The same for me. I'm waiting for a fix for this bug since months. It's blocking the hidden iframe to acquire a new token in the background.

[2019-05-30 16:29] asnow003 opened #870 "handleWindowCallback is checking for null...but what if its undefined?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Other... Please describe: Possible bug in source code?
</code></pre>

## Browser:
- [x] Chrome version XX
- [x] Firefox version XX
- [x] IE version XX
- [x] Edge version XX
- [x] Safari

[2019-05-30 16:35] asnow003 commented on #870
Checking online I think it should be:

if( typeof variable === 'undefined' || variable === null ){
    // Do stuff
}

[2019-05-30 16:41] asnow003 commented on #870
never mind...its should catch undefined and null but not false so the code there should be ok according to stack overflow.

https://stackoverflow.com/questions/2647867/how-to-determine-if-variable-is-undefined-or-null

[2019-05-30 16:41] #870 closed, assigned to nobody

[2019-05-30 22:23] venkatgude90 opened #871 "AADSTS50132: The session has expired or has been revoked - AngularJS 1.7.6 and Adal 1.0.17"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x] Chrome version 74
- [ ] Firefox version XX
- [x] IE version 11
- [ ] Edge version XX
- [ ] Safari version XX

## Library Name

[2019-05-31 10:57] #866 closed, assigned to nobody

[2019-06-05 20:48] mlynam commented on #659
Hey @navyasric has this issue been abandoned?

[2019-06-05 20:55] baywet commented on #659
@mlynam this has been addressed in msal as you can see here https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib

[2019-06-05 20:57] mlynam commented on #659
Thank you @baywet. I was confused by the ADAL Microsoft docs. They pointed me at the adal-angular library instead of msal.

[2019-06-05 20:58] baywet commented on #659
do you still have the link? don't hesitate to open issues on the docs as well (all the way at the bottom, they also open github issues)

[2019-06-05 21:00] mlynam commented on #659
Yeah I got it from here: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-authentication-libraries. I admit that I glanced over the note asking if I was looking for Azure 2.0 (MSAL)...

[2019-06-05 21:04] baywet commented on #659
thanks. yeah this page is probably going to stay like this as it already has a note pointing to msal

[2019-06-07 08:47] zsid commented on #772
Hi,

I am having the same problem with the infinite loop when working with `react-adal`. Are there any plans to address it soon? Is this repo not supported any more?

[2019-06-11 20:06] jkyoungchoi opened #872 "adal.js client side/off perm calling SP rest api, what am I missing?"
I'm trying to retrive SP site,list,items from off-perm with JS.

Got id_token with adal.js and its sample code. So with the id_token that I received
made various calls to endpoints (including SP Site's api endpoint), something like below
<pre><code>
$.ajax({
type: "GET",
url: "https://graph.microsoft.com/v1.0/me/",
headers: {
 'Authorization': 'Bearer ' + token,
},
});
</code></pre>
whatever I try

[2019-06-11 23:15] rajrao commented on #864
I am also getting this same error. I have iframed the app within Dynamics CRM.

When I set the URL on the iframe, the following error gets thrown (Chrome):
Set-Cookie header is ignored in response from url: https://login.microsoftonline.com/**my-tenant-id**/oauth2/v2.0/authorize?client_id=**the-client-id**&redirect_uri=**https://redirect-url**. Cookie length should be less than or equal to 4096 ch

[2019-06-12 21:14] timnyman commented on #800
I am interested in potential resolutions to this same issue.  I've configured ADAL.js to redirect to ADFS, can get a token back via GET and use it.  But I need to get the user's claims as well.  I've tried the adjustment to include &response_mode=form_post, but my redirect URL cannot accept a POST call (GET is allowed).   I'm looking for a way to use this library to add claims to the returned payl

[2019-06-12 21:29] raoulmahtani commented on #800
I ended up going with angular-oidc library and reconfiguring my application as a native app. That worked!

Sent from my iPhone

[2019-06-13 06:53] JonasKs commented on #854
Workaround:

- Create an iFrame with the ADFS log out link, deleting the cookies from ADFS.
- set `onLoad` to redirect to the `prompt=login` site.
- Log in
- Profit

[2019-06-13 20:00] timnyman commented on #800
Is this the library you are describing?  https://www.npmjs.com/package/angular-oauth2-oidc
Does this provide a way to acquire a user's claims?
Is this possible if the application remains a web SPA?

[2019-06-13 20:05] raoulmahtani commented on #800
Yeah that’s the one, it will pull the user claims as long as it’s configured as a native application in ADFS.

Sent from my iPhone

[2019-06-13 20:28] timnyman commented on #800
Sorry - one more follow up question.  Do the claims come down with the initial tryLogin() call, or do you need to take additional steps (i.e. make a 2nd call to a userInfo endpoint) to acquire the claims?

[2019-06-13 20:31] raoulmahtani commented on #800
Hahaha no worries, they came with the trylogin call.

Sent from my iPhone

[2019-06-14 09:24] PraveenVerma17 commented on #811
Did anyone get the fix for this issue. We are also facing the similar issue.

[2019-06-17 13:11] SanthoshThangarasu commented on #773
Facing same issue, when try sample teams silent authentication, any workaround?

[2019-06-21 15:22] nvigne commented on #865
Can you share a code example? From what you are describing, it looks like you are not correctly checking if the user is already authenticated.

[code]

[2019-06-21 20:35] rab48882 commented on #800
raoulmahtani,  Thank you for helping Tim Nyman.  I am picking up where he left off.  The issue I am experiencing is "Error: validating tokens"  AND "Wrong issuer: https://sso.department.gov/adfs" .

Interestingly, I do get back an access_token and an id_token, but with different issuers.  access_token issuer is https://sso.department.gov/adfs and the id_token is https://sso.department.gov/adfs/ser

[2019-06-21 21:11] raoulmahtani commented on #800
I actually have the same issue, still haven’t figured it out.

Sent from my iPhone

[2019-06-24 14:43] rab48882 commented on #800
raoulmahtani,

Thanks for the reply.  Also, I am getting AD groups back in my access token  Do you know of a way with the libraries to decrypt the access token to get theses AD groups back?

Thanks.

[2019-06-24 15:06] raoulmahtani commented on #800
Yeah you can use any precanned JWT decryption libraries. In node I use Jwt-decode.

Sent from my iPhone

[2019-06-24 16:46] xscheiner opened #874 "Prompt setting not working as expected if set to select_account"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [X] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [X] Edge version XX
- [ ] Safari version XX

## Library Name

[2019-06-24 16:50] rajsolanki73 commented on #800
Sorry for late reply .

We are able to get claims back using ADAL library via  'authorization
grant' .  So by editing adal,js to accept response_type from query param
(its hard coded to be token) . So out respone_type is code. Once we have
code , we send one more request to ADFS using that code and resource param
(we need to create a relying trust and the definition name of it becomes
value for re

[2019-06-25 11:56] Kavya06 opened #875 "Redirecting to Homepage with homepage/ADAL# in URL"
Hi

I am using ADAL-4 for angular 6. But when we redirect the page after Microsoft.Login, it is redirecting to homepage with Adal# in the URL. How to redirect the page without Adal# in the URl.

Please provide some solution

[2019-06-25 21:10] sksarath opened #876 "authContext.getCachedUser() is not working in safari Ios 12.1"
I am using adal.min.js version (1.0.11) and authContext.getCachedUser() works perfectly fine in chrome, safari. But not working on any versions less that IOS 12.2 authContext.getCachedUser() gives null value.

works in ios 12.2 safari, chrome, firefox.
not works in ios versions less than 12.2 (eg. v12.1 safari) authContent.getCahcedUser() gives null.

<pre><code>
var authContext = new Authenticati

[2019-06-28 15:40] textminer commented on #773
Having same issue. I have a simple html with no iFrame. The grant consent step did not work for me either. I'm surprised that it worked for others, since precisely is Teams platform that prevents doing the navigation to the authorizing web page. Any workaround?

[2019-06-28 15:48] querylife commented on #845
mohandivraniya - thanks for the response. I have given up on this.

[2019-07-02 01:02] PTC-JoshuaMatthews commented on #874
Did you figure anything out here? I am using the angular library and similarly cannot seem to pass in a prompt parameter

[2019-07-05 09:04] adrichema commented on #652
Is it legacy to display the correct mobile UX?

[2019-07-05 11:18] jesuslpm commented on #391
@r-e-d-s-a-n-d This works! you saved my day! Thank you

[2019-07-09 06:58] vinay-sowdri opened #878 "feature to extend expiry time silently on click of button (microsoft-adal-angular6)"
I would like the user to provide a feature to show popup and allow him to extend session.
Right now i would be showing pop up 15 min before token expiry. If the user accepts token expiry, i need to extend the expiry time of token. But right now since the token isn't expired , its getting same token. Even if i expire token using **expireOffsetSeconds** , when the request tries to process , it works

[2019-07-15 21:40] LastTribunal commented on #800
This is a very severe oversight on microsoft's part.  If Azure AD, by default returns extended claims from GET using only ID_TOKEN, then ADFS should do the same. (as it does the ADFS ACCESS_TOKEN)   Why cripple ADFS based on weak security/stability concern and then render ADAL JS useless for ADFS scenarios? Esp since ADALJS is the only library available for properly integrating SPAs with AAD and A

[2019-07-15 21:50] jasonnutter commented on #800
@LastTribunal Please refrain from using offensive language, thanks.

[2019-07-15 23:05] LastTribunal commented on #800
What is wrong with my language?  Has MS turned its focus on policing language rather than fixing its problem?  Is this your best approach to helping users?  Glad to know that MS is fully woke with a army of SJW's posing as technicians

[2019-07-15 23:07] DarylThayil commented on #800
@negoe  for context

[2019-07-16 03:48] LastTribunal commented on #800
What's worse is that my 2016 ADFS server was actually returning custom claims in ID_TOKEN using GET, until recently.  But it no longer does so,  Seems like this was not a feature but a "vulnerability" in MS's eyes, and hence was "fixed" via a windows update.  So to put it in "context", I have exerted a lot of time sweat and tears into making my Azure provision work seamlessly on-prem.  And now MS

[2019-07-17 11:02] chetanc97 commented on #539
@validian  @ramesh-chandra  . Yes . Try this out. Here's how  -
Put a redirect.html file and add this

`  <script src="../lib/angular/angular.min.js"></script>`
`    <script src="../lib/adal/adal.js"></script>`
`    <script src="../lib/adal/adal-angular.js"></script>`

`<script type="text/javascript">`
`        var adalConfig = {`
`             instance: 'https://login.microsoftonline.com/',`
`

[2019-07-18 13:34] raviji commented on #549
Am also facing this same issue, please some one help me on this....

[2019-07-18 13:37] raviji commented on #811
am also facing this issue in my application and waiting for the solution

[2019-07-21 08:26] edanhauon opened #879 "Authentication Issue with Oatuh API"
Hi,

I'm trying to make a REST API call using DynamicsWebApi node.js framework.

Getting an 401 when trying to access the API:

message:"Get Token request returned http error: 401 and server response: {"error":"invalid_client","error_description":"AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.\r\nTrace ID: \r\nCorrelation ID: \r\nTimest

[2019-07-21 08:55] edanhauon commented on #879
This is my code: (taken from DynamicsWebApi documentation)

[code]

[2019-07-22 20:53] riteshbhoi commented on #846
Any update on this thread on when exactly version 1.0.18 would be released?

[2019-07-27 21:22] slomangino123 commented on #811
I am seeing the exact issue above using angular-msal wrapper that @benjaminao stated. My user is still signed in after first logout action. If i log in again with that user, it states that the user is still logged in. If i log out a second time, the user is successfully logged out and the redirect works as expected. Still waiting for a solution.

[2019-08-03 13:38] andreav commented on #549
Same here.
* adal-angular 1.0.17

When i call  logOut I correctly get redirected to:
    `https://<myadfsOnAzure>/adfs/oauth2/logout?post_logout_redirect_uri=https%3A%2F%2Flocalhost%3A8080%2F`

This url seems correct.
I found [someone](https://social.technet.microsoft.com/Forums/en-US/346b5ae1-c3d2-44e0-a713-977933d23ad7/oauth-logout-was-successful-but-the-client-will-not-be-redirected?forum=ADFS)

[2019-08-06 13:49] Felix-Indoing commented on #323
I am using react-adal and almost all my users in ios Safari face this issues. I have no idea why it happens. All I can do is to tell my users to clear their browser cache and all the cookies. This is particularly painful. Is there any suggestion on this situation?

[2019-08-06 13:50] Felix-Indoing commented on #423
I am using react-adal and almost all my users in ios Safari face this issues. I have no idea why it happens. All I can do is to tell my users to clear their browser cache and all the cookies. This is particularly painful. Is there any suggestion on this situation?

[2019-08-08 16:25] epiphanizer commented on #702
I'm seeing this, and it's preventing the user from being able to properly authenticate whatsoever without opening an incognito window?

[2019-08-14 08:58] Titaye commented on #773
Same issue here within teams desktop client. I think the issue come from https://login.microsoftonline.com/common/reprocess page. I don't know why this page tries to manipulate top location instead of its own window.
In teams tab we are inside a sandboxed iframe and the adal lib is pushing a nested iframe too. I think manipulating top window is wrong in this case.
Here is the piece of code doing t

[2019-08-15 14:12] ferantivero opened #880 "new React app sample using GatsbyJS"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Library Name
- [ ] adal.js XX
- [X] adal-angular XX

## Library version
Library version: 1.0.17

## Current behavior

the [wiki samples](http

[2019-08-15 20:54] harryhaomsft opened #881 "ADAL.js Popup sign in failure in Edge/IE with error message “Popup Window is null.”"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [X ] Edge version 44
- [ ] Safari version XX

## Library Nam

[2019-08-16 13:56] vasanthtt opened #882 "React page is loaded twice during adal login"
#### Category
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

I am using Adal Angular (v1.0.17) with TypeScript to login to the AzureAD from my SPFx component using react that uses adal.js for calling external API. I’ve noticed a bad experience in my spfx page, the page reloaded twice during login. When I debugged, the first reload happens when login happened in adal. This retur

[2019-08-19 03:57] vasanthtt commented on #882
@RamonPage @canoas Please help me on this

[2019-08-20 22:55] janklan commented on #773
Same here. I'm using the code from the official sample here: https://github.com/OfficeDev/microsoft-teams-sample-complete-node/tree/master/src/views/tab-auth (the `silent*.hbs` files) and am getting an iframe sandbox error, forcing the user to log in manually in a pop-up window.

[2019-08-22 10:02] nikhil-mahirrao opened #883 "How to set Access Token Lifetime (session time) and Refresh Token Max Inactive Time?"
How to config **AccessTokenLifetime**, **MaxInactiveTime** from **AuthenticationContext** ?

`var authContext = new AuthenticationContext({
        clientId: 'someId',
        postLogoutRedirectUri: 'someURL',
        redirectUri: 'someURI',
});`

As bellow link shows some more config params,

**Configurable token lifetimes in Azure Active Directory:**
[https://docs.microsoft.com/en-us/azure/activ

[2019-08-26 21:41] opticyclic commented on #882
The react-adal package seems to address this and might be a better option for a react app.

https://github.com/salvoravida/react-adal

[2019-08-28 07:04] vasanthtt commented on #882
Thanks. I will try this.

[2019-08-28 20:49] TianyuHou commented on #513
same issue, anybody has solutions?

[2019-09-03 12:27] vishwanathsunkari commented on #629
Hi , i want to use this adal services for code authorization flow , using angular 7. now i can able to get the token in implicit way but is there anyway to set the response_type="code" so that i can turn implicit way to code flow .
if not can you please guide me, how we can achieve azure ad sign in using code flow (not implicit way)
Thanks in advance

[2019-09-06 13:10] Tahiche commented on #778
Hi,
I beleive this is unclear.
AcquireToken() is supposed to give you "access_token" to attach to Api calls, right?. At least when calling an external API...
So this issue (https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/629) points out how to get response of "id_token AND token" via displayCall().
I´ve managed to do so but I´m encountering some problems....
Both "id_token"

[2019-09-06 19:23] ssumit opened #884 "AdalAngular module not found - AngularJs 1.5 + Webpack 2"
I tried [npm install adal-angular](https://www.npmjs.com/package/adal-angular)
I'm on webpack 2.7.0, angularjs 1.5.11 and adal-angular 1.0.17.

I'm trying to use it in app.js like:

import 'adal-angular';
....
export default angular.module('demoApp', ['otherModule', 'AdalAngular']);

No extra code from adal is being referenced and used.

However, I get error:
0: [$injector:modulerr] Failed to inst

[2019-09-12 13:00] roopeshchinnakampalli commented on #323
We have the similar issue in iOS Safari + Angular 7 application.

[2019-09-12 16:30] jthoni commented on #852
I just realized that this is going to impact us.  Is there any info on this?

[2019-09-13 23:14] crspybits commented on #693
I wonder if this is related to my question at: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/683

[2019-09-17 22:42] #862 closed, assigned to nobody

[2019-09-20 08:33] dimaatkaev commented on #811
Hello @nehaagrawal, do you have any updated with this issue?

[2019-09-20 16:11] sameerag commented on #811
@dimaatkaev Is this seen with ADAL JS or MSAL JS? Also can you please share the version of the library used? I do think latest MSAL JS (core and not angular) does not have this issue.

[2019-09-23 08:22] dimaatkaev commented on #811
@sameerag I believe this is an issue of the platform, not the lib, I'm using self-written lib

[2019-09-23 15:27] sameerag commented on #811
@dimaatkaev I can open a service ticket to the STS team provided I have a faithful repro. Can you please share the steps?

[2019-09-30 12:55] CadiChris commented on #772
Hi @zsid. I don't know if changes have happen in the `adal` library, but a new version of `react-adal` is now available. Maybe you can try it https://github.com/salvoravida/react-adal/issues/33#issuecomment-536196697

[2019-09-30 13:57] salvoravida commented on #772
@zsid it would be great a feedback on your use case!

Salvo

[2019-09-30 16:20] zsid commented on #772
I will update to the packages later this week and test it out

[2019-10-01 15:33] dimaatkaev commented on #811
@sameerag, sorry for the later answer
you can use the steps provided by @ESadouski in the initial issue:
https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/811#issue-366332243

[2019-10-03 06:17] jacks0n commented on #845
I also ran into this issue, when trying to authenticate Power BI silently after logging in. What worked for me was requesting the Power BI permissions and user_impersonation on login, then silently requesting the Power BI access token after login.

[2019-10-04 17:17] jguitard commented on #323
MSAL requires [cross-site cookies](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Known-issue-on-Safari) in order to make the token renewal work.

When my SPA is accessed from a web browser which by default drops cross-site cookies, it fails at the token renewal step with AADSTS50058 too.

I have tested from Chrome, Safari and Brave. Chrome is the only which have cross-sit

[2019-10-11 12:29] chandrakaladhaundiyal commented on #773
For me my system is failing when its trying to fetch the token post expiry.
The system is trying to redirect to https://login.microsoftonline.com/common/oauth2/authorize?response_type
and
Uncaught DOMException: Failed to set the 'href' property on 'Location': The current window does not have permission to navigate the target frame to 'https://login.microsoftonline.com/common/oauth2/authorize?respo

[2019-10-11 20:34] ewittry commented on #725
@viganella any update on this pull request?

[2019-10-11 20:58] ewittry commented on #725
@nehaagrawal any update on this pull request?

https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/725

[2019-10-11 21:05] ewittry commented on #238
Seems to be related too https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/725
Any updates on these issues? @polita @nigel-dewar @tushargupta51 @yihuacao @ksimple

[2019-10-15 19:41] jennyf19 commented on #876
FYI: @sameerag @pkanher617 @jasonnutter @DarylThayil Can one of you please take a look at this? Customer would like a response, or know if a support case should be opened. Thanks so much.

[2019-10-15 20:13] sameerag commented on #876
@sksarath The last release on `adal js` is `1.0.17` and I see the version you are using is `1.0.11`. Is it possible to move to the latest and let us know if this issue persists?

On a more general note, we are currently focusing all our efforts on [`msal js`](https://github.com/AzureAD/microsoft-authentication-library-for-js) which is an advanced version of `adal js`. We recommend all our customer

[2019-10-24 20:05] sgsouris opened #887 "Support Microsoft identity platform (v2.0) endpoints"
## I'm submitting an enhancement request so adal.js can support the Microsoft identity platform (v2.0) endpoints which is described in https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types

i.e.
https://login.microsoftonline.com/common/oauth2/v2.0/authorize
https://login.microsoftonline.com/common/oauth2/v2.0/token

<pre><code>
[ ] Regression (a behavior that used to work an

[2019-10-24 20:42] jasonnutter commented on #887
@sgsouris We have no plans to add support for v2 endpoints in ADAL.js, as we have released MSAL.js which has support for both v1 and v2 AAD endpoints.

https://github.com/AzureAD/microsoft-authentication-library-for-js
https://www.npmjs.com/package/msal

Please let us know if you have any questions or concerns with moving from ADAL to MSAL.

Thanks!

[2019-10-24 20:42] #887 closed, assigned to nobody

[2019-10-25 13:55] sgsouris commented on #887
That's awesome news, thanks Jason!

[2019-10-25 21:01] ashnygaard opened #888 "Token is not updated in acquireToken"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [ x] Chrome version XX
- [ ] Firefox version XX
- [x ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library Na

[2019-10-25 22:44] negoe commented on #888
@sameerag Can you please take a look?

[2019-10-28 16:20] sameerag commented on #888
@ashnygaard Is this a new issue?

Also is there a specific reason you are using ADAL JS for your authentication needs? We are currently focused on [`msal js`](https://github.com/AzureAD/microsoft-authentication-library-for-js) which is a more enhanced version of ADAL with better support and more features. Is it is a possibility to try out that instead?

[2019-10-29 13:22] ashnygaard commented on #888
@sameerag No I don't think this is new, I have seen other people have the same issue. It appears during the token renewal it responds with a 'invalid_state' error.

I can take a look at Msal

[2019-10-29 14:48] ashnygaard commented on #888
@sameerag I have confirmed that we cannot use the MSAL solution because of architecture. We have to stay with ADAL

[2019-10-29 14:50] sameerag commented on #888
@ashnygaard Thanks for the follow up. Can you please help us understand why the architecture blocks MSAL's usage? If you are not comfortable in a public forum, you can email us.

[2019-10-29 15:32] ashnygaard commented on #888
What email address should I use?

[2019-10-29 15:32] sameerag commented on #888
cc @pkanher617

[2019-10-29 15:34] sameerag commented on #888
Please email sameera.gajjarapu@microsoft.com;

[2019-10-30 14:45] davelosert commented on #391
I also face this issue from within the Teams Mobile Client where I am trying to acquire a GraphAPI-Token.

@r-e-d-s-a-n-d s workaround fixed it for me - even though I had to delete the line `ifr.setAttribute('sandbox','allow-same-origin');` as this caused an IFrame Error Message.

Will there be a fix for this?
Or will we have to wait for MSAL (which is also currently not working from within MSTeam

[2019-11-06 19:41] abhilashrainchu commented on #811
@kameelyan  i am also facing a similar issue, Does the issue got resolved ?

[2019-11-12 14:06] kameelyan commented on #811
Sorry @abhilashrainchu, it was not.

[2019-11-14 17:27] sagnikm95 opened #890 "Not able to set AAD token AUD field"
Hi, i am not able to to set the AUD field in the token I am acquiring.
![image](https://user-images.githubusercontent.com/25024356/68880734-d2d22200-0731-11ea-8506-fee425e0c6f4.png)
When I decrypt the AAD token I am getting , the AUD is set to the client iD, whereas I was expecting it to be the uri I am specifying in the end points property.
As a result when I am using the acquired token to call t

[2019-11-14 19:27] DarylThayil commented on #773
The iframe trying to redirect the top level page is a known bug in adal, it has been fixed in msal js
I would encourage anyone who is able to move to msal. https://github.com/AzureAD/microsoft-authentication-library-for-js
It is backwards compatible with AAD v1 applications and in active development where issues like this are being resolved.

[2019-11-14 21:49] emadalsous opened #891 "SSO silent authentication fails while the user is connected to his account on different application"
## I'm submitting a

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ *] Documentation issue or request
[ *] Other... Please describe:
</code></pre>

## Browser:
- [ ] Chrome version XX
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library Name
-

[2019-11-28 16:24] ranouf opened #892 "Change Locale"
Hi,

It seems possible to specify which locale we want in azure AD using ui_locales, do you know how to specify it using your library?

Thanks

[2019-12-04 07:27] jensf-sidious commented on #323
We are currently testing Safari in iOS 13.3 Beta 3 with Angular 8 SPA. Enabling cross-site cookies and clearing the browser cache does not solve this problem anymore.

[2019-12-09 05:00] AshishRajwar commented on #211
Can you please explain the way you solved it, we are also facing this issue and are not able to figure it out.

[2019-12-09 21:06] jmckennon commented on #876
Closing this as it's been some time since we've seen a response and we're assuming that this is no longer an issue. If problems persist, we recommend making the jump to [msal js](https://github.com/AzureAD/microsoft-authentication-library-for-js) or opening further tickets.

[2019-12-09 21:06] #876 closed, assigned to nobody

[2019-12-10 21:58] sameerag commented on #61
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

Closing this issue.

[2019-12-10 21:58] #61 closed

[2019-12-10 21:59] sameerag commented on #443
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

`msal js` angular work is in progress; please watch the space [here](https://github.com/AzureAD/microsoft-authen

[2019-12-10 22:00] sameerag commented on #553
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:00] #553 closed

[2019-12-10 22:01] sameerag commented on #580
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

This issue should be fixed with `msal js` and we recommend moving to the new library.

[2019-12-10 22:01] #580 closed

[2019-12-10 22:01] sameerag commented on #592
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

Can you please raise this as a feature ask in `msal js`?

[2019-12-10 22:01] #592 closed

[2019-12-10 22:03] sameerag commented on #659
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes.

For this specific question, we have structured `msal js` better and there is a split between `msal-core` and `msal-angular`, please checkout our repo.

[2019-12-10 22:03] #659 closed

[2019-12-10 22:04] sameerag commented on #670
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

Can you try this on `msal-js` and let us know if it still an issue? Please raise a new one in the `msal-ja` repo

[2019-12-10 22:04] #670 closed

[2019-12-10 22:05] sameerag commented on #713
Please check https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1143 for this issue.

All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:05] #713 closed

[2019-12-10 22:06] sameerag commented on #725
This is fixed in `msal js`.
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:06] #725 closed

[2019-12-10 22:06] sameerag commented on #726
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:06] #726 closed

[2019-12-10 22:08] sameerag commented on #729
This is good feedback and we have a better model for this in `msal js`.
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:08] #729 closed

[2019-12-10 22:09] sameerag commented on #730
This should be fixed in `msal js` latest versions.
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:09] #730 closed

[2019-12-10 22:09] #443 closed

[2019-12-10 22:11] sameerag commented on #735
Latest `msal@1.2.0` supports applications in iframes and has a workaround for silent calls not reloading the application. Please check our release [notes](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-JS-1.2.0).

All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for

[2019-12-10 22:11] #735 closed

[2019-12-10 22:14] sameerag commented on #741
`adal js` and `msal js` are only for browser based clients; For native there are various solutions and some environments support webview in which `msal js` or `adal js` can run.
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We wou

[2019-12-10 22:14] #741 closed

[2019-12-10 22:16] sameerag commented on #742
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:16] #742 closed

[2019-12-10 22:17] sameerag commented on #750
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:17] #750 closed

[2019-12-10 22:21] sameerag commented on #752
This is a good ask - Majority of these issues in error handling should be fixed in the latest `msal@1.2.0`;

All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:21] #752 closed

[2019-12-10 22:26] sameerag commented on #755
Most of our support is on angular 5+ and IE11.
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:26] #755 closed

[2019-12-10 22:27] sameerag commented on #757
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:27] #757 closed

[2019-12-10 22:27] sameerag commented on #761
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:27] #761 closed

[2019-12-10 22:27] sameerag commented on #763
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:27] #763 closed

[2019-12-10 22:29] sameerag commented on #764
Please check documentation on token renewal [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/FAQs#q3-how-to-renew-tokens-with-msaljs). All tokens expire after an hour, but calling `acquireTokenSilent()` in the background before the token expiry renews the token.

All current authentication work from microsoft is delivered through `msal js` library [here](https://githu

[2019-12-10 22:29] #764 closed

[2019-12-10 22:30] sameerag commented on #765
This is fixed in `msal js`. Please try it and let us know.
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:30] #765 closed

[2019-12-10 22:31] sameerag commented on #766
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:31] #766 closed

[2019-12-10 22:32] sameerag commented on #892
Can you try passing this in `extraQueryParameters`? Usage is [here](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Acquire-tokens)

[2019-12-10 22:34] sameerag commented on #891
`adal js` does not support multiple accounts. A user is tied to a given `idToken` and hence this may not be possible. Can you try SSO with `msal js` and see if it works for you?

All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We wo

[2019-12-10 22:35] sameerag commented on #890
@hpsin for `id_token` claims.

[2019-12-10 22:45] sameerag commented on #883
This cannot be achieved from `msal`. This has to be configured in app portal. As far as I know, `accessToken` in implicit flow cannot be extended beyond an hour. @hpsin can you add anything here?

[2019-12-10 22:45] #882 closed, assigned to nobody

[2019-12-10 22:46] sameerag commented on #881
Can you try moving to `msal js`?

All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:46] sameerag commented on #880
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:46] #880 closed, assigned to nobody

[2019-12-10 22:47] sameerag commented on #879
Can you please migrate to `msal js` and let us know if it still an issue?

All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:47] #879 closed, assigned to nobody

[2019-12-10 22:48] sameerag commented on #878
All current authentication work from microsoft is delivered through `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We would recommend to move to `msal js` for any advanced feature asks.

[2019-12-10 22:48] #878 closed, assigned to nobody

[2019-12-10 23:27] hpsin commented on #890
The ID token always has the client ID as the audience. The audience is who the token is for. ID tokens are always for the client.

If you want a token for another audience, request an access token for that resource.

[2019-12-10 23:42] jmckennon commented on #874
This is currently fixed in `msal js`, though you can also use your stated workaround in `adal js`.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-10 23:42] #874 closed, assigned to nobody

[2019-12-10 23:46] jmckennon commented on #871
This infinite loop in `adal js` is a known bug and is fixed in `msal js`. All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-10 23:46] #871 closed, assigned to nobody

[2019-12-10 23:52] jmckennon commented on #869
Without seeing more of your exact code, it's a bit hard to debug what may be the problem here. We recommend following the exact basic steps on our wiki [here](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Config-authentication-context). Do you think you could provide more information if you're still seeing errors?

Additionally, we recommend everyone using `adal js` to make

[2019-12-10 23:55] jmckennon commented on #868
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

As long as everything else on your app works fine with your workaround, it's fine. All that line d

[2019-12-10 23:55] #868 closed, assigned to nobody

[2019-12-11 00:07] jmckennon commented on #872
It's a bit hard to debug your code and usage without more information. If you're still unable to fix the 401s, do you think you could provide the exact error and the exact code usage, including what's happening before that ajax request?

Additionally, all current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication

[2019-12-11 00:09] jmckennon commented on #865
If you're still having issues, please comment here or open a new ticket, though we recommend moving to `msal js`.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature request

[2019-12-11 00:09] #865 closed, assigned to jmckennon

[2019-12-11 00:43] hpsin commented on #883
You need to use the policy that's described in the article, via powershell.  There's nothing that indicates that implicit flow tokens can or cannot be edited, so I assume they can be.

[2019-12-11 11:43] atlefren commented on #764
So, after 1.5 years this issue is closed with a link to how to do the asked thing in msal. Thus: for all intents and purposes adal.js is deprecated?

Could you please state this clearly in the readme?

[2019-12-11 15:08] DenisChimborDev commented on #773
I had the same issue. But in my case problem was in configuration:
1. Ensure that you added redirectUri from Adal config to Azure app redirect URIs list.
2. On "silent-end" page use latest version of adal.min.js (now it is 1.0.17),

[2019-12-11 17:51] sameerag commented on #764
Yes, we will soon. We are trying to figure out usage issues vs feature asks and will add the documentation soon.

[2019-12-11 23:20] jmckennon commented on #864
This should be fixed by the server team now. Please make sure you're on `1.0.17` and let us know if it's still happening.

Additionally, all current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any ad

[2019-12-11 23:27] jmckennon commented on #861
This bug should be fixed in the latest version of `msal js`. You can also try upgrading from `1.0.0` of `adal js` to the latest `1.0.17` version.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js`

[2019-12-11 23:27] #861 closed, assigned to jmckennon

[2019-12-11 23:31] jmckennon commented on #858
These doc issues are now clarified and should be correct according to adal usage in the wiki.

Additionally, all current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and

[2019-12-11 23:31] #858 closed, assigned to nobody

[2019-12-12 00:19] jkyoungchoi commented on #872
Thanks for reply, it worked out afterwords.

[2019-12-12 00:19] #872 closed, assigned to nobody

[2019-12-12 19:54] jmckennon commented on #860
This loop is a known bug in `adal js`, and is fixed in `msal js`. Some browsers will handle this differently, and some users have stated that clearing the browser cached helped fix this.

`adal js` is still supported only for security fixes. All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-f

[2019-12-12 19:54] #860 closed, assigned to nobody

[2019-12-12 20:06] jmckennon commented on #859
Could you please provide the error you're seeing if this is still an issue?

Additionally, your configuration is set up with `popUp: true` which will always popup a login window. You can set this to false to do a full redirect. You also don't need the `callback: acquireToken` field, as this effectively does nothing.

`oauth2AllowUrlPathMatching` should allow you to achieve this.

Yes, generally on

[2019-12-12 21:28] jmckennon commented on #856
If this is still an issue, can you please provide some more information? Like the configuration you're passing into `AuthenitcationContext`. These redirects also have to be registered in Azure, yes.

Additionally, that redirect loop is a known bug in `adal js`, and is fixed in `msal js`. `adal js` is still supported only for security fixes. All current authentication work from Microsoft is deliver

[2019-12-12 21:30] jmckennon commented on #855
Yes, `adal js` supports only v1 endpoints and `msal js` supports both v1 and v2.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-12 21:30] #855 closed, assigned to nobody

[2019-12-12 21:37] jmckennon commented on #854
This bug is fixed in `msal js`, or you can use the workaround stated by JonasKs. Closing this as it looks like the problem is solved.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any adva

[2019-12-12 21:37] #854 closed, assigned to nobody

[2019-12-12 21:50] jmckennon commented on #853
Unfortunately, we have no plans for `adal js` to support Brave at this time. While there is not official support for Brave in `adal js`, `msal js` supports it, as we support Chromium-based browsers.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only

[2019-12-12 21:50] #853 closed, assigned to nobody

[2019-12-12 21:54] jmckennon commented on #852
We now have a wiki page on issues related to Safari [here](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Known-issue-on-Safari).

Additionally, all current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend

[2019-12-12 21:54] #852 closed, assigned to nobody

[2019-12-12 22:02] jmckennon commented on #851
The documentation for `adal js` should be updated and working for this issue, per the wiki page [here](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Config-authentication-context).

It is also correct that `adal js` only supports the v1 API. `msal js` supports both v1 and v2. We highly recommend using `msal` over `adal`.

All current authentication work from Microsoft is del

[2019-12-12 22:02] #851 closed, assigned to nobody

[2019-12-12 22:08] jmckennon commented on #859
Ahh--I'm blind and didn't notice the error was actually in the title. My bad.

Nonetheless, if you're still seeing issues, please respond and we can guide some usage and debugging, as this sounds like a usage error. Double check to make sure that the redirectURI being set in the code (there is a default of window.location.href) and the one set in Azure are indeed the same.

[2019-12-12 22:11] jmckennon commented on #850
This bug is fixed in `msal js`. All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-12 22:11] #850 closed, assigned to nobody

[2019-12-12 22:12] jmckennon commented on #849
This is a known bug in `adal js`, and is fixed in `msal js`. You can also use the workaround stated by @bjaskj for `adal js`. All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feat

[2019-12-12 22:12] #849 closed, assigned to nobody

[2019-12-12 22:16] jmckennon commented on #847
I'm going to guess (please correct me if I'm wrong here) that this is meant for the [Adal for Android](https://github.com/AzureAD/azure-activedirectory-library-for-android) team. I'll be closing this here. If this is still an issue and you do believe it is applicable to the JavaScript library, please comment again here, else this issue should be brought up with the Android team.

[2019-12-12 22:16] #847 closed, assigned to jmckennon

[2019-12-12 22:21] jmckennon commented on #846
This was done as #839, sorry for the untimely release.

Additionally, all current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-12 22:21] #846 closed, assigned to nobody

[2019-12-12 22:52] jmckennon commented on #845
This bug is fixed in `msal js`. All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-12 22:52] #845 closed, assigned to nobody

[2019-12-12 23:01] jmckennon commented on #844
This is actually possible today, but there are some caveats/risks associated with this, so we generally do not recommend redirecting to another domain. You can set your `redirectURI` in the Azure portal and in `adal js` to be something like `app.domain.com`, but make the original login request from `domain.com`. The risk here is that all responses, errors, etc. will now all be sent to `app.domain.

[2019-12-12 23:01] #844 closed, assigned to nobody

[2019-12-12 23:13] jmckennon commented on #843
This functionality is intended, as `renewToken` is meant to specifically use an iFrame all the time. If you want to popup again, you can use `acquireToken` with `popup=true` as you mention, or `acquireTokenPopup`. These are functionally the same as renewing a token, as you'll just be obtaining a new one instead.

Additionally, all current authentication work from Microsoft is delivered through the

[2019-12-12 23:13] #843 closed, assigned to nobody

[2019-12-12 23:17] jmckennon commented on #842
I don't believe `adal js` will support your use case here. `msal js`, the more modern project, does support special iframe-in-iframe scenarios and would likely work better here. Can you try installing and using the latest version of [msal js](https://github.com/AzureAD/microsoft-authentication-library-for-js), and reporting on that repo if you are still having issues?

Additionally, all current au

[2019-12-12 23:17] #842 closed, assigned to nobody

[2019-12-12 23:20] jmckennon commented on #835
These seemingly intermittent timeouts are a known bug in `adal js`. The timeouts and the rest of these bugs have been fixed in `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-12 23:20] #835 closed, assigned to nobody

[2019-12-12 23:20] #833 closed, assigned to navyasric

[2019-12-12 23:27] jmckennon commented on #829
Closing this issue as it seems this is no longer a problem.

Additionally, all current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-12 23:27] #829 closed, assigned to nobody

[2019-12-12 23:28] #827 closed, assigned to navyasric, sameerag

[2019-12-12 23:33] jmckennon commented on #826
This is one of the pitfalls of `adal js`. Referencing #752 again as this is a similar situation. These things are all fixed in `msal@1.2.0`. All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for an

[2019-12-12 23:33] #826 closed, assigned to navyasric

[2019-12-12 23:34] #822 closed, assigned to nobody

[2019-12-12 23:37] jmckennon commented on #811
@sameerag was this fixed with the release of `msal@1.2.0`?

[2019-12-12 23:50] jmckennon commented on #804
Currently, the `sub_error` or `error_subcode` fields are supported by neither `adal@1.0.18`, nor by `msal@1.2.0`. `sub_error` specifically will be supported sometime in Q12020 in `msal`, after the release of `2.0.0` and the introduction of the auth-code flow. The server team currently doesn't provide any of this information on their implicit flow endpoints, so we are unable to surface this info cu

[2019-12-12 23:50] #804 closed, assigned to nehaagrawal

[2019-12-12 23:56] jmckennon commented on #802
Since we are generally only making new releases of `adal` for security fixes and it has been some time since this has been brought up, I'll be closing this issue.

[2019-12-12 23:56] #802 closed, assigned to sameerag

[2019-12-13 00:01] jmckennon commented on #801
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-13 00:01] #801 closed, assigned to nehaagrawal, sameerag

[2019-12-13 00:09] jmckennon commented on #800
Since it looks like @rajsolanki73 has found a workaround, I'll be closing this issue.

Additionally, all current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes

[2019-12-13 00:09] #800 closed, assigned to jmckennon

[2019-12-13 00:11] jmckennon commented on #797
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-13 00:11] #797 closed, assigned to nobody

[2019-12-13 00:16] jmckennon commented on #793
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

`msal-angular` is specifically being worked on and ported to the latest release, `msal@1.2.0`. The

[2019-12-13 00:16] #793 closed, assigned to nobody

[2019-12-13 00:16] #785 closed

[2019-12-13 00:17] #781 closed

[2019-12-13 00:21] jmckennon commented on #776
Unfortunately, `adal js` is only being updated for security fixes, and we do not intend to support a custom storage option for `adal js` at this time. We recommend using the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) to get new features and bugfixes.

If you are still looking to use a custom storage, we recommend using one of the other msal librari

[2019-12-13 00:21] #776 closed

[2019-12-13 00:29] jmckennon commented on #773
@DenisChimborDev is correct, especially on 1. Please make sure that both the config and the Azure portal contains the proper `redirectURI`.

I'll be closing this issue as it's been some time, and the general suggestion is to move to the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js), which is has far more support. `adal js` is currently only being upda

[2019-12-13 00:29] #773 closed

[2019-12-13 00:39] jmckennon commented on #772
Unfortunately, `adal js` is generally not being updated except for high priority security fixes. You may have to defer to the `react-adal` maintainers for a workaround. Infinite redirect loops are a known bug here.

We also recommend that people move to the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js), as this is the library that is getting all of Mi

[2019-12-13 00:39] #772 closed

[2019-12-13 00:46] #770 closed

[2019-12-13 00:48] jmckennon commented on #771
Closing this issue as there hasn't been a response in some time, and we're assuming this is no longer a problem.

Additionally, all current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced fe

[2019-12-13 00:48] #771 closed

[2019-12-13 00:49] jmckennon commented on #768
All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication-library-for-js). `adal js` is still supported only for security fixes. We recommend moving to `msal js` for any advanced feature requests and bugfixes.

[2019-12-13 00:49] #768 closed

[2019-12-13 00:54] jmckennon commented on #756
@SaifAsad @husseinkorly if you're still seeing this issue, can you elaborate by providing some more code, like showing the config being passed into `AuthenticationContext`, and also give some information about how you've configured the Azure portal? `adal js` is still supported only for security fixes, which this may apply.

Otherwise, we recommend moving to the `msal js` library [here](https://gi

[2019-12-13 00:58] jmckennon commented on #875
Can you provide a bit more context here about how you're using the library? You can set custom a `redirectUri` in the config passed to `AuthenticationContext`, which also needs to be registered in the Azure portal. By default, that redirect is `window.location.href`. Refer to the [wiki](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Config-authentication-context).

[2019-12-13 01:08] jmckennon commented on #884
Following the [wiki](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Config-authentication-context), can you try `import * as AuthenticationContext from 'adal-angular/lib/adal'` when you want to use the library?

I'm mostly looking for more context here, as it looks like some of your naming conventions are off. `AdalAngular` doesn't seem to be declared anywhere specifically as

[2019-12-13 01:09] jmckennon commented on #867
cc @sameerag @jasonnutter - can we provide some guidance here?

[2019-12-13 01:11] jmckennon commented on #863
If this is still an issue, can you provide a bit more context with the code you're using? We also have the [SSO wiki page](https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/Sso) to answer some general SSO questions, which may help.

All current authentication work from Microsoft is delivered through the `msal js` library [here](https://github.com/AzureAD/microsoft-authentication

[2019-12-13 01:12] jmckennon commented on #810
cc @sameerag - Do we have a recommended usage here? Or is this mostly an external usage question?

[2019-12-13 01:13] jmckennon commented on #830
@sameerag is this fixed in `msal@1.2.0`?

[2019-12-13 01:40] AndrewCraswell commented on #864
Hey, @jmckennon. I just got off the call with a customer who is experiencing this issue today using MSAL `1.2.0-beta.5`. Just to clarify, I assume that even after the server team has fixed, we will need the affected customers to clear their cookies?

My guess is that the user was impacted prior to the fix, and now post-fix will continue to encounter the error until a full cookie purge.

[2019-12-13 06:54] eirikb commented on #797
@jmckennon Thanks. Just a note, msal doesn't work with Add-ins either - https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1072

[2019-12-17 09:17] vasanthtt opened #893 "adal login failed on SharePoint Document library"
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

I have used **adal** in ListView Command Set extension. When I am opening a document library, adal inside extension is trying to login, that redirects the page to below

`https://login.microsoftonline.com/abc.onmicrosoft.com/oauth2/authorize?response_type=id_token&client_id=xxxx-xxx-xxx-xx&redirec

[2019-12-17 10:04] HarpreetHans commented on #888
any progress on this?

[2019-12-18 17:20] yesoreyeram commented on #811
@sameerag was this fixed? Anyone have workaround?

[2019-12-24 08:01] svaidyans commented on #323
I am also getting the same issue.  Last week got an update to my MacOS (Catalina 10.15.2) with Safari (Version 13.0.4 (15608.4.9.1.3)).  Previously an enterprise app I am developing with MSAL worked fine, but now giving the same error.  Checked that cross-site cookies are allowed.  App works fine with Firefox and Chrome.  Please reopen issue and suggest fix.  Thanks in advance.

[2020-01-05 21:39] ImenTurki commented on #222
did any one find an example, am tring to get authentication token and use it to access SharePoint APIs.
any idea ?

[2020-01-10 11:31] hiteshtare commented on #323
I am also facing similar issue. I recently tested my angular 7 app on Safari Browser (13.0.4) on MacOS (Catalina 10.15.2). The app is working fine on Chrome browser on MacOS and all other platforms. Screenshot attached for reference.
![Screenshot 2020-01-10 at 3 06 06 PM](https://user-images.githubusercontent.com/2217802/72150033-9128c500-33ca-11ea-80f1-ed610bc9e881.png)

[2020-01-10 12:59] hiteshtare opened #894 "AADSTS50058: Silent Sign-in fails on Safari browser in Angular 7 app"
## I'm submitting a...
[ ] Bug report

## Browser:
- [ ] Safari version 13.0.4

## Library Name
- [ ] adal-angular 1.0.17
- [ ] angular/core 7.1.0

## Library version
Library version: 1.0.17

## Current behavior
Throws the following error in console:
_[Error] AADSTS50058: A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's session were not sent in t

[2020-01-10 19:15] jasonnutter commented on #894
@hiteshtare Is Safari Intelligent Tracking Protection enabled? If so, it is a known issue that this will break login with our libraries. This will be addressed in `msal` by switching from the Implicit Flow to the Auth Code Flow, but will not be addressed in ADAL.

[2020-01-19 13:17] niravkanakhara opened #895 "Is there any work is happening to solve Samesite cookie issue fro google chrome browser?"
Is there any work is happening to solve Samesite cookie issue for google chrome browser?

I know the expectation is to migrate existing application from adal-angular to msal-angular, but considering the seriousness of production application, would it be possible for adal-angular team to provide intermediate fix on adal-angular for Samesite cookie issue?

Meanwhile I am trying to ask my team stretc

[2020-01-21 16:36] jasonnutter commented on #895
We have made the necessary updates in AAD to solve the Samesite cookie changes coming to Chrome (no updates are needed to the library itself).

[2020-01-23 19:07] jmckennon commented on #856
Closing this as we're assuming this is no longer an issue. Again, we recommend everyone to switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for better features and bugfixes.

[2020-01-23 19:07] #856 closed, assigned to jmckennon

[2020-01-23 19:10] jmckennon commented on #859
Closing this as we're assuming this is no longer an issue. We recommend that everyone switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for advanced features and bugfixes.

[2020-01-23 19:10] #859 closed, assigned to jmckennon

[2020-01-23 19:11] jmckennon commented on #863
Closing this as we're assuming this is no longer an issue. We recommend that everyone switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for advanced features and bugfixes.

[2020-01-23 19:11] #863 closed, assigned to jmckennon

[2020-01-23 19:14] jmckennon commented on #869
Closing this as we're assuming this is no longer an issue. We recommend that everyone switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for advanced features and bugfixes.

[2020-01-23 19:14] #869 closed, assigned to nobody

[2020-01-23 19:14] jmckennon commented on #875
Closing this as we're assuming this is no longer an issue. We recommend that everyone switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for advanced features and bugfixes.

[2020-01-23 19:14] #875 closed, assigned to jmckennon

[2020-01-23 19:20] jmckennon commented on #884
Closing this as we're assuming this is no longer an issue. We recommend that everyone switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for advanced features and bugfixes.

[2020-01-23 19:20] #884 closed, assigned to jmckennon

[2020-01-23 19:21] jmckennon commented on #881
Closing this as we're assuming this is no longer an issue. We recommend that everyone switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for advanced features and bugfixes.

[2020-01-23 19:21] #881 closed, assigned to nobody

[2020-01-23 19:21] jmckennon commented on #883
Closing this as we're assuming this is no longer an issue. We recommend that everyone switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for advanced features and bugfixes.

[2020-01-23 19:21] #883 closed, assigned to nobody

[2020-01-23 19:23] jmckennon commented on #891
Closing this as we're assuming this is no longer an issue. We recommend that everyone switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for advanced features and bugfixes.

[2020-01-23 19:23] #891 closed, assigned to nobody

[2020-01-23 19:24] jmckennon commented on #890
Closing this as we're assuming this is no longer an issue. We recommend that everyone switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for advanced features and bugfixes.

[2020-01-23 19:24] #890 closed, assigned to nobody

[2020-01-23 19:24] jmckennon commented on #892
Closing this as we're assuming this is no longer an issue. We recommend that everyone switch to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js) for advanced features and bugfixes.

[2020-01-23 19:24] #892 closed, assigned to nobody

[2020-01-23 19:29] jmckennon commented on #893
Can you try switching to `msal js` [here](https://github.com/AzureAD/microsoft-authentication-library-for-js)?

`adal js` is no longer being supported outside of high-priority security fixes. We recommend everyone switch to `msal js` for these sorts of advanced fixes and better features.

[2020-02-04 09:14] sandysandajan commented on #895
Hi,

Does this mean that there would be no updates on the library to handle the issue? Currently we are experiencing the samesite issue.
![image](https://user-images.githubusercontent.com/34727891/73730485-c8905480-4771-11ea-9dbe-371853faaa18.png)

We are using v1.0.10.

Regards,
Sandy

[2020-02-04 18:04] jasonnutter commented on #895
@sandysandajan The cookies that are causing that message have no impact on authentication for the library, as the necessary cookies have been properly updated. Closing.

[2020-02-04 18:04] #895 closed, assigned to nobody

[2020-02-05 01:52] sandysandajan opened #896 "Questions regarding SameSite Chrome 80 Issue"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Other... Please describe:
</code></pre>

## Browser:
- [x ] Chrome version 80
- [ ] Firefox version XX
- [ ] IE version XX
- [ ] Edge version XX
- [ ] Safari version XX

## Library Name

[2020-02-05 01:53] sandysandajan commented on #896
To add, https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/895, it says in this issue that there would be no updates on the library for this one. If none, what would be the work around or alternative solution so that there would be no error/warning to be found when opening the developer tools.

[2020-02-05 16:34] jasonnutter commented on #896
@sandysandajan Some cookies were intentionally not marked as `SameSite`, but those do not impact the functionality of the library. So any warnings for `login.microsoftonline.com` can be ignored. More: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1037#issuecomment-578345613

[2020-02-10 12:06] andreav commented on #761
Hello @HofmT did you solve this issue? I have the exact same problem (white page) and i cannot understand why.

The page works correctly if I visit it directly but it is not rendered (it is blank) when arriving from ADFS login.

Any help is appreciated.

[2020-02-13 07:10] gavrielsl commented on #894
@jasonnutter we also have this problem.

did you know how to solve it ?

[2020-02-13 18:58] jasonnutter commented on #894
@gavrielsl Are third-party cookies disabled? If so, the workaround is to enable third-party cookies (and disable ITP). Otherwise, you will need upgrade the next version of MSAL (currently in development, not ready for production yet) which will mitigate Safari (in most scenarios) by switching to the Auth Code Flow w/ PKCE.

[2020-02-19 10:37] HofmT commented on #761
Sorry, I'm not working on this project anymore and cannot really remember what the state was at the end...

[2020-02-19 10:42] andreav commented on #761
No problem, thank you for you response, I solved the issue with this:

https://github.com/matt-ankerson/vue-adal/issues/2#issuecomment-461271623

Interestingly, a response to an issue of yours! 😄

[2020-03-18 16:17] jasonnutter commented on #896
Closing, as no further action. Let us know if you have further questions.

[2020-03-18 16:17] #896 closed, assigned to nobody

[2020-03-19 12:36] bondort commented on #544
I still have this issue in angularJs and I can't upgrade my project to angular-4...
I think this issue needs to stay open, as it was never resolved, the OP just moved to a different angular version, which is not a fix.

Should I just tell my client that IE is not supported?
This works perfectly in Chrome, Firefox, and even Edge...

Thanks

[2020-03-20 06:09] bondort commented on #544
In case anyone has this problem, I managed to find a simple solution.
I've debugged the login process with one of my colleges, and we found out that the issue is in the _getHash function, as IE sends a bigger part of the URL segment.
Other browsers only had the '#PARAMETERS', but IE had '#!/URL_SEGMENTS#PARAMETERS'.

so TL:DR the fix was to add a simple regex, to remove the extra URL segments from

[2020-03-20 22:12] DanielLitvak commented on #323
This is also happening in chromium, and on every browser if [privacy badger](https://www.eff.org/privacybadger) is turned on.
chromium screenshot:
![image](https://user-images.githubusercontent.com/26710540/77209676-83e53080-6b07-11ea-8e0c-ae341e62efc4.png)

Only **solution** I figured is turning privacy badger off (specifically on login.microsoftonline.com) and for chromium is to **unblock** thir

[2020-03-20 22:25] DanielLitvak commented on #675
please see the errors others are facing. this happens when cross-site cookies are blocked: https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/323#issuecomment-601932294

[2020-03-20 22:46] jasonnutter commented on #323
@DanielLitvak The implicit flow (which adal.js and msal.js implement) relies on third-party cookies, so if they are disabled, it is expected the library will not work properly.

We are working on a [new version of MSAL](https://www.npmjs.com/package/@azure/msal-browser) (currently in development available in alpha for testing) which uses the Auth Code Flow w/ PKCE, which will mitigate the need for

[2020-03-20 23:51] DanielLitvak commented on #323
This is great! thanks!

Are there any alternatives that you know of other than the alpha?

[2020-03-23 16:33] jasonnutter commented on #323
@DanielLitvak We will have more updates coming soon, keep an eye on that npm package.

[2020-03-30 13:02] dalaoque commented on #811
I have the same problem. Is there a solution?

[2020-03-30 13:32] dalaoque commented on #811
Ok, I solved it!

[2020-03-30 13:33] kameelyan commented on #811
Care to share your solution @dalaoque ?

[2020-03-30 14:34] abhilashrainchu commented on #811
Can you please share the solution

Sent from my iPhone

[2020-04-02 04:38] poly-eric commented on #811
In my view, this problem is caused by your credential is stored in SSL cert with msal.. (you may try to clear ssl cert in internet option) but msal logout does not remove your certification... so when you attempt to the login page, it keeps you sign-in..

[2020-04-07 13:06] ssuvorov opened #899 "[Help wanted] Redirect flow + react-router"
## Hey, I'm submitting a...
- [x] Documentation issue or request
- [x] Help wanted

## Library Name
- [x] msal.js ^1.0.0
- [x] create-react-app
- [x] react-router-dom ^5.1.2

I've created a repo based on **[react-sample-app](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/react-sample-app)** which uses redirection for login. But I spent a few days just trying to

[2020-04-08 07:38] ssuvorov commented on #899
I guess there is a better repo for asking this. Moved to: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1474

[2020-04-08 07:38] #899 closed, assigned to nobody

[2020-04-20 11:25] ghost commented on #221
Hi how can i use the code . I have the same problem as above

[2020-04-24 17:17] m-sunilkumar opened #900 "After blocking third party cookies in the browser, browser treating login.microsoftonline.com as third party cookies and blocking it."
After blocking third party cookies in the browser.Login is not happening because "login.microsoftonline.com" is blocked to set cookies as it is treated as third party cookies.Is there any way to configure the authentication setup so that "login.microsoftonline.com" will not be treated as third party cookies and login actually happens even with blocked third party cookie settings. I have used **rea

[2020-04-25 18:22] ShahnavazKazi commented on #323
@hiteshtare - Did you get around the issue by any chance without user needing to change settings at their end? We are facing the same issue in iOS safari. @jasonnutter - Is MSAL-browser the only way to remediate AADSTS50058 error or are there ways in existing ADAL or MSAL library which can help fix the issue without user needing to unblock "prevent cross-site tracking" or "third-party cookies"? Al

[2020-04-27 16:29] jasonnutter commented on #323
@ShahnavazKazi

No, unfortunately. By design, the implicit flow (which MSAL v1 implements) requires third-party cookies.

We are working on upgrading the MSAL Angular wrapper to v1 right now, and will work to upgrade it to v2 at some point in the future, although that work has not yet been scheduled.

[2020-04-28 17:19] austingriff opened #901 "Requesting an $on alert when a token is refreshed to update app headers appropriately."
Is it possible to get an alert on the token refresh to trigger an update for our application? Something like $on(adal:acquireRefreshTokenSuccess) so we can update our global headers when our token is refreshed. Or could you provide guidance on how to handle this situation?

## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug

[2020-04-30 07:10] ShahnavazKazi commented on #323
Thanks @jasonnutter! We got around the issue by handling acquireToken failure and invoking acquireTokenRedirect. It seems to be working though it cause an additional redirection. In case we decide to go for MSAL-browser, do you recommend it for production code considering it is currently in beta?

Also, all links on MSAL-browser's npmjs page lead to a broken page.

[2020-04-30 16:38] jasonnutter commented on #323
No, we do not recommend using beta / preview versions in production.

Yep, there's already an issue open to fix those, thanks! https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1559

[2020-05-11 07:16] nilsbarthelme commented on #323
Hi @ShahnavazKazi, do you mind giving more detail on how you solved the problem? I am not able to get a access token from a aquireTokenRedirect. I would very much appreciate your help :)

[2020-05-12 09:23] andreav commented on #888
Hello I have the same problem. I'm using adal.js because I'm on Windows Server 2016.

Any update?

Thank you

[2020-05-12 09:49] andreav commented on #888
I had the same problem and #290  gave me the solution.
For me, token was not updated because there was no need to update it, it was not expired.
After setting expireOffsetSeconds config option acquireToken works as expected and token is renewed.

[2020-05-14 19:43] ShahnavazKazi commented on #323
@nilsbarthelme - We solved in following way. The code snippet is in Angular + Typescript + RxJS. Hope it helps.

[code]

[2020-05-15 03:30] lingfeidiewu opened #905 "Login with client secret"
Is there any way to login by the client secret string with ADAL.js?

[2020-05-22 04:36] cclauson opened #908 "Resource Owner Password Credential Grant in browser"
Is it possible to do an [ROPC grant](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc) in the browser using ADAL? I'm fully aware of all of the OAuth caveats surrounding this grant, but it would actually be extremely useful in my situation for the purposes of automated testing.

Thanks

[2020-05-23 09:15] donamj opened #909 "Infinite loop when unauthorized user tries to access page (authorization via adal-angular)"
I have a web based dashboard in react that authenticates user with adal-angular. Authorized users can access the page without any issue, but when a user is unauthorized, they get into an infinite loop with login page.

This was my initial code:
[code]
After moving 'AuthContext.handleWindowCallback();' inside the first if condition, the user doesn't get in to infinite loop anymore. But the error pa

[2020-05-24 07:25] moraiMicrosoft opened #910 "localStorage doesn't get update"
Hi!

We are using Application insights into our web application by adding the script to our HTML file.
When deleting the cookies and local storage from the browser data, only the cookies are set with the ai values. It used to also update the local storage with an equivalent value. Now, it set an empty value or doesn't set anything at all.
Looking into the docs didn't result in any function or para

[2020-05-24 12:36] #910 closed, assigned to nobody

[2020-05-27 19:10] mishas2303 commented on #323
Sorry for commenting on closed thread, @jasonnutter . Is the fix planned for ADAL library too?

[2020-05-27 19:19] jasonnutter commented on #323
No, we will not be fixing the ADAL.js library. ADAL.js users should upgrade to MSAL.js v2.

[2020-05-29 11:17] Macro21 commented on #580
In my case just IE11 faill with this error.

The fix for me was that IE11 need this extra config:

![image](https://user-images.githubusercontent.com/24574303/83254268-cf265a00-a1ae-11ea-823f-be89c4a2a792.png)

[2020-06-04 22:00] jasonnutter commented on #905
@lingfeidiewu No, there is not. ADAL.js implements the Implicit Flow, which is for public client applications. Public client applications are for scenarios where the client application cannot keep a secret (e.g. web browsers), such as a secret key.

ADAL Node will support authentication via secret key: https://github.com/AzureAD/azure-activedirectory-library-for-nodejs

[2020-06-04 22:00] #905 closed, assigned to nobody

[2020-06-04 22:56] jasonnutter commented on #908
@cclauson It is not currently possible to do ROPC with ADAL.js, and we have no plans to add it to ADAL or MSAL.

[2020-06-05 06:11] XI1687-kapilmittal opened #912 "Acquire token silently fails when MFA code is required"
InteractionRequiredAuthError: AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access.

I am getting this issue when trying to get token silently.

[2020-06-09 18:18] pbatey opened #913 "Support for `/oauth2/v2.0/authorize`"
It looks like `/oauth2/authorize` is hard-coded in adal.js -- When I use it as-is I get the following error:

[code]

My admin team recommends that I use the V2 endpoint instead of V1 at `/oauth2/v2.0/`, but there is no way to configure it in this library.

[2020-06-09 18:41] pbatey commented on #913
I'm working on a pull-request. Seems that will require support for a 'scope' configuration option as well.

[2020-06-09 18:43] jasonnutter commented on #913
ADAL.js intentionally uses the v1 endpoint, and we have no plans to add support for v2. MSAL.js switches to the v2 endpoint, and is backwards compatible with ADAL.js and v1. If you need v2 tokens for your applications, we recommend upgrading to MSAL.js: https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-core

[2020-06-09 18:44] pbatey commented on #913
Thanks for the response. It confirms the update I just got from my admin team.

[2020-06-09 18:45] #913 closed, assigned to nobody

[2020-06-11 06:39] hiteshtare commented on #323
I tried implementing the above but still was unable to resolved this issue on Safari browser.
Please check the below code snippet:
[code]
 @ShahnavazKazi: Please share your suggestions. Thanks in advanced

[2020-06-17 09:21] Mhbuur commented on #900
Facing the same challenge here.

The browser development trend of blocking third party cookies is on a  rise. Recently Chrome launched an update blocking third party cookies in In Cognito mode by default, and Mozilla is taking it further for standard sessions too.

https://venturebeat.com/2020/05/19/google-chrome-83/

https://venturebeat.com/2019/06/04/firefox-enhanced-tracking-protection-blocks-t

[2020-06-17 16:58] jasonnutter commented on #900
We are solving this for most scenarios in MSAL.js v2 by switching from the Auth Code Flow. See https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1000 for more details (this work will not be done ADAL.js).

[2020-06-18 13:31] Mhbuur commented on #900
@jasonnutter so no updates to ADAL in this regard?

[2020-06-18 17:11] jasonnutter commented on #900
No, you will need to upgrade to MSAL.js v2 to address problems with third-party cookies.

[2020-07-01 09:17] raj-here opened #916 "AADSTS50105: Page not rendering on server Environment"
Hi,
In local, This is page being rendered if The signed in user 'xzz@abc.microsoft.com' is not assigned to a role for the application.

It is working fine.

![image](https://user-images.githubusercontent.com/37954436/86225842-6ca6ec00-bba8-11ea-8cb0-654610750175.png)

But when I'm trying to produce the same thing on server, It is not being rendered.

Earlier, It was fall under infinite loop. I've

[2020-07-13 13:55] d4rk0de opened #918 "integration with Deno?"

[2020-07-15 06:53] ShahnavazKazi commented on #323
@hiteshtare - You are invoking acquireToken in error callback instead of acquireTokenRedirect if you see in the snippet I provided. I believe that is the issue.

[2020-07-21 13:49] monstercr commented on #918
its beginning :)

[2020-07-26 11:00] vladkasianenko opened #919 "After migrating from 0.x to 1.x msal can't get token from URL"
After migrating from `msal@0.2.2` to the `msal@1.3.3` I have different tokens.
There were no changes at the Azure portal.

After `_msalService.login()` I have this URL:
[code]

However, with `acquireTokenRedirect` in the URL I have something like this:
[code]
As you can see, this URL contains both scopes and valid token. But how can I grab it in the `handreRedirectCallback`?

I also use `MsalGuard

[2020-07-28 07:37] vladkasianenko commented on #919
Discussiong moved [here](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2036).

[2020-07-28 07:37] #919 closed, assigned to nobody

[2020-08-05 09:35] pramodpadmanabhi commented on #867
@tushargupta51  Facing the same issue as above mentioned, AcquireToken() always returns cached Token even after expireOffSetSeconds is reset

@abhaygitty Have U found any workaround?

[2020-08-31 13:19] shayanpaul commented on #323
@ShahnavazKazi
I m getting this undefined.
const adal: any = <any>window._adalInstance; //AdalService doesn't expose adal context and hence this hack

[2020-09-03 17:33] svr1106 commented on #811
anyone got the solution ?

[2020-09-04 15:50] ShahnavazKazi commented on #323
@shayanpaul - window here is the Javascript global object. Just ensure you are referencing that very object and not any other window object scoped to a different context.

[2020-09-11 21:39] jasonnutter commented on #912
@XI1687-kapilmittal Apologies for the delay. Silent token acquisition can fail for many reasons, including for MFA challenges due to conditional access, which this error appears to be. You can resolve this by invoking one of the interactive methods, acquireTokenPopup or acquireTokenRedirect.

[2020-09-11 21:39] #912 closed, assigned to nobody

[2020-09-11 21:40] #908 closed, assigned to nobody

[2020-09-11 21:40] #900 closed, assigned to nobody

[2020-09-11 21:40] #894 closed, assigned to nobody

[2020-09-11 21:40] jasonnutter commented on #893
Closing due to inactivity.

[2020-09-11 21:40] #893 closed, assigned to jmckennon

[2020-09-11 21:41] jasonnutter commented on #888
Closing due to inactivity.

[2020-09-11 21:41] #888 closed, assigned to pkanher617

[2020-09-11 21:44] jasonnutter commented on #864
Closing due to inactivity, should be fixed for both MSAL and ADAL.

[2020-09-11 21:44] #864 closed, assigned to jmckennon

[2020-09-11 21:44] jasonnutter commented on #830
Closing due to inactivity.

[2020-09-11 21:44] #830 closed, assigned to jmckennon

[2020-09-11 21:46] jasonnutter commented on #756
Closing due to inactivity.

[2020-09-11 21:46] #756 closed

[2020-09-11 21:47] jasonnutter commented on #810
Closing due to inactivity.

[2020-09-11 21:47] #810 closed, assigned to jmckennon

[2020-09-11 21:49] jasonnutter commented on #901
@austingriff Apologies for the delay. Generally speaking, we recommend calling acquireTokenSilent right before you need a token, and ADAL will handle retrieving a token from the cache or making a network request to get a new token.

[2020-09-11 21:49] #901 closed, assigned to nobody

[2020-09-14 00:58] rafaelgrilli92 commented on #830
2 years later and it's still not showing up the option and the issue is being closed due to "inactivity". Noice!

[2020-09-17 13:15] bilalmalik777 opened #921 "after some time redirected to 'The reply URL specified in the request does not match'"
We are using adal-angular in reactjs for authentication from the azure ad. After some time it redirects to the page which is attached below
![MicrosoftTeams-image](https://user-images.githubusercontent.com/23011613/93474918-8a523a80-f8e7-11ea-94d5-0e641599380c.png)
We have no idea why is it happening either it is caused by token expiration or re-login. It is occurring over both local and productio

[2020-09-18 14:18] austingriff commented on #901
Thanks @jasonnutter ! I'll update my application by following your recommendation.

[2020-09-21 18:48] jasonnutter commented on #921
Closing as a duplicate of the issue you posted in the MSAL.js repo.

[2020-09-21 18:48] #921 closed, assigned to nobody

[2020-10-02 09:13] nitrovolnovka commented on #807
@rohitnarula7176 When is next release supposed to be? This issue is closed in Oct 17, 2018 and the latest release was on Feb 27, 2018. (1.0.17)

[2020-10-14 09:34] Aymkdn opened #923 "CDN Links from the README don't work"
Hi,

FYI the links provided in the README dont' work:
[code]

The link returns:
[code]

[2020-10-14 15:44] jasonnutter commented on #923
@Aymkdn Apologies, there has been a delay in getting the latest build uploaded to the CDN. I'll update when that has been resolved.

[2020-11-26 08:57] maxime-ducoroy opened #924 "SAML Support ?"
Hello,

I'm trying to authenticate with an AD FS v3 that doesn't use OAuth but SAML 2, does your package support it?
If the answer is no, do you know which package I can use? because I've been trying for 2 days without success.

[2020-12-28 23:24] MikaBerglund commented on #923
I noticed the same when adding the CDN URL to my app. The previous version 1.0.17 is available at https://secure.aadcdn.microsoftonline-p.com/lib/1.0.17/js/adal.min.js, but you probably figured that our already.

[2021-01-12 06:50] rbrundritt opened #925 "Optimize for better minification"
I noticed that this library was fairly large. When looking through the source code I noticed there is a lot of room for optimizations that will help with the minification process. A couple of tips:

- If you use the keyword "this" more than 3 times in a function, create a local variable for it and reference that. For example `var self = this;` The variable will be minified to a single character an

[2021-01-25 11:06] mekumari opened #927 "ID token not saved to localStorage by saveTokenFromHash call"
We are using adal-angular v1.0.15 2017-07-19, and we have seen a few cases where the ID token included in was not save to localStorage. From Fiddler traces, we saw an ID Token was included in the location header in the # segment. And saveTokenFromHash call did not throw exception. However, when our app restarts, the localStorage is empty. The same logic works for most of the users, but for some, i

[2021-02-10 07:05] vinodbobade commented on #216
Hello, I am having the same issue, after token expiry when it tries to refresh the token getting an error:Nonce received: XXXXX is not same as requested: YYYYY, please help.

[2021-02-10 22:16] scott-lin commented on #216
@vinodbobade, I haven't looked at this in 3.5 years, but I dug up how I worked around it. Please see the discussion on Stack Overflow (https://stackoverflow.com/questions/45232064/infinite-login-loop-when-using-adal-js-1-0-14).

[2021-03-10 15:37] abdullah14 commented on #513
I am struggling with the same issue, have some found any solution?

[2021-03-25 08:52] shabbir-dhangot commented on #100
Why issue is closed. I am still facing issues in 2021.

[2021-04-15 15:30] nominds opened #929 "Verifying signature of JWT issued by Azure AD"
Does ADAL.JS has functionality to validate signature of the token issued by Azure AD using the public key ( referring to jwks_uri ). If yes, then how do I achieve same using ADAL.JS. I have written a SPA and if I try to hit jwks_uri endpoint I receive CORS issue.

[2021-04-15 15:49] jasonnutter commented on #929
@nominds No, it does not. Tokens should only be validated by their intended audience (i.e. the resource defined in teh `aud` claim). Our passport-azure-ad library can be used to do that: https://www.npmjs.com/package/passport-azure-ad

[2021-04-15 16:36] nominds commented on #929
Thanks @jasonnutter for quick response.

aud claim is nothing but a client_id, right ? I remember seeing adal.js checks if client_id matches the aud claim then only it proceeds. Library even validates other claims. But I did not find code where it validates signature to ensure if the token is not tampered.

Do you know if MSAL supports validating token's signature using the public key ?

[2021-04-15 16:42] jasonnutter commented on #929
@nominds No, ADAL.js and MSAL.js do not perform signature validation, as the signature should be verified by the resource the token is intended for (e.g. Microsoft Graph, custom web API).

[2021-04-15 16:46] nominds commented on #929
So the web API consuming the token should connect to jwks_uri to validate the token signature.

[2021-04-16 16:01] #929 closed, assigned to nobody

[2021-04-16 17:28] jasonnutter commented on #924
None of the MSAL/ADAL support SAML, unfortunately. Closing.

[2021-04-16 17:28] #924 closed, assigned to nobody

[2021-04-16 17:30] jasonnutter commented on #925
@rbrundritt Thanks for the feedback. Given ADAL.js is no longer under active development, we won't be prioritizing enhancements like this. We highly suggest apps to move to MSAL.js: https://www.npmjs.com/package/@azure/msal-browser

[2021-04-16 17:30] #925 closed, assigned to nobody

[2021-04-30 07:10] nominds opened #930 "Can ADAL.js point to v2.0 endpoints"
I read from the documentation MSAL supports both v1.0 and v2.0 endpoints. ADAL supports only requesting tokens from v1.0 endpoint. URL: [https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-compare-msal-js-and-adal-js](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-compare-msal-js-and-adal-js)

If I update the endpoints in the config (configuration file) and p

[2021-04-30 16:21] jasonnutter commented on #930
@nominds We do not recommend continuing to use ADAL, and highly suggest moving to MSAL, especially if you need to use the v2 endpoints, as ADAL.js is not tested with the v2 endpoints.

[2021-05-05 15:56] jasonnutter commented on #930
Closing, please let us know if you have further questions by posting in the MSAL.js repo: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues

[2021-05-05 15:56] #930 closed, assigned to nobody

[2021-05-07 21:15] jasonnutter commented on #923
Closing, as the cdn has been updated, apologies for the delay.

[2021-05-07 21:15] #923 closed, assigned to jasonnutter

[2021-05-07 21:18] jasonnutter commented on #811
To enable post logout redirect, you need to register a front-channel logout uri, and add your post logout redirect as a redirect uri in your app registration in teh Azure portal.

Closing, if you are still having issues, please open a new issue at the MSAL.js repo (where we are moving ADAL.js): https://github.com/AzureAD/microsoft-authentication-library-for-js/issues

[2021-05-07 21:18] #811 closed, assigned to sameerag

[2021-05-07 21:27] jasonnutter commented on #909
Closing, as I assume this has been resolved, and we highly recommend moving to MSAL.

If you have further questions, please open new issue at the MSAL.js repo: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues

[2021-05-07 21:27] #909 closed, assigned to nobody

[2021-05-07 21:29] jasonnutter commented on #867
Closing, as assuming this has been resolved. ADAL.js is no longer actively maintained, so we highly recommend moving to MSAL.js.

If you have further questions, please open a new issue in the MSAL.js repo: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues

[2021-05-07 21:29] #867 closed, assigned to jmckennon

[2021-05-18 15:04] cryan80 commented on #119
G

[2021-05-30 22:42] mehdiibrahim opened #932 "Chrome v91, Refused to display 'https://login.microsoftonline.com/' in a frame because it set 'X-Frame-Options' to 'deny'."
I have an AngularJS website that uses Azure AD for authentication through adal-angular. It has worked fine for years. But with the most recent release of Chrome (v91), all of our users are now getting the following error:

"AADSTS50196: The server terminated an operation because it encountered a client request loop. Please contact your app vendor."

Other times, we get this error in the console wi