[2017-09-01 01:04] KJee85 commented on #619
It seems maybe the occurrences are separate. I had one of our affected users completely reset Edge via:

[code]

Before running the above, he would attempt to hit our prod site as normal and would get stuck on /login with Invalid State. Now he no longer sees this behavior with Edge fully reinstalled.

In InPrivate however he still sees the issue, getting stuck at /login with Invalid State, in this

[2017-09-01 07:47] mathilde-pellerin commented on #456
@tushargupta51 I checked all the issues related to this one (#471 and from there #456 #486 #445) and all are closed. But I still get the problem, even though I'm using sessionStorage.
Should I open a new issue?

[2017-09-01 17:25] ajota opened #620 "Issue with the html5mode in angular 1.6.6, when the urls has the default prefix ('!'). Apparently on this version this featured is enabled by default."
Hi,

When I updated the angular in my application from 1.4.8 to 1.6.6 apparently the  angular  html5Mode is enable by default so this cause that all the urls contain a prefix ('!') after the traditional hash that is normally in angular routes. but when this is present, the adal library has not the ability to identify the 'id_token' to validate the data delivered from azure active directory.

[2017-09-01 21:41] KJee85 commented on #619
It does not appear that the hard Edge reset works for everyone. Just tried it on another affected user and was seeing the same Invalid State issue after the reset. Hoping I can get some pointers here for something to try. From what I can tell I'm following the samples around this so not sure where to start changing things.

Outside of just adding Logging = ... is there maybe a more verbose way I c

[2017-09-03 19:45] jmprieur commented on #619
@KJee85 do you know what is special for these users? a version of the OS? a version of Edge? would they be guest users of the Azure Active directory?

[2017-09-03 19:47] jmprieur commented on #617
@rohitnarula7176 I cannot think of a reason of keeping LOGIN_ERROR after logout succeeded. Or am I missing something?

[2017-09-03 19:53] jmprieur commented on #610
Closing the issue, this is working as expected. you can redirect to the page you want after logout using the Logout URL.

[2017-09-03 19:53] #610 closed

[2017-09-03 19:56] jmprieur commented on #608
Closing as duplicate of #617

[2017-09-03 19:56] #608 closed

[2017-09-03 19:57] jmprieur commented on #617
See also #608

[2017-09-03 20:01] jmprieur commented on #604
ADAL.js remains quite low level, but I understand that you'd like to have a higher level API / maybe a wrapper which takes care of the interaction_required or login_required.
Adding a "Needs Investigation" label to make sure we understand fully you requirements here.

[2017-09-03 20:03] jmprieur commented on #600
Thanks for the feedback. We intend to work on plans to support Angular 2/4 and react.

[2017-09-03 20:09] jmprieur commented on #593
Thanks for your feedback @fikkatra
Could you please try with ADAL.js 1.0.15 ?

[2017-09-03 20:11] jmprieur commented on #591
Closing a a duplicate

[2017-09-03 20:11] #591 closed

[2017-09-03 20:18] jmprieur commented on #589
@russgove : are you sure that 'f8f8d2ad-7c9d-4aac-80eb-3f00a263c879' is the resource ID of the SharePoint API you want to call? this seems more like an AppId to me.

I've found this article on using ADAL.js with SharePoint: http://www.andrewconnell.com/blog/adal-js-cors-with-o365-apis-files-sharepoint. It's not very recent, but might help you?

Proposing to close this issue as external. Feel free

[2017-09-03 20:18] #589 closed

[2017-09-03 20:25] jmprieur commented on #583
I believe that cookies are storied both for your apps and for Azure AD. When you use the Chrome command, you delete the cookies everywhere, but the code in the app does not have right to delete (or read) cookies for another isolated storage (Azure AD's). This is by browser's design and for security and privacy reasons. Therefore I don't think you can do programmatically.
Did you try with ADAL.js 1

[2017-09-03 20:25] #583 closed

[2017-09-03 20:26] jmprieur commented on #583
Closing for now (the question is answered). Feel free to reopen;

[2017-09-03 20:27] jmprieur commented on #578
Duplicate of #600

[2017-09-03 20:27] #578 closed

[2017-09-03 20:30] jmprieur commented on #571
Closing this question which is answered on Stackoverflow see link above

[2017-09-03 20:30] #571 closed

[2017-09-03 20:30] jmprieur commented on #544
@aline-almeida @cserkaran did you try with ADAL.js 1.0.15?

[2017-09-03 20:35] jmprieur commented on #529
Yes, ADAL.js only supports Single Page applications for the Azure AD V1 endpoint.
Closing this issue as the Stack overflow question got answered.

[2017-09-03 20:35] #529 closed

[2017-09-03 20:38] jmprieur commented on #521
@sujameslin do you know if ADAL.js 1.0.15 fixed your issue?

[2017-09-03 20:38] #521 closed

[2017-09-03 22:02] mike-nelson commented on #604
As a library user, I didn't expect it to be a low level library. Having worked with it a bit I now understand it warts and all, and yeah you do need to get to know it at a lower level than you initially expect (looking back it seems like it might have been easier to implement against the API directly, given it is clear where this starts and stops - easy to say in retrospect though and I do appreci

[2017-09-03 22:12] jmprieur commented on #604
Thanks for this detailed feedback @mike-nelson, we'll discuss this with the team.

[2017-09-05 11:37] mathilde-pellerin commented on #513
@rohitnarula7176 we face the exact same issue: we try to access our API by an ajax call, which is redirected to the login and kicked out by cross origin while we would expect to have a silent refresh of the token.
Can you explain why you closed this issue? Are we missing something obvious?

[2017-09-05 16:07] KJee85 commented on #619
They have the same version of OS/Edge as users who work. They are not guest users.

I pulled a full group policy report between an unaffected user and someone with the issue and could not find any relevant differences.

I also exported and applied all "internet/edge/ie" registry keys that weren't users specific to my machine and could not replicate the issue.

I agree is does appear very user spec

[2017-09-06 10:33] fikkatra commented on #593
@jmprieur I can confirm that the problem is fixed in v1.0.15. Thanks!

[2017-09-06 10:33] #593 closed

[2017-09-06 14:06] jmprieur commented on #593
Thanks for confirming, @fikkatra

[2017-09-07 05:36] bveerendrakumar commented on #457
Hi,

I am willing to work with you on this item, we have this issue on EDGE and IE and I can repro this on my machine. Please let me know the right time.

[2017-09-07 14:46] bbarnwell commented on #151
Hi,
I seemed to have run into this issue as well. In my case, the app displays user's Office 365 mail. However, during the page reloads, it briefly shows another user's email - in this case, the app owner's email. On the final reload, it shows the correct email for the user. How to prevent this?
I've implemented this solution https://gist.github.com/tushargupta51/78ce0b6bce998f6851abd02d91eb3a95 b

[2017-09-07 20:30] rohitnarula7176 commented on #151
@bbarnwell You might not have implemented the workaround correctly. Can you please share a code repro for this issue so I can look into it.

[2017-09-08 09:09] MatthiasDebaere commented on #562
I also noticed this second scrollbar in our application, and I believe it's because the user agent stylesheet (a browser's default style) added a border to all iframe elements. Since we had set the height value of the parent <div> element in the <body> to a 100%, the border of the iframe added 4px to the window, which resulted in the extra scrollable area.

If I set `border: none` on iframe elemen

[2017-09-08 18:03] rohitnarula7176 commented on #562
@MatthiasDebaere @ahadjiGladiator  Thank you for sharing your solution. Closing this issue.

[2017-09-08 18:03] #562 closed

[2017-09-08 21:02] rohitnarula7176 commented on #603
@jmprieur @danieldobalian I can confirm that this is not a bug with the library.

[2017-09-08 21:02] #603 closed

[2017-09-08 22:42] KJee85 commented on #619
Just had our AD look into this from their end for the affected users. They confirm that there are zero failed sign in attempts. This makes sense as the stuck users are redirected back and have #idtoken=<token> in their URL. So this is something on the ADAL side.

Is there anything in my config that could cause this? Is this some sort of ADAL bug specific to Edge? What other information can I provi

[2017-09-08 23:03] rohitnarula7176 commented on #619
@KJee85 We would need a code repro for this issue to see whats going on. Can you provide us with that?

[2017-09-09 04:58] jmprieur commented on #603
@rohitnarula7176 do you have ideas of if we can change the code to have a better behavior? maybe signout the user before re-calling acquireToken with the claims ?

[2017-09-09 21:36] KJee85 commented on #619
Was looking at this more today. Wanted some clarifications around the frameRedirect approach. On the FAQ here https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs its stated

Where does Adal save the start page for user driven login flows? Looking at where the URL is serialized

[code]
redirect_uri is always added to the URL from the config. In the frame redirect approach this

[2017-09-11 08:10] RobinHerbots commented on #293
@tushargupta51 ,

Just informational, ...
I'm using  adal.js 1.0.15.  When specifying  a domainhint in the extraqueryparameters I still have the above issue.

[code]

[2017-09-12 00:49] Raghavasg opened #622 "Application not working on Edge"
we are facing typical issue with Adal Js authentication with Edge. For some of the users application is working fine on edge but for few authentication is going infinite loop on edge.

Note: App is working fine with other browsers without any issues
I tried some of the suggestions like trusted sites and cookies but nothing worked.
We are using Adal.js version AdalJS v1.0.14 and Cachelocation set t

[2017-09-12 08:01] MatthiasDebaere commented on #622
Could you check the network tab in the Developer Tools and see if there are any more details about the network call(s)? (I'm also having issues and maybe it's the same..)

[2017-09-12 08:07] MatthiasDebaere commented on #615
I have the same issue. Works in all browsers except for IE 11 and returns the same error AADSTS50058.

[2017-09-12 15:28] mjharper84 commented on #151
Are there any examples of this for angular 4 (2)? It's a shame the iframe causes my entire app to reload -using adal-angular4 thanks

[2017-09-12 19:35] Raghavasg commented on #622
I added login.microsoftonline.com as trusted sites and our site as well, how ever now luck.  I am not able to get the network trace because application reloading repetedly

[2017-09-12 20:30] rohitnarula7176 commented on #622
@Raghavasg Can you share a code repro for this issue so we can investigate this further.

[2017-09-12 22:42] foconnor-DS opened #624 "Some users are no longer able to login..."
Just wanted to put this out as a placeholder, in case others are experiencing this. Since the new "Microsoft" sign on experience, we've had some users unable to login using ADAL.js. Even if they go back to the old sign on experience it's not working. We thought it was a Chrome 61 bug, but we've reproduced it on 60, 61 and canary 63. So we're putting aside the chrome thought for now. We're not usin

[2017-09-13 11:38] MatthiasDebaere commented on #622
You can try and get the error code by disabling the "Clear on navigate" button. It looks like this:
![image](https://user-images.githubusercontent.com/6587006/30375358-84af8cda-9888-11e7-8cd2-7fd7a932e065.png)

Our application was also becoming unresponsive so you'll have to have some patience until you can finally get your hands on the error code..

[2017-09-13 18:40] foconnor-DS commented on #624
Looks like the issue was tied to "Adal-Request.js" which is a gist from another group. Not a Library issue. Closing.

[2017-09-13 18:40] #624 closed

[2017-09-13 18:53] rohitnarula7176 commented on #624
@foconnor-DS Thank you for the update,

[2017-09-13 19:51] KJee85 commented on #619
Further testing has narrowed down this issue to a problem in Edge. For the users that get stuck at /login Edge has cleared local and session storage after the redirect from AAD. So they are unable to validate state, nonce, and redirect because the values no longer exist to check against.

As a temporary workaround until Edge fixes this issue I have done the following. In get/save item in adal.js I

[2017-09-13 20:04] rohitnarula7176 commented on #618
@whitneyland Issue is now fixed in dev. Please check and confirm.

[2017-09-13 21:44] navyasric commented on #620
Please refer to similar issue #551 for a way to fix this.

[2017-09-13 21:44] navyasric commented on #620
Closing as a duplicate. Please reopen if you find other issues.

[2017-09-13 21:44] #620 closed

[2017-09-14 15:35] aryanreddy opened #625 "adal js automatically redirecting the user to login page silent token refreshing is not happening with the cacheLocation as localStorage"
Configuration for adal js in single page application:

adalAuthenticationServiceProvider.init(
                {
                    tenant: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
                    clientId: clientId,
                    cacheLocation: 'localStorage',
                    endpoints: endpoints,
               }, $httpProvider);
2. if cachceLocation is sessionStorage then application is

[2017-09-14 18:41] aryanreddy commented on #215
hi tushargupta,
i am adding my application configuration below for your reference, but the silent token renewal is not happening. when ever the token expires it automatically redirecting the user to supply the credentials again. i am not able figure it out what is the issue and when the token will expires.

**Configuration for single page application:**

          var endpoints = {};
            e

[2017-09-14 19:45] Raghavasg commented on #622
Hi,

Please find the attached code and event viewer log.
[Code.txt](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/1304317/Code.txt)
[EventViewer.txt](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/1304340/EventViewer.txt)

[2017-09-14 20:34] rohitnarula7176 commented on #622
@Raghavasg You have attached just the config file. if you open session storage, do you see something like invalid_state as error. Can you please share your entire code that might help us reproduce the issue?

[2017-09-15 10:44] stas-kh commented on #615
Guys, we have the same issue on the project. We are really blocked by this bug.
We are using Angular 4 with the library for adal authentification: [adal-angular4](https://www.npmjs.com/package/adal-angular4)

The issue is the same as described above, we can login via adal but after success login we try to get user information from graph.microsoft.com and it comes to infinite loop in IE11 (all othe

[2017-09-15 11:03] oleksandrstarov commented on #615
Hi All,
Same here on our side. The ADAL auth goes perfect, then we need to get data from graph - and this is the point - infinite loop comes for IE11 with this error

Seems to be en IE issue but this still works on some machines with IE. And works like a charm on Chrome, FF, Safari...

Is there any way to handle this and prevent this infinite loop as currently for some users with respect to softwa

[2017-09-15 11:05] MatthiasDebaere commented on #615
Have you tried adding "graph.microsoft.com" to the "trusted sites" zone?

[2017-09-15 11:45] stas-kh commented on #615
@MatthiasDebaere I added this sites to the trusted resources and seems it works for me.
But with this approach, I face another problem that each time users should press "Allow" button to trust the selected resource.

As a workaround - it works. But it will be much better to have this problem solved.

[2017-09-15 11:49] MatthiasDebaere commented on #615
I agree, and a workaround every user has to perform at that,.. so in terms of "solved", we're not quite there yet.

It's funny how an authentication library, provided by microsoft, can be so broken on a browser, again provided by microsoft.

[2017-09-15 11:59] oleksandrstarov commented on #615
@MatthiasDebaere  Thanks for suggestion, this works for  some users, but some still experiences infinite reload on login... Looks really wired.

[2017-09-15 21:03] Vivihung commented on #597
@rohitnarula7176 Do you have the issue item tracking on Edge side. such as a bug/issue log in https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/?
Edge team said they take user votes/feedback in account when prioritize work items. If we have bug track there, all the AAD dev hit this issue can help to vote to push for a fix.

[2017-09-15 21:22] kngrace commented on #446
@istrau3 I'm attempting to track down an odd behavior and would love your thoughts on my current hypothesis.

You had mentioned that the callback method is attached to window.parent previously:

I'm working on a SPFX web part and using a ['patch' that applies the following changes to ADAL JS v1.0.12. ](https://github.com/SharePoint/sp-dev-docs/blob/master/docs/spfx/web-parts/guidance/call-microsof

[2017-09-15 23:31] rohitnarula7176 commented on #625
@aryanreddy The redirection to login page after receiving the token in the redirect response is by design. There is a known issue with the Edge browser where session storage values are lost after redirection which forces the library into an infinite loop. Do you see values like "invalid_state" saved in the storage when you encounter this issue. We are tracking this issue with the Edge team. Can yo

[2017-09-18 22:20] #618 closed

[2017-09-18 22:41] rohitnarula7176 commented on #457
@bveerendrakumar Can you please setup a time with me on skype anytime after 2 p.m. to go over this issue. It will be best if you can reproduce the issue during that meeting.

[2017-09-18 23:09] Raghavasg commented on #622
[ADAL_trace.zip](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/1312539/ADAL_trace.zip)
HI,
we are able to get the traces, I am attaching the traces file for your reference. Please let me know whether it helps for your debugging.

thanks,

[2017-09-19 01:01] kngrace commented on #446
Based on further testing, my hypothesis seems partially correct.

The handleWindowCallback override attempts to split on the incorrect delimiter (semi-colon) and works properly when updated to split on comma.

[2017-09-19 17:45] bikashnk commented on #481
Hi magnuf,

I have to integrate ESO authentication in my application. My application's front-end is in react and back-end is in node.
I was trying understand the use of adal-angular and adal.js for this. Can you please help with the steps that I need to follow the achieve my requirement.

Requirement : when user hits the UI url, it should redirect to ESO url to check the authentication for that us

[2017-09-19 19:48] saravana13 opened #626 "APP Reloads when user is idle for some time and Make a Api Call"
When user is idle for some time and make a API call App is reloading leading to data being lost in the Form. Adal Error is "Nonce is not same as undefined". Please suggest a work around . Happens in all browser

[2017-09-19 20:06] rohitnarula7176 commented on #626
@saravana13 Can you share the adal logs and fiddler traces for this issue?

[2017-09-19 20:57] rohitnarula7176 commented on #617
@aciccarello Thank you for pointing out this issue. It is now fixed in dev. Please check and confirm.

[2017-09-19 21:20] #617 closed

[2017-09-20 09:27] gfsarri commented on #574
I'm also having problems between ui-router (old version, < 1.x)  and ADAL.  In my case what I can see is that there must be some kind of issue between the ui-router navigation and the attempt to request Azure the navigation token (window.location.replace(urlNavigate); inside AuthenticationContext.prototype.promptUser in adal.js).

In case it can help somebody, the following **workaround** has work

[2017-09-20 19:44] saravana13 commented on #626
@rohitnarula7176 in local its working as expected only in deployed version we are facing the issue. From deployed version i am not able to get the logs (since i have to go thorough several members to get that done).Anything else u want which might be help?. Also i have a debut, since it possible to manually call renewtoken function. i am planing a set a watch based on that call the renew token fun

[2017-09-20 21:30] navyasric commented on #622
@Raghavasg In the even viewer log you attached, I noticed the error is about not meeting the MFA conditional access requirement during login. Please refer to [this article](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-conditional-access-developer) to see if it helps with your issue?

[2017-09-20 21:37] santi-git opened #628 "Wildcard for anonymous endpoints"
Hi there, I'm using adal.js to authenticate via O365.
The project in which I'm using it is composed of a client side app running Angular 1.5 and an API hidden behind a proxy.
All request headed to <host>/api/ are redirected to the API.
Now the problem is that currently, I have to specify explicitly all the endpoints that I want adal to ignore, (which are a lot by the way) this is introduces mainta

[2017-09-20 21:39] santi-git commented on #628
Sorry didn't notice the /api/ behaviour, closing

[2017-09-20 21:39] #628 closed

[2017-09-21 19:08] aXiniXe opened #629 "adal.js response_type=id_token+token"
It seems to me the current version of this library does not support response_type=id_token+token, is there a reason for this or am I missing something?

Thanks.

[2017-09-21 20:01] navyasric commented on #629
@aXiniXe What is the authentication use case you are building? id_token is already a token. Did you mean response_type=id_token+code?

[2017-09-21 20:12] aXiniXe commented on #629
Hi,

Thank you for the response,

I do mean using 'id_token+token' as a response type with the goal of receiving an id_token and access token for a recourse in 1 request. See the documentation on https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols-implicit under section 'Send the sign-in request'

Thanks.

[2017-09-21 22:32] navyasric commented on #619
The above work around is being investigated and needs to go through security and threat model consideration.

[2017-09-21 22:32] #619 closed

[2017-09-22 15:41] stas-kh commented on #615
Guys, any updates on this?

[2017-09-25 06:09] Raghavasg commented on #622
@navyasric,

we checked our code as per the article but our implementation looks same. I am attaching our code for your reference, request you to help us.

[IndigoWeb.zip](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/1328361/IndigoWeb.zip)

[2017-09-26 20:23] rohitnarula7176 commented on #629
@aXiniXe The response type id_token token is not supported by the library since the start. Please see a similar request #525 . Can you explain why you need to request id_token and access_token at the same time.

[2017-09-27 05:11] siva524 commented on #202
I am still getting this issue after keeping Annonymous endpoints to empty array.

[2017-09-27 09:06] aXiniXe commented on #629
Hi,

The reason to request the id_token and access_token in 1 request is purely for efficiency reasons. We have a front-end which allows users to authenticate with Azure AD using OpenID connect and a back-end API which is also protected using Azure AD. Currently we have to perform 2 requests: first 1 to get the OpenID connect id_token with the authorize end point, and a second 1 to retrieve an acc

[2017-09-27 13:35] phantomis opened #630 "Error when logout and re-login with another user"
There is a problem on the library when you try to login with another username/password when you previously logged in and logged out with one username.

To replicate:
1. Try to use ADAL and perform a login with user1
2. Put your credentials, and then go to your application
3. Press the logout button, and then, go and re - login
4. Select another email user2 and use it to force the credentials promp

[2017-09-28 18:48] saravana13 commented on #626
@rohitnarula7176 Please find the attachment for logs. Just removed urls from the logs. Please let me know if you need anything. Any Help would we much appreciated.
[adal-log.txt](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/1341964/adal-log.txt)

[2017-10-01 18:05] CBuntrock opened #632 "Non-Angular example"
Will there be a new (non deprecated) example for usage of ADAL.js without any framework?

[2017-10-02 07:30] d-saravanan opened #633 "adal.js with Angular JS returns infinite loop while login after idle time out"
We have a very strange issue in the recent days, like after the user has left the application idle out for approx 1 hour, when the user tries to access the app again, the app redirects the user to the login page and then from AD, it receives the response as "Invalid State" and it logs this message in the localStorage. However, a fresh request is constructed and then tries to redirect back to AD an

[2017-10-02 09:06] jmprieur commented on #632
There are a few samples using plain JavaScript.
For instance please see https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbehalfof-ca/tree/master/TodoListSPA

[2017-10-02 09:06] #632 closed

[2017-10-02 18:09] rohitnarula7176 commented on #629
@aXiniXe If you just need to call your own backend, you can just use your idtoken. If not you can still call acquireToken to request an accessToken and if you have a valid session with AAD, you should not face any issues. Did you try using your id_token to retrieve data from your backend?

[2017-10-02 18:12] AmitOlkar commented on #574
Any updates on fixing this ? My project is also being held back due to this issue.

[2017-10-03 07:19] gfsarri commented on #574
Hi,

I implemented the workaround that I posted in Github.

In ui-router, the requireADLogin for the state is set to false.

In the controller (associated to the ui-router state in which I embed powerbi)  I check if there is already a logged in user. If not, then I manually force the login.

adalAuthenticationService.getUser().then(function (user) {      // es una promesa
    console.log(user);
},

[2017-10-03 10:28] CBuntrock commented on #632
Thanks for response. Unfortunately the mentioned example requires Visual Studio. Even when ignoring that: It also requires .NET. I am looking for an example I can run with VS code using jquery (or react). But I would prefer to have a plain Javascript example that just shows me how to connect to SP online.

[2017-10-03 13:29] mottykohn commented on #574
The root cause is a deprecated event listener in `adal-angular.js`. It listens to `$stateChangeStart` and `$stateChangeError` which have been deprecated. see https://ui-router.github.io/guide/ng1/migrate-to-1_0#state-change-events. See PR #631 for a simple workaround that works for me. (Although as it is titled its hacky.)

[2017-10-03 14:30] fikkatra opened #635 "Infinite redirect loop on access_denied error"
Closely related to #463 , which I believe was incorrectly closed.

When a user does not have permission to access an app (because no role was assigned to his account), an infinite login loop occurs.

Our approach: when an `access_denied` error is received from Azure AD, we redirect the user to an error page. This error page is anonymously accessible (`requireADLogin: false`). We do this by listeni

[2017-10-04 10:26] AlexUrbanAc commented on #391
I also have the issue "Token renewal operation failed due to timeout". I created a simple non-angular SPA example showing where I am stuck (using ExtJS framework, but the pure ADAL.js code in it should be framework-agnostic):

https://fiddle.sencha.com/#view/editor&fiddle/27oc
https://stackoverflow.com/questions/46561400/implement-adal-js-with-extjs-application

Do you have any ideas how to fix th

[2017-10-04 11:34] ashishtechie commented on #391
Update: for ie we had to add login.microsoft.com to trusted site and it worked. In first try I was not clearing everything in cache including favorites which was preventing trusted sites to work in a short span. This only applies to IE though.

[2017-10-04 13:52] tamerlan opened #636 "Prompt parametr is doubled on renew requests if it's already provided"
Hi,

If you add 'prompt=login' to the extraQueryParameters than the renewal url will contains both 'prompt=login' and 'prompt=none' params and will fail.

[2017-10-04 14:51] Squiggle commented on #389
Is this `logOutUri` property documented anywhere?

[2017-10-04 18:51] rohitnarula7176 commented on #636
@tamerlan By design , The prompt parameter is not configurable in the library. Can you explain why do you need to add a prompt parameter in the request.

[2017-10-04 18:53] rohitnarula7176 commented on #635
@fikkatra I do not understand why the second redirect would occur after you are redirected to your error page. Can you please provide a code repro for this so I can investigate this further.

[2017-10-04 19:15] pauldalyii commented on #443
I second @jamesgraham's comments.  I'm working with react and don't want to unnecessarily pull in an angular dependency.

@jmprieur, would you consider reopening this?  Could the adal-angular npm package take a dependency on a new adal only package?

[2017-10-04 22:50] rohitnarula7176 commented on #536
@jhandel Thank you for pointing out this issue. It is now fixed in dev.

[2017-10-04 22:50] #536 closed

[2017-10-05 05:21] tamerlan commented on #636
Hi @rohitnarula7176, to force user to re-enter the login/pass after the logout. Also that fixes the issue #630. You can just remove the users 'prompt' params from the url when generate it for renew.

[2017-10-05 07:49] jmprieur commented on #443
+ @navyasric

[2017-10-05 15:08] CivilianZero commented on #544
I am also encountering this issue, but only since moving to Angular 4+. Any solutions so far?

[2017-10-06 06:47] jmprieur commented on #589
A colleague just told me that SharePoint only supports Url-based Resource requests and only validates when the Tenant Url is the Audience.
@russgove you are using the App Guid, which can work to request a Token in AAD, but it doesn’t mean that the Resource accepts it.

[2017-10-06 07:52] aline-almeida commented on #544
I've now moved to Angular 4 and adal-angular 1.0.15 following this post:
[https://blogs.msdn.microsoft.com/premier_developer/2017/04/26/using-adal-with-angular2/](https://blogs.msdn.microsoft.com/premier_developer/2017/04/26/using-adal-with-angular2/)
I can successfully login and catch the login callback without the popup. That's fine with me.

[2017-10-06 13:13] MtarantoOa commented on #446
Hello guys!
Im using adal,js with the wrapper  "adal-angular": "^1.0.15"  in my **angular 2** application.

I add a guard in my app that check if the user isAuthenticated means that I have the userInfo and the accessToken.
This is how I get the value of that flag
`    public get userInfo() {
        return this.context.getCachedUser();
    }

    public get accessToken() {
        return this.cont

[2017-10-06 18:22] rohitnarula7176 commented on #629
@aXiniXe We cannot add the response_type = 'id_token token" as part of the library as it might run the risk of hitting the authorization url limit. Moreover the purpose of login is just to establish user context by requesting an id_token. Adding the ability to request an access token for a resource at the time of login, might lead to a situation where the developer does not have permissions to acc

[2017-10-06 18:22] #629 closed

[2017-10-06 18:25] rohitnarula7176 commented on #525
@valera-rozuvan  We cannot add the response_type = 'id_token token" as part of the library as it might run the risk of hitting the authorization url limit. Moreover the purpose of login is just to establish user context by requesting an id_token. Adding the ability to request an access token for a resource at the time of login, might lead to a situation where the developer does not have permission

[2017-10-06 18:25] #525 closed

[2017-10-06 18:27] rohitnarula7176 commented on #544
@aline-almeida Thank you for your input. Closing this issue.

[2017-10-06 18:27] #544 closed

[2017-10-09 22:18] sorbonad commented on #630
The workaround mentioned by tamerlan seems to be working. I am testing.

[2017-10-09 22:20] sorbonad commented on #636
The workaround seems to be working on W10/Chrome and W10/Edge. I am still need to do some tests since now I have to enter credentials twice.

[2017-10-09 22:43] pratap284 opened #639 "Adal.js issues on multiple tabs on a browser"
If you look at the login function in adal.js, you see the following:

    AuthenticationContext.prototype.login = function (loginStartPage) {
        // Token is not present and user needs to login
        if (this._loginInProgress) {
            this.info("Login in progress");
            return;
        }
        var expectedState = this._guid();
        this.config.state = expectedState;

[2017-10-11 22:23] richardspence opened #640 "Failed to acquire a token for a resource due to missing tenant information"
Hi this just started occurring, we are using AdalJS v1.0.15

At first I was getting no tenant information could be found similar to this issue #287

I tried to change our config by specifying the config, and now i'm getting AADSTS50058: A silent sign-in request was sent but no user is signed in.

For reference here's out thin wrapper around adal (our usage just calls login, and then acquireToken f

[2017-10-15 00:20] marks commented on #156
@matejv1 I am struggling with this issue - the diff in your repo seems quite large, can you help point me in the right direction?

[2017-10-15 10:53] fikkatra commented on #635
@rohitnarula7176
[Here's a repo](https://github.com/fikkatra/AdalInfiniteLoop-SystemJs) illustrating the problem. It uses SystemJs as a module loader. Repro steps:

- npm i
- in the Azure portal, create an app with the 'user assignment required' setting set to 'True'
- insert azure tenant and client id in app.ts
- run app (e.g. with lite-server) and login with a user that does not have a role for

[2017-10-16 11:57] rdkleine commented on #574
+1 @mottykohn your PR works for me.

[2017-10-17 14:42] Sartor87 commented on #391
We have experienced the following problem:
We had implemented Azure AD authenticated web API and we have been successfully had been making calls to it with ADAL 1.0.12 (we had our own wrapper around it for processing iframe for silent login).

Now we got rid all together of our wrapper and upgraded to the latest version and started to get the problem described here: token renewal operation timed o

[2017-10-18 10:40] sonphnt commented on #456
Hi. I still got the same problem. Somehow, can we make the process of using this library less complicated. For any exceptions like "user is not login" "token time out" "renew token timeout", bla bla. Can we redirect to Microsoft AAD login page where user can sign in to refresh everything again with a simple setting in ADAL init ?

Thanks

[2017-10-18 11:24] av-virlan commented on #222
Is there an actual example somewhere around using ADFS 2016 + ADAL JS ? I've been trying to make a project work that way but I guess I'm just not very clear around the ADFS concepts. What I'm looking for is to authenticate via ADFS 2016 and use the token to access SharePoint APIs. Is that even possible ?

[2017-10-19 03:22] rohitnarula7176 commented on #635
@fikkatra for the second repo, you are using ui router version 1.0.3. State change events are deprecated in ui router release>1.0 and hence you are not redirected to login page even when requireADLogin is set to true. If you use ui router to 0.3.1 for instance in your simplified repo, it should work as expected.

[2017-10-19 04:05] hitmanpc commented on #239
@shaynevanasperen for your issue with the manifest and deleting app roles. I just had this issue tonight. Try to update the manifest through: https://apps.dev.microsoft.com
There I was able to get back a more meaningful error. The process I did was first update all the "isEnabled": true to a "isEnabled":false value then I was able to remove the appRoles.
Let me know if this worked or works for you

[2017-10-20 02:51] technicalganesh commented on #549
Can you guys please check the adalAuthenticationService's logOut method. look at the spelling, particularly it is uppercase O in logOut() instead of logout().

[2017-10-20 09:28] gunner13 commented on #151
I'm facing another issue after adding the redirectUri.
At the beginning, it had fixed my problem (the problem page refresh many times after login), at that time the url was something like this myapp.com.
Then i have to configure my application to work with multi tenants, and the url is in this format <subdomain>.myapp.com. Now it keep redirecting between login page and my pages in an infinite loop

[2017-10-20 13:44] ChrisLeBrock opened #641 "lib/adal.js: The property "config.expireOffsetSeconds" defaults to 300 and not to 120 as stated in the description"

[2017-10-20 20:22] rohitnarula7176 commented on #635
@fikkatra In order to avoid the infinite loop, you have to use navigateToLoginRequestUrl:false and redirect to the error state on 'adal:loginFailure' event. If you don't set this flag to false and try to login with a user who is not assigned a role for your application, you are bound to get into an endless loop loop as your root page requires authentication and ADAL will take you to your root page

[2017-10-20 20:27] rohitnarula7176 commented on #639
@pratap284 Thank you for pointing out this issue. This is known limitation of the library in multiple tabs when you use localStorage. You should not face these issues if you set cacheLocation to 'sessionStorage' as session storage is not shared between multiple tabs. Can you confirm if this is the case.

[2017-10-20 22:39] rohitnarula7176 commented on #633
@d-saravanan Can you please provide a code repro for the above issue. The only reason for the 'invalid state' error is when the values stored in the browser cache by adal are lost when you receive a redirect response from AAD with the id/access_token/error.

[2017-10-20 22:40] rohitnarula7176 commented on #626
@saravana13 Can you please provide a code repro for this issue.

[2017-10-20 23:09] fikkatra commented on #635
The issue occurs for example when we send an email to a user containing a link to a particular page. After the user is logged in, we want to redirect to that page, not to the home page. That's why we can't set the flag to false.
I will try to make it work with an anonymous home page url, and get back to you with results. Thanks for looking into it.

[2017-10-20 23:17] rohitnarula7176 commented on #636
@sorbonad @tamerlan I tried to follow the steps you described above by using 2 users, a corp account and a test account but I am not able to reproduce the issue. I always get token for the user account which I used to sign it. If you add 'prompt=login' to extraQueryParameter property on the config object, adal adds it to all the authorization requests. When you try to send prompt=login in the hidd

[2017-10-20 23:26] rohitnarula7176 commented on #630
@sorbonad @phantomis I am not able to reproduce this issue using 2 test accounts on Chrome. Can you please specify the version of adal and Chrome you are using and provide us with a code repro.

[2017-10-20 23:56] rohitnarula7176 commented on #641
@ChrisLeBrock Thank you for pointing out this issue. It is now fixed in dev.

[2017-10-20 23:56] #641 closed

[2017-10-20 23:58] rohitnarula7176 commented on #640
@richardspence You get the above error when you try to acquire a token for a resource without having a valid session with AAD. Can you please provide a fiddler trace for the whole login plus acquireToken flow so we can investigate this further. I need to check in the trace whether the cookies were sent with the authorization request for acquireToken.

[2017-10-21 02:55] phantomis commented on #630
After some investigation with the Microsoft Suport on site, we found that was a problem with the ADFS inside our company. Thanks a lot for your help

[2017-10-21 02:56] #630 closed

[2017-10-21 16:11] fikkatra commented on #635
@rohitnarula7176 as setting the `navigateToLoginRequestUrl` flag to false, is not an option for us, and we don't really have a home page that can be accessed anonymously (users should immediately be redirected to the login page), I tried using an anonymously accessible 'adal' page as the root page.

I got it working by checking the `loginError` property on the userInfo object. If the user is not a

[2017-10-21 16:28] rohitnarula7176 commented on #625
@aryanreddy Closing this issue due to lack of information. Please reopen if it is not resolved for you.

[2017-10-21 16:28] #625 closed

[2017-10-23 07:18] gunner13 opened #643 "redirectUri makes application stuck on redirecting between microsoft login page, redirected page and home page forever."
I'm facing another issue after adding the redirectUri. I followed this guide https://gist.github.com/tushargupta51/5fa6d000357120adbc8fd1d5c68853c4 to fix the issue that page refresh many times after login.
At the beginning, it fixed my problem, at that time my application's url was something like this myapp.com.
Then i had to configure my application to work with multi tenants, and url became som

[2017-10-23 13:17] jrmcdona commented on #600
@jmprieur do you have the Angular 2/4 samples yet?   Thanks

[2017-10-23 17:23] jmprieur commented on #600
Adding @danieldobalian  and @navyasric as there are threads about this at the moment.

[2017-10-23 20:18] cottinghamj commented on #643
I'm facing the exact same issue. I'm making the call to acquireTokenSilent. It seems like when I call that function when my token has expired, it makes an inner call to the renewToken function. That code makes an iframe in your html and does adal magic to renew your token. Unfortunately, sometimes the returned source code that the iframe receives from the url requires a refresh. That refresh happe

[2017-10-23 21:01] cottinghamj commented on #643
I just realized the page I get redirected too has my graph access token in the url, so the code does refresh and get the graph token...it just should inject the formatted graph token url into the iframe, not the web page url

[2017-10-24 08:33] neelDev commented on #353
@tushargupta51 I am also facing the same issue. After logout its not redirecting to the URI given in the "post_logout_redirect_uri". I am not using any native apps here, its angular application.

Can you please let me know Do I need to configure anything in azure portal to make it works?

[2017-10-24 23:12] anuj-mehta opened #644 "Failed to Renew Token Due to Timeout"
Hi This has just started occurring.

We are using ADAL version AdalJS v1.0.4

This line is most likely failing for us.
[code]

we are getting a timeout and a 500 response back. We are calling this from a Web iFrame.

I will post the error we are getting back. We truncate messages while logging so keep in mind its not the complete error.
[code]

The resourceUrl is "https://service.powerapps.com/"

[2017-10-25 12:20] tamerlan commented on #636
@rohitnarula7176 You just get the exception which I would like to fix. "The parameter 'prompt' is duplicated". I've created the pull request #645 to fix this.

[2017-10-27 05:45] sayush commented on #574
@mottykohn the PR works for me as well till the token expires. The token does not get renewed for some reason. Has any body faced this?

[2017-10-27 13:41] mottykohn commented on #574
@sayush Looked over code and cannot figure out why this would happen. Never faced this.

[2017-10-30 08:16] hkusulja commented on #537
Any progress on resolving this issue?

[2017-10-30 16:36] mottykohn commented on #574
@sayush does your problem have something to do with #644?

[2017-10-30 16:48] sayush commented on #574
Sorry, it was nothing to do with the library. Everything to do with my code. I was accidentally sending a wrong url (eg. blah.blah/home instead of blah.blah) while trying to renew the token. It wasn't giving me any detailed error message so took a while to figure out. Thanks for the prompt response.

[2017-10-30 17:50] anuj-mehta commented on #644
Any updates here?

[2017-10-30 18:24] rohitnarula7176 commented on #644
@anuj-mehta Can you please provide a code repro for this issue.

[2017-10-30 18:26] rohitnarula7176 commented on #643
@cottinghamj @gunner13 You should not see the token in the main page when you call acquireToken. It should take place in the iframe. Can you please provide a code repro for this issue?

[2017-10-30 23:35] wy193777 commented on #415
Got the same problem with 1.0.15, and I'm using `requireADLogin`. Here is my code:

[code]
And other routes loaded on other standalone files:

[code]

[2017-10-30 23:48] wy193777 opened #646 "requireADLogin not triggering authentication using UI Router in ADAL JS 1.0.15"
Got the same problem with 1.0.15, and I'm using `requireADLogin`. Here is my code:

[code]
And other routes loaded on other standalone files:

[code]

There is no any exceptions showed on console.

[2017-10-30 23:49] wy193777 commented on #415
Opened a new issue #646

[2017-10-31 01:13] wy193777 commented on #646
After poking around, I finally find the problem. This library doesn't works with ui-route 1.0.
#574 #631

[2017-10-31 15:15] gizmo3399 opened #647 "Adal Angular Redirects to login page on handleWindowCallback"
Hello,

I am using Adal Angular (v1.0.15) with TypeScript to login to the AzureAD from my web app.
Logging in itself works fine and I get a token back.
Then the `handleWindowCallback()` method is called to actually fill the token and add it to the session as stated by the documentation for that method.
Although that method will always do a redirect if `popUp` is set to `false`. (Which it is becaus

[2017-11-01 07:54] gizmo3399 commented on #647
I have figured out a way to solve this without setting the session storage myself and without handling it when navigation is returned to the login page.
I am now handling this in my callback component as i originally intended because i think it's weird to navigate back to the login again to check if the token was set and then navigate to the desired page.

Instead of using `context.handleWindowCal

[2017-11-01 11:11] riteshmeher opened #649 "AquireToken with multiple endpoints api calls is loading the entire application"
We are using [adal-angular4](https://github.com/benbaran/adal-angular4) wrapper for adal.js in angular 4 cli . when one of our service calls any backend api , it is refreshing the entire application after calling the AcquireToken method. It starts loading script.bundle.js, styles.bundle.js etc. again. I can see IFrames getting created for every endpoint calls. We have a scenario where we are calli

[2017-11-01 23:52] anuj-mehta commented on #644
I will post our code that we are using
[code]

If you are expecting something else please let me know and I can provide you with that.

[2017-11-02 01:20] rohitnarula7176 commented on #646
@wy193777 Thank you for pointing out this issue. We have now added support for ui-router>1.0 in the dev branch and will be part of our next release. Can you please check and confirm.

[2017-11-02 01:21] rohitnarula7176 commented on #574
@mottykohn Thank you for the pull request. I merged your changes and added the definition for transition events on top of it. The library should now work with ui router >1.0.

[2017-11-02 01:23] #646 closed

[2017-11-02 01:23] #574 closed

[2017-11-02 19:51] wy193777 opened #652 "What's the meaning of "extraQueryParameter: 'nux=1'" When initialize the adal?"
No document mentioned this.

[2017-11-02 22:04] rohitnarula7176 commented on #652
@wy193777 This is just for the purpose of telemetry. It not a required parameter.

[2017-11-02 22:04] #652 closed

[2017-11-02 22:07] wy193777 commented on #646
Hi, @rohitnarula7176 , I tested it today. It could redirect to login page. But after login, the requests made to backend doesn't carry 'Authentication' field in request header. Not sure if it's a problem of my code.

[2017-11-02 22:09] rohitnarula7176 commented on #649
@riteshmeher Can you please provide a code repro for this issue?

[2017-11-02 22:50] wy193777 opened #654 "Requests after login don't contains Authentication header field"
I'm using dev branch with ui-route 1.0.0-rc1

Here is the code for initialization:
[code]

After poking around, I found that the last method `// Interceptor for http if needed` not attach the token.

[code]
The `url` attribute on object `config` doesn't contain any resources.

Is this related to `endpoints` property when initialize the application?

[2017-11-02 23:05] wy193777 commented on #654
I need to specify backend addresses and let the same client ID as the key of the endpoints object, then the header will contains the Authentication field. Not understand why it works this way.

[code]

[2017-11-03 20:31] rohitnarula7176 commented on #611
@pkmelee337 Thank you for pointing out this issue. Fixed in dev

[2017-11-03 20:31] #611 closed

[2017-11-03 21:20] rohitnarula7176 commented on #636
@tamerlan Thank you for your contribution. We cannot accept this pull request because your code allows the developers to overwrite the value for prompt in acquireToken methods which we cannot allow by design as it happens in a hidden iframe where prompt cannot be anything other than none. I have made the code change in dev branch such that if you pass prompt value through extraQueryParameter, it w

[2017-11-03 21:20] #636 closed

[2017-11-04 14:59] rohitnarula7176 commented on #654
@wy193777 getResourceForEndpoint(URL) checks to see if the URL is your apps own backend or some other domain which is listed in the end points array. If your app root URL is https://localhost:5000, then an API like https://localhost:5000/api will be considered your backend and an API in any other domain should be listed in the end points array. Adal will take clientID as resource for backend apis

[2017-11-04 15:14] rohitnarula7176 commented on #647
@gizmo3399 We get a response to login as a redirect with the token served in the URL fragment and as it is not safe to leave the token in the URL, Adal's default behavior is to remove it by setting the location back to loginStartPage. You can still achieve what you are doing by setting navigateToLoginRequestUrl on the config object to false and then redirecting to the desired page in the callback

[2017-11-04 15:19] rohitnarula7176 commented on #644
@anuj-mehta I will need a full code repro to investigate this issue along with the fiddler trace and logs. If you can just set up a repo with your code and send me a link to it, that will be great.

[2017-11-04 15:26] #615 closed

[2017-11-04 15:27] rohitnarula7176 commented on #615
Closing this issue as it is browser specific and not related to anything in the library.

[2017-11-06 20:18] MtarantoOa opened #656 "Uncaught ReferenceError: Msal is not defined & bootbox"
Hello,
Im trying to configure the msal service and library into my angular application. I run the npm install command for the msal library

`npm install --save msal` and Install bootbox `npm i bootbox --save-dev`

Now I define on my msal.service.ts like this:
[code]

My problem is that the Msal and bootbox get undefinded.
Im missing an import?
I take this as an example:  [https://github.com/Azure-

[2017-11-06 20:20] MtarantoOa commented on #656
Im so sorry
Put this on the wrong place!!
My bad!

[2017-11-06 20:27] #656 closed

[2017-11-07 11:34] TryingToImprove commented on #652
can you elaborate about what you mean by telemetry? Who's telemetry? @rohitnarula7176

[2017-11-07 20:22] riteshmeher commented on #649
[code]

  I noticed http calls are getting cancelled. Below are the headers. (chrome)
 Provisional headers are shown
Access-Control-Request-Headers:authorization,content-type
Access-Control-Request-Method:GET
Origin:http://localhost:4200
Referer:http://localhost:4200/home

looks like because of this it keeps reloading entire application again. If we refresh the application it starts working again

[2017-11-07 23:15] anuj-mehta commented on #644
Hey @rohitnarula7176
the link for the code repo is
https://msazure.visualstudio.com/OneAgile/_git/PowerApps-Client?version=GBmaster

Let me know if you need something specific from this.

Thanks

Anuj

[2017-11-07 23:18] rohitnarula7176 commented on #639
@pratap284 I have made a fix for this issue in my branch https://github.com/AzureAD/azure-activedirectory-library-for-js/tree/rn/Issue_639. Can you please check to see if this resolves your issue. We will add this fix to our next release.

[2017-11-07 23:52] rohitnarula7176 commented on #626
@saravana13 Closing this issue as no code repro was provided. Please reopen if you still have issues.

[2017-11-07 23:52] #626 closed

[2017-11-08 02:01] #639 closed

[2017-11-08 17:49] pratap284 commented on #639
Hi Rohit,

I will pass onto my team and see if they are able to resolve using this code. I will keep you posted with the updates. Thanks for your help.

Thanks

Pratap Penmetsa
Release Engineer
m +1 (480) 878 8413

From: Rohit Narula [mailto:notifications@github.com]
Sent: Tuesday, November 07, 2017 4:18 PM
To: AzureAD/azure-activedirectory-library-for-js <azure-activedirectory-library-for-js@nore

[2017-11-09 09:39] karthik-15 opened #658 "NodeInvocationException: Prerendering failed because of error: ReferenceError: window is not defined"
Created a basic application which uses this package.

I am getting an error after running the application called as "NodeInvocationException: Prerendering failed because of error: ReferenceError: window is not defined".

I am using web pack. The error which i am getting is in the file "main-server.js". Below is the code which is causing the issue.

[code]

After removing the package and its depend

[2017-11-09 10:47] RehanSaeed opened #659 "Please Split this Repository into adal-angular and adal.js"
The SPA world has moved on from Angular 1. There are now a myriad of frameworks out there. This project should be split into two repositories, `adal-angular` and `adal.js`.

For any developer coming from React, Vue.js, Aurelia, Ember, Polymer etc. taking one look at the ReadMe for this repo, they'd be forgiven for thinking that they'd arrived at the wrong place. All the documentation is specific t

[2017-11-09 10:50] RehanSaeed commented on #277
I raised https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/659 to get this repo split into adal-angular and adal.js.

[2017-11-09 10:51] RehanSaeed commented on #443
I would go further and split this repo so we can have a ReadMe dedicated to adak.js too. I've raised https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/659 to this effect.

[2017-11-09 11:25] riteshmeher commented on #649
@rohitnarula7176  can you help me on this. Its blocking everything in our application.

[2017-11-09 12:14] ralexand56 commented on #659
Yes, this is common sense

[2017-11-09 12:48] RehanSaeed commented on #61
Using the following import statement does not seem to play well with `@types/adal`:

[code]

I get errors saying the decleration file could not be found.

[2017-11-09 16:56] fbn10040 opened #660 "SharePoint Online after login first load ms graph data not being retrieved"
In SharePoint Online, after clearing cache and cookies, many web parts makes various calls to the MS Graph API. In order for a call to happen, it needs to go through the ADAL authentication flow. I followed the tutorial from Julie and made modification as to this issue #557. Also I do have the latest 1.0.15.min version running.
In the first load, after page reloads like 2 or 3 times and observing

[2017-11-09 19:41] rohitnarula7176 commented on #649
@riteshmeher You are using the adal-angular4 package which is not written by Microsoft. In order for me to help you on this, I would need a working code and instructions on how to run it. If you can create a private repo on github and send me a link to it, I will be able to look into it.

[2017-11-09 19:50] rohitnarula7176 commented on #658
@karthik-15 Are you using this repo or the adal-angular4 package? You posted the same issue on adal-angular4 repo which is not supported by Microsoft. This error happens when window object is not defined. You should replace the above code in adal-angular4 with the snippet below:
[code]

[2017-11-09 21:26] P4trik commented on #202
It‘s really urgent and I cannot understand how this bug in such a important library is treated by Microsoft...

[2017-11-10 10:59] RehanSaeed opened #662 "Azure AD returns 302 Redirect back to site when calling logout"
When I call the `logout` function on the `AuthenticationContext`, the browser navigates to:

Host

Azure AD, then performs a 302 redirect to:

Azure AD fails to display the login page to the user so they can login using a different user. How can I force this to happen? I don't think it's relevant but this is my TypeScript code to give an idea of what I'm doing:

[code]

[2017-11-13 16:29] riteshmeher commented on #649
Here is the link where I have pushed a demo code.
 https://github.com/riteshmeher/adal-angular4

[2017-11-13 19:39] jmprieur commented on #202
@P4trik : did you read the wiki page : https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs ?

[2017-11-14 14:01] AnassKartit opened #664 "seamless SSO using adal.js"
Hi,
We have two azure webapps that use adal.js ,
web1
web2

when the user access the first web1 ,  he is asked for authentication and redirected, when he access web2 he is receiving multiple redirects which disturbs the user experience which I think is an expected behavior. What is the solution to have seamless redirections and access multi ressources using the same token?

[2017-11-14 23:25] rohitnarula7176 commented on #202
@P4trik Can you provide a code repro for this along with the fiddler trace. This issue is logged 2 years back and we have not been able to reproduce it at our end.

[2017-11-15 01:45] ChebroluSuresh opened #665 "while using multi tenant it's not allowing to login."
As per my application requirement I have to login with Microsoft work(example @Microsoft.com) and school accounts(@outlook.com). Am following library recommendations for multi tenant passing tenant as "common", but it's not working for Microsoft school accounts. Please help me ASAP

Please find below for the issue description:

Sign In Sorry, but we are having trouble signing you in. We received a

[2017-11-16 17:02] faissaal7 opened #667 "Allow users to enter their own client_id and tenant_Id"
We are developing a SaaS solution using AngularJS for front end, for this we need to allows users to enter there own client_id and tenant_Id, but the current Angular-ADAL implementation require to add configuration in the config block of angularJS.

What is the perfect way to do this?

[2017-11-17 21:05] rohitnarula7176 commented on #644
@anuj-mehta As discussed over skype. You confirmed that this is not reproducible every time and you are waiting for logs from the customer. Closing this issue for now. Please reopen once you have the fiddler trace.

[2017-11-17 21:05] #644 closed

[2017-11-17 21:06] #647 closed

[2017-11-17 21:08] rohitnarula7176 commented on #654
@wy193777 Closing this issue for now. Please reopen if you still have issues.

[2017-11-17 21:08] #654 closed

[2017-11-17 21:09] rohitnarula7176 commented on #633
@d-saravanan Closing this issue due to lack of logs or code repro. Please reopen once you have that information available.

[2017-11-17 21:09] #633 closed

[2017-11-17 21:14] rohitnarula7176 commented on #635
@fikkatra Currently the login method in adal does not send any prompt value with the request. The only way to prevent the infinite loop is either by setting the navigateToLoginRequestUrl to false and handling your own navigation in the callback in case you receive the above error. In the next release, you can set the property 'extraQueryParameter = 'prompt=select_account' on the config object whic

[2017-11-17 21:14] #635 closed

[2017-11-17 21:15] rohitnarula7176 commented on #643
@cottinghamj @gunner13 Closing this issue due to lack of a code repro. Please reopen if you are still facing issues.

[2017-11-17 21:15] #643 closed

[2017-11-17 21:27] rohitnarula7176 commented on #662
@RehanSaeed In the latest release of Adal, the login method does not take any prompt value which is the reason when you click login, it straight away redirects you to the authorization endpoint using the user information saved in the cookies. In the next release of Adal, you can specify prompt value in the extraQueryParameter property of the config object and Adal will only add that value to the l

[2017-11-17 21:31] rohitnarula7176 commented on #658
@karthik-15 Closing this issue for now as this is not an issue with the library. Please use the solution above and reopen the issue if the problem persists for you.

[2017-11-17 21:31] #658 closed

[2017-11-20 12:26] #662 closed

[2017-11-20 13:11] prashantharshi opened #668 "implicit oauth call for getting id_token using openId protocol in word 2016"
Hi

I am making a call to AAD to get the id_token using the url
/common/oauth2/authorize?response_type=id_token&client_id=' ' along with other mandatory query params from a hidden iframe , as ADAL.js does in its renewIdToken() method. I am succesffully getting the id_token when my add-in runs on word online but on office 2016 word app the call to AAD fails with AADSTS50058: A silent sign-in reques

[2017-11-20 16:22] prashantharshi commented on #668
Does OAuth2 implicit grant with AAD **only works in app via javascript running on browser**? I made a call to v2 endpoint to fetch  id_token from AAD when i was running my add-in on word online , and it successfully returned me the id_token but the same call threw me when AADSTS50058: A silent sign-in request was sent but no user is signed when the add-in runs on desktop word 2016. does the implic

[2017-11-21 16:20] NielsVerheijen commented on #600
Any updates?

[2017-11-22 01:54] rohitnarula7176 commented on #660
@fbn10040 I have fixed your code to ensure that api gets rendered on the first call and not on reloading the page and it is attached below. As far as the number of reloads are concerned, you should see one reload at the time of login where you receive the redirect response on the main page like localhost:3000/#id_token=, second reload when adal removes the token from the url and takes you back to

[2017-11-22 01:54] #660 closed

[2017-11-23 13:07] prashantharshi commented on #668
Hi rohit

Thanks for response. But i am not using adal.js . i am using implicit ouath grant flow i.e making an call to AAD v2 authorize / endpoint with response type id_token. The only inspiration from adal.js i took is that as adal.js use a hidden iframe , i am also calling the v2 endpoint from a hidden iframe from plain javascript. it succesfully returns the id_token in the url fragment when i r

[2017-11-23 13:42] prashantharshi commented on #668
Seems i got the fix,i logged in my from add-in to microsoft first time , then onwards it is givinvg me the id_token in further calls. Seems like first time sign-in is required even though i am logged in to word desktop app to make the call work ?

[2017-11-23 17:23] faissaal7 opened #669 "ADAL login doesn't work fine if I didn't put the controller in the body"
If i didn't mention  the ng-controller in the body for html login fails

this is my config:

[code]
login.tpl.html contains a button with an action in the controller `loginWithAdal`

[code]

ADAL will work fine if i put controller in the body : `<body ng-controller="LoginCtrl">`

But when I use `<body>` adal will not work and return a message saying that _The returned id_token is not parseable._

[2017-11-28 17:27] joaopgrassi opened #670 "Calling acquireToken returns different "issuer" value compared to issuer on id_token"
I've been for days now trying to integrate an Angular 2 SPA + ASPNET core API through ADFS. In our case, the SPA and API are completely separated applications (very different from the demos and documentation...). Anyway, after several problems I finally got to a point where I can login on ADFS and get the id_token back.

First issue: The id_token returned contains the "aud" of my spa. I expected t

[2017-11-29 02:13] pritamDas9191 commented on #457
@rohitnarula7176 / @bveerendrakumar, Did you guys get any solution to this ? I am also facing the same issue. Specifically when i try to call adal._acquireTokenPopup() on Edge. Any help is appreciated :)

[2017-11-29 09:38] sandeepb6 commented on #323
@tushargupta51 did u finalized anything. about this issue.

In my case, few users getting this error, We did some workaround to fix this issue like added the login.microsoftonline.com and site url to the trusted sites. In my case when i browse the site login page will not come in IE and Edge as it is authenticated through system credentials.

Is forceful login is a good approach or not? am not sur

[2017-11-30 12:43] sandeepb6 opened #671 "Silent sign-in request was sent but no user is signed in"
I'm using ADAL framework to authenticate the users in a Single page application(Angular 1.4.8). When i'm requesting api call through $http, api call is not initiating because token was not generated to the respective resource. In localStorage below error is getting logged.

Error: AADSTS50058: A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's sess

[2017-11-30 23:17] Hadis-Fard commented on #658
@rohitnarula7176 I'm trying to use adal.js in my node application and don't intend to use it in angular environment where window is defined.

[code]
raises  window not found at loading the module:
[code]
How do you load this module in node backend env?

[2017-12-05 19:34] salvoravida commented on #277
https://github.com/salvoravida/react-adal

[2017-12-05 20:08] liambolling commented on #671
Our team is having the same issue with this. Any updates on this?

[2017-12-06 09:18] salvoravida opened #672 "react-adal"
Hi, maybe it is useful !

https://github.com/salvoravida/react-adal

[2017-12-06 13:58] vaibhavlakhotia opened #673 "AcquireToken renewal is inconsistent"
I am using adal.js (1.0.15) in an aurelia based SPA.I have changed the default offset of two minutes to 3 minutes and used a window.setInterval method to call for token renewal every one minute. According to my understanding when we call AcquireToken() it first looks into  the browser cache by using getCachedUser().This will look for the id_token and return a non null user.But it doesnt check the

[2017-12-07 16:23] sandeepb6 opened #675 "In chrome browser also getting AADSTS50058: A silent sign-in request was sent but no user is signed in."
Hi,

Error: AADSTS50058: A silent sign-in request was sent but no user is signed in. The cookies used to represent the user's session were not sent in the request to Azure AD. This can happen if the user is using Internet Explorer or Edge, and the web app sending the silent sign-in request is in different IE security zone than the Azure AD endpoint (login.microsoftonline.com).

I'm getting above e

[2017-12-08 01:39] tmfahim commented on #276
Hi- I am trying to implement SSO without any home realm prompt using ADAL.js 1.0.15. However I am getting the prompt for home realm selection even after adding the "extraQueryParameter". I tried to add in 2 different ways shown below, however nothing seems working for me. Any help will be appreciated.

**First way: Try to add this in adalProvider.init**

adalProvider.init(
        {
            in

[2017-12-08 10:39] Arikael opened #677 "add id_token_hint to logout url"
When using on-prem ADFS 2016 with adal the postLogoutRedirectURI may not work.
ADFS complains with the event id 554
`The specified redirect URL did not match any of the OAuth client's redirect URIs. The logout was successful but the client will not be redirected. `
which is a bit misleading because the redirect-URI itself is not the issue.

ADFS expect that you provide `id_token_hint` as an url pa

[2017-12-08 14:44] Arikael commented on #677
I forked the repo and it works as described above
https://github.com/Arikael/azure-activedirectory-library-for-js

I will test a little further and then make a PR

[2017-12-08 22:25] austingriff commented on #615
This is still an issue.... and I would argue that is specific to the library, and more specifically, the way it caches tokens.

[2017-12-10 02:51] markarnolditpro commented on #600
+1

[2017-12-12 13:38] RaniSputnik opened #678 "Acquire token redirect fails when MFA code is required"
Hi there,

We have a problem with the `aquireTokenRedirect` method. We have setup our code to try to silently obtain an access token with `aquireToken` and if that fails, retry using the `aquireTokenRedirect` method as demonstrated [here](https://github.com/Azure-Samples/active-directory-dotnet-webapi-onbehalfof-ca/blob/master/TodoListSPA/app.js#L110).

### What we expect

We have recently added P

[2017-12-13 17:31] geetikasharma26 opened #679 "Sporadic invalid_state errors during login"
Hi,
I am having the same issue as mentioned below reported by someone else as well. The earlier reported  issue number is #305.

Some of our customers fail to login our portal due to "Invalid_state" login error.
I claim this issue is sporadic, as I have evidences for users who got invalid_state error, but managed to login my portal successfully before and after this error.

I'm using the sessionSt

[2017-12-13 23:35] rohitnarula7176 commented on #679
@geetikasharma26 There is known issue with IE/Edge browser where the local/session storage values are dropped when you redirect across zones during login. The invalid state error is thrown by adal when it tries to match the state received in the login response with the state saved in the storage. In this case since the state value is cleared during redirection, adal throws an error. You should not

[2017-12-13 23:58] rohitnarula7176 commented on #678
@RaniSputnik The above error is thrown when you call acquireTokenRedirect method by supplying 'prompt=select_account' as extraQueryParameters which adds to the prompt ='select_account' hard coded in the method leading to multiple prompt values and hence the error. prompt value should not be altered by the user as per the library design. Can you explain the reason why you need to pass prompt = cons

[2017-12-14 00:02] geetikasharma26 commented on #679
It is there in Chrome as well. I have only tested my application in chrome and this is an intermittent issue there.

The system gets the token successfully for the client_id from Azure BUT when it tries to retrieve the same token from session storage, it gives the invalid state error

[2017-12-14 00:08] rohitnarula7176 commented on #679
@geetikasharma26 Can you please provide a code repro for this issue so I can look into this further.

[2017-12-14 00:10] rohitnarula7176 commented on #675
@sandeepb6 Can you provide a code repro for this issue. You can get this error when you try to acquire a token silently in a hidden iframe and the cookies used to represent the user session are not sent with the request.

[2017-12-14 12:20] RehanSaeed opened #681 "How to Stop aquireToken Forcing a Second Login"
This is the flow in my Vue.js SPA:

1. User visits site for first time, `login` is called in ADAL.js.
2. Redirect to Azure to login.
3. Azure redirects back to site, user is now logged in.
4. Site makes a GET request using `aquireToken`.
    - This works for Azure admin users who have granted permission.
    - Azure admin users who have not granted permission are erroring (AADSTS65001) and complai

[2017-12-14 12:27] RehanSaeed commented on #604
My user is already logged in and I'm getting `interaction_required` after calling `acquireToken`. Why doesn't the login also request permissions to access resources? Is there an option for this that I can set somewhere?
Just raised https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/681.

[2017-12-14 12:30] jmprieur commented on #604
@RehanSaeed : what might happen is while accessing the resource, this resource discovers that the user needs to provide more consent, or needs to do conditional access, and therefore it sends a interaction_required error.

Can you please tell us a bit more about the resource:
- Wouln't you be in this case: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-conditional

[2017-12-14 12:37] RehanSaeed commented on #681
Some additional information about my resources:

- SPA Application
  - 'User assignment Required' set to 'No'
  - I have hit the 'Gran Permissions' button in the Azure Portal for this and all API's below too
  - Has 'Application Permissions' to:
    - API 1
    - API 2
    - API 3

I have assigned no users to my SPA. I want every user in my AD to have access.

[2017-12-14 12:39] RehanSaeed commented on #604
@jmprieur I raised https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/681 with full details.

I've read the first link you posted. The last section describes exactly the problem I'm having but gives not solutions.

[2017-12-14 12:47] jmprieur commented on #604
@RehanSaeed : indeed, this is by design, the consent is presented to the user incrementally (just in time).
Alternatively, I believe that if ,in your application registration in the Azure portal, you add *required permissions* for the Web API that will be called by your resource (if you know it), that should work as the consent/conditional access would be required upfront, when the user signs-in,

[2017-12-14 12:51] RehanSaeed commented on #604
This is what my app looks like:

- SPA Application
  - 'User assignment Required' set to 'No'
  - I have hit the 'Gran Permissions' button in the Azure Portal for this and all API's below too
  - Has 'Application Permissions' to:
    - API 1 - This also has 'Application Permissions' to API 2 and 3:
        - API 2
        - API 3
    - API 2
    - API 3

Are you suggesting that I also 'Delegated P

[2017-12-14 13:00] RehanSaeed commented on #604
I just read this line from the [docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications):

Does that mean it's actually just using 'Delegate Permissions' behind the scenes? Also, does that mean that you cannot use 'User assignment Required' set to 'No'?

[2017-12-14 13:10] jmprieur commented on #604
@RehanSaeed
for all the APIs calling another API in the name of the user (with an on-behalf-of flow), you should add delegated permissions indeed.
- Application permissions apply when the application is calling a Web API with not user (in its onw name, identifying itself with an application secret). For instance if it calls the Microsoft graph to get all users, or all groups. In that case the Azur

[2017-12-14 13:12] RehanSaeed commented on #604
Does that mean that you cannot use 'User assignment Required' set to 'No' with a single page application (SPA)? I am forced to use groups? I don't want to have to maintain a huge list of users in a group to give them access to the app.

[2017-12-14 13:16] jmprieur commented on #604
sorry @RehanSaeed where do you see "User assigned Required"?

[2017-12-14 13:36] RehanSaeed commented on #604
It's in the Applications Service Principal object. It's called by a few different names in various places of the Azure API:

![untitled](https://user-images.githubusercontent.com/2270364/33994754-abcfe222-e0d3-11e7-9e34-1d548f72d074.png)

[2017-12-14 13:57] jmprieur commented on #604
@danieldobalian would you know about "User assignment required" ?

[2017-12-14 16:19] RehanSaeed opened #682 "Bug: ADAL iFrame's Border is Visible"
Immediately after logging in, the iFrame is visible at the bottom of the page because it has a border width of `2px`, you should add a style to remove that. I'm using Bootstrap 4, so maybe the CSS reset doesn't cover this style.

![iframe](https://user-images.githubusercontent.com/2270364/34002428-788b842c-e0ea-11e7-947a-80bd54498642.png)

[2017-12-15 13:00] michaelllh opened #685 "how to use MFA to access outlook info : calendar, voicemail, contacts, calllogs"
I want to develop a application to access outlook info with MFA account, But I did not found any develop info in microsoft websites, So I want to ask is there some development technical documentation about this?

[2017-12-15 18:57] DevarshiDave opened #686 "always Token renewal failed due to timeout"
Hello,
my app is using adal-angular.js to communicate with MS Graph API,
I am using the requireADLogin to call the login page when my app loads, after getting logged in successfully, i am redirected back to my app with the id_token appended to my url, logged the userInfo object and it is getting the correct data, after login i am calling the graph api on a button click, but i am receiving the "Tok

[2017-12-15 23:10] rohitnarula7176 commented on #686
@DevarshiDave Can you please attach the fiddler trace for the above scenario so I can confirm whether you are getting a response for the acquireToken request.

[2017-12-15 23:12] rohitnarula7176 commented on #682
@RehanSaeed The iframe border in the code is set to 0px as shown here https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/dev/lib/adal.js#L1677. Can you please explain how it is changed to '2px' in your code.

[2017-12-16 00:05] rohitnarula7176 commented on #681
@RehanSaeed There is no way to grant permissions to all the resources at the time of login as login method is just used to establish user context and not to obtain access_token for resources. There is a way to specify resource in the login url but since you can only pass a single resource (you cannot receive multiple access tokens in a single request), it is not extensible and hence is not include

[2017-12-16 17:53] DevarshiDave commented on #686
[fiddlers.zip](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/1564996/fiddlers.zip)

Hi @rohitnarula7176 , first of thank you for your quick response, i am attaching two fiddler files, the larger one has all the request logs of my application (from authentication to the failed request of graph API), and the smaller one has the only request logs of Graph API request.
Please l

[2017-12-17 19:16] tscislo opened #687 "const keyword in adal code brakes my Angular build"
In v 1.0.16 in line 1313 there is
`            const requestInfo = self.getRequestInfo(hash);`
this line makes adal output code not compatible with ES5 which is currently supported by PhantomJS, which makes it difficult for unit testing.

[2017-12-18 09:02] RehanSaeed commented on #682
Not sure what's causing this issue.

[2017-12-18 09:02] #682 closed

[2017-12-18 09:05] RehanSaeed commented on #681
So the only way is to use delegated permissions? This means that I have to set up a group containing all users in the directory and then add the required permissions. What makes me really sad is that permissions added to groups are not transitive, so I can't add permissions to an 'All users' group and then add an existing 'Sales users' group to it.

[2017-12-18 10:11] sandeepb6 commented on #675
@rohitnarula7176

In angular config section
`  adalAuthenticationServiceProvider.init(
                {
                    instance: config.Instance,
                    tenant: config.Tenant,
                    clientId: config.ClientId,

                    extraQueryParameter: 'nux=1',
                    endpoints: endpoints,
                    cacheLocation: 'localStorage',

[2017-12-18 15:32] Lecha1 commented on #446
MtarantoOa canActivate will not wait until your observable returns a value and thats the problem you have! Use instead resolve.

[2017-12-19 06:03] bvd commented on #600
+1

[2017-12-19 07:43] aTable commented on #481
@magnuf thank you, this script has been very helpful in getting AD SSO up and running smoothly. I do have a recommendation:

If you've been blessed to support IE11 / Edge then you'll find that you get a consistent "Invalid Calling Object" error when trying to log in using the above code. After spending all afternoon tearing my hair out I've found the problem to be right here

[code]

Replace it wi

[2017-12-19 12:46] grumar commented on #687
In my case, lib that I used had value `'adal-angular': ^1.0.15` in `package.json`.
After `npm install`  it was automaticlly upgraded to 1.0.16.
BTW using code not compatible with ES5 and upgrading only patch number was probably not a good idea.

[2017-12-19 23:39] aXiniXe opened #689 "Error acquiring token"
Hi,

My application upgraded adal-angular to version 1.0.16 and the logic to acquire token stopped working with the following error message:

adal.min.js:2 Uncaught TypeError: Cannot read property 'length' of undefined
    at AuthenticationContext.getRequestInfo (adal.min.js:2)
    at AuthenticationContext.handleWindowCallback (adal.min.js:2)

Upon investigation it seemed that the error is throw o

[2017-12-20 00:17] rohitnarula7176 commented on #689
@aXiniXe I am not aware of the adal-angular4 library. We removed the renewStates property from window and added it as a private property (renamed to _renewStates) to avoid polluting the global namespace on the adalInstance.  I am guessing whoever is maintaining the adal-angular4 library would need to update his code to adapt to the newer version of adal. If you use the adal-angular package from th

[2017-12-20 00:17] #689 closed

[2017-12-20 00:26] rohitnarula7176 commented on #686
@DevarshiDave The trace shows that you are sending duplicate prompt parameters for the acquireToken call (AADSTS90004: The request is not properly formatted. The parameter &#39;prompt&#39; is duplicated) . One is prompt = admin_consent which is provided by you through the adal config and the other is prompt=none which is added by the library. By design, the prompt parameter is not configurable by

[2017-12-20 00:26] #686 closed

[2017-12-20 17:30] danpardo opened #690 "1.0.16 issue"
Hi, I have project with angular2 and AAD since friday the method adalservice.acquiretoken has stoped working, it throws an Token renewal failed due to timeout error. This issue only occurs on my local environment and the issue seems to be with ng2-adal package more specifically with adal-angular version, all my coworkers has version 1.0.15 and it works for them but I have the new version 1.0.16.

[2017-12-20 18:16] rohitnarula7176 commented on #690
@danpardo We made a change in the new version to remove the renewStates property from window and adding it as a private property on the adal instance as _renewStates. This might be causing the issue. Can you share a code repro of this issue so I can investigate this further.

[2017-12-20 18:18] DevarshiDave commented on #686
@rohitnarula7176  thanks for your feedback, i have updated my adal library and that resolved the above issue "Token Renewal failed", but i am now having another error, i have removed the extraQueryParameter from my code (FYI the error stays same if add the extraQueryParameter). I have also done "Grant Permissions" in the azure portal.
Can you please advise on what is wrong?
![capture1](https://use

[2017-12-20 18:53] rohitnarula7176 commented on #686
@DevarshiDave You need to consent for the app once using admin account by calling acquireTokenRedirect which will try to acquire the token using a UI to allow you to consent for the app.  You can use the coding structure below to first catch the error you attached above using acquireToken and then call acquireTokenRedirect.
[code]

[2017-12-20 19:38] danpardo commented on #690
.acquireToken("resource")
      .subscribe(token => {
        this._store.dispatch({ type: "AUTHENTICATED", payload: token });

        window["$"].signalR.ajaxDefaults.headers = {
          Authorization: "Bearer " + token
        };
        var user = this.adalService.userInfo;

        this.conn.hub.logging = true;
        this.conn.hub.url = process.env.API_URL + "/SignalR";

        this.conn

[2017-12-20 20:24] rohitnarula7176 commented on #690
@danpardo The code you pasted has no information about the internal implementation of acquireToken method of adal. I will need to see that or a working code repro of the issue which I can run to investigate this further.

[2017-12-20 20:51] danpardo commented on #690
@rohitnarula7176 Sorry, hope this helps:

public acquireToken(resource: string) {
        let _this = this;   // save outer this for inner function
        let errorMessage: string;
        return Observable.bindCallback(acquireTokenInternal, function (token: string) {
            if (!token && errorMessage) {
                throw (errorMessage);
            }
            return token;
        })

[2017-12-20 22:31] rohitnarula7176 commented on #690
@danpardo I apologize for the misunderstanding but I need the source code of adal.js and adal-angular.js file (similar to what we have in the lib folder of our repo) you are using which has the implementation of the acquireToken method. I am guessing you are using an older version of the file.

[2017-12-21 08:11] GriFlo commented on #600
+1

[2017-12-21 09:31] RaniSputnik commented on #678
Hi Rohit, thanks for the explaination.

In our case we were not passing a prompt value to the `extraQueryParameters` argument, we used the method as follows;
[code]
We also captured the network activity and confirmed that only a single prompt parameter was being used when redirecting. I have to omit some details, but here is the structure of the redirect that was performed;
[code]
I tried changing

[2017-12-21 19:47] rohitnarula7176 commented on #678
@RaniSputnik Thank you for pointing out this issue. I have made a fix for this in the dev branch. Can you please test it and confirm if it resolves your issue. We wont be able to release a official version of it until Jan due to the holidays.

[2017-12-21 20:08] Hongbo-Miao commented on #600
While everyone is waiting, I recommend using hello.js first.
I have a demo here: https://github.com/Hongbo-Miao/microsoft-graph-angular
The auth part is at https://github.com/Hongbo-Miao/microsoft-graph-angular/blob/master/src/app/auth/auth.service.ts

[2017-12-21 21:05] rohitnarula7176 commented on #687
@tscislo @grumar Thank you for pointing out this issue. I have made a fix for this issue in the dev branch. Can you please test it and confirm if it resolves your issue. We will release an official version Jan first week due to holidays.

[2017-12-21 21:43] #687 closed

[2017-12-21 21:43] #678 closed

[2017-12-22 01:47] flyher commented on #156
@matejv1
@marks
Hi all, i met the same issue in outlook add-ins, could you help me?
I search the same issue by google, but i cannot get the answer.

https://github.com/OfficeDev/Word-Add-in-AngularJS-Client-OAuth/issues/6

https://social.msdn.microsoft.com/Forums/lync/en-US/592ea63a-dbe4-4c8c-9926-d9f3b3129cae/office-365-dialog-api-throwing-error-in-outlook-web?forum=appsforoffice

https://stackov

[2017-12-22 06:21] bvd commented on #600
@Hongbo-Miao, The example is very interesting but to be honest I have no problem getting an Angular 4/5 example to work. However I am really facing many problems when the app connects to an api or endpoint other than where the app itself was loaded from, a so called CORS example, where the endpoint is a web app that is also secured via an AD app registration and the SPA connects with a bearer toke

[2017-12-22 07:33] Hongbo-Miao commented on #600
@bvd oh, that is a different question, please post it at Stack Overflow with tag [microsoft-graph](https://stackoverflow.com/questions/tagged/microsoft-graph), the team will answer your question or help the issue you met there.

[2017-12-22 12:17] bvd commented on #600
@Hongbo-Miao to be honest we don't work with microsoft graph, we just want example / documentations for Angular 2 / 4 which is in TypeScript  of AD authorization when the app connects to an api or endpoint other than where the app itself was loaded from, a so called CORS example, where the endpoint is a web app that is also secured via an AD app registration and the SPA connects with a bearer toke

[2017-12-22 18:04] jmccannster commented on #649
@riteshmeher have you had any luck with this? I'm experiencing the same. I'm able to login to Azure, but subsequent calls to my back-end service results in refreshes.

[2017-12-23 16:56] riteshmeher commented on #649
@jmccannster unfortunately no. I have not got any solution or any workaround yet. This looks crazy to load an entire app every time we request a new token for a resource. This makes our app dead slow.

[2017-12-23 17:08] jmccannster commented on #649
Agree. For now I have my client and API athenticating to the same AD app
using ADAL on the client. I'm then bypassing ADAL and calling API with the
standard HttpClient and sticking the token in the header myself. I would
like to get this working properly, but out of time.

On Dec 23, 2017 8:56 AM, "Ritesh Meher" <notifications@github.com> wrote:

[2017-12-23 17:52] riteshmeher commented on #649
what I see in adal library is when acquireToken method is called, it is reloading the app to read the token from the url in handlewindow.. method. I am not sure how we can we get the resource token directly calling any adfs endpoint. If we can get the token directly then we can handle the refreshing token by ourselves. This has a trade off to renew token by our code but I believe its worth it. Thi

[2017-12-24 18:25] unindented commented on #659
@rohitnarula7176 any progress on this?

[2017-12-25 17:50] DevarshiDave commented on #686
@rohitnarula7176  any updates on my queries?

[2017-12-26 21:30] rohitnarula7176 commented on #649
@riteshmeher Adaljs uses implicit flow which means that all the tokens are received as part of a redirect response with the token served in the url fragment. There is no concept of refresh token in the implicit flow. A redirect response (302) causes an app reload by definition and the only way to prevent it in adal is by setting the redirectUri to something other than your app's root page. You can

[2017-12-28 00:10] wy193777 opened #693 "Any way to get token that could be used for both Graph API and backend authentication in backend?"
Currently the JWT token acquired by this library and passed as authentication field on header cannot be used for Graph API on backend. Request directly from frontend to query graph API seems possible. But the token passed to endpoint doesn't contain some necessary field for graph API.

Or maybe there is a secret switch I don't know to enable Graph API token?

[2017-12-28 18:58] wy193777 commented on #686
@DevarshiDave How did you initialize adal on your project to get a token that could be used for Graph API?

[2017-12-28 22:06] geetikasharma26 opened #694 "Unable to redirect to the given postLogoutRedirectUri when logging out on unauthorized login"
I am having issues while trying to log out of my application using adal.logout() method that eventually calls 'https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=<return‌​Url>'. When the user enters unauthorized credentials, it does log out properly but gets stuck on the logout window with this message ' You are signed out of your account. It's a good idea t close all

[2017-12-29 17:52] DevarshiDave commented on #686
@wy193777 i have used the same approach given in the documentation https://github.com/AzureAD/azure-activedirectory-library-for-js

You need to create an App in Azure (https://portal.azure.com) and in Microsoft office dev center (https://apps.dev.microsoft.com) <-- this app's appId will be used in our endpoints array which is passed in to initialize the adal.

give permission to your azure app to

[2017-12-29 20:04] wy193777 commented on #686
@DevarshiDave Thanks a lot. But I guess this isn't works for my case. I want to get a token that could be passed to backend so the backend service could represent the user to query graph.

[2017-12-29 21:01] rohitnarula7176 commented on #694
@geetikasharma26 Can you please attach the fiddler trace for the case when it does and for the case it does not redirect to the postLogoutRedirectUri.

[2017-12-29 21:04] rohitnarula7176 commented on #693
@wy193777 I don't believe I understand your question. You can use the id_token you receive during login to access your backend and then you can acquire access token for the graph the by specifying the graph as a resource in the acquireToken method. Can you please elaborate?

[2017-12-29 22:12] wy193777 commented on #693
So in my case, the frond end part doesn't need to access Graph API. But the backend part need to get user's group information to identify if users have permissions to do certain operation. But the token acquired by adaljs and send in Authorization field when make request to backend couldn't be used to access graph API. It at least doesn't contain 'scp' field that contains permission information.

[2017-12-29 22:18] wy193777 commented on #693
So I guess to let the backend service use tokens send from frontend to access graph API, I need to insert the token acquired by 'acquireToken' method to another field in the header?

[2017-12-29 23:47] wy193777 opened #695 "Where to call acquireToken in AngularJS environment?"
If I use AngualrJS and ADAL js like showed on reademe.md, how could I call acquireToken? It's not available on adalAuthenticationServiceProvider or this.context.

And there is no document mentioned this.

[2018-01-02 23:15] rohitnarula7176 commented on #695
@wy193777 If you see the point 7 in Readme, it shows how to register a controller and get an instance of adalAuthenticationService of adal-angular.js.  Please see below for a code sample.
[code]
Please ensure that you are logged in first before you attempt to acquire a token for a resource.

[2018-01-02 23:15] #695 closed

[2018-01-03 01:35] wy193777 commented on #695
adalAuthenticationService isn't available on app.config() function. If I want to use the new token as  `Authorization` field or as query parameters on every request, I cannot find a convenient way to achieve this except to insert individually for every requests.

[2018-01-03 05:52] eelkram commented on #659
This would be a huge help!

[2018-01-06 00:08] GageAmes commented on #693
@wy193777 if your Azure AD application has permission to access the Graph API, you should be able to obtain an access_token from ADAL's `acquireToken()` method (using your application's App ID URI for the resource parameter) and pass that token to your backend via the `Authorization` header (instead of passing the id_token).  I believe your backend can then redeem that access_token for a token to

[2018-01-06 00:25] wy193777 commented on #693
@GageAmes Thanks for the reply. After some experiment and research, I decided to use Microsoft Graph (not Azure AD Graph) with application permission, this means client secret key is enough for call Microsoft Graph API.

By the way, there are two graph APIs. One is called Microsoft Graph API and one is called Azure AD Graph API. You can set Microsoft Graph API permission for Azure AD apps on Azure

[2018-01-08 17:03] ben-m-lucas commented on #690
This issue is affecting an application that we have as well.  We're using ng2-adal and have endpoints specified with a client ID.  The main authentication works, but we encounter failures to any endpoint specified and the javascript log starts reporting the following error:

```ERROR Error: Uncaught (in promise): Token renewal operation failed due to timeout```

[2018-01-08 20:06] wvanderdeijl commented on #690
Looking at https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/690#issuecomment-353141550 the issue might indeed be related to removing `renewStates` from window and moving it to `_renewStates` on the adal instance. With that chance, the `callBackMappedToRenewStates` was also removed from window and moved to `_callBackMappedToRenewStates` on the adal instance. This is where ng2-

[2018-01-08 20:55] rohitnarula7176 commented on #690
@wvanderdeijl You are right. The issue is what I have mentioned above. ng-2 adal relies on the private properties of adal like _renewStates and _callBackMappedToRenewStates which were changed in the new version. The person who is maintaining the ng2-adal will have to update his code as per the latest version to fix the issue. Closing this as this is not an issue with the library.

[2018-01-08 20:55] #690 closed

[2018-01-09 07:19] grumar commented on #61
`@types` was changed from `adal `to `adal-angular` few days ago.
[DefinitelyTyped #22549](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/22549)
[DefinitelyTyped #22565](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/22565)

[2018-01-09 07:34] grumar commented on #659
+1

[2018-01-09 10:14] sshogunn commented on #600
Hello,

We faced the same issue with React and "adal-angular": "^1.0.16".
Any ideas when we can expect it working with React?

Thank you :)

[2018-01-09 21:09] geetikasharma26 commented on #694
[FiddlerTrace_NoRedirection.zip](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/1616716/FiddlerTrace_NoRedirection.zip)
[FiddlerTrace_WithRedirection.zip](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/1616717/FiddlerTrace_WithRedirection.zip)

Attached are the fiddler traces for the two scenarios :
1.  No Redirection - When an unauthorized user tried

[2018-01-09 21:10] geetikasharma26 commented on #694
Closed by mistake.

[2018-01-11 15:04] m4m4m4 commented on #513
I have the same issue

[2018-01-11 20:18] hkusulja commented on #659
I am also interested in having separate, MS ADAL Angular5 supported library

[2018-01-11 20:22] hkusulja commented on #600
I am not using React, I am not using Microsoft Graph, nor MSAL.
I need, simple Azure Active Directory , App Authentication, implicit flow, for my Angular 4+ projects.

So, ping, any plans for having official ADAL for Angular library from MS?
There are 3rd parties like: https://github.com/sureshchahal/angular2-adal

[2018-01-12 03:01] pmaluchuru opened #697 "Angular 4: Acquire token to access either Azure AD Graph API or Microsoft Graph API after successful authentication"
We have Angular 4 SPA hosted in Azure and had included ADAL JS for authenticating against Azure AD (followed the steps mentioned in the following [blog](https://blogs.msdn.microsoft.com/premier_developer/2017/04/26/using-adal-with-angular2/)). We would like to make a call to Graph API (either Azure AD Graph API or Microsoft Graph API) to retrieve additional info of the signed in user.
------------

[2018-01-12 05:56] kphung138 opened #698 "getRequestInfo iframe state match not working"
Hi,

In 1.0.14, it obtained the _renewStates from the iframe parent. But in 1.1.16, this information seems to be lost, so the match checking doesnt work.

   // external api requests may have many renewtoken requests for different resource
                if (!requestInfo.stateMatch && window.parent && window.parent.AuthenticationContext) {
                    var statesInParentContext = window.pa

[2018-01-12 17:24] antoniocvaraujo1 commented on #256
@PavelPikat , i'm facing this issue with angular js.
could you share your solution with me ?
Thanks in advance.

[2018-01-12 19:03] rohitnarula7176 commented on #698
@kphung138 We first save the state as follows in the _renewToken and _renewIdToken method which are called internally from acquireToken as follows:
[code]
getRequestinfo method is called internally in handleWindowCallback. If you look at this line of code in handleWindowCallback
[code]
Since self refers to the parent instance, it should have the states defined which were saved earlier.
Closing thi

[2018-01-12 19:03] #698 closed

[2018-01-12 19:19] rohitnarula7176 commented on #697
@pmaluchuru You can use adal to acquire a token for both. I see a couple of problems with your code. Since the acquireToken function is asynchronous, your code will jump to your console statement before the the completion of acquireToken and since newToken is undefined at that time, it will print undefined on the console. Please use the code pattern below:
[code]
In your case, the session storage

[2018-01-12 19:19] #697 closed

[2018-01-12 19:21] rohitnarula7176 commented on #694
@geetikasharma26 Can you elaborate on what you mean by an unauthorized user. How is he able to log in to your app without proper credentials?

[2018-01-12 19:24] rohitnarula7176 commented on #677
@Arikael I apologize for the late response. Adding id_token to the authorization request would lead to a lot of data on the wire and can cause issues like exceeding the url length limit for older browsers. You should be able to pass just the upn through extraQueryParameter in the config to achieve this behavior. I will talk to the ADFS team and revert back to you.

[2018-01-12 23:42] anpetral-msft commented on #671
Interested in hearing a recommendation too. Seeing this occasionally on clients with cached data that is old.

[2018-01-13 19:25] DevarshiDave opened #699 "Not attaching access tokens to outgoing requests"
Hi,
I have called the `acquireTokenRedirect(resource)` method to get a token, after that a UI appears and after logging in successfully it redirects me to my app with an **access_token** attached in my url, after that i again try to access graph api, but in that request the access token is not passed and so i am getting the "Bearer token is empty" error.

P.S. i am not calling the **acquireToken**

[2018-01-13 22:23] kphung138 commented on #698
Thanks for your pointer.

I'm currently using adal-angular4 which uses your library. I think his code needs to be refactored, with the latest 1.0.16 changes. Otherwise the _renewStates is empty when calling getRequestInfo.

  Adal4Service.prototype.handleWindowCallback = function () {
        var hash = window.location.hash;
        if (this.adalContext.isCallback(hash)) {
            var requestI

[2018-01-15 07:58] c-yan commented on #389
It seems that it can not be configured in AD FS Management (GUI).
LogoutUri are appeared in (Get-AdfsApplicationGroup -Name 'XXXX').Applications.

[2018-01-15 19:28] antoniocvaraujo1 commented on #530
@aline-almeida , Oi Aline. Tudo bem ? estou tendo o mesmo problema que você. Estou usando angular 1.6 .Pode ajudar ? obrigado.

[2018-01-15 21:22] Afdz1020 opened #700 "I want to keep all parameters of a url"
I have the following url https://contoso.sharepoint.com.co/sites/sitename?wa=signin1.0, when I enter the site with this parameter ("wa" with value "signin1.0"), the page executes the adaljs library, the parameter disappears from the query string, and a hash appears "#" at the end of the url.  For example, the previous URL changes into https://contoso.sharepoint.com.co/sites/sitename#

I want to ke

[2018-01-16 09:47] aline-almeida commented on #530
Olá António!
Eu mudei entretanto para o Angular 4, mas envio-te o último teste que fiz. Não esquecer de no AD, adicionar a Reply URL http://localhost:<porta>, ativar o   "oauth2AllowImplicitFlow": true ( no manifest)
[adaljs_LATEST - Teste Adal1.0.15 _uiRouter1.0.6.zip](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/1634377/adaljs_LATEST.-.Teste.Adal1.0.15._uiRouter1.0.6.zip

[2018-01-16 17:56] geetikasharma26 commented on #694
So the unauthorized user is not logged on to the system , but he is given an option to logout because these credentials might be cached from any other application that might have been opened in the same session. So this unauthorized user, when logs out using the 'https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=<return‌​Url>', is not redirected back to the post_logou

[2018-01-16 18:58] lyyjohn45 opened #701 "Adal.js acquireToken fails with invalid state error in a React project"
Hello,

I used adalJs in adal-angular npm to fetch a token for a web api. It has been working for months but it suddenly started to fail around Dec/20th/2017.

The adal returns error message:
Invalid_state. state: 370fe0df-43ab-4330-a3b6-340fef8b3299|4e92b890-ad03-43cf-bd61-585b3eb353d5

The exception happens when the acquireToken method is called. I am using the example from https://blog.mastykar

[2018-01-16 20:59] rohitnarula7176 commented on #701
@lyyjohn45 The issue is because the sample you are referring to needs to be updated as per the latest version of Adal 1.0.16. I was able to fork the repo and submit a pull request to the owner to fix the invalid_state issue. Please refer to the link below to see the code changes:
https://github.com/waldekmastykarz/office-mygroups-react/pull/3/files
Closing this issue as this is not a bug in the li

[2018-01-16 20:59] #701 closed

[2018-01-16 21:54] rohitnarula7176 commented on #700
@Afdz1020 Adaljs using implicit flow where all tokens are received via a redirect response (302) and AAD does not preserve query string parameters on redirection. Unfortunately, this is by design.

[2018-01-16 21:55] rohitnarula7176 commented on #699
@DevarshiDave Can you please attach a code repro for this issue. If you are using the adal-angular wrapper, it should attach the token to the outgoing requests.

[2018-01-16 23:49] lyyjohn45 commented on #701
Updated the latest version of adal-angular pkg (1.0.16). And applied @rohitnarula7176 's pull changes to the code, which fixed the issue.

[2018-01-17 13:23] Afdz1020 commented on #700
Thanks

[2018-01-17 17:35] #700 closed

[2018-01-17 17:49] talorlik commented on #659
I've been battling with this like crazy.

There's also very confusing bits of information and explanation how to go about this process.

I'm **most** interested in an Angular 5 implementation.

[2018-01-17 18:27] DevarshiDave commented on #699
[code]

[2018-01-17 18:30] DevarshiDave commented on #699
As the above code shows, i had to create a function which returns the token and attaching that token to the api calls (Please look inside LoginController). Although this approach is working fine but i was under impression that adal-angular handles the headers itself. maybe i am wrong somewhere, please advise on the same :)
Thank you!

[2018-01-17 18:34] DevarshiDave commented on #699
also can you please tell me which library i should use for adal in typescript?

[2018-01-17 18:55] rohitnarula7176 commented on #699
@DevarshiDave Its difficult for me to see the whole code and then find out where you are going wrong. Can you create a repo with your code which I can compile and run. Please add directions on how to run it.
Adal angular has an http interceptor which attaches the token to the outgoing requests. Please see below:
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/9d24c364e59424cf4

[2018-01-17 19:07] talorlik commented on #647
@gizmo3399

Thank you! Your handleCallback method works 👍

I'm using ng4-adal module and I've experienced a lot of headache to try and get it too work. There's very little clear documentation and pretty much non existent **full**, **working** examples of how to use it.

handleWindowCallback simply doesn't work for me. Maybe I'm doing something but I tried everything I could think of.

Can you plea

[2018-01-17 19:16] DevarshiDave commented on #699
[adal-test-app](https://github.com/DevarshiDave/azure-adal-test-app)
To start Project use "npm install" command first, then use "npm start".
Also you need to have an existing app in your azure active directory with sharepoint read/write permissions and read/write groups permission of microsoft graph api . I have attached a screenshot below
![capture2](https://user-images.githubusercontent.com/3400

[2018-01-17 19:29] rohitnarula7176 commented on #699
@DevarshiDave The code you attached is the one which is not working right?

[2018-01-17 19:42] DevarshiDave commented on #699
yes, actually its working, but the problem is i have to attach the tokens in the headers, adal-angular is not doing that for me.
Although if i use more than one resource in our project (lets say GraphAPI and Sharepoint REST API), i have to get tokens for both of them first, before calling any of those apis.

[2018-01-17 19:48] DevarshiDave commented on #699
Also please let me know if there is a stable version of this library in typescript as i would like to implement and test the same in Angular 2+ apps :)

[2018-01-18 00:33] oviorus opened #702 "Call to acquireToken fails with "Set-Cookie header is ignored in response from url... Cookie length should be less than or equal to 4096 characters""
In my code I successfully call authenticationContext.login() a few lines later I call authenticationContext.acquireToken(...). The call to acquireToken fails with the message "Set-Cookie header is ignored in response from url... Cookie length should be less than or equal to 4096 characters"

Two requests are performed, one to get the id_token and the other to get an access_token, in both cases the

[2018-01-18 01:07] rohitnarula7176 commented on #675
@sandeepb6 Closing this issue for now. Please reopen once you have the fiddler trace as discussed over skype.

[2018-01-18 01:07] #675 closed

[2018-01-18 05:06] dvm-2k1 commented on #391
Hi All, Is this issue got resolved? asking this question as we are also facing same issue of "Token renewal operation failed due to timeout" by ADAL when was call is happening with authContext.acquireToken() method. We also observe that every time when we browse our SharePoint site we get this error in order to call a WebAPI. It also throws "User login required" error when we tried to access the W

[2018-01-18 05:32] dvm-2k1 opened #703 "Token renewal operation failed due to timeout & User login required errors"
Hi All,

We are getting "**Token renewal operation failed due to timeout**" error when we tried to consume AAD authentication and authorization enabled WebAPI service from our SharePoint Site. This error comes every time when we browse our SharePoint site and it comes when at authContext.acquireToken() method even when we get user details when called var user = authContext.getCachedUser();.

We al

[2018-01-18 05:37] rohitnarula7176 commented on #703
@dvm-2k1 The above error can be caused due to a number of reasons such as not reviving the response within the specified time interval of 6 seconds, specifying an invalid redirectUri for your app, etc. Can you please attach the fiddler trace for the issue. It will be great you could create a repo for your code that I can run and compile.

[2018-01-18 05:43] rohitnarula7176 commented on #699
@DevatshiDave I was able to run your code. One of the issues I can point to is the way you are calling acquireToken. acquireToken api does not return a promise so you cannot call .catch() on it. It takes a callback instead which takes the errorDescription, token and error as parameters. I will spend some time on it tom to see if I can create a pull request on your code to fix the issues. Also can

[2018-01-18 13:19] dvm-2k1 commented on #703
@rohitnarula7176, thanks for your response. This is a SharePoint WebPart javascript code which is provided below...

`var isErrorMessageDislpayed = false;
function defer(method) {
    if (window.jQuery) {
        method();
    }
    else {
        setTimeout(function () { getServiceApiResults(method) }, 50);
    }
}
//Binds results onto the page
function bindAPIResults(Results) {
    var RelatedTe

[2018-01-18 13:52] DevarshiDave commented on #699
Azure didn't ask to provide any sharepoint URL in my azure app registration process, i simply selected the **Office 365 Sharepoint Online API** and then selected the permissions i wanted. I am using my own office 365 subscription account in my application to get the token for, And i have added that sharepoint url in my app.js (try looking for it in **LoginController**).

[2018-01-18 18:08] DevarshiDave commented on #699
My app is targeting to end users who can log in to their own sharepoint online accounts, so you can say i am using 'common' as a tenant.

[2018-01-18 20:46] rohitnarula7176 commented on #699
@DevarshiDave I found a couple of issues with your code. For instance, you misspelled endPoints, it should be 'endpoints'. In the login controller, you call dfd.reject(error) but you should use dfd.reject(err) as err is the variable defined in the rejected callback. I can get adal-angular to attach tokens to the outgoing requests. All you need to do is just send get requests on the click of button

[2018-01-18 22:31] oviorus commented on #702
Turns out the issue was with my browser, clearing all cookies from all websites (not just localhost as I have been doing) solved the problem.

[2018-01-18 22:31] #702 closed

[2018-01-19 00:09] rohitnarula7176 commented on #699
@DevarshiDave Please replace your app.js with the code below. I have explained a way to call graphAPI where adal-angular will attach the tokens to the outgoing requests. Make sure you add your clientId to both the places I have mentioned in the code. Please ensure that popups are enabled in your browser. You can use the same exact concept to call sharepoint. Closing this issue for now. Please reop

[2018-01-19 00:09] #699 closed

[2018-01-19 00:12] rohitnarula7176 commented on #703
@dvm-2k1 Can you please create a repo with the code that can reproduce the issue along with instructions on how to run it. The above snippet is not that easy to run directly.

[2018-01-19 09:16] Rickinio commented on #677
@rohitnarula7176  do you have any updates on the above? I'm having the same issue and following @Arikael 's solution at the moment. Is there any official way to solve it?
Many thanks in advance to both of you for your help and efforts.

[2018-01-19 09:27] DevarshiDave commented on #699
Thank you very much, I'll try implementing your suggested approach in my project and I'll share my feedback on this thread.

[2018-01-19 09:28] Arikael commented on #677
as far as I know `extraQueryParameter` won't be added to the logout url. So this is not viable solution.
Correct me if I'm mistaken

[2018-01-19 21:04] rohitnarula7176 commented on #677
@Arikael @Rickinio You are correct. extraQueryParameter does not get added to the logout url. We do have a property you can pass to the config (public property of adal) called logOutUri which you can use to create a custom logout url along with id_token_hint or login_hint whichever is required.
[code]
Can you please use that as a solution for now and let me know if it works. I did not get a chance

[2018-01-20 19:17] DevarshiDave commented on #699
Hi @rohitnarula7176 , everything seems working fine in the code you gave, i noticed that we have to specify the urls of resources we have to use in the **endpoints** objects, once we do that, adal-angular attaches token itself.
Now only one thing is bugging me is, when i log in, the app doesn't show permissions window anymore, the window where all the permissions which app needs was displayed afte

[2018-01-22 08:16] johannes-z opened #705 "Use KMSI from microsoft app"
I ran into a problem using adal.js on a microsoft app that already requires signing in with a user. More specifically, I want to access the MS graph API via javascript in a sharepoint environment. However, I can't seem to figure out a way to use the currently logged in user in sharepoint for adal.js, resulting in two logins: one for sharepoint itself (which has KSMI checked), and one for authentic

[2018-01-22 21:28] ramesh-chandra commented on #451
Although the issue is Closed. But few users of my site are still facing the same problem in Safari desktop/mobile.
Adal JS Version: 1.0.15
Angular: 1.5.8

Let me know if anyone resolved this issue.

[2018-01-22 22:31] rohitnarula7176 commented on #705
@johannes-z You can achieve this in the latest version of AdalJs 1.0.16. In the case where user already has an existing session with AAD and you just want to acquire a token for a resource for the same user using Adal, you can set extraQueryParameter:'login_hint=xxx' in the adal config and directly call acquireToken without calling login first. In this scenario, adal will send the request with res

[2018-01-22 22:31] #705 closed

[2018-01-22 22:35] rohitnarula7176 commented on #640
Closing this issue for now. Please reopen once you have the logs.

[2018-01-22 22:35] #640 closed

[2018-01-22 22:40] rohitnarula7176 commented on #664
@AnassKartit Sorry for the delayed response. Its not possible to issue the same token for 2 different web api's if thats what you are referring to. Multiple redirections occur because the library supports implicit flow where all token are received from the authorization endpoint via a redirect response (302) which causes the web app to reload. This is by design. Can you please elaborate?

[2018-01-22 22:43] rohitnarula7176 commented on #667
@faissaal7 Sorry for the delayed response. Unfortunately, we cannot change anything in the library to achieve this. You should be able to create an input config and pass that to the angular init function programatically though.

[2018-01-22 22:50] rohitnarula7176 commented on #685
@michaelllh Please refer to the following link to get started. https://docs.microsoft.com/en-us/azure/active-directory/develop/guidedsetups/active-directory-javascriptspa

[2018-01-22 23:11] rohitnarula7176 commented on #673
@vaibhavlakhotia Sorry for the delayed response. When you call acquireToken(resource, callback), it calls getCachedToken(resource) internally which first checks if the token exists in the cache and if it is valid. Please see below:
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/9d24c364e59424cf4378faba565a79b4b2313d16/lib/adal.js#L418
The error "Token renewal operation failed

[2018-01-22 23:11] #673 closed

[2018-01-22 23:13] rohitnarula7176 commented on #669
@faissaal7 Can you please provide a code repro for this issue.

[2018-01-22 23:14] rohitnarula7176 commented on #672
@salvoravida Thanks a lot for your contribution.

[2018-01-22 23:14] #672 closed

[2018-01-22 23:16] rohitnarula7176 commented on #671
@sandeepb6 @liambolling @anpetral-msft Can anyone provide a fiddler trace for the above issue which has two 302 responses , one for the login request (responseType = id_token) and another for the acquireToken (responseType = token and prompt = none) request.

[2018-01-22 23:35] fbn10040 commented on #660
@rohitnarula7176 - Please help. Still having issues with this (haven't reported yet because I got sidetracked into something else at work). Using Chrome Incognito mode I go into my SharePoint Online site and after authenticating, at login.microsoftonline.com, my SharePoint site loads but WITHOUT the MS Graph API data. When I reload the page, data DOES appear and keeps working on other reloads. Onl

[2018-01-23 00:09] mmckenz opened #706 "login() changes break functionality with previous versions and incorrectly assumes adal-angular use"
As of adal.js v1.0.16, AuthenticationContext.prototype.login no longer accepts a loginStartPage parameter. This is breaking to anyone using this functionality to control the LOGIN_REQUEST storage value to redirect to after handling a window callback.

adal.js - v1.0.15 - AuthenticationContext.prototype.login = function (loginStartPage) {
adal.js - v1.0.16 - AuthenticationContext.prototype.login =

[2018-01-23 00:53] rohitnarula7176 commented on #660
@fbn10040 What is this second file https://gist.github.com/fbn10040/464576d1ee806bcc3a20de716a4927fd and where is it used?

[2018-01-23 02:13] rohitnarula7176 commented on #660
@fbn10040 I apologize for the misunderstanding. You have attached 2 files. The second file has a function GetMyRecentFilesWebPart() Does the first file call this as well. What am I supposed to run? Last time you just attached a single file so it was not confusing.

[2018-01-23 02:28] fbn10040 commented on #660
@rohitnarula7176 - Sorry for the misunderstanding. Last time I had one file but no call to that file, however you added a call to ADALGraph at the bottom of your [modified script](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/660#issuecomment-346219277) as shown below. Going along with your code as seen below, I have separate out those lines and placed them on the "GetMyRe

[2018-01-23 02:59] mmckenz commented on #706
Thanks. I see a few alternative approaches:

1. Similar to what you recommend, set CONSTANTS.STORAGE.LOGIN_REQUEST prior to calling handleWindowCallback().
-or-
2. Set CONSTANTS.STORAGE.ANGULAR_LOGIN_REQUEST prior to calling login().

I'm not clear as to why CONSTANTS.STORAGE.ANGULAR_LOGIN_REQUEST was added. The name alone suggests it's specifically for the adal-angular component when it looks to

[2018-01-23 05:50] rohitnarula7176 commented on #706
@mmckenz The reason we added this is because due to the recent changes in angular ui routing, the state change event was not saving the toState url correctly which was resulting in users landing at a different page then what they started from after a successful login. Please refer to the following issue for details https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/536. So we h

[2018-01-23 08:06] johannes-z commented on #705
I added `extraQueryParameter: 'login_hint=<my_user_email>'` to the config I create the `AuthenticationContext` with. `authContext.login()` now lets me login silently without redirection/popup, but simply calling `authContext.acquireToken` without `.login()` did not work. This is the error I get:

Do you need more information for this issue?

[2018-01-23 18:18] aciccarello commented on #659
This would help with getting TypeScript definitions (see DefinitelyTyped/DefinitelyTyped#12586)

[2018-01-23 20:23] walunjsachin commented on #353
Was this issue ever resolved?  I have SPA web application (adal logout) does not redirect at all in IE 11 but same works fine in Chrome.

[2018-01-24 21:58] walunjsachin opened #707 "ADAL JS Logout"
I am trying to logout of web application (HTML and Java script), i see below url generate in adal logout function to navigate.

**https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Flogout.html%3Fautoaction%3Ddone**

It works fine in **Chrome consistently** and redirects me to my page mentioned in post logout redirect url but it **fails c

[2018-01-25 08:58] gizmo3399 commented on #647
@talorlik

Apologies for taking this long to respond.

We use a separate library called: [powerbi-ng2](https://www.npmjs.com/package/powerbi-ng2)
This library is able to actually take the embed url that you receive from the powerBi API and embed that in an element on your page.

I don't really have a stand-alone project I can share with you but I will paste some relevant code snippets that will ho

[2018-01-25 10:10] ramakrpr commented on #513
Hi, anyone managed to fix this? can you let me know how?
I am running behind this issue since 2 weeks. My Scenario being the same, the AJAX calls fails with the error after an hour of inactivity and the calls to login.microsoft.com fails with the same error.

[2018-01-26 07:48] max-buecker commented on #353
@walunjsachin Not really. My project was cancelled by management shortly after due to other reasons. I recommend adding a new issue with your details and reference the issue in here.

[2018-01-30 17:28] Codefearingguy commented on #537
Stuck with this same issue. Infinite loop of redirects when I try to login using IE 11 & Edge. Works fine in other browsers. Additionally, I have ADFS federation with seamless auth for IE , but the redirects is driving me nuts. Any help is much appreciated.

[2018-01-30 17:37] fbn10040 commented on #660
@rohitnarula7176  - any update on this? Kindly appreciate your help on this.

[2018-01-31 12:15] senser1 commented on #481
Where does renewal of the access token for the React SPA take place with the above setup? If I'm correct, the Axios intercepter renews access tokens for the API backend resource right? I'm having issues with renewing access tokens for the React frontend.

I saw the code to put in index.js but since its a SPA, index gets loaded only once.

Or am I missing something completely here? I'm using a Reac

[2018-01-31 14:13] oumaroudickoorckestra opened #709 "Adal JS with custom login page"
Hello,
Is it possible to use adal js with a custom login page.
We would like to make our custom login page and then forward the user's information to azure for the authentication.

Thanks

[2018-01-31 14:38] paztek commented on #457
Hi,

I'm having the same issue on Safari OSX.

If I keep `popUp: false` (the default), the redirection works OK but if I set `popUp: true`, no popup is opened and I get the same error message.

[2018-01-31 19:55] rohitnarula7176 commented on #706
@mmckenz Closing this issue. Please reopen if you have further questions.

[2018-01-31 19:55] #706 closed

[2018-02-01 00:02] rohitnarula7176 commented on #660
@fbn10040 I tried to run your code and I was able to get the graph data on the first reload itself. I did not see any issues. If you are still facing issues, lets schedule a skype call.

[2018-02-01 01:58] rohitnarula7176 commented on #677
@Arikael Please use the solution above and reopen the issue if you still have problems.

[2018-02-01 01:58] #677 closed

[2018-02-01 15:01] walunjsachin commented on #709
I understand it is not possible to have it in your application to take credential inputs to pass on to azure.  Instead it allows limited customization to login page for your organization branding.

Reference:
https://docs.microsoft.com/en-us/azure/active-directory/customize-branding

[2018-02-01 20:40] rohitnarula7176 commented on #709
@oumaroudickoorckestra It is not possible to have your custom login page. Please refer to the answer above.

[2018-02-01 20:40] #709 closed

[2018-02-02 10:56] JakobGSvendsen commented on #239
I have same issue.

it is a multi-tenant App.
I need to use app roles for permission level access and group claims to limit each resource to specific users/groups.

I am using ADAL.js, and is trying to find a good way to find groups and users, both the member of group of the currently logged user, but also a full list of users/groups from the directory.
It can be faily easily done with getting a k

[2018-02-02 12:59] nybroe opened #710 "renewStates and callBackMappedToRenewStates are empty or undefined"
Using `acquireToken` which renews the token in an iFrame, the context - and thereby `renewStates` - are lost. This goes for `callBackMappedToRenewStates` as well - though only in collaboration with adal-angular5 [(npm link)](https://www.npmjs.com/package/adal-angular5). The angular5 wrapper looks in `window.parent` for `callBackMappedToRenewStates`. If this is undefined it breaks. If it is empty,

[2018-02-05 11:28] nybroe commented on #710
Closing... Use MSAL.js instead - works out of the box.

[2018-02-05 11:28] #710 closed

[2018-02-05 12:33] claudiuconstantin commented on #690
My understanding is that some **breaking changes** were introduced in the latest version, 1.0.16. This breaks the `semver` standard. A major version would be the right thing to do here

[2018-02-05 13:48] rohitnarula7176 commented on #690
@claudiuconsttntin There were no changes made to the public API surface hence a major version was not released. We changed the internal properties and the developer should not be writing code using those properties. Please refer to my comment above. I can try to create a pull request for the ng2-Adal library to see if I can fix the issue.

[2018-02-05 13:50] rohitnarula7176 commented on #690
@claudiuconstantin There were no changes made to the public API surface hence a major version was not released. We changed the internal properties and the developer should not be writing code using those properties. Please refer to my comment above. I can try to create a pull request for the ng2-Adal library to see if I can fix the issue.

[2018-02-06 10:43] thepill opened #711 "SPA ADFS and roles"
hi people,

i cant get my head around a simple SPA accessing a aspnet web api usding adaljs and (on-premise) ADFS 4.0.

I would like to show different things on the SPA using roles, but the access_token nor the Id_token are containing any role claims.

The adfs application is configured to return the role claims based on groups.
Am i miss understanding something crucial or must the role be present

[2018-02-06 19:14] Rickinio commented on #677
@rohitnarula7176 i'm really sorry for my late response. I tried the above solution without success.

[2018-02-07 16:05] oumaroudickoorckestra commented on #709
Thanks your answer.

[2018-02-08 15:36] kov-hans opened #712 "Critical bug for aquireToken found in 1.0.16 release"
When aquiring a new token the code for saving the expected state in the _renewToken function was changed from
_window.renewStates.push(expectedState);_
to
 _this._renewStates.push(expectedState);_

and when receiving the token in getRequestInfo  function the code for getting expected states was changed from
_var statesInParentContext = window.parent.renewStates;_
to
_var statesInParentContext = th

[2018-02-08 19:51] rohitnarula7176 commented on #712
@kov-hans There is no bug in the library. We save the states on the adal instance on the parent window before we make the acquireToken call and when we receive the response in the iframe window, we use the code below to get the renewStates from the adal instance from the parent window.
[code]
I am assuming you are using a third party angular wrapper and that wrapper needs to be updated with the cu

[2018-02-08 19:51] #712 closed

[2018-02-08 19:53] rohitnarula7176 commented on #693
@wy193777 Thank you for for your feedback.

[2018-02-08 19:53] #693 closed

[2018-02-08 19:54] rohitnarula7176 commented on #703
@dvm-2k1 Closing this issue for now. Please reopen once you have a repro for this issue.

[2018-02-08 19:54] #703 closed

[2018-02-08 19:55] rohitnarula7176 commented on #671
Closing this issue. Please reopen once you can provide a fiddler trace for this issue.

[2018-02-08 19:55] #671 closed

[2018-02-08 19:56] rohitnarula7176 commented on #679
@geetikasharma26 Closing this issue for now. Please reopen once you have a code repro for this issue.

[2018-02-08 19:56] #679 closed

[2018-02-08 19:57] rohitnarula7176 commented on #667
@faissaal7 Closing this issue as it not something we can add to the library source code.

[2018-02-08 19:57] #667 closed

[2018-02-08 21:47] kov-hans commented on #712
But if the wrapper needs to be updated in order to work there is a breaking change between 1.0.15 and 1.0.16. Minor updates should not cause wrapper to fail, right?

[2018-02-12 16:38] RehanSaeed opened #713 "Retrieving All Delegated Roles using ADAL.js"
I have the following scenario:

#### SPA Application
- User - Has a role with this name.

#### API Application
- Resource.Read.All - Has a role with this name

#### SPA Group
- Has the User and Resource.Read.All roles added as delegated permissions.

When I login using ADAL.js, the user object only contains the roles for the SPA:

[code]

Is it possible to also retrieve the roles for the API appli

[2018-02-13 13:26] davemcmanus opened #714 ""const" keyword in adal.js file"
Please remove the "const" keyword in the adal.js file. This is preventing my unit tests from running in PhantomJS because it does not recognize ES2015 syntax.

[2018-02-14 06:31] navyasric commented on #711
@thepill  As mentioned [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-token-and-claims#idtokens), for the role claims to be present in the id_token, the appRoles property must be defined in the application manifest. Here is an AAD [sample](https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims#step-2-define-your-application-roles) of a .

[2018-02-14 06:31] #711 closed

[2018-02-14 07:39] thepill commented on #711
hi @navyasric thank yout for you information, but i think the provided link to `appRoles` does only belong to Azure Active Directory not to ADFS?

[2018-02-14 23:37] alexander-zheglov commented on #714
+1

[2018-02-14 23:45] navyasric commented on #713
@RehanSaeed Can you clarify about the SPA Group? Is it a single application registration with a SPA and an API component? In order to receive the roles claims, you will need to configure your application manifest. Here is a .net [sample](https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims) which shows how the configuration steps which may apply to your app.

[2018-02-15 09:26] RehanSaeed commented on #713
It's as I've written above, two application registrations and a group in the Azure portal.

[2018-02-15 09:27] RehanSaeed commented on #713
To be clear. The API is a separate application to the SPA application and has separate application roles.

[2018-02-15 12:35] thdotnet commented on #659
I think this project has been abandoned, they are using and improving msal nowadays

[2018-02-15 14:30] talorlik commented on #647
Hi Nicky,

Thank you for getting back to me.

I've managed to get the report to show with both *powerbi-ng2 *and
with *angular2-powerbi
*in a very similar way to how you have it in the code you provided.

The one thing that I was unable to do with either one is make use of the:
<powerbi-component [embedUrl]="report.embedUrl"
[accessToken]="report.accessToken" [type]="report.type" [id]="report.id
"

[2018-02-15 23:47] lworkman commented on #714
I agree. It's currently breaking my script when it runs on websites set to IE10 mode (as in SharePoint online)

[2018-02-15 23:50] rohitnarula7176 commented on #714
@davemcmanus @alexander-zheglov @lworkman The const keyword has been removed in the dev branch. It will be part of our next release sometime next week.

[2018-02-19 12:31] ongun23 commented on #703
The issue is going on!

`// In order to call the Graph API, an access token needs to be acquired.
        // Try to acquire the token used to Query Graph API silently first
        userAgentApplication.acquireTokenSilent(graphAPIScopes)
            .then(function (token) {
                //After the access token is acquired, call the Web API, sending the acquired token
                callWebApiW

[2018-02-19 16:31] JimmyBoh opened #715 "Sign out a specific user account."
Is there a way to sign out a specific user based on their id (email in our case)? I implemented an auto-sign out functionality but it sits at the "Which User Account" page rather. I'd like to decide which user account it should log out of, is that something I can specify? Thank you!!

[2018-02-21 18:03] sainomercy opened #716 "Can't caught the token when using acquireTokenPopup"
I am using plain java script for my code and the popup comes as excepted but after logging in i cant caught the token, if I reload the page then I see the token.

can you please help me, thank you

ref: `var token = ctx.getCachedToken();
                if (token) {
                    dfd.resolve(token);
                }  else {
                    ctx.acquireTokenPopup(clientId, null, null, fun

[2018-02-22 11:13] seel93 opened #717 "Unecessary token renewal after valid token returned, causes invalid_state"
I am trying to run a SPA(angularjs, webpack) deployed with azure app service, but non of the API calls are triggered.

After login I'm redirected back from Microsoft, the Adal token in session storage is valid, but as soon as i change the route, the token is invalid and nothing works.

The API calls are not running and there are no xhr request in the network tab. I am clueless as to why this i hap

[2018-02-22 18:58] rohitnarula7176 commented on #717
@seel93 Can you please attach a code repro for this issue so I can investigate this further.

[2018-02-22 18:58] rohitnarula7176 commented on #716
@sainomercy Can you please attach a code repro for this issue?

[2018-02-22 18:59] #714 closed

[2018-02-22 19:43] sainomercy commented on #716
@rohitnarula7176  Thanks for responding.
[test.zip](https://github.com/AzureAD/azure-activedirectory-library-for-js/files/1749297/test.zip)

[2018-02-22 22:14] kov-hans opened #718 "Question:"
Hi!
I'm coding an Angular5 app and I'm using the adal-angular4 wrapper and I can't get aquireToken to work.
After debugging this is what I think is happening.
1. I call aquireToken.
2. An authorize request is sent and when the token is returned my app is restarted.
3. The restart starts with that I initialize my adal-angular4 service which calls the inject method to create the AuthenticationContex

[2018-02-26 08:41] tscislo opened #720 "URI params gets cleared"
I have some filtering parameters passed as URI params ?filterA=xxx&filterB=yyy, which when I copy and paste to new browser tabs gets cleared by adal-angular. When I disable adal-angular those URI params don't get cleared.

[2018-02-26 10:51] cobaltsoftware commented on #720
What do you mean by "gets cleared by"?

[2018-02-26 10:56] tscislo commented on #720
Here is the scenario
1. I'm using adal-angular5 which uses adal-angular on SPA
2. I log in on page: http://localhost:4200/something successfully
3. I use app normally and navigate to http://localhost:4200/something?filter=A
4. When I copy paste http://localhost:4200/something?filter=A to another tab I get authenticated properly as I should, because I have active session in this browser, however du

[2018-02-26 11:24] cobaltsoftware commented on #720
I would check to make sure of a few things

1. The token is being saved,
2. Your token is passed to the server with EVERY request
3. Your timeout has not expired.

Also remember, with SPA's, even updating part if the page requires the authorization token that was received at logon. And if the session is close to  expiration, it has to be renewed before it expires.

[2018-02-26 20:43] rohitnarula7176 commented on #720
@tscislo Url query params are not retained during redirection from AAD by design. This is is the reason we strip the query params from the login start page before redirecting the user to the authorization endpoint. Please see below: https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/beee84cb37d59b04f15e06140d3c3dc1d61cade9/lib/adal.js#L171
You will have to save the query params e

[2018-02-26 20:43] #720 closed

[2018-02-26 20:47] rohitnarula7176 commented on #718
@kov-hans Most likely the wrapper you are using is not updated with the latest code of Adaljs or the wrapper is not written correctly. Can you provide a code repro of this issue?

[2018-02-27 10:32] kov-hans commented on #718
Hi!
Thank you so much for helping me with this!
1. Edit src/environments/environment.ts and add configuration needed for the application and the api.
2. npm install
3 ng serve -o
4. Click Login.
5. After successful login click the aquireToken link.
6. In the src/app/header/header.component.ts you can see the call to aquireToken.
7 When the token is received, the ngOnInit method is called in src/ap

[2018-02-27 14:25] sainomercy commented on #716
thank you

[2018-02-28 12:43] rtarasov opened #723 "Problem with _renewIdToken. Token is never renewed after the expireOffsetSeconds"
Hi Guys!
It seems like _renewIdToken doesn't work properly after expireOffsetSeconds has passed.
The problem is that: STORAGE.STATE_RENEW is never saved on _renewIdToken. Instead you do:
        var frameHandle = this._addAdalFrame('adalIdTokenFrame');
        var expectedState = this._guid() + '|' + this.config.clientId;
        this._idTokenNonce = this._guid();
        **this._saveItem(this.CON

[2018-02-28 14:11] chenxizhang opened #724 "I can not complete the authentication flow"
Hi there , i just create a simple html page to test adal js library, but i always failure . The browser is always refresh but i can't get back to the page and get the token

It is urgent for me because we need to help our customer to get start with this library, so if you can reply quickly, it will be very important for me.

thank you

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

[2018-02-28 14:33] chenxizhang commented on #724
@rohitnarula7176  could you please take a look this issue, thank you very much

[2018-03-01 22:41] rohitnarula7176 commented on #723
@rtarasov When you call _renewIdToken, adal sends the request in a hidden iframe and saves the state on the parent window. We save the state in the browser local/session storage only in the case of loginRedirect or acquireTokenRedirect api.

Please see the below lines of code.
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/703e560f26de90fef9ae955529605672242c1f71/lib/adal.js#

[2018-03-01 22:41] #723 closed

[2018-03-01 22:42] rohitnarula7176 commented on #724
@chenxizhang I sent you the working snippet via email. Please use that to resolve your issue.

[2018-03-01 22:42] #724 closed

[2018-03-01 22:50] #622 closed

[2018-03-01 22:51] #511 closed

[2018-03-01 22:51] #530 closed

[2018-03-01 22:51] #565 closed

[2018-03-01 22:51] #669 closed

[2018-03-03 17:41] viganella commented on #256
I have a very similar issue, where the user goes to a specific route project/:projectId then it is redirected for login to Azure portal, after authentication he goes to auth-redirect route, and at this route I need to know the projectId that I initially requested to access so I can direct the user at the right place!!
Should  'state' parameter take care of this, or does anybody else have a more in

[2018-03-05 15:51] viganella opened #725 "Use the 'state' parameter not possible."
When I go to config and add 'state' parameter which according to Micorsoft documentation is:
"Value included in the request that also will be returned in the token response. It can be a string of any content you want. A randomly generated unique value typically is used to prevent cross-site request forgery attacks. The state also is used to encode information about the user's state in the app befo

[2018-03-05 19:55] nehaagrawal commented on #725
Hi viganella, I assume you are referring to this document [https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols-oauth-code]. We do generate state parameter in our code to prevent cross-site request forgery attack. Can you please elaborate more about your issue? Do you want to send the state parameter yourself instead of the one provided by ADAL library?

[2018-03-05 21:01] nehaagrawal commented on #713
@RehanSaeed can you please explain your user case. Why do you need the roles for both the SPA Application and the API?

[2018-03-05 22:06] nehaagrawal commented on #665
Hi @ChebroluSuresh ,
It's quiet late but if you are still struggling with issue, can you please try the steps in below link.

https://www.stephenmann.net/single-post/2016/11/03/Fix-Azure-AD-Error-AADSTS50020-when-logged-in-user-doesnt-have-permissions-to-selected-Application

[2018-03-05 22:27] nehaagrawal commented on #717
@seel93 is there any exception in the console? Also if you are not comfortable sharing your repo, is it possible for you to create a very basic sample application with just the adal library usage.

[2018-03-06 09:41] chamikasandamal commented on #600
+1

[2018-03-06 09:56] seel93 commented on #717
The problem was related to this issue:
https://github.com/AzureAD/azure-activedirectory-library-for-js/pull/523

But it has been fixed in the latest version of adal. Everything works now. Apologies for late answer

[2018-03-06 09:56] #717 closed

[2018-03-06 12:35] viganella commented on #725
Hi @nehaagrawal , yes I am referring to that document. I saw that you provide your own generated 'state' parameter, but I think you should allow us to provide our own state parameter.
If you refer to aforementioned Microsoft document it is says that 'state' is ALSO used to: "... encode information about the user's state in the app before the authentication request occurred, such as the page or vie

[2018-03-07 00:26] nehaagrawal commented on #725
@viganella we have acknowledged this issue an an enhancement.

[2018-03-07 16:08] RehanSaeed commented on #713
I was wondering if I could use the API roles to perform hide/show parts of the SPA instead of duplicating the role in both the SPA and API.

[2018-03-12 11:18] brajeshb opened #726 "Token renewal operation failed due to timeout null ( Azure API call from SharePoint Online)"
I have requirement to call azure web api from SharePoint online. But no luck till now to get across. Please share any reference, if available.  Check my code as below
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.17/js/adal.min.js"></script>
<script type="text/javascript">

function CallAzu

[2018-03-14 12:55] petinho commented on #580
Hi
I'm having exactly the same behaviour when I'm signed in with two different accounts.
Im using the adal-angular4 wrapper, but the problem is the same. When I call login, the following screen appears to select an account:
![image](https://user-images.githubusercontent.com/9249768/37403201-4b405c78-278e-11e8-8b23-6b1038234e62.png)
I select the account and get the token correctly.
After this, if I

[2018-03-14 22:20] qz2017 opened #727 "ADAL.js does not work in a cross-domain iframe"
We are trying to use adal.js to fetch token for code inside a cross-domain iframe. And it fails.

Basically the host page is on domainA. The iframe is pointing to a page in domainB. The page in domainB is calling ADAL.js to fetch token. Token is fetched fine. But adal code fails at handleWindowCallback because it is checking on window.parent (which is cross-domain). The offending code is at:  http

[2018-03-15 12:47] nitrix-reloaded commented on #659
I agree this needs a split into two repos.

[2018-03-15 19:26] nickgsoft commented on #222
Did any one find any assistance on this instance?? i am also looking for ADFS 2016 + ADAL JS to get authentication token done, so we can access other internal CRM API's??
Please assist if any clue??

[2018-03-18 16:23] JoshSchoen commented on #718
Any resolution to this? I am seeing the same thing.

[2018-03-20 10:05] aboodh95 opened #728 "doing Acquire Token with Username and Password"
Hi

can i perform AquireToken with the user credential, i don't want to redirect him or show pup-op window,

Is this possible

[2018-03-20 17:37] navyasric commented on #727
Authenticating interactively from an app running in an Iframe is not supported because of security concerns in AAD with [clickjacking](https://www.owasp.org/index.php/Clickjacking) attacks. Adal.js is not designed to be called by an app from inside an Iframe.

A possible approach is for the application to run as JS served by the host application and use the AAD session established for a user by th

[2018-03-20 17:37] #727 closed

[2018-03-20 18:13] navyasric commented on #728
Adal.js does not have support for acquireToken with username and password. If you can first establish an authenticated user session or context , you can then use acquireToken to obtain tokens silently without interaction by setting the login_hint as extra query parameter in the Adal.js context.

[2018-03-20 18:13] #728 closed

[2018-03-21 14:48] mahpour commented on #600
@Hongbo-Miao hellojs only supports authentication for Graph, if you need to get multiple tokens to interact with Microsoft Graph and other apis like Sharepoint, it doesn't support that. They only library that could support implicit authorization properly is adal.js and at this time there're no (angular >=2 ) library that compiles with no aot errors and up to date with latest versions of angular 5+

[2018-03-21 14:51] hkusulja commented on #600
@mahpour are there any known plans for ADAL and Angular support from Microsoft?

[2018-03-21 17:07] mahpour commented on #600
Not sure, Microsoft team seem not to be focused on the newer versions of angular framework on their products lately. I even left them comments and received no response. I saw their React team being more active. On the UI side they have not made much progress on Fabric UI for angular 2+ but they have active work on React library for that.

I have seen many implementations of ADAL angular 2+ by indi

[2018-03-21 18:44] chamikasandamal commented on #600
What about adal-angular5? i was able to authenticate using this without any issues. but facing issues when calling graph API

[2018-03-21 19:08] mahpour commented on #600
I run into a number of issues using adal-angular5 including the token retrieval for multiple endpoints. also are you able to compile with aot turned on?

[2018-03-22 00:36] jrmcdona commented on #600
What is the issue with ADAL and Angular?  We have  project that uses it and have not heard any issues.

[2018-03-22 00:37] jrmcdona commented on #600
We are not using Graph.  We are calling our own .NET Web API  and passing a bearer token from our Angular front end which uses ADAL.

[2018-03-22 07:51] chamikasandamal commented on #600
Calling .net API will work with adal-angular5 as well. but the issues is when you are integrate with graph API or try to get token renewals.

[2018-03-22 10:55] gyanesh-gupta commented on #513
Is there any resolution or workaround yet. We faced the same issue sometime back

[2018-03-22 10:56] gyanesh-gupta commented on #513
Is there any resolution or workaround yet. We faced the same issue sometime back

[2018-03-23 11:28] lgadola commented on #391
I get the error "Token renewal operation failed due to timeout".
Managed to successfully connect to MS Graph and Office365 with the same mechanism. (AcquireToken)
However, trying to connect to a simple WebApi App published in Azure throws this error.
Created a very basic WebApi with AAD Bearer auth for testing
[angular5-adal-example.zip](https://github.com/AzureAD/azure-activedirectory-library-for

[2018-03-23 23:52] mmckenz opened #729 "acquireToken() relies on AuthenticationContext._user being set (which isn't always true)"
We use the ADAL.js directly (no adal-angular.js) and are having issues when retrieving access tokens.

Scenario:
1. User logs in.
    - login() is called
2. User is redirected back after logging in with an id_token as the URL hash.
    - handleWindowCallback() is called and AuthenticationContext._user is set
3. User is redirected back to their initial page and attempts to access a resource.
    -

[2018-03-26 09:11] indriesergiu commented on #532
Hi, I have the same issue as @paonekumar . See logs below
[code]

[2018-03-26 11:56] sajagekar commented on #501
@MNF I have implemented the same and passing query param as domain_hint still it is not restricting the different tenant.

[2018-03-26 23:50] nsksaisaravana commented on #695
What we have to pass for resource?

[code]

[2018-03-27 07:44] lgadola opened #730 "Token renewal operation failed due to timeout - get access token from web api"
I get the error "Token renewal operation failed due to timeout".
Managed to successfully connect to MS Graph and Office365 with the same mechanism. (AcquireToken)
However, trying to connect to a simple WebApi App published in Azure throws this error.
Created a very basic WebApi with AAD Bearer auth for testing
[angular5-adal-example.zip](https://github.com/AzureAD/azure-activedirectory-library-for

[2018-03-27 07:50] Shenrak commented on #659
I can't even launch my app because 'angular' isn't defined in my react project...

Needs a split.

[2018-03-27 07:54] indriesergiu commented on #391
I managed to fix the issue by using @tushargupta51 's 1st suggestion: using simple adal.js and calling `adal.handleWindowCallback` on every page load. The `handleWindowCallback` method will examine the URL and if it contains token information it will proceed to parse the URL response and call the configured callback for the token acquire operation.

I used the following code:
[code]

[2018-03-27 14:52] aciccarello commented on #659
@shenrak, you should be able to use the pure JS file that doesn't require angular. Splitting the repo is more about convenience than technical limitations.

[2018-03-28 16:25] luis-ribeiro opened #731 "Token is null in requests when loginInProgress()"
Hi, not sure if this is an error or if I am not seeing all the aspects of adal.

In some cases, my authentication or request process hits this condition, where tokenStored is null, and in the following conditions authService.loginInProgress() is true.

![image](https://user-images.githubusercontent.com/16116591/38042345-0997901a-32ac-11e8-88ef-74cbc0a6bbb9.png)

So, from what I understood, when th

[2018-03-28 17:19] MarkHerhold opened #732 "Bundle Size"
Please consider reducing the number of things bundled with adal in npm. Most people don't need the `tests/*`, `.jshint`, `karma.conf.js`, `Gruntfile.js`, or `changelog.txt` files.

[2018-03-29 10:07] HarshitJn opened #733 "Not logging in for MFA enabled accounts"
I am not able to login to my account which has MFA enabled. On calling login everything works fine but I never get an option for multi factor authentication and the popup just closes leaving me in un-logged in state. I am using angular 5.1.2 and ng2-adal along with angular-adal.

I get the following in hash:
#error=interaction_required&error_description=AADSTS50079%3a+The+user+is+required+to+use+m

[2018-03-29 20:22] pauldalyii commented on #443
Is there a rough timeline for either this or #659?

[2018-03-30 08:34] MatthiasDebaere opened #734 "Why is there no implementation of console.log here?"
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/c306c17e46c108ae680bd90829e8e98fb65416a1/lib/adal.js#L196

Hi, this is more of a question than an issue..

I'm wondering why there's no implementation of console.log there, because now we have to manually map it to console.log like so:
[code]

What's the reasoning behind this?

[2018-04-02 18:24] rohitnarula7176 commented on #734
@MatthiasDebaere We do not want to log messages by default as it might increase the write limit in the browser and crash when an app is running for a prolonged period or if it gets stuck in an undefined state.

[2018-04-02 18:24] #734 closed

[2018-04-02 18:26] rohitnarula7176 commented on #733
@HarshitJn Can you try calling acquireTokenPopup for the resource which require MFA. You will need to consent once for the resource and you can then call acquireToken to get the token silently for subsequent calls.

[2018-04-02 18:27] rohitnarula7176 commented on #732
@MarkHerhold Thank you for the feedback. We have that to ensure that the external contributors can run all the tests before submitting a pull request. We can look at removing that from the bundle.

[2018-04-02 18:27] #732 closed

[2018-04-03 08:34] luis-ribeiro commented on #731
This is already fixed in version 17. Can close.

Thanks,
Luis Ribeiro

[2018-04-03 09:14] MatthiasDebaere commented on #734
Thanks for answering, the write limit is a bit far fetched imo since the default logging level is 0 which means only errors and if you're having errors i'm thinking your app is probably broken way before it would be in the situation of exceeding the write limit.. that said, the 'undefined state' reason i can get behind (looking at IE there..). Thanks for the information!

[2018-04-03 19:17] HarshitJn commented on #733
Actually I am using ng2-adal library in my angular project and it doesnt provide any functionality to call acquireTokenPopup(). I tried to call this function explicitly after login by changing some code in that library but it didnt do anything.

[2018-04-05 10:13] hkusulja commented on #256
Hash / fragment url is not supported by OAuth2 / RFC standard to be in part of redirect url.
But if you are using routes like https://localhost:1234/projectId/4  , as return url it should work.

However, Azure AD application requires that concrete and absolute url is registered as reply url, so it is not possible to dynamically change url path / parameters.
I do not know, why and where is this doc

[2018-04-05 14:28] dave0688 commented on #391
I'm facing the same issue and been trying to solve it for days. How can I solve this for an Angular 5 app? Do I have to call handleWindowCallback() in an interceptor so that it gets called everytime? I'm really kind of stuck on this.

[2018-04-06 10:35] ESadouski opened #735 "Question about Angular 5 iframe issue"
Hi guys,
There is a know problem with adal.js iframe:
https://github.com/AzureAD/azure-activedirectory-library-for-js/wiki/FAQs#q1-my-app-is-re-loading-every-time-adal-renews-a-token
Has anyone already solved this problem in Angular 2+ and Angular-Cli?

[2018-04-06 13:52] indriesergiu commented on #391
I'm afraid I don't have a lot of experience with angular 5 so I couldn't
say if interceptors are the right place. But I would say go ahead and try.
If that doesn't work try calling the handleWindowCallback() method from the
start of each controller.

But remember, this handleWindowCallback() works for simple adal.js
implementations. If you're using AdalAngular you need to make sure another
method

[2018-04-11 10:36] thijskuipers opened #736 "Calling acquireToken() always leads to "Loading frame has timed out after: 6 seconds for resource" in console"
I noticed that calling `acquireToken()` with `login_hint` (for silent token acquisition) always leads to the message "Loading frame has timed out after: 6 seconds for resource <resourceUri>".

I think the root cause is in method `saveTokenFromHash()`. Because the response contains both an access_token and id_token. The `resource` in this method is first derived from the stateResponse:
https://gith

[2018-04-11 18:29] djcurtis2 commented on #647
@talorlik
I was able to use <powerbi-component [embedUrl]="report.embedUrl"
[accessToken]="report.accessToken" [type]="report.type" [id]="report.id
"></powerbi-component>.

The trick for me was to use the token I received from "https://login.microsoftonline.com/common/oauth2/authorize?resource=https://analysis.windows.net/powerbi/api", and NOT the Power BI embed token.

[2018-04-12 06:55] sixty-four-bit opened #737 "Arrow function is not working in with IE11"
Can you please transpile it before putting it to npm.
its not working with IE11

[2018-04-12 10:47] thiner opened #738 "Infinite Login Loop"
Version: **1.0.17**
Browser: **Chrome 65.0.3325.181 (Official Build) (32-bit)**

Scenario: I logged in to portal.azure.net with account _dummy@live.com_, then I open my web app in another browser tab, this web app is configured in AAD with access limitation that allow only company accounts. The web application appears infinite login process.

The URL replied by AAD with error message as below:
`ht

[2018-04-12 13:54] bparkerhsd opened #739 "ASP.NET Core 2 Angular 4 adal_angular issue - window not defined"
I am using the ASP.NET Core 2 Angular 4 template in Visual Studio 2017. When the code is in the AuthenticationContext (adal_angular4) function, a window.Logging statement is encountered. This results in a window not defined error. It appears the window object is not available.

Is there way for this library to not use the window object?

[2018-04-12 23:31] sixty-four-bit commented on #737
should be for react-adal

[2018-04-12 23:32] #737 closed

[2018-04-17 02:32] rangedsp commented on #472
I tracked down a similar issue using [jwt.io](jwt.io) to check the 'aud' property in the jwt token, as it turned out I was using the wrong audience from the one I set in AAD.

[2018-04-18 00:06] robert-wallis commented on #391
I've been able to easily reproduce this by manually setting the `sessionStorage['adal.expiration.key...............']` variable to a timestamp in the past.

[2018-04-18 22:55] frankchen76 commented on #600
While everyone is waiting the new version coming, feel free to try the library called [ezcode-adal-angular5](https://www.npmjs.com/package/ezcode-adal-angular5) which wrapped adal.js and provide support for angular 5 projects. You can also check an example from https://github.com/frankchen76/EZCode-Adal-Angular5-Sample which showcase how to use that library with a Angular 5 and Bootstrap 4 applica

[2018-04-19 22:24] rohitnarula7176 commented on #739
@bparkerhsd We already introduced a check in the library to check if the window object is undefined before we try to use it. Please see below:
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/f20a0ddde2faef87f87aae8e6aafe4de2c6b7a50/lib/adal.js#L192

Are you using the latest version of the library. Also we have to use the window object as the library works receives all response

[2018-04-19 22:24] #739 closed

[2018-04-19 22:29] rohitnarula7176 commented on #738
@thiner The errors you are are referring to refer to two different things. errorDesc refers to the error you received at the time of login. After we extract this error , we then call your callback function with this error.

The last error in the try catch is to handle the case where your callback function encounters any errors. This is the correct sequence. Can you elaborate on the issue you are f

[2018-04-19 22:34] rohitnarula7176 commented on #735
@ESadouski This issue is not a bug in the library but the way 302 response works. If you set the root page of your app as the redirectUri and try to acquire a token for a resource, you are redirected back to your app with the accessToken served in the url fragment which forces a browser reload and all the scripts defined on your root page to rerun.

 This happens inside an iframe and a quick way t

[2018-04-19 22:39] #668 closed

[2018-04-19 22:39] #664 closed

[2018-04-19 23:07] rohitnarula7176 commented on #731
@luis-ribeiro Thank you for pointing out this issue. I have made a fix for it in the dev branch. The way this was previously working is when you say deferred.resolve(config) in the interceptor, it re sends the http request and then the variable tokenStored gets assigned as it is saved in the browser cache when the method is broadcasted.

Closing this issue for now. Please reopen if you face any mo

[2018-04-19 23:07] #731 closed

[2018-04-19 23:08] #685 closed

[2018-04-19 23:09] rohitnarula7176 commented on #707
@walunjsachin Closing this issue as this is not an issue with the library.

[2018-04-19 23:09] #707 closed

[2018-04-25 06:56] prashantharshi opened #741 "AADSTS50058: A silent sign-in request was sent but no user is signed in"
Hi

We have a use case where in we want to fetch user's id_token. We have not used ADAL in our project but we are leveraging ADAL.js renewIdTokenMethod() to call v2 endpoint with reponse_type as id_token in hidden iframe. in browser we check keep me sign in checkbox so that authentication cookies is persisted and AAD successfully returns me id_token in the url fragment.

but when i try running my

[2018-04-25 10:35] alxsj commented on #580
Hi,
Same scenario, same error for me (with adal-angular5). Did you find a fix or workaround for this ?

[2018-04-25 15:32] Wozbo opened #742 "getCachedToken has side effects that can cause intermittent 401's"
In adal.js, the getCachedToken function (provided) has a side effect that affects people using this.

[code]

If the token's expiry is within the zone of the expire offset, the token gets nulled out in the session and nothing is returned.  The issue here is that depending on this for JWT bearer requests will fail intermittently while the application is refreshing the token.

Why are we unsetting a

[2018-04-25 15:34] Wozbo opened #743 "Support a silent renew link for using in the renew Iframe"
When renewing a token, the site should support a separate renew URL.  This allows us to not have to reload an angular application/ do other processing logic and have a lightweight renewal page.

[2018-04-25 21:54] salvoravida commented on #481
see here :  https://github.com/salvoravida/react-adal

[2018-04-25 22:29] salvoravida commented on #189
https://github.com/salvoravida/react-adal

[2018-04-26 20:48] r-e-d-s-a-n-d commented on #391
Looks like the iframe is not redirecting properly. I was able to solve it by modifying the adalFrame function.

`
AuthenticationContext.prototype._addAdalFrame = function (iframeId) {
    if (typeof iframeId === 'undefined') {
        return;
    }

    this.info('Add adal frame to document:' + iframeId);
    var adalFrame = document.getElementById(iframeId);
    var self = this;
    ** added onlo

[2018-04-29 03:48] meng-han commented on #736
Is there anyone looking into this issue? acquireToken is not working. To make it work we have to go back to version 1.0.15.

[2018-04-30 18:48] PavelPikat opened #744 "CDN is not wokring"
Both links to ADAL 1.0.17 and 1.0.16 on Microsoft's CDN stopped working.

[2018-04-30 21:38] rohitnarula7176 commented on #744
@PavelPikat The cdn links are working. Please reopen the issue if you still face any issues.

[2018-04-30 21:38] #744 closed

[2018-05-03 00:11] jillcary commented on #742
I have also been seeing similar behavior.

[2018-05-08 05:06] NiranjanAbb opened #745 "unable to login in IE using adal 5"
I am using Adal 5 for Azure authentication. It works fine in localhost. When I host my website in azure and try to login in IE, it just reloads the page. Popup will not come to enter email id. It works fine in other browsers.

Below is my code snippet.

this.adalSvc.login();

[2018-05-08 20:01] butchmarshall opened #746 "Using an iFrame for getting the token - Is adal-angular doing something I'm not aware of? Is this a bad idea?"
- I don't want to have popups/redirects away from my app in order to acquire the initial token.
- My spfx webpart lives within SharePoint so the users already guaranteed to be signed in.
- I have enabled "implicit flow" on my app
- I only use the token once against my external API to validate the authenticated user (then issue them a token from my service).  No need for refresh.

This code seems t

[2018-05-09 03:11] marcoforce commented on #463
I'm also currently experiencing the error. I'm using 'adal5services' and 'adal-angular5'. I have already requested help via stackoverflow you can check this out
[](https://stackoverflow.com/questions/50244736/adal5-angular-looping-error-in-the-url-instead-of-showing-a-ui-when-user-is-not)

 I cant apply the solution provided here, since we are using typescript or I don't know how to apply it for m

[2018-05-09 11:56] VenkateshLakamana commented on #580
Hello,
Did anyone find a solution for this?

[2018-05-09 12:06] silver-stack opened #747 "Upgrade to Angular 6.0 - Issue due to deprecation of shims"
Hello, I have recently upgraded one of our projects that uses adal-angular from version 5.2 to 6.0 and we are receiving the following error within browser console:

[code]

After some further investigation I believe that this issue is related to the removal of shims from version 6.0.  There is more information here: [#9827 (comment)](https://github.com/angular/angular-cli/issues/9827#issuecomment-

[2018-05-09 13:09] prashantharshi opened #748 "Is ADAL works only on javascript clients/SPA running on browser and not desktop office add-in apps?"
Hi

We are creating an add-in for word desktop , and we want to use ADAL. Will it work fully functional there on desktop clients as well ? i have read from many posts that it is designed to work mostly with javascript clients running on browser

[2018-05-10 16:37] saransh944 commented on #459
Hi @tushargupta51 , the same thing is happening for me. I have the acquire token in two places:
1. Http interceptor
2. URL change detection

But, as mentioned above, the 'isAuthenticated' property is not getting updated to true even after acquireToken refreshes the token. Is there a way to toggle this property manually after the token refreshes?

[2018-05-10 17:34] SergeyLaptsevich commented on #459
@saransh944 Does the workaround I posted in the first comment work for you (see below)?

[code]

[2018-05-15 11:00] StevenLiekens opened #749 "Use modern async programming practices"
Many of the APIs like `handleWindowCallback` are callback based. This approach to do async stuff is difficult to use and even more difficult to maintain.

[code]

Please add Promise based versions of APIs that emit some state when called.

[code]

Thanks.

[2018-05-15 21:02] richardspence opened #750 "Threading issue with Nonce, LocalStorage, and extra browser tabs"
When using LocalStorage, nonce guids are stored there.  If you have multiple tabs open context can bleed if they both try to renew the id token concurrently, causing "User login is required" errors in logs.  This is because the nonce can be mutated between tabs and overwritten.

One solution would be to not use storage for NONCE_IDTOKEN, and instead use class variables.  This will enable all calls

[2018-05-15 21:59] mmckenz commented on #729
@richardspence - getUser() does indeed populate the _user cache object as you mention. This is actually the way we work around the issue today.

This very behavior you describe actually masked the issue for us for a while. We previously had logic which called getUser() prior to any acquireToken() calls and thus the _user object was always populated when needed. Our code was then updated as the ini

[2018-05-17 12:11] evnexus commented on #747
Hi silver-stack,

Have you tried this solution?
https://github.com/angular/angular-cli/issues/8160#issuecomment-386153833

[2018-05-17 14:12] StevenLiekens commented on #695
@nsksaisaravana the resource is displayed in the azure portal under active directory/app registrations.

[2018-05-18 00:49] 2P2-Anthony opened #751 "ADAL SPFx getCachedUser is always null"
We have an SPFx web part working pretty well, but even if the user is already logged into Office 365 when they hit the page containing the SPFx web part - the getCachedUser object is always null. This forces a redirect for login, which auto-redirects back to our application page immediately.

Our original PoC with straight JavaScript never did this, but the SPFx web part always redirects on first

[2018-05-18 07:50] StevenLiekens commented on #746
Well for one you're not doing any error handling. Can you explain how this question relates to adal-angular?

[2018-05-18 08:19] StevenLiekens opened #752 "Support callback via postMessage"
Using hidden iframes to acquire tokens silently is brilliant except for one thing: the token callback is invoked from the iframe instead of the top window.

[code]

This is bad for me because any errors that are thrown inside the callback function cannot be logged in `window.onerror`.

Instead you get a generic "Script error." because of browser security and stuff.

[code]

[2018-05-18 08:31] StevenLiekens commented on #752
A good solution would be to pass the `window.location.hash` from the iframe to the top window before doing any processing.

[code]

Then in the top window, listen for messages that contain hashes and then send them back to the `handleWindowCallback` function.

[code]

[2018-05-18 12:26] butchmarshall commented on #746
Sorry - I tried to keep my example small.

I'm wondering why ADAL doesn't have a similar option to prevent page redirects entirely.  Is there something wrong with doing it this way?

The actual code is...
[code]

[2018-05-18 12:55] StevenLiekens commented on #746
Gotcha. I think this is the important bit:

This is probably one of the rare occasions where you can guarantee that the user is already authenticated. Other apps don't have that luxury and have to be able to show a sign-in page.

So is it a bad idea to hide the id_token flow? Personally I don't think so. But is it worth building it into this library? Maybe if there was more demand.

[2018-05-21 12:03] Alaiven opened #753 "getResourceForEndpoint may contain a bug"
Isn't this code:

` for (var configEndpoint in this.config.endpoints) { ....`

in [adal.js, line 1263](https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/49ecdcc655312a111d470858cb424c3c609de4d7/lib/adal.js#L1263) iterating over indices of array, instead of values?

EDIT:

From other examples, I see, that the `endpoints` property has to be an object, and everything works normally

[2018-05-21 23:06] viganella commented on #100
So the issue got closed just like this, with  no clear direction where to look at? Interesting.

[2018-05-22 11:02] RobPethick opened #754 "renewToken response with handleWindowCallback calls callback with null token unless acquireToken has been called"
I am calling renewToken to get my access_token and then using handleWindowCallback to

From line 1340
[code]

The issue is that we need requestInfo.requestType to be RENEW_TOKEN but it isn't set to RENEW_TOKEN in the _renewToken method (it does set it in the acquireToken method).

I think we just need to set the requestType in the renewToken

[2018-05-22 15:13] StevenLiekens opened #755 "Hash stripping breaks Angular 2+ navigation events"
I want to use my own redirect behavior after calling `handleWindowCallback`, using Angular 5 routing.

[code]

This doesn't work: the navigation to /home gets canceled by `handleWindowCallback`.

![image](https://user-images.githubusercontent.com/1583241/40371455-c963b282-5de2-11e8-8c61-43b0bc8c8b4e.png)

The navigation is canceled because of a side-effect: `handleWindowCallback` modifies the `win

[2018-05-23 05:14] mirahManlapig commented on #751
I'm having the same problem. So i put the authentication in an Iframe having the code below and when i first login or delete localstorage then try to access my app, login, the iframe does not get the token. Can somebody help me?

$(document).ready(function() {
    window.config = {
        tenant: 'xxxxxxxxx.onmicrosoft.com',
        clientId: 'xxxxxxxx-af7b-4e69-b4f6-a50585fa7b54',
        postLo

[2018-05-23 19:34] rohitnarula7176 commented on #749
@StevenLiekens We cannot create a promise out of handleWindowCallback because of the nature of how a redirect response works. handleWindowcallback resets the window location after processing the hash which forces a app reload. If we had a promise in this, case, it will lose its state because of the app reload.

[2018-05-23 19:38] rohitnarula7176 commented on #755
@StevenLiekens This is done as it is not safe to leave the token in the browser url's fragment. To overcome this issue, you can set navigateToLoginRequestUrl:true and then change the key "adal.login.request" to your desired landing page('/home').

[2018-05-23 19:40] rohitnarula7176 commented on #754
@RobPethick You should not call renewToken directly as it is a private method. You should call acquireToken which internally calls renewToken. Can you explain the need to call the private api directly.

[2018-05-23 19:44] rohitnarula7176 commented on #753
@Alaiven endpoints is an object with key-value pair. We are iterating over the keys and then extracting the value from the specific key. This is the correct way of doing it. Closing this issue. Please reopen if you still face issues.

[2018-05-23 19:44] #753 closed

[2018-05-23 19:48] rohitnarula7176 commented on #752
@StevenLiekens We have code in handleWindowCallcack which gets a reference to the main window from the iframe and then calls the callback on the main window. Please see below:
https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/49ecdcc655312a111d470858cb424c3c609de4d7/lib/adal.js#L1321
You should never call acquireToken from inside the iframe and you can avoid this by just checkin

[2018-05-23 19:50] rohitnarula7176 commented on #751
@mirahManlapig You should first call login and then call acquireToken. The library expects a signed in user first before you can call acquireToken for any resource. This is by design.

[2018-05-23 19:53] rohitnarula7176 commented on #738
@thiner Closing this issue. Please reopen if you still face issues.

[2018-05-23 19:53] #738 closed

[2018-05-23 19:54] rohitnarula7176 commented on #743
@Wozbo You can do that by specifying a separate redirectUrl to just receive the tokens.

[2018-05-23 19:55] rohitnarula7176 commented on #745
@NiranjanAbb This seems to be out of scope for the library and more of a browser issue. We have existing issues with the Edge browser which are listed in the wiki.

[2018-05-23 19:55] #745 closed

[2018-05-23 19:58] #681 closed

[2018-05-23 19:58] #694 closed

[2018-05-23 19:58] #665 closed

[2018-05-23 19:59] rohitnarula7176 commented on #715
@JimmyBoh We currently do not have a way of doing this in the library.

[2018-05-23 19:59] #715 closed

[2018-05-24 09:02] RobPethick commented on #754
nope - I was unaware this was the wrong method - I have switched to acquireToken and it works fine
I couldn't find docs to explain what the public methods were - am I missing them somewhere?

[2018-05-24 15:41] husseinkorly opened #756 "id_token left in the browser's url fragment when testing locally"
This is only happens when I'm testing my Angular app locally.
After the user logs in and get redirected back to the app, I can see the id_token appears in the url !! I know is not safe to leave the token in the browser url's fragment.
I'm using Fiddler to remap the request to my localhost. I'm not sure if this happening because of Fiddler, DevServer, or I'm doing something wrong when using adal !!

[2018-05-24 18:52] sliekens commented on #752
That's not quite what I'm saying.

That's what this issue is about: there is a better way to do it with `window.postMessage`.

Talk is cheap so here's the code https://github.com/StevenLiekens/azure-activedirectory-library-for-js/commit/8437431213eaa620390ca44451a52405054d72a6

--

So what's wrong with the current code?

You're inside a hidden iframe and executing code that "lives" in the main win

[2018-05-24 19:21] StevenLiekens commented on #755
I agree, but why is it done after the callback instead of before? I think my issue would go away if stripping the hash is done before the callback.

[2018-05-24 19:29] dabutvin commented on #580
Running into this issue when trying to use `prompt=none` parameter and I get a failure

 AuthenticationFailed. interaction_required

[2018-05-24 19:34] nikhilsarvaiye commented on #756
i have also observed the same issue

[2018-05-25 13:08] MrTiny75 opened #757 "'prompt=none' not set? Can account selection be omitted?"
The parameter prompt get removed from query parameters at adal.js line 504 . For my purpose I need prompt to be set to none. Although the comment at line 502 mentions that prompt get set to none I cannot find any code that really sets prompt to none. Is it missing? When I add "urlNavigate = urlNavigate + '&prompt=none' " by myself less prompts appear.
Anyway I get offered to select another user ac

[2018-05-27 09:37] StevenLiekens commented on #749
That's a good point that I hadn't thought about.

[2018-05-27 09:37] #749 closed

[2018-05-27 09:41] StevenLiekens commented on #755
Would this code work?

[code]

[2018-05-28 04:36] manishrasrani commented on #600
For Angular6 you can check out - https://www.npmjs.com/package/microsoft-adal-angular6 with a working example here - https://github.com/manishrasrani/ms-adal-angular6-example

[2018-05-29 12:12] Taerarenai opened #758 "Wrong token (user logged in -> User login is required)"
The title pretty much sums it up. Im using adal token to access a specific api. It all works as it should, unless i edit the JS (i added Loading Overlay so it shows a loading icon until the api call is Done). After that, i just get ->

[code]

Im guessing its unauthorized because the token is wrong (cached token is exactly the same, but im still new to this so thats how it should be perhaps?).

My

[2018-05-29 12:54] Taerarenai commented on #758
Checking the user solved it.

[code]

[2018-05-29 12:54] #758 closed

[2018-05-29 13:56] HofmT commented on #647
@rohitnarula7176
I face a similar issue. After logging into Azure AD, I don't want to be redirected to the loginpage instead i want to be redirected to the root index.
I set the configuration *navigateToLoginRequestUrl* to false. Now, after logging in it does show the root index path in the address bar of my browser however the page is completely blank. I assume that I still have to modify the cal

[2018-05-29 15:12] HofmT commented on #509
@tushargupta51 I tried that approach but after redirecting I get a blank response page and I need to manually refresh to see the content of my page.
I am using webpack, do you think it has something to do with that?

I appreciate any input. Thanks!

[2018-05-31 13:24] rogeralsing opened #759 "Programatically sign in user w/o the prompt"
We use ADAL JS in our app, we are also evaluating Cypress for automated frontend tests.
The issue here is that Cypress does not allow redirects off site, e.g. for the login process.

This is problematic as both our back and frontend relies on having a logged in user.
we validate things by looking at AD groups etc.

Is there any way to programatically sign in a user using e.g. username/pwd w/o redi

[2018-05-31 20:32] #736 closed

[2018-05-31 21:10] #649 closed

[2018-05-31 21:11] #601 closed

[2018-05-31 21:13] #527 closed

[2018-05-31 21:16] rohitnarula7176 commented on #718
@JoshSchoen The adal-angular4 wrapper is not written by Microsoft. Can someone attach a sample code snippet for this issue which we can run on our machine?

[2018-05-31 21:19] rohitnarula7176 commented on #747
@silver-stack adal-angular 5.2 is not written by Microsoft and hence it is out of scope for the library. Closing this issue.

[2018-05-31 21:19] #747 closed

[2018-05-31 21:47] ErikErkelens commented on #747
Some guidance on how to use the library with Angular 6 would be welcome. The following *was* written by Microsoft and has the same issue described here https://blogs.msdn.microsoft.com/premier_developer/2017/04/26/using-adal-with-angular2/

[2018-06-01 11:19] HofmT opened #761 "Redirect after Login does not work as expected. (Vue App)"
Hello,

I have a Vue App with Webpack that I want to secure with ADAL. My Vue App has a separate Log-In page to initiate the login process with Azure AD. After a successful login I want the user to be redirected to the root index ('/').
In order to achieve that I set my redirectUri to http://127.0.0.1:8081/ and also set the config variable navigateToLoginRequestUrl to false.

Now what happens afte

[2018-06-04 09:10] HofmT commented on #761
Just found out that I can set a _callback_ attribute inside the config of the AuthenticationContext. This callback gets called after the login in AAD. Inside the callback I simply do a manual page refresh with _location.reload()_ and now it seems to work. However this approach does not seem clean to me.

So I'd be happy to hear any further suggestions.
Thanks

[2018-06-04 12:33] petinho commented on #580
Hi
It's working for me now. I think my problem was that adal couldn't add the login hint.
On my profile I'm not getting the "upn" claim, and the following function doesn't add the login hint:

`    /**
     * Adds login_hint to authorization URL which is used to pre-fill the username field of sign in page for the user if known ahead of time.
     * domain_hint can be one of users/organisations whi

[2018-06-05 16:33] husseinkorly commented on #700
I know this is old, but I think adal.js will set the `loginStartPage` to `window.location.href` before it goes to AAD for authentication, and it will be returned to it after authentication by calling `handleWindowCallback` !

it looks like it is keeping the query parameter for me when I use Chrome, Edge, and Firefox (with having the developer tools open, I know this is funny but it is happening)

[2018-06-06 09:32] filuna commented on #391
I was able to solve it using r-e-d-s-a-n-d solution!! Thanks, man!
 I had to do one small improvement - to remove contentWindow, since adalFrame already is contentWindow

`var handleFrameCallback = function () {
            if (adalFrame)
                self.handleWindowCallback(adalFrame.frameElement.contentWindow.location.hash);
        }`

[2018-06-07 15:45] richardspence commented on #759
All the functionality of this library relies on redirects either via the main tab or via the iframes.  If you can't support that - that's a deal breaker. You should look to use an alternative authentication method for your front end tests.

If you want to fake it you could fake the library entirely, or alternatively neuter it by preload the tokens into localstorage, etc.

[2018-06-07 19:30] sea1jxr commented on #537
@jmprieur, I am still seeing this in Microsoft Edge 42.17134.1.0

[2018-06-08 12:38] CodeTroopers opened #763 "clientId is required on init"
When we use a login page with several authentication providers (Azure AD and ADFS for example), the clientId to use could be different.
But we cannot initialize adaljs without clientId.

I want initialize with :
[code]

And then login based on selection of configuration in the login view :
[code]

[2018-06-08 12:39] TedPattison commented on #659
If you are not using angular.js, it is really difficult to to decide the best way to consume adal.js from TypeScript. It seems like your team spent the energy to create d.rs support for angular.js and now you have run out of energy to provide TypeScript support for adal.js in anything else including just using adal.js by itself. It doesn't seem like it would be a bigger effort to create an officia

[2018-06-08 13:18] ralexand56 commented on #659
I believe they are putting their development work into the msal.js library. It certainly would be nice if there was some guidance though.

[2018-06-08 19:09] nehaagrawal commented on #763
@navyasric Can you please take a look.

[2018-06-08 20:59] navyasric commented on #763
@CodeTroopers ADAL designed to set up an authentication context for an application with Azure AD or ADFS directory before making requests to it and therefore needs a registered application client ID to initialize. Ideally, there is one ADAL authentication context associated with each client ID.
It is recommended you perform the init of ADAL service provider after the application determines the ten

[2018-06-08 23:14] nehaagrawal commented on #761
@HofmT  we have never seen this issue. Is there a sample which we can use to reproduce this at our end?

[2018-06-08 23:17] nehaagrawal commented on #756
@husseinkorly  can you please confirm when this happens what is the value of navigateToLoginRequestUrl? default value of navigateToLoginRequestUrl is true.

[2018-06-08 23:28] nehaagrawal commented on #748
@prashantharshi  can you please confirm what language/platform you are using?

[2018-06-11 08:35] RobPethick commented on #754
NP - it is working great for me now

[2018-06-11 08:35] #754 closed

[2018-06-11 09:42] CodeTroopers commented on #763
I need to initialize ADAL in the configuration of my angularjs application to perform redirection on the login view for state requiring authentication.

Here an example of my states configuration:
[code]

But at this moment i don't know the clientId because it depends of the user choice : he can chose to authentify on ADFS or on Azure AD and the clientId can be different between the 2

[2018-06-11 12:19] viganella commented on #725
For the guys experiencing this, you can temporarily use a patch i did on my github.
I will do soon a pull-request on this one.

[2018-06-11 12:24] viganella opened #764 "Refresh token problem. Token expiring after 1 hour."
Hi
When reading adal documentation I saw that when user authenticates to AAD they have an access_token and a refresh token (that can renew acccess_token for up to 90 days).
I have an application that uses websocket connection to get data from cloud and after 1 hour letting it run I get 'access_token_expired ' message.
My question is that, is there anything special i have to do to let user stay log

[2018-06-11 20:22] jmprieur commented on #537
@navyasric, I let you answer  se1jxr

[2018-06-12 19:39] viganella commented on #764
After 1 hour I get the error message ('user login is required').
I have 'keep my signed in option enabled'.
My localstorage:
![token_expired_localhoststorage](https://user-images.githubusercontent.com/2545516/41313034-1d5b2634-6e89-11e8-8305-05ce7349d3e9.png)

[2018-06-12 20:11] viganella commented on #267
I think this is clearly a bug, i followed the discussion thoroughly that happened  here and it seemed that we lost the point.
Token is not refreshing by default how it is supposed to be (using refresh_token and hidden iframe <- which i do not even know how to debug it), and when using acquireToken method (i tried to trigger every 20 minutes for debugging purposes) in 1 hour token has expired and i

[2018-06-12 20:52] viganella commented on #543
Hi is this issue fixed or not ?
If not could you provide the patch for this ?

[2018-06-13 03:14] Rovinsh commented on #543
Thanks,

Now issue has been fixed.

Rovinsh

On Wed 13 Jun, 2018, 2:22 AM Vigan Vula, <notifications@github.com> wrote:

[2018-06-13 06:44] viganella commented on #543
@Rovinsh Has been fixed in the main lib or in your fork patch ?

[2018-06-13 06:59] Rovinsh commented on #543
Has been fixed in main library.

Thanks
Rovinsh

On Wed 13 Jun, 2018, 12:14 PM Vigan Vula, <notifications@github.com> wrote:

[2018-06-13 14:06] HofmT commented on #761
I am not aware of any public sample but I recommend to copy the settings that I used meaning setting _navigateToLoginRequestUrl_ to _false_ and have a _redirectUri_ that is different from the loginpage path.

[2018-06-14 13:10] viganella commented on #764
I have investigated further here and what seems to have caused that is because on refresh I was loosing (this_user <-null), so that after 1 hour Adal was requesting for a fresh log-in.
This is not ok of course, since I should not loose user after he refreshes, it is just very unreliable.

[2018-06-14 21:34] TheAifam5 opened #765 "ADAL creates nested IFRAMEs when acquireToken is called"
For me, happens when the ADAL configuration contains `endpoints`. ADAL creates an IFRAME which redirects then to the application, then application creates again IFRAME and so on 🗡
More information here: https://github.com/grumar/adal-angular5/issues/43

ADAL Config:
[code]

[2018-06-15 14:48] viganella commented on #764
Following up I actually am calling
this.get('session')._context.getCachedUser();  ON page REFRESH
which will actually set again a new user.

[2018-06-16 12:48] Ashokpraveeny opened #766 "Adal.Js 1.0.15 Infinite login Redirect Issue in IE 11"
Hi

I have an application which is developed using react and is hosted in azure AD. The app authenticates users through ADAL.js 1.0.15 version. When we tried to login the application using IE 11, the app does not show microsoft login page, instead it redirects between login.microsoftonline.com and our app infinitely.

When it redirects back to our app, the following error is appended in the url.

[2018-06-16 12:50] Ashokpraveeny commented on #766
Further to this issue, we have observed that after logging out from all Azure accounts. This works fine. However, chrome handles this better (popping up login screen if the account is different).

[2018-06-16 13:52] TheAifam5 commented on #765
Looks like downgrading to version 1.0.15 fixes that problem.

[2018-06-17 01:37] TallOrderDev commented on #659
+1 No comment from anyone from Microsoft yet? 8 months and we should at least have an idea of whats happening by now. Please please, can we at least get some feedback.

[2018-06-18 06:12] joseph-d-p opened #767 "How to sign-in automatically on other tabs?"
I'm using Angular 2.

Inside my auth guard has the line:

[code]

However, on other tabs, even though a user is authenticated in one tab, it redirects to sign-in page and has all adal.* session storage fields empty.

I tried using the Session Storage but was unsuccessful.

The Session Storage had the updated values after the attempted sign-in with `id_token`:
[code]

How can I manage the session e

[2018-06-19 03:15] joseph-d-p commented on #767
After setting the `cacheStorage` to `localStorage` it's now working!

[2018-06-19 03:15] #767 closed

[2018-06-19 18:44] vjhbtigoyal commented on #712
I am also getting exact same error while using version 1.0.16 and above. When i debugged version 15 and 16, i also noticed same issue with renewStates. It works fine with version 15.
Is there some breaking change in this upgrade which the wrappers have to take care for seamless integration?
I am using ng2-adal/ng4-adal wrapper. Both are failing with version 16 and 17.

Kindly let us know.

Thanks,

[2018-06-19 21:53] rohitnarula7176 commented on #712
@kov-hans The ng2-adal wrapper has written their own version of a public api which is exposed by Adal (handleWindowCallback). Please refer to this code below:
https://github.com/sureshchahal/angular2-adal/blob/266e93ef3bac374e005f814c0044dac67e6b5cb7/src/services/adal.service.ts#L63
Instead of writing their own implementation, they simply need to call adal’s public api like they do in other method

[2018-06-20 16:11] baywet commented on #659
Pinged a Microsoft PM by email today, hopefully that should help get an answer at least.

[2018-06-21 19:27] MarkHerhold commented on #323
In my case, we had a user whose browser (Chrome) had 3rd party cookies disabled causing the user to have to login again every hour. The issue was fixed by allowing 3rd party cookies.

I hope this helps someone.

[2018-06-23 02:51] daoodk opened #768 "Cannot read property 'getRequestInfo' of null"
Found in AdalJS v1.0.17

Uncaught TypeError: Cannot read property 'getRequestInfo' of null
    at AuthenticationContext.handleWindowCallback (adal.js:1324)

At line 1315, this._openedWindows.length === 0.
At line 1320, windows.parent._adalInstance is undefined.

Neither the if, nor the else if condition is met above, so 'self' remains null.

Line 1324 calls self.getRequestInfo(hash) which fails.

[2018-06-25 12:30] MarkHerhold commented on #451
I encountered the same issue on Safari. The fix in my case was to ensure that the redirect URI ends with a `/`.

This issue describes the same problem. https://github.com/IdentityModel/oidc-client-js/issues/238#issuecomment-271105795

[2018-06-25 12:33] MarkHerhold opened #769 "Redirect URI should end with /"
Per [this issue](https://github.com/AzureAD/azure-activedirectory-library-for-js/issues/451), ADAL should probably help users out by adding a trailing `/` or error out when one is not provided in the redirect URI.

[2018-06-26 14:50] codeandcloud opened #770 "Not able to inject adal dependency to spfx project"
I have a SPFX through which I am building client-side web parts using AngularJS and  adal-angular

Using this tutorial: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/call-microsoft-graph-from-your-web-part

Now I created a web part, tested a local ajax call and works. So I assume SPFX bootstrap went well. So to implement Azure AD-based authentication and authorization in

[2018-06-26 23:20] reddykkk opened #771 "All tabs point to the same page if opened quickly after redirecting from login.microsoft.com"
We are using adal.js in our site. If we quickly open multiple links in new tabs, after getting token from login.microsoft.com they all point to the same site.

We are setting cacheLocaton: 'localStorage'. We can set it to sessionStorage, but this is causing loops when authentication.

Here is how I can repro it easily - let's say our site www.abcd.com and we have links like www.abcd.com/1, www.abc

[2018-06-27 07:33] rjwijnen commented on #736
@rohitnarula7176 when will the fix be released?

[2018-06-28 17:19] Ro3A commented on #718
I'm running into this issue as well. I'm running angular 5 in a .net core project, that connects to a .net core web api project. Both on local hosts, different ports. Both are registered in Azure AD and everything works as expected until the token expires.

WHen I'm using the adal-angular4 wrapper and the interceptor that comes with it, I can confirm that when adal.js enters into getResourceForEnd

[2018-06-29 08:45] cadichris opened #772 "Should AuthenticationContext.aquireToken() check for "loginError" ?"
Hi there,

While working with [`react-adal`](https://github.com/salvoravida/react-adal/) I faced an issue where I got an infinite login loop for users that are **not authorized** to access my application.

In other words :
 1. User visits `http://myapp/`
 1. Azure authentication window is displayed
 1. User logs in, with a account that **can't access** `http://myapp/`
 1. User is redirected to `ht

[2018-07-02 13:07] numabilis opened #773 "Silent Authentication fail (iframe sandbox)"
We have developped a custom tab for Microsoft Teams and would like to authenticate users silently, using Adal as describe in this article https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/authentication/auth-silent-aad It works fine in development environment, but fail in production environment ! The console show the following error message :

I don't understand why the behavior is

[2018-07-03 12:36] jesiuu commented on #736
@rohitnarula7176 Any news?

[2018-07-03 13:31] JeffMushmo opened #774 "acquireToken doesn't cache the new token"
I've got an adal client that is supposed to connect to two different AD applications from one login. So I initially authenticate the user for both resources, separating their URLs with a ';' semicolon. Then when I need an access token for a specific resource, I call acquireToken and pass in the URL for the specific resource I need. I'm using the raw adal.js library, without angular.

Every call to

[2018-07-03 13:45] JeffMushmo commented on #774
I'm also using a custom redirect page, so my main application doesn't reload every time. This redirect page is essentially a blank html page. Does the adal library need to be referenced in there?

[2018-07-03 15:40] JeffMushmo commented on #774
Yep. That was it. It appears I've answered my own question.

[2018-07-03 15:41] #774 closed

[2018-07-04 12:13] 4F2E4A2E opened #776 "feat(storage): ability to pass a custom storage #775"
Some apps in the enterprise have the requirement to encrypt all it's client data on the storage.
This is a request for adal-angular to support a custom localStorage or a custom sessionStorage.

For more information, please checkout this PR: https://github.com/AzureAD/azure-activedirectory-library-for-js/pull/775

[2018-07-05 05:27] nominds opened #778 "Access token and id_token has same values when using ADAL."
We are using ADAL in our SPA. On accessing the application we are re-directed to AAD login page. However, after successful login we find both id_token and access_token has same values.

Which token should be pass as "Bearer" token ?
Can backend just based on identity(upn), signature and expiry time allow access to protected API ?

[2018-07-05 20:53] macqm opened #779 "The value of _supportsLocalStorage is not cached and causes a performance hit."
While analyzing performance traces from Edge browser, I noticed that ```AuthenticationContext.prototype._supportsLocalStorage``` causes some CPU spikes and an extra perf hit related to the use of local storage. It appers that the method checks if ```window.localStorage``` is present and does tests it by writing, reading and deleteing a value under 'testkey' key.

While I understand this may be nee